[2021-07-16 05:26] benknight commented on #2008
Fix confirmed

[2021-07-16 05:26] #2008 closed

[2021-07-16 13:34] #2010 closed

[2021-07-16 15:46] #1947 closed

[2021-07-18 16:53] JMartinCollins commented on #2017
need to call .json() on your data?

[2021-07-18 17:04] JMartinCollins opened #2018 "Unable to query endpoint in docker network"
Calling node-fetch to the GraphQL endpoint server side fails inside Docker Container Networks.

The problem and a good explanation are shown here: [(https://stackoverflow.com/a/68298683)]

There are workarounds that can make it work, but the problem is that the fetch in the Docker network is going to http://network-alias-here/graphql, which probably gets resolved to the container's subnet IP, and

[2021-07-19 12:20] #2017 closed

[2021-07-19 14:28] chriszarate commented on #2018
You need your installed WordPress URL to match your Docker network alias. The easiest way, in my opinion, is to add the service name of your WordPress container (which Docker uses as the default network alias) to your computer's `/etc/hosts` file against `127.0.0.1`. Take note that the ports must also match, so your Docker Compose file should also map port 80 on your computer. Here is what I mean:

[2021-07-19 14:28] #2018 closed

[2021-07-20 01:08] kiranmarshall commented on #428
Has there been any progress on this/anyone found a fix? I desperately need something like this, but because I specialise in JS I'm absolutely drowning here trying to write some php which will do this. I don't understand how it's written or the documentation well enough.

[2021-07-20 16:22] Lmraza98 commented on #1188
@jacobmishkin I am having a similar issue! In my case, I'm running a headless Wordpress instance and nginx is routing it to /admin on my site'. I have the GraphQL plugin installed; while GraphiQL is working and querying correctly, I get a 404 page not found when clicking on the link ( http://site.com/graphql ) . Instead I expect to see something in JSON format, like:
`
{"errors":[{"message":"Graph

[2021-07-20 19:32] jasonbahl opened #2024 "Update tests to use WordPress 5.8"
WordPress 5.8 has been released. We should update our test workflow to use WordPress 5.8 and update the README.txt to reflect that the plugin is tested up to 5.8

[2021-07-20 20:22] #2024 closed

[2021-07-20 22:51] jasonbahl opened #2027 "Registered Connections should apply an Interface to the "from" Type signifying it has said connection"
When registering a connection, it would be nice if the Type that the connection is coming _from_ implemented an Interface to signify/document that the Type supports said connection.

Let's take Post Type and Taxonomy connections as an example.

We (as developers with prior WordPress experience) know that Posts have Categories and Tags, but we don't know what other Post Types (ContentNodes) have Ca

[2021-07-23 11:13] mishushakov opened #2030 "Ideas"
hello,
i'm building a new website using Gridsome and Wordpress with WPGraphQL and everything runs well, but unfortunately, i don't know php and can't contribute these features myself, so far i have only managed to hack them together in frontend

- Query theme settings, such as website favicon, theme colors
- Stripped HTML format for post excerpt and page content for text-version of posts and pages

[2021-07-27 21:47] DopamineDriven commented on #1910
So I installed woographql last evening and activated woocommerce as well. I am using WPEngine's Commerce setup for my WP instance. prior to activating these plugins the `shop` page was rendering dynamically with no errors as a `page` type

after, it is apparently rendering as an `archive post` type

---
### Query Executed
[code]

#### Query Variables
[code]

### Error Returned
[code]

- I was mess

[2021-07-27 22:25] jasonbahl commented on #1910
**NOTE:** I'm posting the following as observations, confirmation of the issue and some overviews of what I'm seeing. I'm not proposing a solution yet, so just take the below with that in mind.

----

Ok, so I installed WooCommerce and set the `shop` page setting in WooCommerce settings:

<img width="676" alt="Screen Shot 2021-07-27 at 3 56 11 PM" src="https://user-images.githubusercontent.com/126

[2021-07-29 15:46] jasonbahl opened #2033 "Query and Variables are empty in the "after_execute_actions" for batch queries"
The WPGraphQL Request runs actions after each request, and passes context such as the `query` and `variables` to the actions.

Currently, the `$query` and `$variables` (set here: https://github.com/wp-graphql/wp-graphql/blob/f749fb73427961571612ba2049e18e05b1dce194/src/Request.php#L462-L463) are empty for these actions when Batch Queries are being executed.

This is caused by the `$key` not being

[2021-07-29 17:22] mindctrl opened #2034 "Large plugin size due to bundled docs"
The plugin zip file is approximately 25MB when downloaded from wp.org. Unzipped the plugin folder is approximately 33MB. 23MB of that is in the `docs` folder, most of which is large images that aren't necessary for the plugin to run. As far as I can tell from a quick glance, these docs and images aren't exposed in the plugin UI anywhere.

Thoughts on excluding the docs folder from the zip and svn

[2021-07-29 19:37] #2033 closed

[2021-07-29 21:32] jasonbahl opened #2037 "Add GraphQL Voyager to compliment GraphiQL"
Many user have expressed how useful GraphQL Voyager has been as they work on sites powered by WPGraphQL.

It would be nice to let users use GraphQL Voyager within their WordPress dashboard alongside GraphiQL.

See: https://github.com/APIs-guru/graphql-voyager

[2021-07-29 21:33] jasonbahl commented on #2034
@mindctrl ah, yes, we should ignore that directory indeed. I believe we need to update the `.distignore` and `.gitattributes` files to exclude this directory from WordPress.org and Github respectively

[2021-07-29 21:53] #2034 closed

[2021-07-29 22:02] mishushakov opened #2041 "contentNodes don't resolve"
hello,
i have noticed a bug

some nodes in `contentNodes` query don't resolve

for example, querying Posts:

[code]

Response:

[code]

however, if i query the posts

[code]

the rest of posts is displayed also

[code]

[2021-07-29 22:08] jasonbahl commented on #2034
@mindctrl I got this updated and released as v1.5.8 and now the download from WordPress.org is 2.6mb

Thanks for bringing this up!

[2021-07-29 22:40] jasonbahl commented on #2041
@mishushakov the `contentNodes` query returns nodes of any post type.

If you change your query to:

[code]

You will see that the list contains more types than just posts and you can specify what fields you want based on what types they are. Your query is specifying that you _only_ want fields if the Type is a `Post`

By default, WordPress has Posts and Pages, but Custom Post Types will be includ

[2021-07-29 22:42] jasonbahl commented on #2041
@mishushakov I'm going to close this, as this is expected behavior.

Love that you're exploring WPGraphQL and asking these questions! Looking forward to seeing what you create with WPGraphQL!!

[2021-07-29 22:42] #2041 closed

[2021-07-29 22:52] mishushakov commented on #2041
yeah, i've supposed that! thanks for clarifying
you can tell, i'm really deep in love with the plugin and almost hitting the limits

looking forward to contribute some small improvements when i get a chance :smile:

[2021-07-29 22:55] mishushakov commented on #2041
btw. the idea here was to build search index across posts and pages, but since i've noticed content missing, i'm just querying them via `posts` and `pages`

[2021-07-29 23:10] jasonbahl opened #2042 "Gatsby won't build with WPGraphQL 1.5.6+"
When updating WPGraphQL from v1.5.5 to 1.5.6 or 1.6.0, Gatsby will no longer build.

It appears that Gatsby fails when trying to query an md5 hash of the Schema via the query:

[code]

The WPGatsby plugin adds the `schemaMd5` field via this code:

[code]

It appears that calling `graphql()` from within a GraphQL resolver is now causing some infinite recursion.

This used to work, and should work,

[2021-07-30 09:57] louiechristie commented on #2042
To help other people getting this error and Googling for it, here is the error message I get:

[code]

I can confirm downgrading to [version 1.5.5](https://downloads.wordpress.org/plugin/wp-graphql.1.5.5.zip) from the [plugin page advanced options](https://en-gb.wordpress.org/plugins/wp-graphql/advanced/) is a workaround for this problem.

[2021-07-30 17:24] ardiewen commented on #1910
Just spitballing some of my own observerations here...

1. Installing WooCommerce [registers a CPT](https://github.com/woocommerce/woocommerce/blob/4c709a1775594e1ce874dc9be5b188f4ccee6950/includes/class-wc-post-types.php#L314-L368) called `Products`,
2. And then [creates an empty page](https://github.com/woocommerce/woocommerce/blob/4c709a1775594e1ce874dc9be5b188f4ccee6950/includes/class-wc-insta

[2021-07-30 17:31] ardiewen commented on #1910
@DopamineDriven the simple workaround for you at the moment seems to be just don't declare the `Shop` page in WooCommerce settings. I do this on a production Gatsby project and just allow the content managers to add in Lists of Products (e.g. Latest Products, Products By Category) as ACF Flexible Layout fields.

[2021-07-30 17:41] #2042 closed

[2021-07-30 19:45] jasonbahl commented on #2042
Release v1.6.1 fixes this.

I confirmed with WPGraphQL.com which failed on v1.6.0 but built successfully on v1.6.1

[2021-07-31 16:46] SeanMee86 opened #2046 "Querying Template names broken on v 1.6.0+"
When querying for template name using `gatsby-source-wordpress` I get an error --> `"Abstract type \"WpContentTemplate\" was resolve to a type \"Wp*INSERT GENERIC TEMPLATE NAME*\" that does not exist inside schema."`

This has been tested on multiple sites, with and without auth, and OS's, Windows and Mac.

Query to reproduce:

`query MyQuery {
  allWpPage {
    edges {
      node {
        templa

[2021-08-01 13:26] hatsumatsu opened #2047 "Fatal error in 1.6.1"
After updating from wp-graphql 1.5.8. to 1.6.1 my nextjs's queries result in a fatal error with the following stack trace. Downgrading to 1.5.8 fixes the issue.

**Update:** the same error occurs when querying the schema in the wp-graphql IDE.

wp-graphql 1.6.1
wp-graphql-jwt-authentication 0.4.0
wp-graphql-acf 0.4.0

[code]

[2021-08-01 13:27] H-Nguyenx commented on #2046
I encountered the same issue
`{"errors":[{"debugMessage":"Return value of GraphQL\\Type\\Schema::resolveType() must be an instance of GraphQL\\Type\\Definition\\Type, null returned","message":"Internal server error","extensions":{"category":"internal"},"locations":[{"line":8,"column":9}],"path":["__schema","types"]}],"extensions":{"debug":[]}}`

[2021-08-01 15:34] justlevine opened #2048 "[Bug] UserRoleConnectionResolver breaks `graphql_connection_query_args` filter."
When using `graphql_connection_query_args` filter, queries that rely on `UserRoleConnectionResolver.php ` throw a fatal error.
This is because the filter expects the first argument to be an array, however `UserRoleConnectionResolver.php::get_query_args()` returns `null`.

Unsure if the ideal solution is to have `get_query_args()` return an empty array instead of `null`, or to [change the docs](htt

[2021-08-02 05:56] tradaonline commented on #2047
I have this problem too.

[2021-08-02 10:54] ohuu opened #2049 "No schema available in Grapiql after upgrade to 1.6.1"
Title says it all really

[2021-08-02 15:51] jasonbahl commented on #2049
@PaperPlaneSoftware v1.6 introduced Lazy Type Loading, and some extensions need to make some upgrades to play nice with this. If you're using WPGraphQL for WooCommerce or WPGraphQL for Gravity Forms (possibly others) you might need to wait until they're compatible with the Lazy Type loading to upgrade.

If you're not using any extensions or have any code you've added to extend WPGraphQL yourself,

[2021-08-02 15:52] jasonbahl commented on #2047
@hatsumatsu Thank you for opening this issue and sharing the plugin versions you have active.

Can you share your ACF Field Group export as JSON so I can try and reproduce?

Thanks 🙏🏻

[2021-08-02 16:04] jasonbahl commented on #2048
@justlevine thanks for opening this issue! I've reproduced and have a PR on the way.

[2021-08-02 16:11] hatsumatsu commented on #2047
@jasonbahl thanks for getting back. It's happening in a production project with > 30 field groups but happy to share the data. what's the best way to share this non-publicly?

[2021-08-02 16:17] jasonbahl commented on #2047
@hatsumatsu if you join the WPGraphQL Slack ([join here](Join the WPGraphQL community on Slack)), you can DM it to me.

[2021-08-02 16:40] jasonbahl commented on #2047
Using the Field Group Export provided here: https://github.com/wp-graphql/wp-graphql-acf/blob/develop/docs/field-group-examples-export.json

I'm able to use GraphiQL in the admin of the IDE and in my query you can see the following plugins:

- ACF PRO v5.9.8
- WPGraphQL v1.6.1
- WPGraphQL for ACF v0.4.0
- WPGraphQL JWT Auth v0.4.1

![Screen Shot 2021-08-02 at 10 36 14 AM](https://user-images.githu

[2021-08-02 16:45] jasonbahl commented on #2047
@hatsumatsu I'm seeing in your error the issue is happening with the type `Header`.

Do you know where the `Header` Type is defined? Is it an ACF Field Group? Or something else?

Understanding how that Type is registered to ACF might help me understand how this bug is happening.

[2021-08-02 16:48] jasonbahl commented on #2046
@SeanMee86 thanks for this issue!

I wonder if this is an issue with Gatsby Source WordPress.

I'm able to query this in WPGraphQL directly using this query:

[code]

And get results like so:

![Screen Shot 2021-08-02 at 10 48 13 AM](https://user-images.githubusercontent.com/1260765/127896246-3b656dad-2eac-4132-bda8-6f42f170a34d.png)

[2021-08-02 16:49] jasonbahl commented on #2046
@TylerBarnes any thoughts here?

I think this _might_ come down to Gatsby needing to maybe do some extra work to get Types that are only exposed as ResolveTypes of Unions/Interfaces, but not exposed elsewhere in the Schema?

[2021-08-02 16:51] hatsumatsu commented on #2047
@jasonbahl Deactivating wp-graphql-acf fixes the error so it looks it has something to do with the way my fields are configured.

`header` (lowercase) is an ACF option page with a bunch of fields. The option page is configured like

[code]

[2021-08-02 17:00] jasonbahl commented on #2047
@hatsumatsu I imported your Field Group that you shared in Slack and did not have any issues.

However, once I added the code above to add the options page, I also no longer can load GraphiQL.

Bad news that we have a bug, but good news that I can reproduce! Now I can work toward a proper fix!

[2021-08-02 17:01] jasonbahl commented on #2047
I didn't mean to close this, so I re-opened.

[2021-08-02 17:19] PaperPlaneSoftware commented on #2049
Thanks @jasonbahl. Here's a list of WPGraphQL plugins I'm using: Woocommerce, JWT and ACF

[2021-08-02 17:38] jasonbahl commented on #2049
@PaperPlaneSoftware could you maybe share your ACF Field Group Export with me? You could do it here, or in Slack via DM.

Also, do you have ACF Options Pages exposed in WPGraphQL? I think we just discovered a bug related to that situation here: https://github.com/wp-graphql/wp-graphql/issues/2047#issuecomment-891182361

[2021-08-02 22:13] jasonbahl commented on #2047
@hatsumatsu ah! This one is going to be interersting.

I believe the conflict is with Type names added to the GraphQL Schema that have the same name as a PHP function.

For example, the Type `header` is trying to call `header()` which is a PHP function (https://www.php.net/manual/en/function.header.php).

This does seem like a regression caused by WPGraphQL 1.6 lazy loading of Types.

I'm looking

[2021-08-03 15:05] #2048 closed

[2021-08-03 15:32] jasonbahl commented on #2047
@hatsumatsu I have a PR to WPGraphQL that fixes this.

I was able to use your ACF Field Group as well as your ACF Option Page registration to query ACF fields with the changes in this PR in place: https://github.com/wp-graphql/wp-graphql/pull/2051

[2021-08-03 15:58] jasonbahl commented on #2046
I think this _might_ need to be moved to a Gatsby Source WordPress issue, as I believe Gatsby will need to adjust how it uses GraphQL Introspection to build the Schema on the Gatsby side.

[2021-08-03 16:22] jasonbahl opened #2054 "Input Args are not loading properly for Connections registered on Types"
When registering connections from a Type (instead of directly using `register_graphql_connection()`) the where args of the connection fail during a query.

## Steps to reproduce

In PHP register the following Type with a connection and `connectionArgs` defined:

[code]

Then register the Type as a RootQuery field:

[code]

Full snippet:

[code]

Then, in GraphiQL, execute the following query:

[co

[2021-08-03 17:07] jasonbahl commented on #1873
Closed by #2000

[2021-08-03 17:07] #1873 closed

[2021-08-04 04:39] eihsan94 commented on #2049
Im also experiencing the same issue,

**What did I do**
updating WPGraphQL from 1.5.5 to 1.6.1

**What IS My Infra**
- headless WP with graphql
- Next js frontend

**What Happen**
1. the graphql schema stop working(The schema stop showing in IDE)
![image](https://user-images.githubusercontent.com/26185320/128119753-0863e471-5c8b-41be-b2da-b49f87828422.png)
2. in vercel codegen cant found the schem

[2021-08-04 12:14] jordanmaslyn commented on #2049
Can confirm that WP GraphQL Gutenberg breaks the schema loading in GraphiQL for WPGraphQL v1.6.1

[2021-08-04 13:13] eihsan94 commented on #2049
@jordanmaslyn @jasonbahl do u guys know any fix?

[2021-08-04 13:40] mishushakov opened #2056 "Missing pages after update"
I've noticed something unusual, my static site started missing pages after recent update of WpGraphQL, version 1.6.1

first my contact page was missing, but i was able to restore it after deleting and creating it from scratch
then my Posts page went missing

<img width="1680" alt="Screenshot 2021-08-04 at 15 36 33" src="https://user-images.githubusercontent.com/10400064/128190795-28735641-e8f5-484

[2021-08-04 14:59] stevepepple commented on #2049
We also observed this issue. Have rolled back to version `1.5.9` for now.

Plugins:
- ACF to REST API
- Advanced Custom Fields PRO
- Custom Post Type UI
- WP Gatsby
- WP GraphQL Gutenberg
- WPGraphQL for Advanced Custom Fields
- Yoast SEO

[2021-08-04 16:20] jasonbahl commented on #2056
Are you querying WPGraphQL directly or using something else like Gatsby?

If you're querying WPGraphQL directly, your query:

[code]

Will only query 10 pages by default, and will query them ordered by date, by default.

You can pass arguments to the query to query more items, and order them differently if needed.

For example:

[code]

Or:

[code]

I believe your pages were disappearing and re-ap

[2021-08-04 16:21] jasonbahl commented on #2056
I'm going to close this issue as I don't believe there's an issue with WPGraphQL that needs to be addressed here.

[2021-08-04 16:21] #2056 closed

[2021-08-04 16:36] jasonbahl commented on #2049
Thanks for the info!

I have 2 open PRs (#2051, #2055) that address some known regressions caused by 1.6/1.6.1.

I plan to get them released as 1.6.2 shortly and would love it if ya'll could test again once that's released 🙏🏻

There might need to be some work done with some of the extensions to get them updated to work properly as well.

1.6 introduced "Lazy Type Loading" which brought some signif

[2021-08-04 16:57] #2047 closed

[2021-08-04 16:57] #2054 closed

[2021-08-04 17:21] jasonbahl commented on #2049
Ooph. I don't think this should be closed quite yet. Re-opening.

[2021-08-04 17:23] jasonbahl commented on #2047
@hatsumatsu v1.6.2 has been released.

If you're still having issues after updating to 1.6.2, open a new issue with steps to reproduce and you can even mention this issue for reference, but I believe we resolved at least the original issue we were tracking with the `Header` type causing issues.

[2021-08-04 18:00] hatsumatsu commented on #2047
@jasonbahl 1.6.2 fixes the bug in my environment. Thanks for the amazing support!

[2021-08-04 18:34] jasonbahl commented on #2047
@hatsumatsu sweet! Thanks for the follow-up confirming this is resolved 🙏🏻

[2021-08-04 19:42] stevepepple commented on #2049
Hope this update is helpful. I upgrade to 1.6.2, but still see the following issue in Gatsby + Wordpress:

[code]

[2021-08-04 19:45] justlevine commented on #2049
@stevepepple is that with all the other plugins disabled?

[2021-08-04 20:38] vstrelianyi commented on #2049
In my case the graphql plugin does not work with
- WPGraphQL WooCommerce (WooGraphQL)
- WP GraphQL Gutenberg
If I deactivate both of them - Graphql IDE load fine
otherwise Graphql IDE does not load and I have this error in console
"invariant.mjs:6 Uncaught (in promise) Error: Invalid or incomplete introspection result. Ensure that you are passing "data" property of introspection response and no "e

[2021-08-05 03:22] eihsan94 commented on #2049
i checked ver 1.6.2
It still does not work with
- WP GraphQL Gutenberg

and version 1.6.2  does not work with my code snippets that i used to insert to extend graphql request posts
- code snippets
<pre>
function get_posts_by_slugs($slugs) {
	$posts = array();
	foreach ($slugs as &$value) {
		$the_slug = $value;
		$args = array(
		  'name'        => $the_slug,
		);
		$my_posts = get_posts($args);

[2021-08-05 11:58] mishushakov commented on #2056
thanks for your help again, @jasonbahl
is there any way to get all the pages or say a default setting so that it will always return all the pages/posts?

[2021-08-05 13:22] jasonbahl commented on #2056
The query arguments are there so the client can ask for how many the client wants. The server always has the right to return fewer than asked for whatever the server determines safe/responsible.

It's best practice to structure your queries to support pagination if you want to get all records.

You can read more about pagination in WPGraphQL here: https://www.wpgraphql.com/2020/03/26/forward-and-b

[2021-08-05 14:20] stevepepple commented on #2049
Disabling that all at once causes other issues, so kind of difficult to isolate. I'll test more, but suspect is also an issue with WP GraphQL Gutenberg or WPGraphQL for ACF.

[2021-08-05 17:14] DanielRiveraHQ commented on #2046
@jasonbahl You are right, this is a Gatsby Source Wordpress

[2021-08-05 22:38] LeeBuckle commented on #2049
Same issue here. For me, it seems to be related to WPGraphQL WooCommerce.

**When I have ACF/GQL + Woo/GQL active**

Console:
![Screenshot 2021-08-05 at 23 15 04](https://user-images.githubusercontent.com/80564456/128429892-569902d9-bd78-4769-b8b4-249ceff121e5.png)

Within ACF Field Group edit page:
![Screenshot 2021-08-05 at 23 26 13](https://user-images.githubusercontent.com/80564456/128430034-c

[2021-08-05 22:50] gagan0123 commented on #1873
Thanks @jasonbahl for fixing it up :)

I can definitely see the improvement in performance on the site I worked on.

[2021-08-06 22:25] jasonbahl commented on #2049
👋🏻  We released an update to WPGraphQL for Gutenberg that is compatible with WPGraphQL v1.6.

You can see the PR here: https://github.com/pristas-peter/wp-graphql-gutenberg/pull/117

And the release here: https://github.com/pristas-peter/wp-graphql-gutenberg/releases/tag/v0.3.9
And another bugfix released right after: https://github.com/pristas-peter/wp-graphql-gutenberg/releases/tag/v0.3.10

I'm

[2021-08-06 22:30] jasonbahl commented on #2049
@stevepepple I understand disabling multiple plugins at once would cause issues with your client apps for sure, but in a staging environment you should be able to disable many or one at a time and test individual things, such as "Does GraphiQL Load the Schema"

If we're able to identify which plugin(s) cause the conflicts, then we can narrow down the specifics of the conflicts.

----

So far I've

[2021-08-07 00:57] eihsan94 commented on #2049
I checked the
wp-graphql v1.6.2 and wp-graphql-gutenbergv0.3.9
and i can confirm that it work just find
thank you so much for fixing this 🙌🏻

[2021-08-08 11:53] justlevine opened #2060 "[Bug] `timezone`/ `generalSettingsTimezone` doesnt return UTC values."
When querying for `allSettings.generalSettngsTimezone` or `generalSettings.timezone`, an empty string is returned if the WordPress setting is a UTC offset (vs a city or just "UTC" ).

E.g. `Jerusalem` will return as `Asia/Jerusalem`, but `UTC+2` returns `""`.

## To Test.

1. In WordPress, visit Settings >  General, and set Timezone to `UTC-5`. (or any other UTC offset).
2. Run the following query

[2021-08-09 09:24] joernroeder commented on #1756
I'm getting the same error on a wpengine instance in the graphiql IDE.

[code]

my query can be reduced to the absolute minimum

[code]

wp-graphQL is version 1.6.2

[2021-08-09 09:41] joernroeder opened #2063 "`asPreview: true` breaks query"
I'm debugging a preview issue with my gatsby instance and noticed that they come back with an "internal server error" from wp-graphQL 1.6.2 on wp 5.7.2

I was able to trim down the generated query to the following and still see the error:

[code]

flipping `asPreview` to `false` works as expected and getting the result

[code]

[code]

[2021-08-09 12:47] PaperPlaneSoftware commented on #2049
v1.6.2 is still broken for me

[2021-08-09 14:37] jasonbahl commented on #2063
@joernroeder Thanks for the issue. I'll see if I can reproduce 👀

[2021-08-09 14:38] jasonbahl commented on #2063
@joernroeder can you share more information about the post so I can reproduce? Is the post a published post? Wha

[2021-08-09 14:43] jasonbahl commented on #2063
@joernroeder very interesting. I'm able to reproduce this if I do the query using the `idType: ID` argument, but _not_ if I use `idType: DATABASE_ID` 🤔

**USING DATABASE_ID**
![Screen Shot 2021-08-09 at 8 42 13 AM](https://user-images.githubusercontent.com/1260765/128725328-9bef6390-af3a-4cb0-8a61-805ca3b6181b.png)

**USING ID**
![Screen Shot 2021-08-09 at 8 43 35 AM](https://user-images.githubuse

[2021-08-09 15:00] joernroeder commented on #2063
@jasonbahl good/bad that you're able to reproduce it. I'm using gatsby which also sends the ID not databaseId along. It was a post, still a draft at this point

[2021-08-09 15:09] jasonbahl commented on #2063
@joernroeder I have a PR in-progress that might fix this.

First, I want to get more information to reproduce even more precisely.

You passed id `cG9zdDoyMDUz` which is `post:2053`

Can you share as much info as possible about this post's raw data in your database?

Info such as:

- post_author
- post_type
- post_status
- post_parent

Some of this information would be helpful in debugging.

Maybe

[2021-08-09 15:32] jasonbahl commented on #2063
@joernroeder Can you see if applying the changes from this PR (https://github.com/wp-graphql/wp-graphql/pull/2064) resolves the issue for you?

[2021-08-09 16:03] jasonbahl commented on #2049
@PaperPlaneSoftware can you export your ACF Fields as JSON and share them either here or via DM in Slack (you can join here: https://join.slack.com/t/wp-graphql/shared_invite/zt-3vloo60z-PpJV2PFIwEathWDOxCTTLA)

I'd love to see if I can reproduce.

[2021-08-09 16:09] jasonbahl commented on #2049
@PaperPlaneSoftware ah, you also said:

As stated in this comment (https://github.com/wp-graphql/wp-graphql/issues/2049#issuecomment-894549263) WPGraphQL for WooCommerce has known conflicts with WPGraphQL 1.6+ still. I'm working with @kidunot89 on getting it updated. Hopefully we're in a good state within a few days. 🤞🏻

If you can de-activate WPGraphQL for WooCommerce, even momentarily, and see i

[2021-08-09 20:14] PaperPlaneSoftware commented on #2049
Yup, it's WPGraphQL for WooCommerce that's doing it

[2021-08-09 20:29] jasonbahl opened #2065 "Registering a setting with type array causes Schema to not load."
This was reported by @ravewebdev. I did some digging to get to the root of it and explain below. Not sure if it makes sense to anyone but me 🤷🏻‍♂️ , but wanted to get things recorded as I did the digging.

----

When registering a setting using the WordPress core `register_setting` API and setting the `type` to `array`, the Schema fails to load.

Take the following snippet:

[code]

This snippet r

[2021-08-09 21:40] moonmeister opened #2066 "bug: fetching translated posts by uri"
I'm seeing an issue with Polylang and trying to fetch content by uri. https://github.com/valu-digital/wp-graphql-polylang/issues/57 it's already been reported on the polylang repo but it may be a core issue. If I have 3 pages with the slug "about" but each in a different language, then only the english one is returned (english being the default language). I'm guessing this is a corner case that wa

[2021-08-10 02:53] ladycoded opened #2067 "NO SCHEMA AVAILABLE in GraphiQL version 1.6.2 IDE explorer when Stackable - Gutenberg Blocks Plugin Version 2.17.4 is activated"
It looks like this issue has been resolved for Gutenberg but is still present with Stackable - Gutenberg Blocks Plugin Version 2.17.4 in GraphiQL version 1.6.2

I tested this by disabling this plugin and the explorer works as expected.

Console error is noted here:
Uncaught (in promise) Error: Invalid or incomplete introspection result. Ensure that you are passing "data" property of introspection

[2021-08-10 08:58] joernroeder commented on #2063
@jasonbahl I've applied the patch https://github.com/wp-graphql/wp-graphql/pull/2064/files#diff-d0159420813e3027d728124c9f2cdd153dcedec077e2de9f60669befba20e328R667 and now the query doesn't throw an error anymore 🥳.

But it also does not return the post but `null`, not sure if this is the expected behavior:

[code]

[2021-08-10 14:43] jasonbahl commented on #2049
@PaperPlaneSoftware thanks for the confirmation! Hoping to have that update for WPGraphQL for WooCommerce shortly!

[2021-08-10 17:40] jasonbahl commented on #2063
@joernroeder Can you share more info about the post with ID 2053, as requested here (https://github.com/wp-graphql/wp-graphql/issues/2063#issuecomment-895305729)?

This will help me debug better.

[2021-08-10 20:20] jasonbahl commented on #2060
So, this is one of the problems with WPGraphQL trying to auto-map options from the `register_setting()` API to GraphQL.

Settings like `timezone` are a little more complicated then the auto mapping accounts for.

WordPress has 2 option fields it stores data in in the database for these fields:

- timezone_string
- gmt_offset

When you set the offset, like in your example, it leaves `timezone_strin

[2021-08-10 20:21] jasonbahl commented on #2060
I think this issue as well as well as issues such as #2065 and other quirks around settings make me think it might be time sooner than later to re-think how settings should be handled in WPGraphQL.

🤔

[2021-08-10 20:35] jasonbahl commented on #2063
@joernroeder in my testing, passing an ID of a post that's _already_ a revision was retuning the error, but passing an ID of a post that _has_ revisions was resolving properly.

For example, if I create a new post (for me, post ID `3227`) then make a change and try to preview it, my change will be stored as a post of the `revision` post_type, with `3227` as the `post_parent` value:

![Screen Shot

[2021-08-10 20:59] joernroeder commented on #2063
@jasonbahl 2053 is the Id of the post not a revision. I'm also seeing it in the edit url `/wp-admin/post.php?post=2053&action=edit`

[2021-08-10 20:59] joernroeder commented on #2063
@jasonbahl I'll try to verify via the db, not sure if I have access.

[2021-08-10 21:06] joernroeder commented on #2063
Info from the wp_posts table:

- post_author: `24`
- post_type: `post`
- post_status: `inherit` (It's now published, but wasn't when I encounter the issue)
- post_parent: `0`

[2021-08-11 03:53] justlevine commented on #2060
Thanks for clarifying. For our project, were just going to filter the resolve to use [WP api functions that have fallbacks],

(https://developer.wordpress.org/reference/functions/wp_timezone_string/), but I don't think that's a maintainable solution for WPGraphQL core..

[2021-08-11 04:26] justlevine commented on #2065
Am I being short-sighted, or could we simply pass [ `$setting_field['type']` ](https://github.com/wp-graphql/wp-graphql/blob/885196ea28eda45bf9b2d3fabc2b61443b8386f2/src/Type/ObjectType/SettingGroup.php#L69) through a function that replaces the value with a GraphQL compatible type?

Those atlas links are giving me a 404 (private repo?), but if they were able to successfully register fields to whic

[2021-08-11 14:42] jasonbahl commented on #2067
@ladycoded can you share what other plugins you have active and their versions?

[2021-08-11 14:55] jasonbahl commented on #2065
@justlevine It's hard to explain, but what was happening before 1.6 was that it was adding an empty GraphQL Object Type to the schema. Empty as in an Object Type with no fields. But, since pre-1.6 loaded the FULL schema _always_, it would instantiate the object (always) and call the filter that runs for `register_graphql_field()` which then would add fields to the empty object, making it a valid o

[2021-08-11 18:15] ladycoded commented on #2067
All are enabled. If I disable Stackable - Gutenberg Blocks the explorer works properly.

Add From Server - Version 3.4.
AJAX Thumbnail Rebuild - Version 1.13
Better Search Replace - Version 1.3.4
Co-Authors Plus - Version 3.4.8
Download Monitor - Version 4.4.4
Duplicate Page - Version 4.4.1
Enlighter - Customizable Syntax Highlighter - Version 4.4.2
Flamingo - Version 2.2.2
Google Apps Login - Ver

[2021-08-12 03:17] everonegraham opened #2069 "Content API* key for endpoint?"
Hey there, I'm doing some research to use the plugin for an upcoming project.

After checking out Ghost API, I realized that WPGraphql doesn't have content API* key built in for fetching data. So anyone could access my endpoint.

Is this something that will be considered in the future?

Why or why not?

[2021-08-12 11:24] rotijoe commented on #311
@justlevine would you be able to explain / share the code to 'use one of WP's built-in functions to move the file into wp-uploads' ?

[2021-08-12 15:18] jasonbahl commented on #2049
@PaperPlaneSoftware WPGraphQL for WooCommerce v0.10.3 was released yesterday. Can you try updating and report back if things are working again for you? 🙏🏻

[2021-08-12 15:24] jasonbahl commented on #2067
@ladycoded I've reproduced this issue. I'm not sure the cause yet, but I have installed Stackable in an environment that was functional, and the Schema does stop loading in GraphiQL.

I've marked this issue as Actionable and will start to investigate.

[2021-08-12 16:02] 8ctopotamus opened #2070 "How to update featuredImage sourceUrl in graphql_resolve_field?"
We are using a CDN in our Wordpress site and would like to replace the site URL with the Image CDN's URL in our graphql output. The plugin takes care of replacing the media URLs in the `content`, but it does not affect the output of the featuredImage's sourceUrl.

The sourceUrl is nested in the featuredImage node. I have been trying to modify the $result's properties, but to no avail! Any guidance

[2021-08-12 16:16] PaperPlaneSoftware commented on #2049
Yay! Looks like it's working now. Thanks @jasonbahl @kidunot89 👍

[2021-08-12 19:59] LeeBuckle commented on #2049
@jasonbahl seems to be working okay now. I've also checked the "Edit field group" in ACF which was displaying errors while GQL for Woo was active and the errors no longer appear there either. Thanks for the great work! 👍🏼

[2021-08-12 20:10] valikwork opened #2071 "Quering Page's Template Name (gatsby-source-graphql) Returns Error If Template Isn't "Default""
Recently I have an issue with gatsby-source-graphql package, when quering pages templateNames from my app. Same query in WPGraphiQL works fine.

This query
`pages(first: 5000) { nodes { id uri template { templateName } } }`
returns **null** in "template" field for every page, that has template picked as something other then "Default".

I.e. if page has "New Home Page" template, query breaks with m

[2021-08-12 20:14] jasonbahl commented on #2046
Gah!!!

@valikwork thanks for the details. Your comment helped me find the issue. I have a PR coming, and I think after talking with @TylerBarnes this actually is _not_ a Gatsby Source WordPress issue like I originally thought it might be.

PR incoming.

[2021-08-12 20:23] jasonbahl commented on #2046
@valikwork @DanielRiveraHQ @H-Nguyenx @SeanMee86 can ya'll see if applying this one-line change in this PR (https://github.com/wp-graphql/wp-graphql/pull/2072) fixes things for you?

[2021-08-12 20:56] valikwork commented on #2046
@jasonbahl

[2021-08-12 21:01] DanielRiveraHQ commented on #2046
Seems to be working! Thank you @jasonbahl

[2021-08-12 21:08] #2071 closed

[2021-08-12 21:10] rossluebe commented on #2071
@valikwork Oddly enough, I'm bumping into a similar issue right now. Assuming you solved it what was causing the issue for you?

[2021-08-12 21:32] valikwork commented on #2071
@rossluebe
It was solved here:
[https://github.com/wp-graphql/wp-graphql/issues/2046](https://github.com/wp-graphql/wp-graphql/issues/2046)

[2021-08-13 10:37] calin-lucian commented on #2049
Still getting an "ERROR Cannot read property 'getFields' of undefined" on gatsby Cloud.

Using:
WPGraphQL for Advanced Custom FieldsDeactivate - v0.5.3
WPGraphQL - v1.6.2

[2021-08-13 13:41] bourneidBH commented on #2049
I'm also having the same issue. Where would I get this version to test?

[2021-08-13 14:01] #2046 closed

[2021-08-13 14:23] jasonbahl commented on #2063
@joernroeder the only way I've been able to reproduce the bug (which I fixed with #2064), is to pass an ID that can't be previewed.

Are you able to reproduce consistently?

If so, can you share step-by-step instructions on how you're creating posts that end up in a state where the preview errors.

For me, here's what I tried:

## Scenario 1: Click "Preview" on a draft post, use draft ID in GraphQ

[2021-08-13 15:01] jasonbahl commented on #2049
@bourneidBH you can get latest WPGraphQL for WooCommerce here: https://github.com/wp-graphql/wp-graphql-woocommerce/releases

----

@calin-lucian if it's an issue specific to Gatsby, it _might_ be related to this issue: https://github.com/wp-graphql/wp-graphql/issues/2046

[2021-08-13 15:25] #2063 closed

[2021-08-13 15:26] jasonbahl commented on #2063
@joernroeder I've merged #2064 as I believe it resolves the original issue.

If you have detailed steps on how to reproduce, including maybe screenshots or a video or something, that would be super helpful. If you do have those details, please open a new issue and mention this issue for context.

[2021-08-13 15:58] joernroeder commented on #2063
Thanks @jasonbahl! I'll give it shot and report back to you. Haven't had the time to play with it in full detail yet.

[2021-08-13 17:31] jasonbahl commented on #2069
@everonegraham WPGraphQL exposes data that's already public as public data in the API and restricts private data to users that have proper capabilities to access the data.

For example, if you publish a post or a page in WordPress, the title and content of that page are public on a url `yoursite.com/your-page`, and some associated data, such as the author of the post, the featured image, etc are a

[2021-08-13 17:49] everonegraham commented on #2069
Thank you for a detailed reply. Really appreciate it. 😄

[2021-08-13 17:50] #2069 closed

[2021-08-13 18:38] jasonbahl commented on #2070
@8ctopotamus hey!

So the filter in your example is trying to filter the `featuredImage` field:

`if ( 'featuredImage' === $field_key ) {`

but if you want to filter `sourceUrl` you would need to change it to:

`if ( 'sourceUrl' === $field_key ) {`

And when filtering the `sourceUrl` field, the `$source` variable would be an instance of the MediaItem `Post` Model that gets passed down to that reso

[2021-08-13 20:51] kpsahani commented on #1188
Hello @jasonbahl, where can i find  Preferences -> Advanced -> Router Mode
so i can change please help me

[2021-08-13 22:20] 8ctopotamus commented on #2070
Amazing, @jasonbahl. Thank you for the explanation and examples!  👍 🙏

[2021-08-13 22:21] #2070 closed

[2021-08-14 20:54] igorluiza4d opened #2075 "NO SCHEMA AVAILABLE in GraphiQL version 1.6.3 IDE explorer when Webstories is activated"
When the Webstories plugin is active, the error below occurs
I tested this by disabling this plugin and the explorer works as expected.

Console error is noted here:
Uncaught (in promise) Error: Invalid or incomplete introspection result. Ensure that you are passing "data" property of introspection response and no "errors" was returned alongside: undefined

[2021-08-17 15:31] jasonbahl commented on #1188
@kpsahani if you're using https://localwp.com/, the following video shows how to do this:

https://user-images.githubusercontent.com/1260765/129755724-20bcc6b1-3e2a-4a1f-9a3d-2d9daa613290.mov

[2021-08-19 17:03] jordanmaslyn opened #2080 "graphql_register_types runs before is_graphql_request"
## Reproduction

Install ACF and create field group with at least one field that has a field name of 'name'. Then add the code below to a theme or plugin.

[code]

The field will not be accessible even in a graphql request. `is_graphql_request()` returns `null`.

## WP GraphQL Version
1.6.4

## Other Relevant Plugins
- ACF Pro 5.9.9
- WP GraphQL ACF 0.5.3

## Expected Behavior

I would expect the

[2021-08-20 18:09] victorcngo opened #2082 "Custom Post Types query using slug as unique identifier returns no data in WPGraphQL"
# Context
I've created a Custom Post Type in WordPress named "projects" and now I'm trying to query a single project using the slug as an identifier. In other words, I want the idType to be the SLUG, not ID. I tried the following query but it does not work.

<img width="828" alt="image" src="https://user-images.githubusercontent.com/49904016/130275143-c2186dc4-b48f-4fea-b299-cd2b0c9046e1.png">

Ho

[2021-08-23 14:51] wildplant opened #2083 "add a filter in categories > where with acf field."
I know nothing about php. I added a boolean filed "is_featured" to category by acf.   how can I add a filter to wpgraphql? like as below:

![image](https://user-images.githubusercontent.com/2607493/130467809-2b970ad8-3947-4749-a45a-7524fa320a54.png)

thanks a lot.

@jasonbahl  I look around for all of you gists, but none of them is concerned with this issue.

[2021-08-23 17:19] ravewebdev opened #2084 "Querying menus / menu items by unset location returns ALL menu items"
### Expected

When querying `menus` or `menuItems` using `where: {location: <LOCATION>}`, if the location selected does not currently have a menu assigned to it, those queries should return an empty array or null.

### Actual

The queries currently return _all_ records: all menus for `menus` query and all menu items for `menuItems` query.

Tested using the following query:

[code]

...where the me

[2021-08-24 02:48] benknight commented on #2075
I'm having the same issue.

[2021-08-24 17:10] bhardie commented on #2082
Can you share the code you have written that registers the custom post type?

[2021-08-24 20:31] victorcngo commented on #2082
Here's the code that I used (in **functions.php**) :
[code]

[2021-08-25 11:30] tayyabkhan720 commented on #428
Can we get the content of page in react wp graphql? If yes ...then how?

[2021-08-25 13:32] dipankarmaikap commented on #290
How can I get the `schema.graphql` file.?

[2021-08-25 13:37] jasonbahl commented on #290
using wp cli in the command line, you cna run the command `wp graphql generate-static-schema`

You can see this being used in our Github workflows here: https://github.com/wp-graphql/wp-graphql/blob/develop/.github/workflows/schema-linter.yml#L52

[2021-09-02 17:59] bitojoe opened #2086 "Relevanssi breaks where arguments"
Trying to rebuild a site using WPGraphQL using a production site as the host. Simple where arguments like Search, Title, Name were being ignored due to Relevanssi. Troubleshooted by turning off all plugins except for the ones below and switching to a basic theme I trusted (OceanWP). Just a heads up for anyone else!

### Setup
**Theme**
OceanWP

**Pugins:**
WPGraphQL 1.6.4
WPGraphQL for Advanced Cu

[2021-09-04 09:07] kakaeriel commented on #1639
I'm having the same issue when accessing `/page-slug/{any_string}`, if the URI exists in database.
WPGraphQL response an error like this

[code]

[2021-09-05 14:31] dcumpton commented on #1188
@spchand86 If you are still looking for a solution to this, I was facing the same issue, and using this endpoint is working for me with Live Link: `https://my-live-link-url.localsite.io?graphql=true`

Reference: https://github.com/wp-graphql/wp-graphql/issues/213#issuecomment-877497336

[2021-09-06 10:08] tuanfront-end commented on #1818
Cursor pagination will work not correct if in query have any order/orderBy filter. I have been checked this problem very carefully. Thanks

[2021-09-06 12:43] victorcngo commented on #2082
It's weird that the question still has got the same status as I've responded. Still, any thoughts on this topic?

[2021-09-06 17:37] benknight commented on #1818
Just an update here, to be clear, the SQL query that is being generated is problematic. The crux of the issue is cursor pagination works by references post date ranges. However when adding `ORDER BY wp_posts.post_title LIKE '%example%' DESC` (see OP for details), this essentially breaks cursor pagination because the results are not ordered by date. This is a pretty clear cut reproducible issue and

[2021-09-07 13:42] prionkor commented on #299
what are the full list of default `\WPGraphQL\Types` I am looking at the source code, can not seem to find them.

[2021-09-09 13:20] justlevine opened #2087 "[Bug] `pageInfo` cursors for `plugins` and `themes` are not correctly returning `arrayconnection:{id}`"
It seems the `endCursor` and `startCursor` on `plugins` and `themes` is incorrectly returning the bas64encode value of `arrayconnection:{path_to/plugin.php}` instead of `arrayconnection:{#}` (which is what's required by the `before`/`after` params).

## To replicate:

[code]
WPGraphQL v1.6.4
WordPress: v5.8.1

[2021-09-09 17:37] jasonbahl opened #2088 "Add $graphiql global var so extensions can remove actions/filters from the class"
From an extension, I would like to be able to remove actions via `remove_action()` that are called in the GraphQL class.

Adding the GraphQL class instance as a php global variable will allow extensions to remove actions like so:

[code]

[2021-09-09 17:52] #2080 closed

[2021-09-09 17:53] #2088 closed

[2021-09-09 21:39] blakewilson opened #2091 "`asPreview` does not resolve preview data for queries using `URI` as the `idType`"
When querying for page/post preview data with `asPreview` set to `true` and the `idType` is of type `URI`, preview data is not returned as expected.

Take the following query:

[code]

It appears the issue is being encountered here:
https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/ObjectType/RootQuery.php#L177

When the `$idType` in the resolve function is `uri`, it returns early. Wh

[2021-09-10 20:46] ltroya-as commented on #1078
Is it possible to have this connection between posts and custom post types? @jasonbahl.

I am using the download monitor plugin and it handles two CPT: `dlm_download` and `dlm_download_version`

- `dlm_download` is the CPT
- `dlm_download_version` is a child CPT where the file info is managed

[2021-09-10 21:40] ltroya-as opened #2092 "Query children on any custom post type"
I was wondering if there is a way to query children of any custom post type. Right, we can query pages with its children like this:

[code]
Since pages are post types, is there some way to use the same query for any post type? For example, for posts like this:

[code]

I am using the download monitor plugin and it handles two CPT: `dlm_download` and `dlm_download_version`

- `dlm_download` is the

[2021-09-11 13:30] justlevine commented on #1756
@jasonbahl im getting this on a clean install with just WPGraphQL 1.6.5 and WP 5.8.1

Issue is with [this line](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Model/Post.php#L639). Its returning the imploded array instead of using that to confirm the array is empty.

The fix:
[code]

Going to open a PR now.

[2021-09-14 17:37] jasonbahl opened #2095 "Allow GraphiQL to be extended"
The GraphiQL IDE that is shipped with WPGraphQL is not extendable by default.

It would be good to allow 3rd party plugins to hook/filter the IDE and provide their own functionality.

Initial Scope:

- [x] Provide "hooks" before/after GraphiQL IDE renders
- [x] Provide "hooks" in GraphiQL Toolbar so buttons can be added
- [x] Default Operation should be able to be provided via query param (ex `?qu

[2021-09-14 17:39] jasonbahl opened #2096 "WPGraphiQL should allow requests to be executed as public or authenticated"
Currently WPGraphiQL executes requests as the logged-in user always.

It would be nice to allow users to execute requests as public requests or choose to execute as their authenticated user.

[2021-09-15 15:59] mohan-neethu opened #2097 "How to Add extra arguments into exsisting singular post type"
I need to add extra Arguments for Post type "Post" (Singular post). Like Id, idType, asPreview  I need to add additional new Argumet into Singular Post. How can I add this?
@jasonbahl Could you please help me here?

[2021-09-19 02:40] web-programmer-here opened #2100 "resetUserPassword returns null sometimes"
I am trying to use `resetUserPassword` mutation and sometimes it returns null when trying the update the password for the user. So something like this:

[code]

and I get this in response

[code]

however, the password actually changes, and I get the email that the password has been changed but returned data is null. I am also facing same issue with `sendPasswordResetEmail` where the email is sent

[2021-09-19 02:46] web-programmer-here commented on #2100
I noticed I dont see this issue when running this query in GraphQL IDE, here is a postman screenshot:

<img width="906" alt="image" src="https://user-images.githubusercontent.com/81479051/133913638-3de85c3e-e8cc-4d7e-8571-562d38309963.png">

and here is another password reset using IDE:

<img width="1048" alt="image" src="https://user-images.githubusercontent.com/81479051/133913678-025d85a6-9158-4

[2021-09-21 17:07] jasonbahl commented on #2100
@web-programmer-here The reason the response is `null` when you run the mutation outside of the IDE is because the request is not authenticated and the current user object cannot be returned in the payload.

When executing in the GraphQL IDE in WordPress, the GraphQL request is authenticated, so the current user is returned.

[2021-09-21 17:14] web-programmer-here commented on #2100
@jasonbahl but the password gets updated, it just returns null for the response, there is no way to fix this?

[2021-09-21 17:39] jasonbahl commented on #2092
WordPress core doesn't support the ability to define what post_types can be children of other post types. So, WPGraphQL exposes a `children` connection on hierarchical post types and returns a connection of the `ContentNode` type (which is posts of any post type).

So, on any hierarchical post type, you can query the `children` field as a connection, and any child, regardless of post_type, can be

[2021-09-21 17:39] #2092 closed

[2021-09-21 22:18] web-programmer-here commented on #1201
@jasonbahl this is still happening, if I use RegisterUser mutation to register a user and set a password, I still get an email as king to set a password, is this related?

[2021-09-21 22:21] web-programmer-here opened #2101 "Is there any hooks or filter for RegisterUser mutation?"
Is there any hooks or filter for `RegisterUser` mutation to prevent weak passwords or certain usernames? there are many plugins out there but none of them work to prevent user registration with weak password using `RegisterUser` mutation.

[2021-09-21 22:46] web-programmer-here commented on #2101
I tried this but doesnt work

[code]

[2021-09-24 17:41] jacobdubail opened #2103 "Unable to make menus and menu items public"
I'm attempting to use the recipe here: https://www.wpgraphql.com/recipes/making-menus-and-menu-items-public/
`add_filter('graphql_data_is_private', function ($is_private, $model_name, $data, $visibility, $owner, $current_user) {

	if ('MenuObject' === $model_name || 'MenuItemObject' === $model_name) {
		return false;
	}

	return $is_private;
}, 10, 6);`

The query looks like this:
`query menus {

[2021-09-25 13:13] WillSquire opened #2104 "GraphQL IDE "NO SCHEMA AVAILABLE" - v1.6.5"
Upgrading to `"wp-graphql/wp-graphql": "^1.6",` causes the GraphQL IDE to return `undefined` for the introspection query. Console outputs:

[code]

The explorer tab only shows "NO SCHEMA AVAILABLE".

I noticed similar issues open for when other plugins are active. However, I don't have those plugins installed.

The precise package version is `v1.6.5`. All packages were upgraded one by one to find

[2021-09-26 09:09] FatmaMahmoud698 commented on #658
I have the same problem here I have exist advanced custom fields then I install all mentioned plugins and follow all steps but still custom fields not appear on graphql

[2021-09-26 10:28] FatmaMahmoud698 opened #2105 "can't find my old advanced custom fields in graphql IDE"
my website is working fine in production now then I need to use graphql so I install these plugins
WP GraphiQL
WP GraphQL
WPGraphQL for Advanced Custom Fields

and enable show in graphql for each custom field and show them in posts but all queries for advanced custom fields return null

[code]

[2021-09-29 07:35] davevanhoorn opened #2107 "Relay::fromGlobalId( $input['id'] ) returns nothing, even though input ID was set in request"
The UserUpdate mutation returns "A user could not be updated with the provided ID", even though I (think I) am sending all the required data.

In my previous issue #1922, @bhardie asked me what data I'm sending to the BE. Here's what I'm sending from the FE to the BE:

[code]
I'm including a header with the bearer token with this request, the user is authenticated.

I see the data coming in correc

[2021-09-29 07:56] davevanhoorn commented on #2107
Never mind. I've found it. In case anyone else is struggling with this, you need to pass the `id` you retrieved from the GraphQL query to the mutation. So it'll look like this:

[code]

[2021-09-29 07:56] #2107 closed

[2021-09-29 22:37] FatmaMahmoud698 opened #2109 "Network error: JSON Parse error: Unrecognized token '<'"
I just try to use data from wordpress site to mobile app with graphql from wordpress side I reach to the uri of site "http://10.0.2.2:10005/graphql" after install graphql plugin from app side I did these steps in app.js

[code]
in another screen

[code]

but I got that error Network error: JSON Parse error: Unrecognized token '<'

[2021-09-30 09:21] FatmaMahmoud698 commented on #1626
@elskwid
when I install this plugin I got this error [Network error]: ServerError: Response not successful: Received status code 403

[2021-09-30 15:45] FatmaMahmoud698 opened #2110 "my queries not working after install plugin WPGraphQL WPML"
I want to make queries on custom post type ui  so I install plugin WPGraphQL WPML
but I get this error in all queries for postman testing
![postman1](https://user-images.githubusercontent.com/75572871/135488067-27cf987e-8e1f-4eef-b161-34ffc80fc2c1.PNG)

[2021-10-02 11:05] rgevrek commented on #1234
Dear All

It seams that there is no activity for more than one year on this topic.
I think this feature request will be very valuable. Are there any plans to continue or to merge the respective pull request.

Thank you in advance.
Kind regards.

[2021-10-03 00:49] ManasiRoy commented on #1431
wpPage content showing null always. Can't fetch data - a single page of About us content. gatsby-source-wordpress this plugin I'm using.

[2021-10-07 12:06] ilibilibom opened #2113 "wp-graphql vulnerabilities"
Hi
I'm having some vulnerability issues with wp-graphql yarn.lock file.
This is the vulnerability report I'm getting from Dependabot:

![image (7)](https://user-images.githubusercontent.com/12745414/136380719-2d35fa74-4100-4568-8616-0887da69018d.png)

I'm using the latest version of the plugin.
I can't go live with these vulnerabilities, any idea how do I solve this ?

[2021-10-07 15:42] rieval opened #2114 "Cannot query field xxx on type "RootMutation""
I copied the code into my WordPress theme `function.php` based on the following website and when I tested it the following error occurred:
https://www.wpgraphql.com/recipes/register-a-basic-mutation/
[code]

![image](https://user-images.githubusercontent.com/22883406/136417717-a9488660-ed5c-4831-bc45-8483689a7d82.png)

request query:
[code]

[2021-10-07 16:05] #2114 closed, assigned to nobody

[2021-10-08 03:50] alexghirelli commented on #2113
Opened a PR #2115 that can fix this.

[2021-10-08 19:16] web-programmer-here opened #2118 "When website has http password"
I have a website that is http password protected in WP Engine (https://wpengine.com/support/password-protecting-wp-engine-site/) but I want to be able to run graphql queries, has anyone dealt with similar situation?

[2021-10-10 12:42] ilibilibom commented on #2113
Thanks @alexghirelli!
Hopefully this can be merged sooner that later.

[2021-10-11 13:33] renanbessa opened #2121 "Return Null Terms Custom Taxonomy"
I did a query to get the terms of a custom taxonomy inside my custom post type, but inside my application with Apollo Client, these terms are coming null, but in the playground IDE it returns ok.

**Image query playground IDE**
![image](https://user-images.githubusercontent.com/28416718/136799138-3fed9aa9-3db6-4ad7-a265-f15c4db2d560.png)

**Image return**
![image](https://user-images.githubusercon

[2021-10-13 08:17] sanky72 commented on #259
This is not working for me, please check this [issue](https://github.com/XebiaStudio/gatsby-source-graphql-multiple/issues/2)

[2021-10-14 15:04] danielenriquehoward opened #2122 "Support for shared media library on multi-site"
I'm trying to set up a shared media library on a multi-site using wp graphql, but it seems like this is unsupported.

This is a screenshot from `wp_2_postmeta` (the postmeta for site with id 2)

![image](https://user-images.githubusercontent.com/59841642/137340826-28496644-c377-4f7a-b49d-bc8a00d09094.png)

The first meta_value, `1349808`, which is an attachment id, is from the main sites media lib

[2021-10-15 17:30] #2113 closed, assigned to nobody

[2021-10-18 23:17] alexghirelli commented on #2037
Hey @jasonbahl, I can do that if you assign it to me. 😄

[2021-10-20 18:22] RodrigoTomeES opened #2129 "WP-GraphQL is returning HTML instead JSON"
## To reproduce
Select a product

## What should be obtained
A JSON with the product

## Actual behavior
JSON.parse: unexpected character at line 1 column 1 of the JSON data

![imagen](https://user-images.githubusercontent.com/13077343/138148998-03a23656-eabe-4f43-9e81-1b931bfe29da.png)
![imagen](https://user-images.githubusercontent.com/13077343/138149068-cf7b7c74-3345-4d68-a3e7-bba136775883.png)

[2021-10-20 19:54] cmonkey03 commented on #1814
@jasonbahl Thank you for your answer on this issue. I just wanted to confirm that we should be:

1. Downloading & unzipping the plugin from https://wordpress.org/plugins/wp-graphql/ (not using this repository)
2. Adding it to our plugins directory
3. Committing this to our WPCOMVIP Github account

Thanks!

[2021-10-20 20:44] jasonbahl commented on #1814
Yes, you will need to end up with an artifact matching what you can download and unzip from wordpress.org, which includes the vendor dependencies such as `graphql-php`

There are numerous ways you can go about this.

I believe our workflow at the newspaper was to use packagist to manage the versions of the plugins, such as WPGraphQL, that we needed, then we'd `composer install` the plugins then th

[2021-10-21 15:01] jadamconnor opened #2130 "Query Returns Array in WP IDE GraphiQL, but Empy Array in Gatsby GraphiQL"
I'm using the GraphQL Wordpress plug-in with IDE enabled to pull data in a Gatsby decoupled Wordpress setup, and I'm getting some unexpected behavior.

When I run a query in the plug-in IDE in the Wordpress admin panel, it returns all queried fields of a given page as expected:

Query:
[code]
Result:
[code]

The same query in Gatsby's GraphiQL tool returns this, however:
[code]
[code]

GraphQL ver

[2021-10-21 16:55] jadamconnor commented on #2130
I've discovered a work around for this, which is to simply create a new field in ACF. What might this suggest about this issue?

[2021-10-21 19:18] #2130 closed, assigned to nobody

[2021-10-22 17:10] #2129 closed, assigned to nobody

[2021-10-27 15:14] #2122 closed, assigned to jasonbahl

[2021-10-27 19:59] #2118 closed, assigned to nobody

[2021-10-28 18:19] BenMcD0nald opened #2133 "Still having pagination issues with custom post types"
Hey,

I seem to be getting the same issue as demonstrated in #1714 but I keep reading that it should be fixed.

As you can see from the screenshots below, when I go backwards the posts are not served in the same order as the original request. This makes navigation difficult  as subsequent requests are now offset and the results jump around between pages

I'm wonder if the fix isn't working with cu

[2021-10-29 19:27] kellenmace opened #2134 "Respect `publicly_queryable` setting for post types"
Currently, if a post type in WordPress has `publicly_queryable` set to `false`, its posts are still accessible to unauthenticated users. WPGraphQL should respect the `publicly_queryable` setting.

It's easy to conflate `publicly_queryable` with `public` and/or `show_in_graphql` settings. Here is the breakdown that @jasonbahl and I came up with for remembering what effect each setting has:

- `show

[2021-10-29 20:42] jasonbahl commented on #2082
@victorcngo should be released here soon. Thanks for your patience with this! 🙏🏻

[2021-10-29 22:15] jasonbahl commented on #2134
@kellenmace It's possible for a post_type to be set as:

[code]

This is the case with the Page post_type as registered in WordPress core: https://github.com/WordPress/WordPress/blob/8447683474ebdee773fc4fca7b3e44dea45060f4/wp-includes/post.php#L45-L68

I think we should have a minor adjustment to the rules.

If a post_type is set to public, then publicly queryable shouldn't matter. The entity is

[2021-10-30 10:52] justlevine commented on #1639
Did a little sleuthing of my own. and it seems the issue is somewhere in [`NodeResolver.php::resolve_uri()`](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/NodeResolver.php#L75)

Using the following query:
[code]

## When the permalink structure **does not** have a fixed prefix:
(e.g. `/%category%/%postname%/`)

Value of `$this->wp->query_vars` used to choose the loader( [starting

[2021-10-30 11:44] justlevine commented on #1639
On further investigation, it seems the issue stems from the rewrite matching on [line 208](https://github.com/wp-graphql/wp-graphql/blob/8342be523a13d21353fa6d4970b6b3dbd8eaf6d6/src/Data/NodeResolver.php#L208).

Because `get_page_by_path()` returns `null`,
1. no match is set for [`$this->wp->matched_rule`](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/NodeResolver.php#L227),
2. an

[2021-10-30 12:54] justlevine commented on #1639
In the interim, removing `$this->wp->query_vars['page']` from the `isset()` check [on Line 465](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/NodeResolver.php#L465) is working in my local env, but without knowing the use case for `uri` is set but `page` isnt => return `WP_Post_Type` object, I can't recommend this as a real solve.

[2021-11-01 00:51] mboynes commented on #2133
@jasonbahl is there an open issue for the timestamp aspect of the issue in particular? I looked around but didn't see one. I'd be interested in helping to resolve it if you have more info.

[2021-11-02 19:05] #2134 closed

[2021-11-03 07:16] jasonbahl commented on #2133
@mboynes I don't think there is 🤦🏻‍♂️

I'll create one now with some details.

[2021-11-03 08:43] jasonbahl opened #2137 "Cursor pagination can break when subsequent posts have the same timestamp"
Steps to reproduce:

## Shortened version:

- Generate posts with same timestamp
- Query subset of posts, ask for pageInfo fields
- Query the next page of posts using endCursor value as input for the `after` argument
- Query the previous page using last/before arguments with the `startCursor` as the value for the `before` argument
- See the incorrect results

## Expanded version:

### Generate pos

[2021-11-03 08:45] jasonbahl commented on #2133
@mboynes I created this issue with a lot (maybe even too much) details: https://github.com/wp-graphql/wp-graphql/issues/2137

I also did some digging and might have a fix, but it's super late so I'm calling it a night.

I'll test my fix more in the morning and post some more details and see if ya'll can verify that my changes work for your use cases.

Talk soon! 🙏🏻

[2021-11-03 13:32] mboynes commented on #1714
See #2137

[2021-11-03 13:33] mboynes commented on #2133
Thanks @jasonbahl!

[2021-11-04 17:03] justlevine opened #2140 "`WPConnectionType` $config cannot be filtered."
# Overview
The [`WPConnectionType` class](https://github.com/wp-graphql/wp-graphql/blob/a40f46b935e0e4d2cd46b92603c900cbb017a29d/src/Type/WPConnectionType.php#L15) does not make use of any wordpress filters. This means that there's no way to overwrite the connection `$config`, which is a major problem when trying to extend the connections generated for by WPGraphQL for custom post types, or changi

[2021-11-04 20:21] jasonbahl commented on #2137
@mboynes I think I might have the fix. Getting a PR ready for ya'll to check out.

[2021-11-04 23:39] HenrijsS opened #2142 "[v.1.6.7] Breaking WPGatsby data fetching."
Multiple people on https://github.com/gatsbyjs/gatsby/discussions/33856 are experiencing an issue where the latest WPGraphql plugin somehow disables update detection on Gatsby's side.
There's no errors or warnings.

Only fix for now is v1.6.6. Are there some breaking changes that keeps Gatsby from updating to the new schema?
I see that both plugins had an update 2 days ago.

[2021-11-05 08:36] xy-lin commented on #2142
WPGatsby 2.0.1 + WPGraphQL 1.6.6 works
WPGatsby 2.0.1 + WPGraphQL 1.6.7 not working: it cannot trigger the build in local `develop`. It can trigger build in hosting environment (the production build) through webhook, but the no new data is fetched.

[2021-11-05 14:02] ChrisWiegman opened #2144 "Empty list connections return "null" instead of empty array."
When creating a connection to list a list of posts GraphQL returns "null" instead of an empty array if no posts are found. This is different from standard query returns where an empty array is displayed.

The easiest way to recreate is probably by using ACM to create a related field and then query for nodes as appropriate. See the screenshots below for a demonstration of the issue

![A normal quer

[2021-11-05 14:27] jasonbahl commented on #2137
@mboynes check out this PR: https://github.com/wp-graphql/wp-graphql/pull/2145

I added a video walkthrough to the PR comment walking through things, if it's helpful.

[2021-11-05 14:31] jasonbahl commented on #2142
The 1.6.7 release of WPGraphQL updated some permission checks that happen.

If you had a post type registered to WordPress that wasn't defined to be `public=>true` or `publicly_queryable=>true` you will need to update your post_type to allow the content to be publicly exposed.

WPGraphQL was previously exposing published content of any post_type to public users, but that's a breach of WordPress Ac

[2021-11-05 15:07] Haldaug commented on #2142
I added  `publicly_queryable=>true` to my custom post types and used the following snippet to make all my pages publicy queryable too, but this didn't fix the issue. I still have to run the 1.6.6 version for my site to work properly.

[code]

[2021-11-05 15:10] jasonbahl commented on #2142
@Haldaug can you query the data in graphql publicly without being authenticated?

For example: `yoursite.com/?graphql&query={pages{nodes{id,title,content}}}`

If content is being returned by WPGraphQL, but Gatsby's not properly building, this is likely a Gatsby bug.

If data is not returning from WPGraphQL, then we indeed do need to keep investigating on the WPGraphQL side.

[2021-11-05 15:28] Haldaug commented on #2142
@jasonbahl Yes, I am able to query the data without being authenticated. I'm not sure what else could be causing this issue. Maybe something over on this end? [https://github.com/gatsbyjs/wp-gatsby/issues/200](https://github.com/gatsbyjs/wp-gatsby/issues/200)

[2021-11-05 15:29] jasonbahl commented on #2142
Ok, so I just updated my WordPress install that powers WPGraphQL.com.

I'm running:

- WPGraphQL v1.67
- WP Gatsby v2.0.1

![Screen Shot 2021-11-05 at 9 20 36 AM](https://user-images.githubusercontent.com/1260765/140534822-caec8444-158e-4ad6-b016-0c13a0bcbdbf.png)

 I then went to an entry in the "Documentation" post type and added a link to the content. Here's a screenshot of the revision.

![Scr

[2021-11-05 15:47] jasonbahl commented on #2142
@Haldaug @xy-lin @HenrijsS - are ya'll using Gatsby Cloud?

I'm using Gatsby Cloud, and it looks like my Gatsby site isn't rebuilding the pages quite right.

When I publish content from WordPress my pages don't rebuild with the update, even though Gatsby Cloud shows the update happened in WordPress.

But, here's another interesting thing, I released this change to content which is in a markdown fi

[2021-11-05 15:52] HenrijsS commented on #2142
@jasonbahl I saw the issue only in development.
Haven't used Gatsby cloud at all yet.

[2021-11-05 15:55] jasonbahl commented on #2142
@HenrijsS there's a chance there are multiple things happening right now.

I would for sure make sure the content you want exposed to Gatsby is in post types that are either `public=>true` or `publicly_queryable => true`.

If you confirm that, and there are still issues, we might have other things.

What I and @Haldaug are experiencing, from what I can tell, seems to be on the Gatsby side, as the

[2021-11-05 15:56] Haldaug commented on #2142
@jasonbahl I see the issue both when using `gatsby build` and `gatsby develop` and on my Gatsby cloud build. Downgrading WPGraphQL to 1.6.6 fully fixes the issue for me.

[2021-11-05 15:57] jasonbahl commented on #2142
🤔  very interesting.

[2021-11-05 15:59] jasonbahl commented on #2142
Can you try in an incognito window where you are for sure not logged in? If you're logged into WordPress and just try in another tab it might be using your same session.

[2021-11-05 16:02] HenrijsS commented on #2142
But the thing is that it gets the latest data.
You just need to delete the cache every time.

[2021-11-05 16:04] jasonbahl commented on #2142
@HenrijsS ah, interesting. So Gatsby is getting the data from WPGraphQL but not using it to rebuild the page properly?

You're able to get the correct data out of WPGraphQL?

[2021-11-05 16:09] Haldaug commented on #2142
@jasonbahl I'm pretty sure I did test it in an incognito tab, and I can confirm that using `gatsby clean && gatsby build` fetches the new data. I can also see the correct data in the graphql IDE in WordPress.

[2021-11-05 17:48] TylerBarnes commented on #2142
Fixed in WPGatsby v2.0.2

[2021-11-05 17:48] #2142 closed

[2021-11-05 18:02] xy-lin commented on #2142
@jasonbahl   Yes, I am using Gatsby Cloud free tier at the moment. The problem happens with following "stack". If rolled back to  **_WPGraphQL 1.6.6_**.  Problem gone.

On WordPress side:
WP 5.8
WPGatsby 2.0.1
**_WPGraphQL 1.6.7_**

Node 16.13
react  17.0.2
Gatsby 4.1.0
gatsby-source-wordpress 6.1.0

[2021-11-05 19:38] jasonbahl commented on #2142
@xy-lin can you confirm that updating WPGatsby to v2.0.2 with WPGraphQL v1.6.7 fixes this?

[2021-11-05 19:52] jasonbahl commented on #2133
@BenMcD0nald can you see if the changes applied in PR #2145 fix this for you?

[2021-11-05 19:54] jasonbahl commented on #2133
I've added some tests where posts are generated with identical titles and identical timestamps and with that set of data, I'm now able to paginate forward and backward with the results I would expect, where prior I was seeing the bug.

I posted this video (https://www.youtube.com/watch?v=FnARcaOLKVI - also linked in that PR) walking through the bug and the behavior after my changes are applied.

[2021-11-05 19:56] Haldaug commented on #2142
For what it's worth, I can confirm that WPGatsby v2.0.2 with WPGraphQL v1.6.7 fixes it on my end. Plus, xy-lin has confirmed as much here: https://github.com/gatsbyjs/gatsby/discussions/33856#discussioncomment-1596807

Thank you for figuring this out together with TylerBarnes, @jasonbahl !

[2021-11-05 19:56] HenrijsS commented on #2142
@jasonbahl After clearing the cache, works for me too!

[2021-11-05 19:57] jasonbahl commented on #2142
Awesome!

Sorry for the inconvenience! Glad we were able to get it working again.

[2021-11-05 20:21] xy-lin commented on #2142
@jasonbahl  Yes, after upgrading WPGatsby to v2.0.2 and WPGraphQL v1.6.7 fixes both local develop build and build in Gatsby Cloud. Now any update in WordPress will trigger the build and re-fetching of data correctly as before.
Many thanks for the effort and time!

[2021-11-05 20:22] jasonbahl commented on #2142
Thanks for confirming @xy-lin! 🙏🏻

[2021-11-06 15:38] igorluiza4d commented on #2075
Thank's @TorinAsakura .... I did a test and installed the version you said and it really worked.

[2021-11-06 16:01] igorluiza4d commented on #2075
@bhardie and @jasonbahl ,

I don't know if it helps, but I did the test on possible versions and started giving this error after version 1.5.9.

Version 1.5.9 works normally, in my case, with Google's Web Stories Plugin.

[2021-11-07 17:39] idesignzone opened #2147 "No 'Access-Control-Allow-Origin' header is present using Axios to post a comment"
- [ A CORS policy error ]
- [ Gridsome as front and Axios for HTTP requests ]
- [ WP-Graphql v1.6.7 ]
- [ WPGraphQL Cors installed ]
- [Access to XMLHttpRequest at ''https://my_wp_backend.com' from origin 'http://my_gridsome_front.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requeste

[2021-11-08 06:21] Wali-ur-Rehman commented on #957
@maximilianschmidt thanks, it works.

[2021-11-08 09:14] TorinAsakura commented on #2075
Tested on latest version with WP latest version - all working

[2021-11-08 16:40] jasonbahl commented on #2144
@ChrisWiegman without steps to create models the same way you have them created I had to do a bit of guess work.

I tried a few different ways of establishing connections between models, and ultimately what I discovered is that the difference in behavior is actually right here in front of us!

It looks like the Cage to Rabbit Connection in the 2nd screenshot is a one-to-one connection.

The Cage c

[2021-11-10 14:36] #2137 closed

[2021-11-10 18:43] jacobdubail commented on #2103
Thank you!

Very interesting. I tested with a variety of themes, twentytwenty twentynineteen twentyeighteen and it didn't work. I just activated twentytwentyone for the first time and it works. Not sure if it's a priority issue with the filter, or something else in those themes, but it's working now. Cheers.

[2021-11-11 15:09] jasonbahl commented on #2110
Closing as I believe https://github.com/wp-graphql/wp-graphql/issues/1626#issue-769089073 contains the solution

[2021-11-11 15:09] #2110 closed

[2021-11-11 16:29] LZL0 commented on #1999
The same happens to my instance as well. Did a clean test install on localhost, the issue doesn't exist there.
Interestingly, as an admin I can fetch the featuredImage fields while if I am logged out I see featuredImage: null for the same posts which worked just fine earlier.

I currently suspect the theme or a plugin causing the issue, I need to investigate this further.

[2021-11-11 16:50] jasonbahl commented on #1999
@LZL0 I just tried to reproduce this by adding a featured image to a post, then querying for the image as a logged-in user and as a public (non-authenticated) user.

I can get the featured image in either case.

## Set a featured image on a post

Here's my post, id 215 with a featured image of Iron Man.

![Screen Shot 2021-11-11 at 9 39 14 AM](https://user-images.githubusercontent.com/1260765/1413

[2021-11-11 22:59] aggelosV1982 opened #2153 "WP-graphql refuse connections with Gatsby JS"
Hi, i´m trying Gatsby Js and Wordpress Headless cms. Reading the Gatsby documentation,  the file gatsby-config.js has a config to access wpgraphql:

[code]

only have to change localhost for my server url, but when run gatsby develop, it show me this error:

ERROR #gatsby-source-wordpress_111002

 gatsby-source-wordpress  Error: connect ECONNREFUSED 127.0.0.1:80
    at TCPConnectWrap.afterConnect

[2021-11-15 20:13] wbertolo opened #2154 "GraphQL IDE stops working when wp-graphql-wpml plugin is active"
Hi, I have installed the wp-graphql-wpml plugin yesterday, and whenever this plugin is active, /wp-admin/admin.php?page=graphiql-ide stops showing the schema. I get the 'NO SCHEMA AVAILABLE' screen and these are some of the relevant errors:

XHR Call (on the inspector): /index.php?graphql
Response: {"code":"internal_server_error","message":"

There has been a critical error on this website. Please

[2021-11-16 19:26] TheAggressive opened #2155 "Hierarchical Menus"
Using the example on the WPGraphQL website using the query

[code]

It doesn't appear to return all the sub level menu items included in the flat list anymore (like it used too)? Just seems to display the top level items. So the function to convert to Hierarchical menus on the docs page isn't showing any results on the `children` object which is now empty. Is anyone else seeing the same?

Thanks!

[2021-11-18 17:15] DidoMarchet opened #2156 "Wrong hasPreviousPage and hasNextPage values on first load"
Hi,
I'm running **wp-graphql v1.6.7** on **Wordpress v5.8.2**.

I've got an issue with `pageInfo`.

On the first load it returns me `hasPreviousPage` and `hasNextPage` as **false** despite I've got a lot of pages:

![screen-cursor-no-ok](https://user-images.githubusercontent.com/38940340/142463795-1999c5b4-2392-4764-83fd-4fb5748e88df.png)

Instead if I try to add a the cursor into the query it ret

[2021-11-23 10:32] elfring opened #2159 "Increase the usage of variable assignments with combined operators"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of combined operators](https://www.php.net/manual/en/language.operators.assignment.php#language.operators.assignment.arithmetic "Description for assignment operators") accordingly.

[code]

[2021-11-23 12:52] koraysels opened #2160 "Filter categories with hideEmpty: true AND post_type: <a custom post type>"
It would be nice if we could add a post type to the `where` clause in the query for taxonomies .

That is a useful feature if you have an archive page of a custom post type and wish to have a filter on tags, categories, other custom taxonomies....

I am in need of this type of query.. Or am i missing the something and is it already possible ?

[2021-11-24 09:01] simplenotezy commented on #1220
I am getting this error, not sure if it is related:

`Argument 1 passed to WPGraphQL\\Extensions\\Polylang\\PostObject::WPGraphQL\\Extensions\\Polylang\\{closure}() must be an instance of WPGraphQL\\Model\\Post, instance of WPGraphQL\\Model\\PostType given, called in /Users/mf/Projects/washworld/wp-content/plugins/wp-graphql/src/Utils/InstrumentSchema.php on line 151`

Happened after adding:

	tra

[2021-11-24 16:38] mboynes opened #2161 "Add "JSON" as format option for post content"
[As has been written about extensively](https://www.wpgraphql.com/2021/03/09/gutenberg-and-decoupled-applications/), working with Gutenberg content in decoupled sites can be difficult. While a "great" solution may remain on the horizon, I think there's room for a "good" solution now in wp-graphql's core plugin, one which would continue to add value even after something better comes along.

`post.c

[2021-11-25 12:17] DidoMarchet opened #2162 "Retrieve DRAFT post and possible solution via filters"
Hi,
I try to fetch DRAFT posts using Apollo on my Nuxt app.

I'm not able to retrieve these post for the preview and I didn't found complete tutorials.

I'm asking you if you have any reference for my goal
or if is possible to do something like this with the post type:
[https://www.wpgraphql.com/2020/12/11/allowing-wpgraphql-to-show-unpublished-authors-in-user-queries/](https://www.wpgraphql.com/2

[2021-12-02 19:09] jasonbahl opened #2164 "WPGraphQL should maintain a map of internal WordPress types and the GraphQL Types they generate"
This is a brain dump which likely includes a lot of actionable items, but I wanted to get this out of my head.

# Problem: Cache invalidation

Caching GraphQL Queries can be done in a number of ways. The GraphQL Query Document + Variables can be combined into a hash and used as the cache key, and the results can be stored under that cache key. If the same request comes in, the cached response can

[2021-12-04 23:42] ArmandPhilippot opened #2165 "Add field to comment author - CommentAuthor/User issue"
Hello,

First of all, thanks for this plugin! :)

I tried to add a custom field for each comment author, but I get an Internal Server Error. I'm not sure if it is a bug or if my way of doing things is wrong. So I'm not sure if I should post here or elsewhere. In doubt, I post here; it might be useful for other people trying to create a plugin for WP GraphQL.

**Tested with:**
* WordPress between v

[2021-12-05 16:53] ArmandPhilippot commented on #2165
I finally found a solution. I changed:
[code]
to:
[code]
I thought the model was mandatory so I hadn't tried without it. Sorry for the inconvenience!

[2021-12-05 16:53] #2165 closed

[2021-12-06 20:58] blakewilson opened #2166 "Retrieving a `contentNode` as preview for draft posts results in `null`"
When retrieving a `contentNode` with `asPreview` set to `true` for a draft post, the response will be `null`.

## Versions:
- WP GraphQL: 1.6.7
- WordPress: 5.8.2

## Other Plugins Installed:

None

## Current Behavior

The response is `null`

## Expected Behavior

The response should include the proper content node

## How to reproduce

1. Create a draft page
2. Create a query with the following

[2021-12-06 21:10] jasonbahl opened #2167 "Allow markup of the GraphiQL page to be filtered"
The markup output by the GraphiQL admin page should be filterable.

This will allow 3rd parties to provide custom markup if JavaScript is disabled, or wrap additional elements around the markup, or override the markup.

One current use case: WPGraphiQL 2.0 can remove the graphiql-container classname with this filter (currently happens in JavaScript instead)

[2021-12-06 21:11] #2167 closed

[2021-12-06 21:36] jasonbahl commented on #2166
@blakewilson did you click the "Preview Button" before trying to query in GraphiQL?

Clicking the "Preview" button stores the preview revision. If you don't do that, there will be nothing to preview.

I didn't see this in your steps to reproduce, so I want to confirm.

[2021-12-06 22:11] jasonbahl commented on #2166
@blakewilson following your steps, but also clicking the "Preview" button seems to work for me.

Users must click the preview button in order for WordPress to generate the preview data in the database. Without this action, there's nothing to preview.

Here's a quick recording showing the steps I took:

https://www.youtube.com/watch?v=HRIs_zG9nO4

Let me know if I'm missing something. Happy to hop

[2021-12-06 22:13] jasonbahl commented on #2166
@blakewilson fwiw, I just tried with Gutenberg active, and same results as I shared in the video.

[2021-12-06 22:18] jasonbahl commented on #2133
@BenMcD0nald @mboynes this fix is included in tomorrow's release v1.6.8

[2021-12-06 22:18] #2133 closed

[2021-12-06 22:25] jasonbahl commented on #2095
Closing this issue as these features have been addressed in the WPGraphiQL 2 repo which has been released and will iterate in that repo.

https://github.com/wp-graphql/wp-graphiql-2

[2021-12-06 22:25] #2095 closed

[2021-12-06 22:36] blakewilson commented on #2166
@jasonbahl Hmm, odd. You're right, following the steps again yeilded the correct results. However, I have some draft posts from the past that still show this behavior on. I assume then this is an instance of a draft post being auto-saved, thus, the preview data was never generated.

Thanks for following up on this. I'll close for now.

[2021-12-06 22:39] jasonbahl commented on #2166
@blakewilson ya, that sounds right. You'd have to click "preview" on an older post to see the preview for it.

That being said, I wonder if we should support a mutation like: `mutation createPreviewForContentNode(...)` or something

That way a headless client could provide it's own UI for creating the preview? Then the user wouldn't have to be in the WordPress admin to actually generate the previe

[2021-12-06 22:42] jasonbahl opened #2170 "createPreview mutation"
Currently users need to click the "preview" button in the WordPress admin to generate a preview of a post (of any public post_type).

As a client developer, I would like to be able to generate a preview from contexts other than the WP Admin.

It would be nice to be able to submit a `createPreview` mutation to generate a preview for a content node.

----

This feature needs some discussion, some br

[2021-12-06 22:43] jasonbahl commented on #2166
I created this issue to open a discussion around this possible feature: https://github.com/wp-graphql/wp-graphql/issues/2170

[2021-12-07 02:18] blakewilson commented on #2166
Clicking "preview" does in fact populate the correct response.

That would be an awesome feature. I'll follow along there.

[2021-12-07 12:55] andrewmumblebee opened #2171 "nodeByUri query returns nodes where URI doesn't match"
When using the nodeByUri query for grabbing any node, what i've noticed is that the query can return a result when i expect it to return nothing.

This has caused me to need to check the resulting URIs match after the response.

**Query**

[code]

**Response**
[code]

For example i have a post with the uri `/uncategorized/new-post`, the query will return the same blog post if the `$uri` value was

[2021-12-07 17:02] jasonbahl commented on #2144
Closing as I believe this is a non-issue and is just different behavior for one-to-one connections vs. plural connections.

[2021-12-07 17:04] #2144 closed

[2021-12-07 17:41] jasonbahl commented on #2171
@andrewmumblebee Thanks so much for opening this issue and for using WPGraphQL in your projects!

I believe this might be a permalink settings issue.

I've tried to recreate this scenario with the following permalinks:

![Screen Shot 2021-12-07 at 10 27 20 AM](https://user-images.githubusercontent.com/1260765/145077224-ac7551bf-aaf7-4279-a4e2-0a484571abee.png)

Then, if I create a post with the ti

[2021-12-07 17:41] #2171 closed

[2021-12-07 17:55] jasonbahl commented on #2162
@DidoMarchet When the "preview" functionality was introduced in WPGraphQL I wrote about it here: https://github.com/wp-graphql/wp-graphql/issues/1312#issuecomment-638882448

Some things to consider with drafts and previews is that these entities are considered private by WordPress, meaning that you must be authenticated and have proper capabilities to view this data, and WPGraphQL respects that.

[2021-12-07 18:26] andrewmumblebee commented on #2171
Ahhh cool, didn't realize that's how WordPress core resolves it.

Thanks for your quick response!

[2021-12-07 20:57] jasonbahl commented on #2155
@TheAggressive thanks for using WPGraphQL and thanks for opening this issue!

There was a change to how menus resolve quite some time ago.

Instead of being hierarchical by default, the menus are output in a flat-list, and can be turned back into hierarchy on the client.

You can read more about this here: https://www.wpgraphql.com/docs/menus/#hierarchical-data

You might need to add a `(first:100

[2021-12-07 21:02] koraysels commented on #2160
So I could filter for taxonomies that are not empty for a specific post type?? Because like I already said I have the taxonomy 'tags' available for multiple post_types and I want to be able to show only the tags that have posts of a specific post_type so hideEmpty does not work here...

[2021-12-07 21:07] jasonbahl commented on #2155
@TheAggressive fwiw, I just tested this functionality again, and can confirm that both parent and child menu items are being output in the list.

Here's a menu I created with 2 root level items and one child:

![Screen Shot 2021-12-07 at 1 58 34 PM](https://user-images.githubusercontent.com/1260765/145105453-bd58959a-1e65-4dc0-b768-0ad7bf0e5fac.png)

And the query outputs all items, with the child

[2021-12-07 21:07] #2155 closed

[2021-12-07 21:10] jasonbahl commented on #2156
@DidoMarchet this is expected behavior per the Relay specification.

If the query does not ask for a specific number of items using the `first` or `last` argument, then `hasNextPage` and `hasPreviousPage` will return false.

In order to paginate, you need to use `first` and `after` (forward pagination), or `last` and `before` (backward pagination).

[2021-12-07 21:15] #2156 closed

[2021-12-07 21:16] jasonbahl commented on #2154
@wbertolo can you see if the filter mentioned here resolves this issue for you?

https://github.com/wp-graphql/wp-graphql/issues/1626#issue-769089073

[2021-12-07 21:19] wbertolo commented on #2154
Hi, sorry, I tried to close this at the time. I have all my issues solved. Thanks, Jason.

[2021-12-07 21:19] #2154 closed

[2021-12-07 22:09] jasonbahl commented on #2154
@wbertolo ok, sounds good! Thanks for the follow-up.

[2021-12-07 22:28] TylerBarnes commented on #2153
Are you able to make requests to your GraphQL endpoint (http://localhost.local/graphql) from an external GraphQL client (not wp-graphiql)?

[2021-12-07 22:29] TylerBarnes commented on #2153
I guess my question is have you tried the steps in the error message?

"Please ensure the following statements are true

your WordPress URL is correct in gatsby-config.js
your server is responding to requests
WPGraphQL and WPGatsby are installed and active in your WordPress backend
Your WordPress debug.log does not contain critical errors"

[2021-12-08 13:34] DidoMarchet commented on #2156
Hi, thanks for the support and have a nice day,
Davide

[2021-12-08 13:37] DidoMarchet commented on #2162
Hi,
thanks!
Have a nice day,

Davide

[2021-12-08 19:36] jasonbahl opened #2172 "`register_graphql_interfaces_to_types` is not working"
## Problem
The `register_graphql_interfaces_to_types()` function isn't working as expected.

The tests (https://github.com/wp-graphql/wp-graphql/blob/develop/tests/wpunit/RegisterInterfaceToTypeTest.php) for this functionality pass, but the functionality doesn't seem to work in practice.

## Steps to reproduce

1. Take the code from the test and drop in in an active PHP file (like a plugin file or

[2021-12-08 21:18] jasonbahl commented on #2172
Updates:

- I reverted to `v1.4.0` and this functionality works.

[2021-12-08 22:45] #2140 closed

[2021-12-08 23:11] jasonbahl commented on #2172
Aha!

This is only an issue when I'm also running my beta "WPGraphQL Block Editor" extension 🤔

Will dig into that 👀

I have a feeling it has to do with multiple plugins registering interfaces to types? 🤔

[2021-12-09 14:10] jasonbahl commented on #2172
Ok, closing this as I've determined it's not a bug with WPGraphQL but was a bug with my local setup. 🤦🏻‍♂️

I had a plugin that I was working on that had WPGraphQL as a composer dependency and so I was loading WPGraphQL twice which was causing some real funky behavior 🤦🏻‍♂️

[2021-12-09 14:10] #2172 closed

[2021-12-09 16:30] BenMcD0nald commented on #2133
Hey Jason,

Apologies for not getting back to you. I had my head stuck in something else development-wise and it took a while to circle back to being able to upload some dummy data. Funnily enough I did check into it earlier in the week and saw your test commit. I patched this in manually and it work and I was about to let you know when you sent the message about the release version.....thought I

[2021-12-09 18:58] jasonbahl commented on #2161
@mboynes thanks for bringing up this subject!

I do see the value in adding something like this, even if it's not the "perfect" solution I ultimately want to get to.

Even if we get to the point where Blocks can all be represented as GraphQL Types, I do think there's still utility in this, at least for debugging, etc, as there will be cases where some blocks might not be represented in the Schema

[2021-12-10 03:01] maurocolella opened #2174 "No model for attachments in graphql_data_is_private"
Hi,

In this hook, while the item data includes a `post_type` that lets me distinguish attachment from posts (or pages), attachment always report as: `PostObject`

Should they have their own model?

[2021-12-10 17:53] jasonbahl commented on #1413
I'm going to close this issue, as WPGraphQL has had a settings page and has shipped with GraphiQL in the admin for quite some time.

I think there's value in adding more admin functionality, such as an "Extensions" page, a "System Status" page, etc.

Those types of things, I think, will be coming over time as we improve GraphiQL and the overall tooling side of things, currently being worked on ove

[2021-12-10 17:53] #1413 closed

[2021-12-12 13:56] justlevine opened #2175 "WPEnumType::get_safe_name() returns 'unsafe' names for some special characters."
It seems the names generated by `WPEnumType::get_safe_name()` can be made 'safer'. At the bare minimum, it needs to check for a `__` ( two underscores) prefix, but ideally it would better handle special characters.

## Example
[code]

Two things are going wrong here.
1. First: `preg_replace( '#[^A-z0-9]#', '_', $value );` converts `Å` to `__`. Ideally this character would be replaced with `A` (and

[2021-12-13 09:58] oskarmodig opened #2176 "PHP Notice for missing clientMutationId"
After the requirement of clientMutationId was removed in issue #1123 and fix #1573 I'm getting a lot of PHP Notices when not inputting clientMutationId:
`PHP Notice:  Undefined index: clientMutationId in /wp-content/plugins/wp-graphql/src/Registry/TypeRegistry.php on line 1161`

[2021-12-14 19:42] jasonbahl opened #2178 "NodeByUri not resolving properly for media items"
When using the path to a media item in a `nodeByUri` query, I get a `null` response.

This isn't happening on every environment I've tested, so it might be permalink related, but I cat replicate here:

### Media Item Url:
http://wpgraphql-content.flywheelstaging.com/docs/debugging/screen-shot-2020-11-22-at-7-50-12-am/

### Query for said url

returns null

![Screen Shot 2021-12-14 at 11 24 30 AM](

[2021-12-14 21:04] jasonbahl opened #2179 "Add contentTypeName field to Content Nodes"
When querying a content node, one can query the `contentType { node { name } }` field, but it would be nice to access it as `contentTypeName`, much like how @jeanfredrik added the `taxonomyName` field on Term Nodes in #2143.

This would help with re-creating the template hierarchy in headless clients, among other things.

[2021-12-15 10:51] nino-vrijman opened #2180 "Inconsistent terms query results when using cursor based pagination after re-ordering terms"
We're getting inconsistent results when querying terms using cursor based pagination after terms have been re-ordered using the [Advanced Taxonomy Terms Order plug-in](https://www.nsp-code.com/wordpress-plugins/category-order-and-taxonomy-terms-order/). Our site has 100+ terms but when using the largest page size of 100 and fetching 2 pages of terms we reliably get a total of 160 terms of which 10

[2021-12-15 22:25] apmatthews commented on #2166
I was doing some testing with CPT previews in Faust.js and I ran into this issue. What I found is that it's only a problem on custom post types that do not declare support for revisions. It's not reproducible with built in post types like `post` and `page` since they _do_ support revisions.

The resolver for `asPreview` uses the `wp_get_post_revisions` function, which only returns DB rows where `p

[2021-12-16 00:53] znwhite commented on #261
I wrote a blog post summarizing how to fix this issue here: https://www.devtwins.com/blog/wpgraphql-increase-post-limit

It simply takes @jasonbahl 's solution and removes the `if` statement, but I figured it could be helpful to give a thorough overview.

[2021-12-16 01:03] jasonbahl commented on #261
@znwhite good stuff! Thanks for sharing.

Maybe include a disclaimer that fetching too many things in one request can cause slow downs for the client and possibly server performance issues as well.

There's no magic number to what the right amount of posts to return for optimal performance, but the more data the server is processing and the more the client is downloading, the  worse the performanc

[2021-12-16 03:10] znwhite commented on #261
@jasonbahl Awesome, thanks for the feedback! This is a great point, I'll add this to the post 👍

[2021-12-16 15:52] jasonbahl commented on #2166
@apmatthews ah! Good digging.

I'll re-open this now that we have more context on how to reproduce! 🙏🏻

[2021-12-16 15:54] jasonbahl commented on #2166
@apmatthews can you share how you reproduced setting a specific post type to not support revisions?

Are you simply leaving out `revisions` from the `supports` argument for the post_type, or are there any other things you were doing to reproduce this?

[2021-12-16 16:45] apmatthews commented on #2166
Yes, exactly. Just leaving out `revisions` from the `supports` should do it. More specifically though, I used ACM to create an Event model (ACM custom post types do not include revision support) with a single field called `name` that was set to be used as the entry title. Here's a query that should help demonstrate the difference between revision preview data vs draft preview data:

[code]

[2021-12-16 16:50] evangelinepapanicola commented on #1220
I'm also experiencing this issue, when querying `parent` on a subpage that doesn't exist:

[code]

result:
[code]

[2021-12-16 16:58] apmatthews commented on #2166
It seems like returning the original `$post_id` [in the false condition here](https://github.com/wp-graphql/wp-graphql/blob/6084ed03bda8af758eb6dd07dc9eba685dad08a7/src/Type/ObjectType/RootQuery.php#L200) would give us the right result.

I'm not sure how this impacts things like `isPreview` though. It seems to be tied to whether a node is a revision or not. If we acknowledge that a preview can be

[2021-12-16 21:51] moonmeister opened #2181 "bug: Cannot make graphql request to domain that is not `site_url`"
## Original issue:

We had a customer reporting that they were getting an error when querying graphql that indicated html was being returned instead of JSON. They'd just added a new domain.

## Diag:
We tracked it back to how WPGraphQL detects if the request being made is a graphql request in [`is_graphql_http_request`](https://github.com/wp-graphql/wp-graphql/blob/9f8ac9291491ca4812a03d177cf3a336

[2021-12-17 19:38] jasonbahl opened #2183 "The debug message for duplicate types is not being returned since v1.6"
When registering duplicate types, there should be a `graphql_debug()` message output to let users know about the Type duplication and let them correct it.

It appears that this is only being output for queries asking for the Type directly, not for all queries.

This appears to be a regression on this debug message after v1.6 when lazy type loading was introduced.

## Steps To Reproduce

**Register

[2021-12-17 20:52] #2183 closed

[2021-12-17 23:00] jasonbahl commented on #2180
Terms don't have timestamps, so we can't use timestamps to stablize cursors for terms in the same way we can for data in the posts table.

----

Can you share steps to reproduce?

I see the plugins you have active, but can you share steps such as:

1. insert xx terms (maybe even provide an export file so I can have the exact same terms as you)
2. query with xx query `ex: { categories { nodes { id,

[2021-12-20 17:29] FactoryAidan commented on #213
I think the _right_ way to fix this is by creating a rule manually within WordPress to handle this parameterization; that just feels where this modification belongs.

However for the time being, I have added this `location` rule to my NGinX configuration for this virtual host:
`/etc/nginx/sites-available/my_wordpress_site.conf` and the endpoint is now working as intended.
[code]

[2021-12-20 18:14] jasonbahl commented on #213
@FactoryAidan can you try the changes in this PR, without your nginx rule? See if that fixes things?

https://github.com/wp-graphql/wp-graphql/pull/2182

[2021-12-20 18:41] jasonbahl opened #2187 "Test that the graphql endpoint works on multiple domains"
In #2182 we fix a bug where the graphql endpoint wasn't properly responding if accessed from a domain other than the primary domain.

For example, if a user has `mysite.wpengine.com` and a primary domain of `mysite.com` then the GraphQL endpoint _should_ work from `mysite.wpengine.com/graphql` AND `mysite.com/graphql`

This wasn't working. Only the domain that was entered in the `siteurl` option w

[2021-12-20 18:47] jasonbahl commented on #2187
Here's the video walking through the issue:

https://www.youtube.com/watch?v=qK32G_QV-pw

[2021-12-20 18:49] #2181 closed

[2021-12-20 21:40] #2179 closed

[2021-12-21 21:14] jasonbahl opened #2190 "Post Format archives don't resolve with nodeByUri query"
After enabling post formats using the snippet below:

[code]

And creating a post assigned to the `video` format, like so:

![Screen Shot 2021-12-21 at 2 05 41 PM](https://user-images.githubusercontent.com/1260765/146997633-26cfb9c3-93fe-42cb-8643-6a852c06e583.png)

I can visit the url `/type/video` and get an archive of posts of said post-format.

![Screen Shot 2021-12-21 at 2 03 42 PM](https://u

[2021-12-22 18:16] jasonbahl opened #2191 "Date Archives don't resolve with `nodeByUri` queries"
In WordPress, if you have dates setup in your permalinks, you can visit a url such as `/2021/12` and get an archive of posts from December 2021.

Or you could do `/2021` and get an archive of posts from the year 2021.

Or you could do `/2021/12/22` and get an archive of posts from December 22, 2021.

In WPGraphQL, these paths passed to `nodeByUri` will return null.

**WordPress core behavior:**

I

[2021-12-23 16:08] thekage91 opened #2192 "SourceUrl for media is not set properly into the post content using Cloudinary"
Hi
I'm experiencing a problem using Cloundinary + WpGraphql. I installed the Cloudinary plugin to automatically sync our media into the CDN and everything works well, all medias into posts has been correctly updated, if I inspect an image's url I can see the Cloudinary url instead of local WordPress url.

If I retrieve the post with WP-JSON API the content has the correct link from Cloundinary but

[2021-12-28 20:48] robclancy commented on #2192
I reverted to cloudinary_wordpress 2.7.6 and it works. Looks like a similar issue with https://github.com/cloudinary/cloudinary_wordpress/issues/625

[2021-12-29 22:53] mitchierichie commented on #2049
I'm having this is as well.

[2021-12-29 23:20] mitchierichie commented on #2049
I'm in version 1.6.10 with no additional plugins or extensions enabled, still getting this error

[2021-12-31 16:08] gk-git commented on #1764
I am ready to contribute; I would need some guidance on Graphql as that I am still new to Graphql.

I am currently working on a fork for the https://github.com/wp-graphql/wp-graphql-block-editor repo; I returned the Gutenberg blocks inside a post but still testing on how I could get the block fields and configurations.

The fork is available here https://github.com/wp-graphql/wp-graphql-block-edit

[2021-12-31 20:55] justlevine opened #2198 "Need more intuitive method to extend Model `$fields`"
# Tl;dr
Currently, adding a field to an existing GraphQL model is bad DX, requiring two WP Filters: first to set the field to null, and then to resolve the value.

The fix is to pass the model $data to `graphql_return_model_data`.

# Problem

There's currently no intuitive method for adding a field to an existing WPGraphQL model.

[`graphql_return_model_data`](https://www.wpgraphql.com/filters/gra

[2021-12-31 20:56] justlevine commented on #2198
@jasonbahl I'm happy to submit a PR, just let me know if I should go with the breaking or non-breaking version.

[2022-01-01 04:11] spencersmb commented on #827
Trying to get a comment mutation working for replying to a comment and I can't seem to get the inputs right. I can create a single comment just fine, but when trying to create a "reply" to a comment I can't get it working. I'm wondering what is supplied to the "parent" variable to get the current comment to show up as a reply.

[code]

[2022-01-02 15:53] thekage91 commented on #2192
Thank you very much @robclancy! I downgraded the plugin as you suggested and now seems return the url from Cloudinary.

[2022-01-02 15:53] #2192 closed

[2022-01-03 21:38] jasonbahl opened #2199 "Pass Type Registry through to the `graphql_schema_config` filter"
As a developer extending the Schema to add Root Types (i.e. subscriptions) I would like to have access to the TypeRegistry from the "graphql_schema_config" filter

[2022-01-03 21:54] #2166 closed

[2022-01-03 23:29] #2199 closed

[2022-01-04 15:05] jadamconnor opened #2201 "Feature Request: And/Or Operators"
Other GraphQL libraries feature And/Or [operators](https://dgraph.io/docs/graphql/queries/and-or-not/). An example:

[code]

Is there some specific limitation preventing this from being implemented with WPGraphQL?

[2022-01-04 16:52] jasonbahl opened #2202 "Allow root value to be set when calling the `graphql()` function"
As a developer, I would like to pass a root value to be used when calling the `graphql()` function.

For example, if I had the following field:

[code]

This is a root field with nothing passed in the `$root`, so this will always return null.

But, if I were able to do something like:

[code]

Then the results of the query would be:

[code]

This can be helpful when we need to adjust the root beha

[2022-01-04 23:41] jasonbahl commented on #2049
@mitchierichie what theme is active?

[2022-01-04 23:52] mitchierichie commented on #2049
@jasonbahl Active theme is my custom child theme which is based on blank-canvas, which is actually also a child theme of seedlet.

[2022-01-05 15:50] jasonbahl commented on #2049
@mitchierichie if you change themes to something like twenty-sixteen, does the issue go away? I'm curious if there's some theme code that's causing a conflict?

[2022-01-06 21:11] #2202 closed

[2022-01-07 19:37] benknight commented on #1818
Sorry guys I just don't have any time to put into this. I thought I'd described why the SQL generated by is problematic but maybe I'm just crazy. It's odd that I'm the only person who's reported having this issue so many just close until someone else comes across this.

[2022-01-07 20:45] jasonbahl commented on #1818
Sounds good @benknight. I'm sure this is a bug, but I'm having a heck of a time reproducing it.

I'll close this for now, and if similar issues are reported by other users we can open it up again.

Thanks!

[2022-01-07 20:48] jasonbahl commented on #2201
@jadamconnor the only limitation so far has been coming up with a good plan around it, and spending the time to execute the plan!

It's been discussed a bit here already: https://github.com/wp-graphql/wp-graphql/issues/1385

I think this is the way to go, for sure.

The early design around the `where` args was, I think, a mistake, as it was an attempt to treat GraphQL simply as a mirror of interna

[2022-01-07 21:02] jasonbahl commented on #2198
@justlevine I would prefer a non-breaking way.

One thing we could consider is adding another filter, and deprecating the old one, but still letting it exist.

Something like:

[code]

Then, add a deprecated.php file and something like:

[code]

Another option we could consider is passing the Model and allowing the filter access to the properties.

So something like:

[code]

Then in the deprecate

[2022-01-07 21:22] mitchierichie commented on #2049
@jasonbahl I didn't have to change theme or anything, schema is working in 1.6.11 now

[2022-01-07 21:28] jasonbahl commented on #2049
@mitchierichie well that's awesome! Any chance you have the site on a domain like "site.com" but access the site so a domain like "site.wpengine.com" or "site.yourhost.com"? If so, this release had a fix for situations like that. If not, I'm glad things are fixed, but I'm curious what else in this released might have fixed things for you 😆

[2022-01-07 21:31] mitchierichie commented on #2049
My WordPress installation is on a subdomain `cms.mydomain.com`

Who knows if anything else was also affecting me

Thanks for the updates

[2022-01-11 16:18] jasonbahl opened #2210 "TermObject.uri strips home_url() after term_link filter has been applied"
This issue is copied from a Slack conversation with @theodesp

-----

I have a question related to some investigation I had to do regarding Term uri’s.

Regarding the following query:

[code]

This returns:

[code]

I noticed that for computing the `uri` part WPGraphQL takes the term links in absolute URI from the TermObject here:
https://github.com/wp-graphql/wp-graphql/blob/7cab4f0184fbc5b2eb0a0

[2022-01-11 16:26] jasonbahl commented on #2210
@theodesp thanks for opening this issue.

I think your suggestion of replacing the host/port sounds like a good plan. 🙌🏻

I think it would solve the same thing I was trying to solve, but would still give flexibility for use cases like you describe where the term_link has already filtered the domain before the uri resolver gets it.

[2022-01-11 16:26] jasonbahl commented on #2210
@theodesp would you be interested in submitting a PR to make this change and including / updating tests for it?

[2022-01-11 17:07] theodesp commented on #2210
@jasonbahl thank you. Will discuss it with the @faust.js team to see what we can do here.

[2022-01-11 18:31] moonmeister commented on #2210
Seems like the code I just used in #2182 is relevant here: https://github.com/wp-graphql/wp-graphql/pull/2182/files#diff-95fd90c4e82eb78455558373d51bfb443010152c93eb52b9ff9730cff2a80c96R185

[2022-01-11 21:06] jasonbahl commented on #2210
@moonmeister yes, good call. very similar, and likely an issue that arises for the same user, that's accessing the WordPress install from a different domain than site_url() is set to

[2022-01-11 21:19] moonmeister commented on #2210
Fyi, Jason the way FaustWP plugin currently assumes home and site url are the same and set to the backend. It provides it's one frontend url from a custom config. We just had a talk with @apmatthews and @blakewilson about changing this. Gatsby also does this

[2022-01-11 21:26] jasonbahl commented on #2210
I think it's a decent idea to keep a separate option, specifically for the time period users are building their headless site while their WordPress site is still live.

But, I think there should also be an option for Faust/Gatsby, to "use site_url()" or whatever, for the cases where the front-end url is the same as the decoupled url.

[2022-01-13 18:42] simplenotezy opened #2213 "Get single page by language"
I believe this repository is missing the ability to specifiy language when fetching a single page/post. E.g.:

[code]

Possibly related:
https://github.com/wp-graphql/wp-graphql/issues/2097

[2022-01-13 19:01] simplenotezy commented on #2066
@moonmeister I can confirm I have the same issue. It seems like Polylang does not respect the "locale/" parameter in the URI.

E.g.

    en/about-us --> english page, about us
    de/about-us --> english page, about us (should have been the german page)
    de/german-about-us --> german page, about us - only if slug is not taken in another language

[2022-01-13 19:10] simplenotezy commented on #2097
I am curious about this too

[2022-01-13 19:10] simplenotezy commented on #2213
Wrong repo; created here: https://github.com/valu-digital/wp-graphql-polylang/issues/66

[2022-01-13 19:10] #2213 closed

[2022-01-13 20:05] jasonbahl opened #2214 "BUG: Tests are not running"
Tests on recent PRs are not running properly.

We're now getting the following output when running tests for WPGraphQL:

[code]

You can see that in recent test runs here: https://github.com/wp-graphql/wp-graphql/runs/4807579298?check_suite_focus=true#step:8:420

It looks like it's related to this change to the wp-browser dependency:

https://github.com/lucatume/wp-browser/pull/556

Downgrading ba

[2022-01-13 20:31] #2214 closed

[2022-01-14 12:30] evangelinepapanicola commented on #1489
Hi @jasonbahl  - I don't seem to be able to untick Enable Public Introspection on the most recent version of WPGraphQL? The checkbox is greyed out and ticked.
Pretty sure there used to be another checkbox that would allow you to tick/untick this one.

![image](https://user-images.githubusercontent.com/33719860/149515466-1a390aad-d7f0-41f2-8976-5dce48029c7e.png)

[2022-01-14 12:36] evangelinepapanicola opened #2217 "Can't disable public Introspection"
Hi @jasonbahl  - I don't seem to be able to untick Enable Public Introspection in the most recent version of WPGraphQL? The checkbox is greyed out and ticked.
Pretty sure there used to be another checkbox that would allow you to tick/untick this one.

![image](https://user-images.githubusercontent.com/33719860/149515466-1a390aad-d7f0-41f2-8976-5dce48029c7e.png)

_Originally posted by @evangelinepa

[2022-01-14 13:27] theodesp commented on #2217
Hello @evangelinepapanicola how are you? Did you enable debug mode because as long as you have it enabled then the checkbox is enabled?
<img width="1570" alt="Screenshot 2022-01-14 at 13 26 13" src="https://user-images.githubusercontent.com/328805/149522542-36a65d99-6b87-4397-93c1-1117bd700c41.png">

[2022-01-14 14:29] evangelinepapanicola commented on #2217
@theodesp Ah yes! That was it, thank you 🤦‍♀️  Might be a good idea to add "Also enables public introspection" to the Debug Mode description, I'm probably just stupid but I was wracking my brains for ages wondering what I was doing wrong haha

[2022-01-14 14:43] jasonbahl commented on #2217
@evangelinepapanicola I think it's a good idea to add a note that it's force enabled when debug mode is on. good call!

[2022-01-14 14:59] jasonbahl commented on #2217
Opened a PR to add a note:
https://github.com/wp-graphql/wp-graphql/pull/2218

[2022-01-14 15:54] #2217 closed

[2022-01-18 18:15] #2176 closed

[2022-01-18 18:16] bhardie commented on #2176
Thank you @oskarmodig

[2022-01-18 20:31] jasonbahl opened #2219 "Merge WPGraphiQL 2 into WPGraphQL Core"
WPGraphQL 2, (which has been in development over here https://github.com/wp-graphql/wp-graphiql-2) is a rewrite of the WPGraphiQL IDE.

The functionality for users is not much different, but the code now supports ways for developers to extend the functionality via hooks/filters in React.

The extension APIs have been proven by the community (see: https://github.com/wp-graphql/wp-graphiql-2/pulls?q

[2022-01-19 22:09] jasonbahl commented on #2210
closed by #2212

[2022-01-19 22:09] #2210 closed

[2022-01-23 17:00] IlirBajrami opened #2226 "Query posts by category slug"
I was reading [here](https://github.com/wp-graphql/wp-graphql/issues/1100#issuecomment-573188852) that you can query posts by categorySlug but i dont see that option.
How can i do this?

[2022-01-27 23:52] millette commented on #2129
Link: <https://github.com/rburgst/wp-graphql-wpml>

More info: <https://www.wpgraphql.com/extenstion-plugins/wpgraphql-wpml/>

[2022-01-28 11:09] ma-jahn opened #2230 "Extending Enums"
Hi there,

i'm using your plugin for quite a while in production and it's working pretty good. So thanks for that!

I've just updated from 1.6.10 to 1.6.12 and noticed that i'm no longer able to extend Wordpress Enumerations.

Up to now i was using this action to extend the Enum `PostObjectFieldFormatEnum`:
[code]

I couldn't find anything in the docs and therefore creating this issue.

Maybe ther

[2022-02-01 13:59] jonshipman commented on #1687
Sorry for the MIA, but I did manage to check last week and it does not appear to be fixed. Unfortunately my manager had instructed me to stop using wp-graphql 😭 However, this week a client order on an older site came across my desk and I believe it was affected. I'll try and see what's up.

[2022-02-01 16:14] jasonbahl commented on #1687
@jonshipman super bummed to hear that your manager instructed you to stop using WPGraphQL. Curious what lead that decision and what we can do to change that?

As far as this bug goes, if you're able to reproduce, and provide proper steps to reproduce, that would be great!

This feels like possibly could be related to specific permalink / WordPress settings configuration?

[2022-02-01 19:09] jonshipman commented on #1687
Oh he's just micro-managing I wouldn't worry about that.

[2022-02-07 17:46] drewbaker opened #2232 "srcset and sizes for images not returning all sizes like it should"
I'm still not sure that the way `srcset` works is correct. This image is 5000px+ wide, but the srcset only returns a default group of sizes and then the biggest one. It should be returning all sizes up to the max. At least, that's how I think it should work, srcset's are pretty confusing.

![Screen Shot 2021-12-08 at 6 58 12 PM](https://user-images.githubusercontent.com/475015/152842538-e11a8e9e-f

[2022-02-08 00:55] jasonbahl commented on #2230
@ma-jahn 🤔

I'm not sure why this would have broken between v1.6.10 and v1.6.12.

When you say this isn't working, can you elaborate a bit more? Is there an error thrown? Is there any Debug info output when you have GRAPHQL_DEBUG mode enabled (you can enable this from the GraphQL Settings page).

Or is the type simply not showing up anywhere?

Can you also share where you're adding a field that re

[2022-02-08 01:01] jasonbahl commented on #2230
Ah! I see. You were trying to override the existing `PostObjectFieldFormatEnum`. This shouldn't have been allowed but there was a bug introduced in v1.6.0 that got fixed and now you should be seeing a Duplicate Type error, like so:

[code]

This was also the behavior before the v1.6.0 release, but 1.6-1.6.10 had this bug that allowed duplicate types to be registered and the last one registered "wo

[2022-02-08 16:44] jasonbahl commented on #2230
@ma-jahn sorry for the delayed response.

To add a new value to an existing enum, we can use the filter here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/WPEnumType.php#L84

And we can use it like so:

[code]

This will add the type to the Schema, but you will still need to filter resolvers that make use of this.

For example, the `Post.content` field has this argument, so you w

[2022-02-08 16:50] jasonbahl commented on #2226
@IlirBajrami can you share some details on what you've tried so far?

Or what you're hoping to do but not able to?

[2022-02-08 21:46] IlirBajrami commented on #2226
I found a workaround to achieve the same like this:
`
query MyQuery {
  posts(
    where: {taxQuery: {taxArray: {field: SLUG, terms: "grid", taxonomy: CATEGORY}}}
  ) {
    edges {
      node {
        id
        title
      }
    }
  }
}
`
but that would be a cleaner solution

[2022-02-09 02:46] CalebBarnes commented on #1845
I was quickly trying to make a WP plugin to allow devs to add templates without creating PHP files in the theme but ran into this issue that my templates are not appearing in`wp_get_theme()->get_post_templates()`

Would love to see this update! Would be a nice boost in productivity since most headless sites don't even need a theme. 👍

I am using the wp filter `theme_page_templates` to add template

[2022-02-09 20:59] benknight opened #2234 ""No schema available" shown on GraphQL IDE settings page"
When opening the GraphQL IDE settings page, the schema fails to load.

There is the following error in the console:

[code]

Upon closer inspection, there is a 500 internal server error when making an async request for the schema:

[code]

This issue has actually been persisting for months now.

WordPress 5.9
WPGraphQL 1.6.12

[2022-02-09 21:41] benknight commented on #2234
Update, I've tried deactivating and reactivating all additional plugins that interact with WP GraphQL in any way, and still received the error in all cases.

[2022-02-14 04:38] jacraven commented on #2234
Having the same issue.

[2022-02-15 14:31] sinisteralex commented on #2234
I have the same issue.

[2022-02-16 14:23] lightningspirit commented on #289
Shouldn't wp-graphql be as compatible as possible with core functionalities? 🤔

[2022-02-21 14:01] adielBm opened #2244 "get avatar of comment author"
Is it impossible to get the url of the avatar of a comment ?!

[code]

[2022-02-21 16:33] #2198 closed

[2022-02-21 16:36] adielBm commented on #2244
[code]

[2022-02-21 16:36] #2244 closed

[2022-02-21 19:13] jasonbahl opened #2245 "The GraphQL Type `CommentAuthor` / 'Commenter` Interface should have an avatar field."
When querying authors of comments, it's common to want to display avatars of the comment author.

Currently the Schema only provides an `avatar` field for the `User` type, but the `CommentAuhor` type should also have an avatar field.

For example, one should be able to query:

[code]

This currently won't work.

Instead, we have to do:

[code]

So the authors that are of the `CommentAuthor` type d

[2022-02-21 21:12] #2245 closed

[2022-02-22 01:48] ltroya-as commented on #904
Hello @betweenbrain,

did you find a solution for this? If I use the `graphql_send_nocache_headers` filter I received a CORS error.

[2022-02-22 02:22] jeffabailey commented on #373
I'm having a hell of a time trying to get draft posts with a simple curl call.

I've installed this plugin.

https://github.com/WP-API/Basic-Auth

I'm running this curl command.

[code]

I'm using [Postman's basic auth feature](https://learning.postman.com/docs/sending-requests/authorization/#basic-auth), and I can authenticate, but I get zero returned records.

Is the plugin working with WP Graph

[2022-02-22 09:41] adielBm commented on #2244
#2245

[2022-02-24 10:13] krishaamer opened #2249 "Does nodeByUri support getting the frontpage in several languages?"
Hi @jasonbahl thanks for your fantastic work! I was wondering if nodeByUri should be able to retrieve the frontpage for each language if only given a language slug such as /de or /en ?

If this is officially supported?

(I'm currently using PolyLang and PolyLang GraphQL but I'm only able to retrieve the default language and the frontpages in other languages result in null.)

Thanks
Kris

[2022-02-24 21:36] BenMcD0nald opened #2250 "Post object connection returning wrong number of 'total pages'"
Hey,

I'm trying to pull data about the total page count in the request but I've hit a bit of a wall

The filter I'm using is:

`add_filter('graphql_connection_page_info', function ($page_info, $connection) {
	$page_info['total'] = null;
	if ($connection->get_query() instanceof \WP_Query) {
		if (isset($connection->get_query()->found_posts)) {
			$page_info['total'] = (int) $connection->get_query(

[2022-02-24 23:01] #2219 closed

[2022-02-25 22:28] jasonbahl commented on #2250
@BenMcD0nald this is intentional behavior.

The `post_count` is the number of items returned from the query. WPGraphQL uses `cursor` pagination vs page-based pagination, and to do this it asks for 1 more record than the query has asked for.

So, when the query asks for `first: 12`, that translates to a SQL query of `LIMIT 13`.

If `13` records were returned by SQL, then `hasNextPage` will be set t

[2022-02-25 22:30] jasonbahl commented on #2250
@BenMcD0nald I'm going to close this, as I don't believe there's an issue to be addressed and I believe I provided relevant information about how this works under the hood.

If there is indeed a bug or other issue you feel needs to be addressed here, please open another issue and feel free to reference this one for context.

Thanks! 🙏🏻

[2022-02-25 22:30] #2250 closed

[2022-02-25 22:35] jasonbahl commented on #2249
@krishaamer I'm not certain how WPGraphQL will work when used along with plugins such as Polylang. I know the wp-graphql-polylang extension (https://github.com/valu-digital/wp-graphql-polylang) does a lot to enable certain things with Polylang to work well with WPGraphQL, but I'm not sure how it handles situations like this.

My guess is that there's certain filters that Polylang has in place to h

[2022-02-25 22:38] jasonbahl commented on #2234
🤔  can ya'll provide more information about your environment, other active themes and plugins, PHP versions, etc?

I use GraphiQL every day and have not ran into this issue on any version of WPGraphQL.

[2022-02-25 22:44] jasonbahl commented on #2234
@sinisteralex @jacraven @benknight if possible, please provide steps to reproduce.

I use local by flywheel to spin up WordPress environments quickly.

If I start a fresh WordPress install in Local by Flywheel, then activate WPGraphQL, I can use WPGraphQL and the GraphiQL IDE in the dashboard, without issue.

Here's a screenshot of my local setup:

![CleanShot 2022-02-25 at 15 41 56](https://user-

[2022-02-26 00:27] jasonbahl commented on #2234
👋🏻  there's an issue related to settings that are registered with the core WordPress `register_setting()` API that are set to `show_in_rest` but don't map to a proper GraphQL Type.

Do you happen to have plugins or theme code that makes use of the `register_setting()` function, and sets the setting(s) to `show_in_rest => true`? If so, this issue is likely related: https://github.com/wp-graphql/wp-

[2022-02-26 14:21] sinisteralex commented on #2234
My Local by flywheel setup

![image](https://user-images.githubusercontent.com/53612147/155846465-85bcbf4f-9435-4ad4-84d1-ebec1015c768.png)

My Wordpress GraphiQL IDE

![image](https://user-images.githubusercontent.com/53612147/155846486-bf37a8d0-f11e-4eee-94bd-598a150364d7.png)
My GraphQL versions

![image](https://user-images.githubusercontent.com/53612147/155846552-cdd209f9-f0a1-4253-b25e-01bf2

[2022-02-27 18:15] opr-inzn opened #2258 "allWpMediaItem returns nothings"
Since today I am having trouble with WPGraphQL, WordPress and GatsbyJS. I have a post (slug: can-touch-this) with an image gallery (Gutenberg). I used to query for the image captions like this:

[code]

However, this does not return anything anymore. What shall I do?

WPGraphQL: Version 1.6.12

System:
    OS: macOS 12.2.1
    CPU: (10) arm64 Apple M1 Pro
    Shell: 5.8 - /bin/zsh
  Binaries:

[2022-02-27 18:52] benknight commented on #2234
Hey @jasonbahl I sent you an email about this that should hopefully help debug this issue.

[2022-02-28 04:54] jasonbahl commented on #2234
@benknight thanks! Got the email. I think the conflict _might_ be the Stackable plugin.

I have a lead on fixing this. It does seem related to the `register_settings()` bug that I mentioned above. I'll try and get a PR together this week to address this situation.

(I'll also see if I can get to the bottom of the search pagination thing we've talked about a few times!)

[2022-02-28 04:56] jasonbahl commented on #2234
@sinisteralex what _other_ plugins do you have active? My hunch is that it's a bug with code not directly related to WPGraphQL or WPGraphQL extensions. I believe that any theme/plugin that makes use of the WordPress core `register_setting` function might be the conflict. I'd like to be able to confirm that, if possible. If that's not the case, then we might have another bug that will require furth

[2022-02-28 10:44] sinisteralex commented on #2234
![image](https://user-images.githubusercontent.com/53612147/155969669-b2def4c1-a54b-419c-ab6d-5e5f1e7f8676.png)

[2022-02-28 16:15] jasonbahl commented on #2258
@opr-inzn Since you're having issues with a Gatsby query, the issue could be in WordPress / WPGraphQL, or it could be in on the Gatsby / Gatsby Source WordPress side of things.

Can you query media items in WPGraphQL directly?

For example:

[code]

If so, this means WPGraphQL is returning MediaItems, so I would believe that the issue is on the Gatsby side.

When querying data in Gatsby, you're qu

[2022-02-28 16:27] peach-inzn commented on #2258
Hey @jasonbahl! Thank you so much for your response(s)!

This was the problem. I was not aware that only images uploaded directly to the post will have a formal connection.

Thanks a lot for your help!

[2022-02-28 16:29] opr-inzn commented on #2258
Hey @jasonbahl! Thank you so much for your response(s)!

And is there a formal connection between the post "can-touch-this" and the media item?
This was the problem. I was not aware that only images uploaded directly to the post will have a formal connection.

Thanks a lot for your help!

[2022-02-28 17:04] jasonbahl commented on #2234
Awesome! Thanks for confirming. 🙏

I hope to have this patched this week

[2022-02-28 18:09] jasonbahl commented on #2258
@opr-inzn I don't think there's a guarantee that there will be data, so you might need to use some [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) here:

`view?.localFile?.childImageSharp.gatsbyImageData`, for example?

🤷🏻

[2022-02-28 18:14] opr-inzn commented on #2258
@jasonbahl I made the rather stupid mistake of importing `GatsbyImage` like this:
`import { GatsbyImage } from "gatsby"`
instead of the correct:
`import { GatsbyImage } from "gatsby-plugin-image"`

Please excuse me and thanks again!

[2022-02-28 18:14] #2258 closed

[2022-02-28 18:51] justlevine opened #2259 "Add generated global stylesheet to the schema."
In order to correctly use Gutenberg styles, we need access to the [global stylesheet](https://developer.wordpress.org/reference/functions/wp_get_global_stylesheet/), which generates an inline style for all the wp css variables (merged with theme.json or default Global Styles if they exist).

Something along the lines of:

[code]

@jasonbahl I'm happy to write a PR, but not entirely sure where in t

[2022-02-28 19:05] justlevine commented on #2259
(Note: a workaround for the missing layout styles can be found in https://github.com/wp-graphql/wp-graphql/discussions/2255)

[2022-02-28 19:06] blakewilson opened #2260 "Querying non-existant pages with custom permalinks returns a valid `page` object with `id` instead of `null`"
When querying for a non-existant page with a custom permalink structure (eg `/posts/%postname%/`), the `page` object is present with a valid ID instead of `null`. The base 64 ID decoded is `post_type:page`.

## Screenshots

🟢 Permalinks set to "post name"
<img width="1426" alt="Screen Shot 2022-02-28 at 12 52 45 PM" src="https://user-images.githubusercontent.com/5946219/156042200-c554cab5-954d-4b4

[2022-02-28 20:06] jasonbahl commented on #2260
@blakewilson what's the behavior in normal WordPress, here?

If you visit the url in your browser, do you get a 404 or does WordPress try to resolve this url?

[2022-02-28 20:13] blakewilson commented on #2260
Yep, WordPress will throw a 404:
<img width="1388" alt="Screen Shot 2022-02-28 at 2 12 30 PM" src="https://user-images.githubusercontent.com/5946219/156051930-cf4ca20d-2b8a-4084-8729-db532a8ee43a.png">

[2022-02-28 20:18] jasonbahl commented on #2260
@blakewilson, since WPGraphQL is bug-free, this must be a core WordPress bug. 🤣

JK. I'll look into this

[2022-02-28 20:21] blakewilson commented on #2260
Perhaps line 464 of `NodeResolver.php` should be:

[code]

[2022-02-28 20:28] jasonbahl commented on #2260
PR would be 🔥 . I'll look into it more as well

[2022-03-01 12:06] andrewmumblebee commented on #1243
Getting the same issue, trying to orderby a custom `datetime` value which is needed by our plugins.

Minimal reproduction for me that had issues.

1. Create an ACF datepicker field to register for meta value to sort by, i.e. `event_datetime`
2. Create a few posts with this field on so there is enough to paginate with.
3. Register graphql filter to allow for ordering by given field
[code]
5. Run qu

[2022-03-01 20:09] #2260 closed

[2022-03-02 21:47] jasonbahl commented on #2049
After reviewing all comments in this issue, I believe conflicts with WPGraphQL for WooCommerce and WPGraphQL for Gutenberg have all been addressed.

There might be similar issues related to plugins that register settings using the `register_setting()` API, and that's addressed in PR #2262

Based on that, I'm closing this issue.

[2022-03-02 21:47] #2049 closed

[2022-03-02 21:56] jasonbahl commented on #2234
@benknight @sinisteralex @jacraven I have a PR open here: #2262 that I believe fixes this issue.

I've tested with 2 plugins that are known to cause the conflict:

- Google Web Stories
- Stackable (Gutenberg blocks)

With those plugins active, along with the changes in this PR (https://github.com/wp-graphql/wp-graphql/pull/2262), the Schema loads in the wp-admin without issue, so you can use Graph

[2022-03-03 16:17] jasonbahl opened #2264 "Add telemetry"
As the maintainer of WPGraphQL, I would like to:

- understand what other plugins are commonly used with WPGraphQL
- understand what versions of PHP are most commonly used with WPGraphQL
- understand what countries use WPGraphQL the most
- understand why users de-activate the plugin
- be able to contact users if there were an urgent security vulnerability

By adding opt-in telemetry to collect dat

[2022-03-03 18:25] #2264 closed

[2022-03-03 19:54] jasonbahl commented on #2065
The initial issue here is resolved by #2262

[2022-03-03 19:54] #2065 closed

[2022-03-03 19:55] jasonbahl commented on #2067
@ladycoded sorry it's taken so long, but this has been fixed by #2262, which will be released with v1.7.0

[2022-03-03 19:55] #2067 closed

[2022-03-03 19:57] jasonbahl commented on #2104
@WillSquire My hunch is that you were running into a conflict with the `register_setting()` API and how some plugins (such as Stackable and Google Web Stories) register settings and how those settings were mapped to the WPGraphQL Schema.

I believe this is fixed by #2262, which is part of the v1.7.0 release.

[2022-03-03 19:57] #2104 closed

[2022-03-03 19:59] jasonbahl commented on #2234
I'm currently running both Stackable and Google Web Stories with this PR and WPGraphQL is working. I'm going to consider this resolved per #2262 which is part of the v1.7.0 release.

If, after updating to v1.7.0 you feel this issue is still happening, please open a new issue, and feel free to reference this one for context.

Thanks! 🙏🏻

[2022-03-03 19:59] #2234 closed

[2022-03-03 20:46] jhochgrevetsd opened #2266 "Cannot pull data for 'grandchild routes'"
Hello and thanks for such a great plugin!

When querying a page by URI such as: "/personal/savings/share-savings-account/"

I am not able to get anything to return in the "page" data. I do seem to be able to get an id back, but it does not seem to be the correct ID, as I attempt to query by the ID and receive the following error: "The ID input is invalid. Make sure you set the proper idType for yo

[2022-03-03 21:18] jasonbahl opened #2267 "WordPress deploy workflow failed on the 1.7.0 release"
The Github workflow to deploy the plugin to WordPress.org failed: https://github.com/wp-graphql/wp-graphql/runs/5413795387?check_suite_focus=true#step:6:14

Looks like an issue with running the `npm run build` script.

[2022-03-04 06:05] justlevine opened #2268 "[v1.7.0] New WPGraphiQL pollutes browser history with url param changes"
The new version of WPGraphiQL bundled with v1.7.0 adds every single state change to the browser history. In past versions, while changes updated the browser string, it wasn't part of the browser history.

Not sure if this change was intentional, as a way to undo changes by going 'back' in the browser (I'll leave it to you to decide if the browser history is the best way to do that vs storing the h

[2022-03-04 13:43] jhochgrevetsd commented on #2266
Looks like the latest update fixed the issue! Thanks so much, guys...wow crazy timing :)

[2022-03-04 13:43] #2266 closed

[2022-03-04 16:02] jasonbahl commented on #2267
This was fixed by: https://github.com/wp-graphql/wp-graphql/commit/4ddfbb9d59cffc428d8d2b05ffc4011b519c6a6b

[2022-03-04 16:36] jasonbahl commented on #2268
@justlevine thanks for opening this issue and providing excellent detail!

I've successfully reproduced this behavior and confirmed that it indeed is a change in behavior compared to the previous version of GraphiQL included in 1.6.12 and below.

I believe it comes down to the `useQueryParams` package pushing to history instead of replacing history.

I'm looking into this 👀

[2022-03-04 17:48] jasonbahl commented on #2268
@justlevine I have a PR open to address this #2269

To test, you can pull that branch and run `composer install` and `npm install && npm run build`

I tested in an incognito window.

I was able to confirm the bug in the v1.7 release and confirm that this fix does not add a new entry into the browser history for every change to GraphiQL

[2022-03-04 17:53] jasonbahl commented on #2266
@jhochgrevetsd Thanks for opening the issue and following up with confirmation that it's resolved! 🙌🏻

Super glad it's working for you now.

I hadn't even seen this issue before the release was published, so it's awesome to hear that it was resolved in the 1.7 release!

I believe this PR (https://github.com/wp-graphql/wp-graphql/pull/2261) from @blakewilson is what resolved the issue.

Thanks agai

[2022-03-04 17:58] blakewilson commented on #2266
Woohoo 🎉 Crazy timing

[2022-03-04 19:42] justlevine opened #2270 "[v1.7.0] ContentType `labels` returning null."
As of v1.7.0,  querying for labels on a `contentType` returns null. In v1.6.12 it was working correctly.

## To Test

[code]

I've also set up a clean testing instance. You can visit Settings > Plugins to toggle between v1.7.0 and v1.6.12 of the plugin.
[code]
## Expected behavior
(v1.6.12)
![image](https://user-images.githubusercontent.com/29322304/156830270-8114f754-0129-42a0-ba73-cdd59c23129e.p

[2022-03-04 21:11] #2268 closed

[2022-03-04 23:19] jasonbahl commented on #2270
@justlevine this might be a model layer / permissions thing.

In 1.7.0, GraphiQL changed to execute as a public non-authenticated user by default, but you can toggle to execute as an authenticated user by clicking the user icon (or avatar) button in the GraphiQL Toolbar

Labels aren't exposed publicly by WordPress, just in administrative contexts, so WPGraphQL also does not expose them publicly.

[2022-03-04 23:23] justlevine commented on #2270
gosh I really got to remember to check auth, it gets me every time!

[2022-03-04 23:24] #2270 closed

[2022-03-04 23:32] jasonbahl opened #2272 "Add built version of the plugin to pull requests to make it easy(er) to test"
As the maintainer of WPGraphQL, I would like pull requests to generate a built version of the plugin and upload it as a .zip to the pull request so that I and anyone reviewing the pull request can more easily test the plugin at that state.

For users that already have the codebase cloned, it's not too hard to pul it down and install dependencies, but having a built zip can make some tasks easier t

[2022-03-04 23:43] jasonbahl opened #2273 "Add composer postinstall script to install npm dependencies so developers only have to run one command"
As a contributor to WPGraphQL, I would like to only run one command `composer install` to have the plugin ready for local development.

As of the 1.7.0 release, I also need to run `npm install && npm run build` in order to use GraphiQL

[2022-03-07 10:26] ashhitch opened #2274 "Multisite generalSettings url field missing in 1.7.x"
When upgrading a multisite instance to `1.7.1` generalSettings >`url` field is now missing, I see this was being added as its non-standard for multisites.

I had a quick look and looks like this started happening after to change to pass the `TypeRegistry` through  `get_allowed_settings_by_group`.

[2022-03-07 16:42] jasonbahl commented on #2274
@ashhitch thanks for reporting this! Looking into it now 👀

[2022-03-07 16:56] jasonbahl commented on #2274
@ashhitch I was able to reproduce this, and I have a fix coming.

[2022-03-07 17:05] jasonbahl opened #2275 "Setup tests to run in multisite"
As the maintainer of WPGraphQL, I would like to run tests in a multisite environment, to ensure functionality works as expected on multisite setups.

Currently all tests are running in single site WordPress installs.

We had a regression to a multisite feature #2274 and we should be able to prevent this by having test suite(s) run in multisite.

I would like to test #2274 as the first test in the

[2022-03-07 17:41] jasonbahl commented on #2274
@ashhitch could you confirm the changes in #2275 work for you? I've tested locally and things are 👌🏻, but would love to have your confirmation as well 😄

[2022-03-07 17:42] jasonbahl commented on #2274
@ashhitch I had a typo in my last comment. the PR is: https://github.com/wp-graphql/wp-graphql/pull/2276

[2022-03-07 20:10] #2274 closed

[2022-03-07 20:14] jasonbahl commented on #2274
@ashhitch thanks for the confirmation. Got it merged and will get it released shortly!

[2022-03-07 21:49] jasonbahl commented on #2273
@ArmandPhilippot ah! Thanks for calling this out. Yes, the `packages` directory does indeed look like it's not included in the downloads. I've got a PR to address this here: #2278

[2022-03-07 21:52] #2273 closed

[2022-03-08 00:42] justlevine commented on #2232
hey @drewbaker,

WPGraphQL [uses the WP native `wp_get_attachment_image_srcset`](https://github.com/wp-graphql/wp-graphql/blob/f2a9e4d8852e1f6af5a0e8fed3d0422b587b9ff7/src/Type/ObjectType/PostObject.php#L144), so WPGraphQL shouldn't be the source of the problem.

Looking at the core WP code, it doesnt seem that `big_image_size_threshold` is used when generating `srcset`s . Does it work if you use

[2022-03-08 01:11] justlevine commented on #2101
Hey @web-programmer-here,

If you're looking for a WPGraphQL specific filter, you can use [`graphql_user_insert_post_args`](https://www.wpgraphql.com/filters/graphql_user_insert_post_args/), to throw a `UserError`.

For example:

[code]

I'm going to close this issue for now, but if you're running into any trouble with the `graphql_user_insert_post_args` filter, please comment here and I'll reopen

[2022-03-08 01:11] #2101 closed

[2022-03-08 01:16] drewbaker commented on #2232
That did it! I updated the fuxt boilerplate with it now: https://github.com/funkhaus/fuxt-backend/blob/master/functions/wp-functions.php#L15

[2022-03-08 01:16] #2232 closed

[2022-03-08 01:33] justlevine commented on #1429
@renatonascalves @tomgreeEn , I'm combing through old tickets for easy candidates.

From my understanding, the only tangible differences between `graphql_{type}_mutation_update_additional_data` and `graphql_{update|insert}_term` actions is that the former:
- the mutation `$input` is available to the action, and
- `..._update_additional_data` runs on both create and update mutations, while for term

[2022-03-08 09:17] andrewmumblebee opened #2280 "Pagination cursor not working with meta clauses due to missing meta_type"
I've been trying to get multiple metakey ordering to work with this plugin.

The only way i've managed to so far is to use meta clauses, as the underlying code breaks if the meta key is used to sort with directly, as when using a cursor it trys to build the query using wp_posts.meta_key rather than the wp_postsmeta table.

To get this working i had to use the below filters.

[code]

This should al

[2022-03-08 14:05] renatonascalves commented on #1429
I personally don't mind it. But if we **really** want to make things consistent, I'd rather we confirm how other mutations are doing this so that we don't introduce another edge case here and instead update this everywhere if/when needed.

Not even WordPress is this consistent and complete. So if we decide to keep it as is since you can use that other hook, I'm also okay with it, but I agree it mi

[2022-03-08 16:10] jasonbahl commented on #2280
@andrewmumblebee thanks for the detailed issue!

I typically avoid (and recommend users avoid) meta queries, as they're expensive and have even been known to take sites down, so it makes sense that there's places in the codebase that could better support users that need to use meta queries, even if recommended against.

I don't want to make meta querying so easy with WPGraphQL that folks are takin

[2022-03-08 16:13] jasonbahl commented on #2280
@andrewmumblebee also, if you could provide detailed steps to reproduce the issue in the first place, that would be 🔥

Something like:

- create and publish a post
- attach x meta value to y meta_key on the post
- add x field to the schema
- query x query
- see that x post is not in the results

etc.

The more info I have on being able to get my local WordPress to the same state as you, the better

[2022-03-08 16:29] jasonbahl opened #2281 "Show errors in GraphiQL UI when the Schema fails to load"
As a user of WPGraphiQL, I would like to see the error(s) that prevent the Schema from loading.

Currently, when there is an error loading the GraphQL Schema, the GraphiQL IDE just hangs and shows a spinner.

If there's an error with the introspection query, it would be good to surface this so users can see what the error is and either debug themselves or use that info to contact a developer, open

[2022-03-08 17:06] jasonbahl opened #2282 "Installing WPGraphQL with Composer doesn't include the built GraphiQL app"
When installing WPGraphQL from composer, using `composer require wp-graphql/wp-graphql` starting with v1.7.0, the GraphiQL App is not included anymore.

In previous versions, I was building the GraphiQL app locally and committing / versioning the built app. The built files were included in the distribution to Packagist and therefore included in the installed files from composer.

Now, the built Ja

[2022-03-08 17:07] jasonbahl commented on #2273
@ArmandPhilippot I just opened another issue with additional context: https://github.com/wp-graphql/wp-graphql/issues/2282

[2022-03-08 17:09] jasonbahl commented on #2273
The v1.7.2 release does send the `packages` directory to packagist, so you should be able to install wp-graphql via composer, then add a post-install-cmd to _your_ project that changes directories to the WPGraphQL plugin and runs `npm ci && npm run build`, or you could update to use `wpackagist` as the repo (as mentioned above), which includes the built files.

[2022-03-08 17:55] ArmandPhilippot commented on #2273
@jasonbahl Thanks for this very detailed explanation! I know WPackagist but don't ask why I always use Packagist first as long as it works...

I had just tested the version 1.7.2 and I was just thinking that I might do well to change although now it works by running `npm i && npm run build`. I hadn't thought of `post-install-cmd` but using WPackagist seems like a better solution to me.

Thanks aga

[2022-03-08 18:27] Bowriverstudio opened #2285 "GraphiQl not working in Safari"
The GraphiQL interface for the same site works well on chrome but not safari.
<img width="1782" alt="Screen Shot 2022-03-08 at 11 01 40 AM" src="https://user-images.githubusercontent.com/36542929/157302039-4810c878-3de5-4cc9-8074-cfc8352c32f7.png">

Safari Version: Version 14.0.3 (16610.4.3.1.7)
WordPress: Current version: 5.9.1
GraphQL API: Version 1.7.2

[2022-03-08 21:14] ladycoded commented on #2067
Thanks Jason!

[2022-03-08 21:47] mindctrl commented on #2285
I'm not seeing this on:
Safari Version 15.3 (17612.4.9.1.8)
WP 5.9.1
WPGraphQL 1.7.2

![image](https://user-images.githubusercontent.com/1254870/157330842-77604e85-39aa-48ad-bcaa-6448267c49fe.png)

[2022-03-08 22:14] Bowriverstudio commented on #2285
@mindctrl  Must be something specific to my setup then.  I'll close this and thanks for looking into it.

[2022-03-08 22:14] #2285 closed

[2022-03-09 15:15] jadamconnor opened #2287 "In GraphiQL Query Composer No Sub-Selection Available"
When composing a query in GraphiQL, the composer does not recognize certain selections as having sub-selections. I'm using Advanced Custom fields with the WPGraphQL for Advanced Custom Fields plugin, and I'm referring specifically to these fields. Interestingly, that plugin's page is no longer there. Does this mean that WPGrapQL no longer supports this plugin?

In the screen below, executiveTeam s

[2022-03-09 16:17] jasonbahl commented on #2287
@jadamconnor could you provide an export of your ACF Field config so I can try to reproduce?

I believe this is probably just a UI issue with the GraphiQL Query Composer (the checkbox UI on the left site), and not an issue with the actual Schema. I'd like to confirm this for sure though.

I believe you should be able to find the GraphQL Types and Fields in the Schema by searching the Schema docs a

[2022-03-09 16:21] mindctrl commented on #2285
Could be the different Safari version.

Also worth noting I see multiple warnings in the console with:

Not sure if that would break the app in a previous version of Safari, but wanted to mention it just in case.

[2022-03-09 16:26] jadamconnor commented on #2287
Hello, thanks for the prompt reply. You are correct that the schema is available in the schema docs. Here's the config:

[code]

[2022-03-09 16:27] jadamconnor commented on #2287
For some reason the url https://www.wpgraphql.com/acf/ was giving me a not found error before. It isn't now, so disregard.

[2022-03-09 16:31] jasonbahl commented on #2287
@jadamconnor thanks! I'll try to reproduce now and get a better understanding of the issue.

[2022-03-09 16:55] jasonbahl commented on #2287
@jadamconnor ok, yes, I've reproduced this, and it is indeed a bug with the Query Composer, but _not_ a bug with the Schema or WPGraphQL's overall integration with WPGraphQL for ACF.

## Before
WPGraphQL v1.6.12
WPGraphQL for ACF v0.5.3

For the "intro" field, we can select sub-selections for each Flex Field layout in the Query Composer.

![CleanShot 2022-03-09 at 09 50 08](https://user-images.git

[2022-03-09 17:02] jadamconnor commented on #2287
Thanks for reproducing! So is the fix for now to revert to 1.6.12? Before I updated I couldn't get GraphiQL to load the schema at all, though it was fetching the data fine. After I updated I saw this issue: https://github.com/wp-graphql/wp-graphql/issues/2281

I hadn't thought before that to look at the network tab.

[2022-03-09 18:25] jasonbahl commented on #2287
@jadamconnor I personally rarely use the Query Composer feature. I prefer typing directly in the Query Editor, and you should be able to do that just fine, still.

So, even though the fields aren't showing in the checkbox UI on the left (currently), you can still access them by typing, like so:

![CleanShot 2022-03-09 at 11 23 47](https://user-images.githubusercontent.com/1260765/157506677-7efb67f

[2022-03-09 18:51] jadamconnor commented on #2287
Funny. I've never really thought to do that. I was a little annoyed that the composer was collapsed by default in the new version, but this is definitely more attractive to me--since I want to be a real developer someday and real developers never EVER use their mice.

[2022-03-09 19:04] jasonbahl commented on #2287
haha! I do all the time. I use SourceTree for Git instead of the command line. Use what works for you! Don't let folks tell you you're not a "real developer" if you like GUI tools!

[2022-03-09 22:51] joaovpmamede commented on #1303
@oskr1103 I'm having the exact some problem (site was developed with Next.js and deployed on vercel, WP hosted on Digital Ocean).
Did you find the solution?

[2022-03-10 19:42] justlevine opened #2292 "`themes` connection returns empty when `DISALLOW_FILE_EDIT` is `true`"
On WordPress environments where Theme/Plugin file editing is disabled, users cannot query for `themes`.

This is because `Model\Theme::is_private()` is checking for [`edit_themes`](https://wordpress.org/support/article/roles-and-capabilities/#edit_themes) (which gets overwritten by `DISALLOW_FILE_EDIT`).

I think this is the wrong default capability to be using (most sites should have the ability

[2022-03-11 08:49] dam6pl commented on #2084
@jasonbahl are you going to solve this problem?

[2022-03-11 12:16] oskr1103 commented on #1303
@joaovpmamede I did not get a solution, if you manage to find something please let me know, I'm still looking for a solution

[2022-03-11 13:08] joaovpmamede commented on #1873
Is this really fixed?
I'm seeing a lot of cpu being used by `php-fpm` everytime I make a call to `/graphql`.
This is happening a lot with a nextjs site not only during the build process (which tries to create html pages) but also when I fetch data from the client (happens with a simple query through Postman as well).

[2022-03-11 15:10] justlevine commented on #2005
@jasonbahl I'm not seeing that particular code smell anymore. Is this still relevant?

[2022-03-11 15:54] justlevine commented on #2084
@dam6pl I'm working on a PR now.

It seems that as of v1.7.2 (if not earlier), the issue is only for `menus` and not `menuItems`.  Can you confirm `menuItems` currently works as expected?

[2022-03-11 15:59] jasonbahl commented on #2005
@justlevine we can close it. 💪🏻

[2022-03-11 15:59] #2005 closed

[2022-03-11 16:00] #2004 closed

[2022-03-11 16:07] jasonbahl commented on #1873
@joaovpmamede what version of WPGraphQL are you on?

Does this happen when you hit the `/graphql` endpoint with no query at all?  Or does it only happen when you are making queries for data.

This particular fix (#2000) fixed an issue that affected _all_ requests, including requests that didn't even query data.

If you try WPGraphQL 1.5.* or earlier and compare it with 1.6*+, I think you'll see th

[2022-03-11 16:33] joaovpmamede commented on #1873
@jasonbahl hitting `/graphql` seems to be fine and I don't see nothing happening on the CPU.
But a simple query as this one:

<img width="358" alt="Screenshot 2022-03-11 at 16 26 46" src="https://user-images.githubusercontent.com/1040722/157907937-7bdd47d1-9af0-4f7b-be9e-902952194b3e.png">

creates some load and takes almost 300ms.

Plugins I'm using with wp-graphql (v1.6.12, although I've tried t

[2022-03-11 16:35] jasonbahl commented on #1873
@joaovpmamede One thing I would recommend when using ACF is setting up their Local JSON feature (https://www.advancedcustomfields.com/resources/local-json/), if you haven't already.

That should help reduce load significantly, both in context of WPGraphQL, but even the WordPress dashboard.

[2022-03-11 16:37] jasonbahl commented on #1873
It might be worth doing some simple things, like make the same query you shared with no plugins active. Is it faster than 300ms or the same? Then activate the plugins one at a time. See if one of the plugins is causing slowdowns, or if, perhaps, the server is generally slow.

[2022-03-11 16:39] jasonbahl commented on #1873
![CleanShot 2022-03-11 at 09 37 03](https://user-images.githubusercontent.com/1260765/157909259-87e98355-ba94-4f0f-a90b-7d44c739615d.png)

3.3s for the pages endpoint (which returns 10 pages).

I'm seeing the REST API responses aren't exactly fast on the same site (https://flowershopcolombiacheckout.com/wp-json/wp/v2/pages)

A GraphQL Query for 10 pages is faster than the REST endpoint (1.85s)

![

[2022-03-11 16:46] joaovpmamede commented on #1873
@jasonbahl yup, we're using the Local JSON feature with ACF.

I'll try disabling the plugins although I've already made some tests and it doesn't really help that much - still see a lot o CPU usage.

Btw, that's not my website. More info [here](https://github.com/WebDevStudios/nextjs-wordpress-starter/discussions/968) as I've decided to test different hosts/stacks.

[2022-03-11 16:54] jasonbahl commented on #1873
@joaovpmamede ah. sorry. Must've got that link confused with another issue. 🤷🏻‍♂️

In any case, might be good to see if your REST endpoint(s) are performing any different than your GraphQL endpoints.

Often times, there can be an underlying issue that is impacting both. For example, the ACF Local JSON thing. It will make every use of ACF faster, the admin, GraphQL and REST endpoints.

[2022-03-12 08:58] carlosHerz commented on #213
Adding the .htaccess configurations file did the trick for me https://wordpress.org/support/article/htaccess/

[2022-03-12 17:45] BenMcD0nald commented on #2250
Apologies for not responding sooner and thanks for the detailed response.

Yep, agreed that this is not a bug it just wasn't really how I was expecting it to operate as I could apply a filter to pull back the total just that the total was only correct on the first page, otherwise it would show total _remaining_. I'm going to dig into the code a little to see if there is a better way to do it but i

[2022-03-14 00:58] benknight opened #2297 "Version missing from EnqueuedAsset types"
Script and stylesheet versions don't resolve correctly because they reference an undefined filed named `$version` on the dependency objects. Desired behavior for the resolver would be to return `$ver` if it's set, and fall back to `$default_version` so that consumers can use query string `?v=...` to manage caching the same way native themes do.

https://github.com/wp-graphql/wp-graphql/blob/develo

[2022-03-14 05:28] justlevine commented on #2297
Hey @benknight thanks for reporting the issue, and the possible fix!

Few notes after investigation:
- Many scripts and stylesheets dont have a `$ver` specified in `global $wp_{scripts|styles}`, which as far as I can tell is on only programmatic way to get the list of assets. Please correct me if I'm wrong.
- The `$default_version` doesnt exist on the individual `_WP_Dependency`, but instead is a

[2022-03-14 06:17] dam6pl commented on #2084
@justlevine thanks! Yes, I checked on my instance (v1.6.12), and the `menuItems` resource is empty when nothing is added.

[2022-03-14 15:26] benknight commented on #2297
@justlevine In my case, we encountered a bug because in order to use blocks, it's necessary to include the blocks stylesheet at `/wp-includes/css/dist/block-library/style.min.css`. However in a recent version of WordPress many of the block's styles changed which broke our post styles because many users still had the old stylesheet cached. This is solved in native by appending the version number to

[2022-03-14 17:25] justlevine commented on #2297
#2259 is tracking that, and you can use the provided snippet locally in the interim - only thing that isnt are layout styles, since theyre not saved in `global-styles` (see WordPress/gutenberg/issues/35376).

Regarding this issue, i'm going to give it a few days in case someone shares an edge case for the version that needs to be included, and then if nobody else has yet will get to work on the PR

[2022-03-15 15:35] benknight commented on #2259
For anyone looking to patch this on their sites until a fix is published, here's a correct working version of the code:

[code]

[2022-03-15 15:37] benknight commented on #2259
@justlevine perhaps per our discussion in #2297 it would make sense to provide the global stylesheet inside of EnqueuedStyles (as opposed to a field on RootQuery as shown in the temporary fix above). This would be more idiomatic to WordPress since the global stylesheet is in fact enqueued along side other stylesheets.

[2022-03-16 09:14] esamattis commented on #2282
1.7.0 broke wp-graphiql for us since we install from Packagist but I guess we can just move to the [wp-packagist version](https://wpackagist.org/search?q=wp-graphql&type=any&search=) to get the pre-build version.

You could simulate the "middleware" with Github Workflows. Ex:

1. Trigger release by pushing to a `release/v1.7.2` **branch**
2. (run tests)
3. Build the app
4. Commit the build assets

[2022-03-16 16:08] jasonbahl commented on #2282
@esamattis ya, that might be something to consider 🤔

You could also add a `post-install-cmd` to your composer.json that runs `npm install && npm run build` in the wp-graphql plugin after install: https://getcomposer.org/doc/articles/scripts.md#command-events

[2022-03-16 16:20] justinradomski opened #2300 "Post Types Order by Nsp Code prevents GraphQL pagination on import into Gatsby"
When using the Post Types Order plugin by Nsp Code on posts types with more than 100 posts, you'll notice that only the first 100 posts are pulled into Gatsby's GraphQL and they come in with a bunch of duplicate post errors in the console.

Initially it will appear that 200 posts are pulled in `success  gatsby-source-wordpress  Post - 14.561s - fetched 200`, but that's only because of the duplicat

[2022-03-16 17:07] esamattis commented on #2282
This feels a bit awkward solution because now you need to have node.js installed to install it with Composer  :/

I guess most people have it is installed but there are some caveats to consider:

- What if the user has too old node.js/npm version installed?
    - It would be pretty weird to get npm install errors from running `composer install` 😅
- CI environments / Docker container builds might n

[2022-03-17 18:12] desmondhoward commented on #874
any update on this? a `deregister_graphql_mutation` function is crucial as the typings for previously registered mutations stick around forever and can't be updated.

[2022-03-17 18:15] jasonbahl commented on #874
@desmondhoward It's not been a priority to work on yet. If it's causing issues, I'd love to see a PR tackling this.

Let me know if you're interested in working on a PR?

[2022-03-17 18:22] desmondhoward commented on #874
unfortunately not willing to work on a PR since I am not well versed in PHP.
please let me know if this will be added to an upcoming milestone though.

[2022-03-17 18:39] jasonbahl opened #2301 "The RAW enum argument should explain that it's only visible for authenticated users"
When querying for content or excerpt on content nodes (posts, pages, etc) the `content` and `excerpt` fields can be queried for with a `format: RAW` argument.

The `RAW` content will only be returned to authenticated users.

The description of the RAW enum should explain this.

Currently the descriptions are as follows:

![CleanShot 2022-03-17 at 12 38 13](https://user-images.githubusercontent.com

[2022-03-17 23:12] travisanderson commented on #261
This is so strange, and so is the solution to work around the plugin.  Maybe a productive suggestion would be in the plugin, to add a small settings page, and have an input field where the person can change the limit there, without having to work around the plugin?  Also, error reporting would tell you "only returning the first 100 of n records...you can raise the limit in settings"...and if you a

[2022-03-18 16:49] justlevine commented on #261
@travisanderson the performance issue isnt about when the query is made (putting aside that lengthy build times are also not great) but rather the database performance of trying to get all that data in one request. It's really easy to crash a server if you not careful about how you design your query.

IMO pagination should be encouraged, and I think a soft limit of 100 is pretty reasonable. It's f

[2022-03-18 19:38] ttstauss commented on #1220
Hello, hoping someone can point me in the right direction. Been using WPGraphQL without issue and it's been awesome. I recently set up ACF and WPGraphQL for ACF along with a custom ACF block (a simple relationship field). When I attempt to run a query on blocks, I'm getting the following `debugMessage`: `DOMDocument::loadHTML(): Argument #1 ($source) must not be empty`. The error only happens when

[2022-03-20 05:40] justlevine commented on #2300
It shouldn't be assumed that 3rd party plugins are compatible with WPGraphQL
Putting aside any possible issues with `graphql_max_connection_limit`(https://www.wpgraphql.com/filters/graphql_connection_max_query_amount/), my guess is that Post Types Order is doing something weird when it updates the menu order, possibly due to [how late they're hooking their filters](https://plugins.trac.wordpress.o

[2022-03-22 21:29] ltroya-as commented on #1681
Hi @studiohic, did you do something to get the cloudinary URL for the featured image? I always get the Wordpress media URL

Kind regards

[2022-03-22 21:49] studiohic commented on #1681
@ltroya-as From memory I think I was using the Cloudinary plugin for WP. It’s been a while since I used that stack.

[2022-03-23 00:03] kchapple opened #2305 "Parent relation not filtering properly when using hashed id"
I was having an issue querying a parent/child using the 'id' field (hashed id) on a custom post type. I was also able to reproduce the error with posts and revisions, with no other plugins activated using WP GraphQL Version 1.7.2.

Running the following queries I would expect GetRevisions and GetRevisionsHash to return the same results. Instead, GetRevisions returns the expected 2 results, while G

[2022-03-23 15:09] drozzi-pro opened #2306 "Failed to open stream: No such file or directory plugins/wp-graphql/build"
When installing the plugin via composer.
I get an error: `plugins/wp-graphql/build/index.asset.php - failed to open stream: No such file or directory`

I noticed that there is no build folder in the plugin folder at all
I went to the plugin folder executed

the `npm i` and `npm run build` commands and the problem went away, but I want to inform you that there is no build folder in the code that in

[2022-03-23 18:22] justlevine commented on #2306
Hey @drozzi-pro ,

Any chance you downloaded the _branch_ directly from GitHub? (vs as a composer dep, downloading the release, or downloading/installing from wordpress.org?)
If so, I believe that's intentional behavior.

[2022-03-23 18:24] justlevine commented on #2306
Duplicate of #2282

[2022-03-23 18:24] #2306 closed

[2022-03-24 15:15] kchapple opened #2307 "The Filter `graphql_post_object_insert_post_args` does not work"
The mutation we are using requires the post field 'post_date_gmt' be set in order to show up in the results.

Rather than modify the plugin, I we are attempting to use the filter 'graphql_post_object_insert_post_args' to set the field.

However, GraphQL throws an exception saying that there are "too few arguments".

Filter hook:
[code]

Error:
[code]

Stack:
[code]

[2022-03-24 15:25] mindctrl commented on #2307
You need to specify the number of parameters... try this:

`add_filter('graphql_post_object_insert_post_args', 'gliply_graphql_post_object_insert_post_args', 10, 4);`

Note the `10, 4` part at the end. That's the priority and number of arguments. If you don't specify the latter, WP will trigger these errors when you pass more than one argument to the callback function.

[2022-03-24 15:35] kchapple commented on #2307
Thanks! Will try it!

[2022-03-25 09:14] Talented-Business opened #2308 "The filter commentType for commets doesn't work"
query MyQuery {
  comments(
    where: {commentType: "custom_comment", contentId: "67"}
  ) {
    edges {
      node {
        content
        type
        databaseId
      }
    }
  }
}
When usign above query, it doesn't filter the comments, it returns all comments.
Please fix it.

[2022-03-25 09:23] Talented-Business opened #2309 "The Filter hook comment_text should contain 3 params such as apply_filters( 'comment_text', $comment_text, $comment, $args )"
In 168 line of /src/Model/Comment.php,

return $this->html_entity_decode( apply_filters( 'comment_text', $content ), 'contentRendered', false );

This comment_text hook generates an error because it has only one param.

In 1028 line wp-includes/comment-template.php, you can find the following code.
       /**
	 * Filters the text of a comment to be displayed.
	 *
	 * @since 1.2.0
	 *
	 * @see Walk

[2022-03-25 15:26] #2307 closed

[2022-03-25 18:00] justlevine commented on #2305
@kchapple Unless I am misunderstanding the issue, this is expected behavior and _all_ where args throughout core schema require the use of databaseId, not the global id.

[2022-03-27 18:12] intelligence commented on #1873
My suspicion is that ACF is causing performance issues. It would be nice to know if you discover the culprit @joaovpmamede.

[2022-03-28 19:45] jasonbahl opened #2312 "GraphiQL: not working properly when .htpasswd is in place"
It was reported in Slack that GraphiQL in v1.7+ no longer loads when an .htpasswd is in place, but works in v1.6.12

I've not reproduced this, but I _believe_ that the issue is around the fetcher that GraphiQL now uses and can toggle between a "public" fetcher and an "unathenticated" fetcher.

I _believe_ we need to always fetch the Schema using the authenticated fetcher

[2022-03-29 02:06] stephenwongcandr opened #2313 "After Update the WPgraphQL , the IDE is not working anymore"
I am using :
Custom Post Type UI 1.10.0
ACF Pro 5.7.12
WPGraphQL for Advanced Custom Fields 0.5.2
and update WP GraphQL from 1.6.5 to 1.7.2
before the update, it works fine,
but after updating the WPGraphQL from 1.6.5 to 1.7.2, the IDE is not working(loading) all the time until I disable one of the above plugins, how can I fix it? since 1.6.5 have some preview bugs, it is unable to get the correct

[2022-03-29 19:39] bhardie commented on #2313
@stephenwongcandr, thank you for your report.  Which plugin do you have to deactivate to get the IDE working?  Our guess is that it is WPGraphQL for ACF.  Can you please confirm and provide a json export of your ACF field groups so we can try to reproduce?

[2022-03-29 19:48] bhardie commented on #2305
Related to #997

[2022-03-30 01:59] stephenwongcandr commented on #2313
hi @bhardie, when I turn off the Custom Post Type UI plugin or WPGraphQL for ACF plugin, the IDE will work again.
here is the link one time link of acf exported json:
https://file.io/l3tzImadpXQX

[2022-03-31 13:44] esilverman682 opened #2315 "Wordpress Error: Undefined property: WP_Post_Type::$graphql_single_name"
Getting this error when opening up ACF custom fields.

wp-content/plugins/faustwp/includes/replacement/callbacks.php:151

WPE\F\R\post_preview_link()wp-includes/class-wp-hook.php:307apply_filters('preview_post_link')wp-includes/link-template.php:1428

get_preview_post_link()wp-admin/edit-form-advanced.php:121

All custom fields are filled out correctly. Sorry Im bit of a novice with this.

[2022-03-31 15:07] justlevine commented on #2315
Hey @esilverman682 ,

At first glance this seems to be an issue with FaustJS, which was [fixed 2 weeks ago](https://github.com/wpengine/faustjs/commit/a90eff5c8c224c7bbbc15cec9ae1bcb931021a0a) and I'd assume will be in the next release.

Can you disable the FaustWP plugin temporarily and open up ACF to confirm?

[2022-03-31 15:14] justlevine commented on #2105
Hey @FatmaMahmoud698 just wondering if you were able to resolve this issue.

[2022-03-31 15:15] justlevine commented on #2109
Hey @FatmaMahmoud698 , let us know if you're still facing this issue.

[2022-03-31 15:20] #2249 closed

[2022-03-31 15:27] justlevine commented on #2226
Hey @IlirBajrami have you looked into the other `RootQueryToPostConnectionWhereArgs`?

Querying posts by a category slug can be done with `categoryName`, as follows:

[code]

And here it is in action:
![image](https://user-images.githubusercontent.com/29322304/161092123-b83d5a6b-f711-4de2-b5df-a78c9303e5ee.png)

[2022-03-31 21:56] #2084 closed

[2022-03-31 23:17] esilverman682 commented on #2315
1. Turned FaustWP plugin off
2. Clicked Custom Field (ACF) -> no error was found

[2022-04-01 10:04] donalffons opened #2316 "`asPreview` gives null value for all queried fields"
Hi,

thanks for all your great work on `wp-graphql`. I'm using this tool in version `1.7.2` with Gatsby `4.9.3`, Gatsby-Cloud and Wordpress `5.9.2`. I want to use the "preview" feature that comes with Gatsby and Gatsby-Cloud. But generating previews of posts and pages fails (due to all queries returning null).

If I understand correctly, I can simulate Gatsby's preview request by executing the fol

[2022-04-01 10:21] donalffons commented on #2316
Can this be related to the fact that Gatsby is not authenticated when it generates these previews?
When I'm making the request as a logged-in user in GraphiQL, it returns the correct results.
![image](https://user-images.githubusercontent.com/33040347/161244964-44514182-94f7-4731-92e9-5c3d10d61860.png)

If that is the issue, is there a way to make all posts and pages (even draft and previews of th

[2022-04-01 10:25] radscheit commented on #2316
+1

[2022-04-01 10:49] justlevine commented on #2316
Hey @donalffons
This is indeed intended behavior as WPGraphQL respects WordPress's roles and permissions.

To enable previews in Gatsby, follow the instructions from the [WPGatsby plugin](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/docs/tutorials/configuring-wp-gatsby.md#setting-up-preview).

If you're really sure you want to overwrite this behavior in WPGraphQL

[2022-04-01 11:07] justlevine commented on #2315
@esilverman682 glad to hear it!

If you dont want to wait for the next FaustWP plugin release ( and assuming you're not running in production yet), I suggest you download the plugin from the [`canary` branch](https://github.com/wpengine/faustjs/tree/canary/plugins/faustwp).

Alternatively, you could also leave the faust plugin disabled while you configure ACF, and reenable when you're done. From m

[2022-04-01 11:09] #2315 closed

[2022-04-01 11:14] donalffons commented on #2316
Thanks a lot for the quick reply!

I followed these instructions (and went through them several times).

I would prefer it if Gatsby would authenticate properly when creating the previews, instead of just making everything publicly accessible. But I guess that it doesn't (could be wrong) and I don't see any errors anywhere - except when all queries return `null` during the build.

That might be a

[2022-04-01 11:22] justlevine commented on #2131
I've reproduced this in WPGraphQL v1.7.2

[code]
![image](https://user-images.githubusercontent.com/29322304/161253751-1224c5f5-eb25-495d-bda9-cdc519679864.png)

[2022-04-01 12:16] justlevine commented on #2316
[WPGatsby _does_ authenticate previews as generic admin user](https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-source-wordpress/docs/features/preview.md#how-preview-works-behind-the-scenes), keeping WP's roles and permission management intact. If it's not working for you I suggest contacting Gatsby support or opening an issue in the WPGatsby repo.

Here's an example of using `graphql

[2022-04-01 13:08] justlevine commented on #782
I'm a bit wary of this idea.

A least-common-denominator of fields would need to be `key`, `label`, and `value`. Anything more would likely requiring _overwriting_ the interface types, and even as is, `value` can be pretty much anything for any field other than for `Text` fields (numbers can be int or float, choices can be a single / _list of_ `String`, `Int`, or in most cases ideally a custom `En

[2022-04-01 13:11] justlevine commented on #1300
closing in favor of #889

[2022-04-01 13:11] #1300 closed

[2022-04-01 13:24] justlevine commented on #942
@jasonbahl from my understanding of the code ([CommentCreate.php](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Mutation/CommentCreate.php#L190), [CommentUpdate.php](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Mutation/CommentUpdate.php#L133), errors are already thrown if the the user cannot create/update the comment (be it due to permissions or other issues) by the time

[2022-04-01 17:31] justlevine commented on #1434
`RootQueryToPostConnectionWhereArgs.notIn` will let you exclude by post _ID_s, but not slugs. This is in line with the [WP_Query API](https://developer.wordpress.org/reference/classes/wp_query/#post-page-parameters).

Related: https://github.com/wp-graphql/wp-graphql/issues/1385 (tl;dr creating a standard schema for filters that isn't necessarily tied to WP's expectations).

[2022-04-01 17:43] justlevine commented on #1444
As of writing (v1.7.2) `RootQueryToTermNodeConnectionWhereArgs` have separate `order` and `orderby` arguments, instead of the `orderby { field, order }` object fields have.

Completing the change (for a consistent API) would require a breaking schema change.

[2022-04-01 17:49] justlevine commented on #1588
Related: #331

[2022-04-01 18:00] justlevine commented on #1640
As of writing (v1.7.2), this seems to be fixed.  @westende are you still running into this issue?

[code]

![image](https://user-images.githubusercontent.com/29322304/161317253-80e8eb97-6e0f-41b6-81e8-d4f03047d4df.png)

[2022-04-01 18:19] justlevine commented on #1884
Hey @indie-ridge-dev ,

WPGraphQL uses the native WP_Query to sort posts by menu order ([source](https://github.com/wp-graphql/wp-graphql/blob/7fe5cc0024afe6b8d4e12d56349589f774f8313d/src/Data/Connection/PostObjectConnectionResolver.php#L331)).

This makes me believe that the issue is with your config( aggressive caching maybe?), or something with WordPress itself.

What happens if you use WP_Quer

[2022-04-01 18:44] justlevine commented on #1899
@drewbaker In your above code snippet, you're not actually accessing the global `$post` object. Rather, you're trying to `get_post( { undefined }->databaseId )` which defaults to using the global object. Regardless,  you **dont want to be using the global**, since as you see the actual queried object is different based on context.

Instead, you _should_ be getting the ID from the resolver's first

[2022-04-01 19:15] justlevine commented on #2066
The issue is indeed with Polylang (tracking: https://github.com/valu-digital/wp-graphql-polylang/issues/35).

Currently, this can be handled by either [`graphql_pre_resolve_uri`](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/NodeResolver.php#L89) or [`request`](https://github.com/valu-digital/wp-graphql-polylang/issues/35#issuecomment-1012572074) (h/t @simplenotezy ), but we shoul

[2022-04-01 19:47] justlevine commented on #2305
@bhardie you sure this would be breaking? the `parent` arg already takes an `ID`, so if WPGraphQL was to implement this (not saying it necessarily should), we could just just run `ID` types through a parser function to get the database ID.

Something along the lines of:

[code]

[2022-04-01 20:36] #2087 closed

[2022-04-02 10:50] justlevine commented on #2309
Per [#24913](https://core.trac.wordpress.org/ticket/24913#comment:1):

(emphasis mine)

Following the text I bolded, we should indeed be passing `$this->data` to the filter. `WP_REST_Comments_Controller::prepare_item_for_reponse()` does this as well ([line 1090](https://developer.wordpress.org/reference/classes/wp_rest_comments_controller/prepare_item_for_response/))

[2022-04-02 14:14] justlevine opened #2321 "`commentTypeNotIn` input arg should be type `String[]`"
Per the [`WP_Comment_Query` api](https://developer.wordpress.org/reference/classes/WP_Comment_Query/__construct/), `commentTypeNotIn` should be changed [here](https://github.com/wp-graphql/wp-graphql/blob/58ecca1c263ca377787d863b731c6d342d3c017a/src/Connection/Comments.php#L284) from `'type' => 'String'` to `'type' => [ 'list_of' => 'String' ]`.

This is a breaking schema change.

[2022-04-02 16:40] IlirBajrami commented on #2226
Hi @justlevine Thanks for the neat solution. Even thought my solution works as expected for now, i will keep this in mind for the next project. Definitely will use it.

[2022-04-02 16:47] #2226 closed

[2022-04-03 02:20] justlevine commented on #1140
This was fixed in #1368. Closing

(screenshot from 1.7.2)
![image](https://user-images.githubusercontent.com/29322304/161408409-17b96654-3ad6-4716-b8b8-fa94b648eae6.png)

[2022-04-03 02:20] #1140 closed

[2022-04-03 02:23] justlevine commented on #2282
Related: #1831

[2022-04-03 02:33] justlevine commented on #1975
@romcik this is indeed a separate bug. I've addressed it in #2323

[2022-04-03 02:37] justlevine commented on #1952
👋 @dmbrooking were you ever able to sort this out?

[2022-04-03 03:15] justlevine commented on #874
@jasonbahl is there currently a way to deregister a GraphQL `type` (not a `field` on a type) that I'm missing, or do we need to add a new filter to short circuit `TypeRegistry::register_{type}()`?

[2022-04-03 04:04] drewbaker commented on #1899
Fixed it with https://github.com/funkhaus/fuxt-backend/commit/b58f56634dcd447b5ab16466c645cc56794d3f09

Thanks so much for this, helps me to better understand these resolvers!

[2022-04-03 04:04] #1899 closed

[2022-04-03 09:07] FatmaMahmoud698 commented on #2109
it is solved by use package related to custom type and graphql,

[2022-04-03 10:02] #2109 closed

[2022-04-03 14:43] marco910 opened #2324 "Wrong hyperlink URL in Next.js"
On my WordPress website, I installed this plugin and use it to output the content on my Headless Next.js website.

In WordPress, I use Advanced Custom Fields and the Classic Editor, among others. When I place a hyperlink to another page of the WP website in the Classic Editor, the permalink of the linked site (or item) is placed as a link target. When I now query the page where I placed the hyperl

[2022-04-03 15:43] dmbrooking commented on #1952
Yes I did get it fixed. For posterity sake, I honestly don’t remember exactly what the issue was or how I fixed it but the comment about CORS does jostle something in my memory so it most likely was that.

[2022-04-03 15:43] #1952 closed

[2022-04-03 17:20] justlevine commented on #2324
Hey @marco910

This is indeed intentional behavior. On its own WPGraphQL is fairly agnostic as to where your put your frontend, but the default assumption is that you're _replacing_ the WordPress frontend, and that you're maintaining the permalink structure you've configured in WordPress.

While Gatsby and other opinionated frameworks (headless-wp-starter, FaustJS) will overwrite the urls to fit t

[2022-04-03 18:00] justlevine commented on #1733
While reviewing #874 , I couldn't find a deregister any GraphQL _types_ ( `deregister_graphql_field()` only unhooks the field from the parent type ), a prerequisite for any type-based deregistration (e.g objects or mutations) .

This isn't an easy feat, because in order to _fully_ remove a type from the schema you also need to:
1. Remove any fields that resolve to that type.
2. Remove any connecti

[2022-04-03 18:17] marco910 commented on #2324
@justlevine The permalonk structures WP is already the same as on my Next.js site. So I only would have to remove the domain and protocol from the link to get the relative url.
What's the easiest way to do that?

[2022-04-03 18:34] justlevine commented on #2324
In wp-config.php you can add `define( 'WP_HOME', 'http://myfrontend.com' );` to replace the base domain to frontend urls.
If you want to made all urls in the post/page content relative, you can use WP's `the_content` filter to `preg_replace` any `href` attributes. There are a few plugins in the WP Plugin  directory that will do this for you too.

[2022-04-04 05:07] sirjeff commented on #2313
Hi, I have a similar problem, but seems to be since upgrading to WordPress 5.9.2

When on WP 5.9.0 , I can run the GraphiQL IDE on GraphQL 1.7.2
but when on WP 5.9.2 only GraphQL 1.6.12 works

The error I am getting is
 Warning: include(...web/app/plugins/wp-graphql/build/index.asset.php): failed to open stream: No such file or directory in ...web/app/plugins/wp-graphql/src/Admin/GraphiQL/GraphiQL

[2022-04-04 16:48] #1975 closed

[2022-04-04 20:56] jasonbahl commented on #532
related #2322

[2022-04-04 21:04] jasonbahl commented on #764
Now that WPGraphQL has support for Interfaces Implementing Interfaces, I think the approach here should be something to the tune of:

- Change `MediaItem` to be an Interface that contains general fields of _all_ media items, regardless of specific type
- Introduce new interfaces:
  - Image
  - Video
  - text
  - audio
  - application
  - other? (document, etc?)
- Introduce specific GraphQL Types f

[2022-04-04 21:13] jasonbahl commented on #2305
I think the ultimate goal, and why @bhardie labeled it breaking, is what's described in #997

Ideally, any field that is asking for an ID (in this case the `post( id )` and the `where: { parent }` fields) should be of type ID and accept either a Global ID or a databaseId.

#2322 gets us a step in the right direction toward getting the inconsistent behavior resolved, but some fields are still of th

[2022-04-04 22:27] jasonbahl commented on #2096
closed per #2248

[2022-04-04 22:27] #2096 closed

[2022-04-04 22:38] sirjeff commented on #2313
I've disabled all plugins but GraphQL and still the same error.
I then downgraded to 5.9.0 to see if it's still working and ....... nope!
So the error points to src/Admin/GraphiQL/GraphiQL.php on line 132

`$asset_file = include( WPGRAPHQL_PLUGIN_DIR . 'build/index.asset.php' );`

There is no "build" directory at plugins/wp-graphql

If I download the package for 1.7.2 it does have the build dir. H

[2022-04-04 23:05] sirjeff commented on #2313
Ok so it depends on where you get GraphQL from. I'm using Composer and both of these locations give me version 1.7.2

`wp-graphql/wp-graphql`
`wpackagist-plugin/wp-graphql`

However `wp-graphql/wp-graphql` does not have the "build" directory.

Still no go on the GraphiQL but.
Switched off all the plugins and I can see the new UI but just the loading spinner ....

No errors in the log, but getting

[2022-04-04 23:22] sirjeff commented on #2313
Removing spaces in the custom post types fixed the issue :'(
These two puppies :
`graphql_single_name`
`graphql_plural_name`

[2022-04-04 23:56] justlevine commented on #2305
The nuance I'm making is that while #997 _is_ breaking, #998 is *not*. If an input type is already `ID` (like `RootQueryToContentRevisionUnionConnectionWhereArgs.parent`), then its not a breaking change for that field to handle both database and global ids.

And considering #1095 and the consistent reports of users trying to use a global database ID  in a `ID` type input across the schema (like th

[2022-04-05 00:10] justlevine commented on #2313
Related: #2282

[2022-04-05 00:33] justlevine commented on #2282
While the docs should definitely be updated, I'm not sure if it's the best alternative to bundling with packagist - at least in the short term.  People who are already using composer are going to update at some point, and since they already had things working they're not going to check the installation docs.

Maybe we should log a composer warning  (e.g. with `packages.json` telling them to switch

[2022-04-05 15:06] jasonbahl opened #2326 "Add actions for Root Resolver types"
As a developer hooking into the WPGraphQL lifecycle, I would like to be able to hook in only when a Query, Subscription or Mutation is executing.

Currently, we can do something like:

[code]

But, the action `graphql_after_resolve_field` is applied to every field in the resolve tree, so an action like this will execute a lot more than it needs to.

I think it could be beneficial to determine this

[2022-04-05 15:23] jasonbahl commented on #2282
ya....I'm thinking it probably makes the most sense to have some workflow build the JS and commit it back to the source during the release cycle. 🤔

That way folks can still use composer without an npm build script to run, but folks that  want to work on the JS side of things can run the scripts to re-build, run in dev mode, etc.

So, we'd be back to versioning the built files, but with better aut

[2022-04-05 19:27] jasonbahl opened #2329 "Add "path_coverage" for Codeception tests"
PHPUnit added support for "path coverage" (see: https://doug.codes/php-code-coverage#path-coverage) that will allow for things like ternary operators to show in coverage properly.

There's been some code style discussions (ex: https://github.com/wp-graphql/wp-graphql/pull/2298#issuecomment-1088047366) where we pointed out one trade-off to using ternary operators is the lack of accurate code covera

[2022-04-05 19:41] jasonbahl opened #2330 "failing e2e test for graphiql"
There is a failing e2e test for graphiql that started failing after capability change was made to the Plugins model.

This PR: https://github.com/wp-graphql/wp-graphql/pull/2327 had the e2e test pass.

But, upon merging, this e2e test begun failing: https://github.com/wp-graphql/wp-graphql/runs/5839902083?check_suite_focus=true

I'm having a hard time seeing the cause from this PR 🤔

We should inv

[2022-04-05 21:09] #2309 closed

[2022-04-05 21:18] jasonbahl commented on #178
closed by #2298

[2022-04-05 21:18] #178 closed

[2022-04-05 23:58] justlevine commented on #998
## To do
### Mutations
- [ ] Comment mutations ( #2328 )
- [ ] MediaItem mutations ( #2331 )
- [ ] PostObject mutations
- [ ] TermObject mutations
- [ ] User mutations
### Connections
- [ ] Comment connections
- [ ] MenuItem connections
- [ ] PostObject connections
- [ ] TermObject connections

[2022-04-06 03:13] stephenwongcandr commented on #2313
yes ,in my case, the new version of wpgraphql and acf pro will throw the naming error in ide if you're not using camelCase,
I facing the same error when I upgrade the acf pro from 5.7.12 to  5.12.1, then I changed the name to camelCase to fix it, so I believe if you naming wrong, the new version plugin will throw some error.
also , if you using the plural_name as same as the single_name, the plura

[2022-04-06 03:29] justlevine commented on #2313
My memory is clearly horrible because I was under the impression that in <1.7 you also got errors if there was a space in the name or duplicate fields...

@stephenwongcandr does this no longer throw a `duplicate_field` error?

[2022-04-06 04:04] stephenwongcandr commented on #2313
I was using 1.6.5 and using 1.6.12 now.
I don't see that error before, it just works normally, the only problem is the single_name's query in ide is missing.

[2022-04-06 16:52] jasonbahl commented on #2282
I have a PR in progress for this.

The plan:

- add the `build` directory & built assets for GraphiQL back to the repo
- remove `post-install-cmd` from composer.json so that running `composer install` does not also run `npm ci && npm run build`
- Add a github workflow that checks to see if any given Pull Request or push to develop/master includes changes to `/packages` directory, and if so, run th

[2022-04-06 16:59] jasonbahl commented on #2282
@esamattis @justlevine I've opened a PR to address this: https://github.com/wp-graphql/wp-graphql/pull/2332

Let me know what you think. Does this approach make sense?

[2022-04-06 20:06] #2282 closed

[2022-04-06 21:09] jasonbahl commented on #2282
Ok, so we've got a Github action running for this now!

If changes are made to either `/build` or `/packages` directory, we run `npm ci && npm run build`, then commit and push the changes to the `/build` directory.

This is triggered for pushes to `develop` and `master`, so any Pull Requests that are merged will get this treatment.

So now `develop` and `master` should both be updated with the lat

[2022-04-07 15:05] jasonbahl commented on #2330
This appears to have been a one-off thing. Tests are running and passing in subsequent merges. Closing this as I don't believe there's any action to take.

[2022-04-07 15:07] jasonbahl commented on #2313
@sirjeff WPGraphQL v1.8.0 was just released this morning and is available on Composer.

In this release, the `/build` directory is back to being versioned and included in the package that's installed from Composer.

GraphiQL _should_ work again for folks installing via composer, without the need to run `npm install && npm run build`.

Can you confirm that installing v1.8.0 via Composer gets you ba

[2022-04-07 15:53] jasonbahl commented on #2282
👋🏻  WPGraphQL v1.8.0 has been released and this should be resolved. You should be able to install WPGraphQL via composer and have GraphiQL included now without needing to run `npm install && npm run build`.

If ya'll have issues with installing composer, please open another issue with steps to reproduce, and mention this issue for reference. 🙏🏻

[2022-04-08 02:48] sirjeff commented on #2313
Yes working as advertised now :) thanky @jasonbahl
Still got the issue with no spaces in Custom Post Type names ->
`Uncaught (in promise) GraphQLError: Names must only contain [_a-zA-Z0-9] but "Event CodeIdType" does not.`
That's fine, I've already changed the code, so no more spaces.
However I have a new issue which may or may not be related .....
... so will keep on it and see if it's me or the

[2022-04-08 03:55] justlevine commented on #2313
This is in accordance with the [GraphQL spec](https://spec.graphql.org/June2018/#sec-Names)

[2022-04-08 03:56] sirjeff commented on #2313
Yup all good I understand. Just testing :)

[2022-04-10 01:40] justlevine commented on #998
@jasonbahl mutation prs are ready for review and merge.

[As mentioned](https://github.com/wp-graphql/wp-graphql/pull/2328#issuecomment-1089395266), connections are more complicated - I'll begin playing around with different ideas soon.

[2022-04-10 07:31] alexkey89 opened #2339 "Issue with cursor pagination, some woocommerce products are skipped"
**Description:**
I'm trying to use cursor pagination to load woocommerce products using wpgraphql. It works fine but it skips some products. E.g I have 232 published products. With rest api using offset pagination it works fine and loads everything, with wpgraphql however it skips some. Some of the products are published with same date. That could be an issue? I'm expecting to load all products wi

[2022-04-10 07:33] alexkey89 commented on #2339
<img width="1654" alt="Screenshot 2022-04-10 at 10 21 49" src="https://user-images.githubusercontent.com/5107980/162607676-e668ee21-c4e2-460b-a951-d96b2bc68d52.png">

[2022-04-10 08:38] alexkey89 commented on #2339
**UPDATE:** I noticed that some products had menu_order other than 0. That seemed to be the reason of this cause. I'm testing again to be sure but by executing this sql query to set all products menu_order to zero seemed to have fixed it.
`UPDATE wp_posts SET menu_order=0 WHERE post_type="product" AND post_status="publish";`

[2022-04-11 07:25] alexkey89 commented on #2339
**Steps to reproduce:**
1) Add manually to some woocommerce products some `menu_order` value other than `0`, could be `null` or different number
2) Then try to query products with wpgraphql IDE.
3) Use cursor pagination with `after: endcursors` to check all products.
You will see that all products with menu_order other than 0 are skipped.

**Potential fix** is to set all products `menu_order` to `

[2022-04-11 10:38] marco910 commented on #2324
Thanks, @justlevine

For everyone having the same problem: I added this line of code to my Next.js site to replace the WP domain in the `href` of links
[code]
It removes the CMS domain from all links, but does not replace the links with the next `Link` component. But I'm fine with that so far.

[2022-04-11 10:38] #2324 closed

[2022-04-13 12:51] pauljavascripting opened #2343 "v1.8.0 causing gatsby-source-wordpress error"
v1.80 was preventing my headless Wordpress site from building successfully with the following error:

gatsby-source-wordpress  Found a duplicate ID in WordPress - this means you will have fewer nodes in Gatsby than in WordPress. This will need to be resolved in WP by identifying and fixing the underlying bug with your WP plugins or custom code.

I reverted to v1.72 and the error disappeared.

Hope

[2022-04-14 15:25] justlevine commented on #2343
@pauljavascripting there's not really a lot to go on here. There's been some reports that v1.8.0 is [catching invalid GraphQL names that were sneaking by undetected in previous versions](https://github.com/wp-graphql/wp-graphql/issues/2313#issuecomment-1089729802).

To properly debug:
1. Deactivate all plugins and custom code except for WPGraphQL and WPGatsby, and confirm gatsby-source-wordpress c

[2022-04-15 21:01] jasonbahl commented on #2343
Hello, `wpgraphql.com` is running WPGraphQL v1.8.0 and WPGatsby v2.3.2 and I'm able to successfully build my site on Gatsby.

I'd like to understand more about this regression, as it seems like it's affecting some other folks in the WPGraphQL Slack channel as well (see: https://wp-graphql.slack.com/archives/C3NM1M291/p1650019084899219)

I'm not currently able to reproduce this based on my use of W

[2022-04-17 11:28] idrissAitHaddou commented on #451
i have same problem , i try this command /graphql?query={posts{nodes{id,title}}}  but not working
this is error : "error": "Failed to fetch. Please check your connection" in graphql playground
this is error ; {"errors":[{"message":"Syntax Error: Unexpected <EOF>","extensions":{"category":"graphql"},"locations":[{"line":1,"column":22}]}]} in browser where try http://127.0.0.1:8000/graphql?query=%22

[2022-04-17 13:25] jasonbahl commented on #451
@idrissAitHaddou do you have permalinks set for your site?

If not, the endpoint would be `site.com/?graphql`

[2022-04-17 13:31] justlevine commented on #451
@idrissAitHaddou pretty sure the issue is that you're wrapping your query in quotes. it should be `[http://127.0.0.1:8000/graphql?query={post(id:1){title}}` (although you're going to get a different error with that particular query, since you need to specify an `idType`)

![image](https://user-images.githubusercontent.com/29322304/163716540-5b519b04-d88a-4bdf-81f0-709928623fbf.png)

[2022-04-17 13:39] justlevine commented on #451
@idrissAitHaddou pretty sure this is because you're wrapping the `query` param in quotes:
![image](https://user-images.githubusercontent.com/29322304/163716821-416a7b47-59a7-4df7-aabd-d19db331b45f.png)

It _should_ be without quotes `http://127.0.0.1:8000/graphql?query={post(id:1){title}}` (but your particular query will still throw an error since you need to specify an `idType` when supplying an

[2022-04-18 14:46] jasonbahl commented on #451
Ah! The error message is telling us.

Since you're trying to use the database ID as the ID, you need to specify the idType as well:

[code]

[2022-04-19 13:47] tsdexter opened #2344 "setting `wp_block` to `show_in_graphql` (reusable blocks post type) creates the graphql type but querying its nodes always returns `[]` or `null` for specific items"
Remember, an issue is not the place to ask general questions. You can use [Slack](https://wp-graphql.slack.com) for that ([join here](https://join.slack.com/t/wp-graphql/shared_invite/zt-3vloo60z-PpJV2PFIwEathWDOxCTTLA)).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a _bug_, please be sure to include the following:
- [x] A

[2022-04-19 15:37] justlevine commented on #2344
hey @tsdexter
IIRC, the `WP_Block` post type is not publicly queryable by default. What happens if you add `$args['publicly_queryable'] = true;` to your `custom_post_types()` function?

[2022-04-19 17:21] tsdexter commented on #2344
@justlevine that is working, weird though...I didn't have that previously and it was working - I still have the gatsby site from an old build running with reusable block content in it