[2019-04-26 20:02] seagyn commented on #825
Works perfectly! Thanks a lot!

[2019-04-26 20:04] jasonbahl commented on #825
![dancing](https://user-images.githubusercontent.com/1260765/56833634-3fd0a980-682c-11e9-9be3-da308f951484.gif)

[2019-04-26 20:11] #827 closed

[2019-04-27 18:58] dbvevo opened #833 "Query pages results in server error"
[code]

An argument anything other than Int 1, or 2 yields the following error.

[code]

[2019-04-27 19:34] jasonbahl commented on #833
@dbvevo I have an idea what the issue is. Do you have pages that were created without a post_author value in the database by chance?

[2019-04-27 20:15] dbvevo commented on #833
Just checked mysql and there are no null values in the post_author column.

[2019-04-28 04:58] jasonbahl commented on #833
@dbvevo do you have any filters on the GraphQL Schema at all?

This is a super common query. Seems likely that there’s an issue with the data you’re working with.

You may have found an edge case, but we’ll need more info to reproduce.

If you run this query on a vanilla WP install with just 3 pages published, I’m pretty certain this will work without error.

There may be something going on we hav

[2019-04-30 03:05] joshuaiz opened #834 "Get menuItem uri or slug"
When querying `menus` and their respective `menuItems` it would be great to be able to grab the `menuItem` uri or slug directly.

When working with headless WP and setting up menus, you really just want the page slug/uri to set up your link elements.

So something like this:

[code]

[2019-05-01 18:13] joshglenn opened #835 "Hooking WooCommerce Categories to GraphQL"
Good afternoon! Loving wp-graphql so far. It's a very important step forward for wordpress, in my opinion.

Ok, so I am trying to hook up graphql to woocommerce. I am able to get some fields back from the product using the instructions in #321. In fact, my issue is somewhat related to #321.

However, when I try to get categories belonging to a product, I get server errors when the ID is queried. T

[2019-05-01 18:23] renatonascalves commented on #835
@joshglenn Did you try this project https://github.com/kidunot89/wp-graphql-woocommerce/ ?

[2019-05-01 18:28] jasonbahl commented on #835
@joshglenn Thanks for the kind words. Glad you're enjoying WPGraphQL.

I'd first recommend you check out the WooCommerce integration going on here: https://github.com/kidunot89/wp-graphql-woocommerce

It also looks like you might be on an old version of WPGraphQL?

Your code also looks like it's returning a `Taxonomy` type and not a Term type: `\WPGraphQL\Types::list_of(\WPGraphQL\Types::taxonomy(

[2019-05-01 18:33] joseffb-mla opened #836 "Permission Cap issue: EditOtherCustomPost required for post creation."
I run into an issue creating new post in a custom post type (i.e. collection) without explicitly setting edit_other_collections capability for user role.

Works fine when I use the edit_other_collections capability.

I can add the CPT type via admin fine, cross check in mysql and post created with correct post type and user.

My expectation was to have functionality with set edit_collection capabi

[2019-05-01 20:29] joshglenn commented on #835
Thank you @renatonascalves and @jasonbahl ,  I am using that plugin now. It works much better.

I'm using the master branch, I think it is the most recent. Kind of a moot point now, `wp-graphql-woocommerce` is a much more mature solution. Thanks again!

[2019-05-02 23:05] drewbaker commented on #834
This might help, if it works for pages: https://github.com/wp-graphql/wp-graphql/issues/810

I would like to know if the menuItem is a page/post/categories or a custom item. Basically it's important to know if the user has entered an external URL, it's hard to infer that from parsing the URL.

[2019-05-02 23:17] jasonbahl commented on #834
So, there’s a `connectedObject` field that allows you to get properties of the connected object via a union query.

`...on Page { url }` for example

[2019-05-02 23:18] jasonbahl commented on #834
Some docs here: https://docs.wpgraphql.com/getting-started/menus

[2019-05-02 23:24] drewbaker opened #839 "menuItem cssClasses is always null"
When doing the below query, `cssClasses` is always null, even if a class is specifically set in the menu under `Appearance > Menus` in WordPress dashboard.

[code]

[2019-05-03 01:00] hsimah opened #840 "Pass $source to edge resolver"
### When you open an _issue_ for a feature request, please add as much detail as possible:
- [x] A descriptive title
- [x] A description of the problem you're trying to solve, including *why* you think this is a problem
- [x] An overview of the suggested solution
- [x] If the feature changes current behavior, reasons why your solution is better

When resolving an edge I need both nodes. Currently

[2019-05-03 09:52] hybridwebdev commented on #820
Hi, I'm also using your system as a framework I'm building so you'll probably end up seeing me a lot here from now on. I want to stay on topic for the thread, so I'll keep my input to it specifically.

As a whole, I believe that your current handling of the entire posts concept is a little...er...wonky. First and foremost, as mentioned above, stuffing syntax like orderby in it's own object is coun

[2019-05-03 12:54] esamattis opened #842 "Add ::to_global_id( $id ) static methods to models?"
Ex.

[code]

[2019-05-03 13:02] jasonbahl commented on #820
The goal of GraphQL isn’t to simply bring WPQuery to the client. It’s treating WordPress data as a Graph.

I agree that the args for connections are funky, but more closely mirroring WP_Query is further from the goal of treating WordPress content as an application data graph.

The args will be changing, but not to be closer to WP_Query, but further from it.

Terms like `post__not_in` only makes se

[2019-05-03 21:58] hybridwebdev commented on #820
To be honest, specifically with the posts query, being it's essentially an abstraction over wp_query, i strongly believe it's interface should be a 1 to 1 correlation for these reasons specifically:

1. As you said it allows a seasoned WP dev with backend knowledge to instantly use once they learn GQL syntax.

2. For those with no knowledge of the actual WP backend, they can still utilize the API

[2019-05-03 22:24] jasonbahl commented on #820
You’re welcome to filter in fields that mirror WordPress or use a competing implementation that provides a Schema shape like you’re suggesting.

The core of this project is not going in that direction though.

GraphQL is WAY bigger than WordPress, and this project is working toward bringing the GraphQL best practices to WordPress, not the other way around.

I’d suggest checking out graphql-wp, as

[2019-05-03 22:28] jasonbahl commented on #820
Also, fwiw, based on your last comment...the first use of the plugin was for server->server communication, not front end.

I work at a newspaper and we had serious problems with syndicating content over the WP REST API. WPGraphQL was born to solve server->server issues. GraphQL at large is used more for JS applications and we try to support that, but the biggest use case, that I’m aware of to date

[2019-05-03 22:45] hybridwebdev commented on #820
I feel like you might be getting a bit defensive here. I'm merely trying to provide constructive and helpful feedback. I like your project and in no way am meaning to undermine what you're doing or how you've done it. I'm merely trying to provide suggestions on how to improve it overall.

At the end of the day, this is built for WP. Trying to tell WP how they, and their entire community "should be

[2019-05-03 22:56] drewbaker commented on #820
As someone that has built a whole company on building WordPress sites and plugins I’d like to say that abstracting away WordPress is why I love this plugin. Now none of my devs need to know anything about WordPress! It’s way easier to hire frontend engineers that don’t know WordPress than the other way around.

Also, I personally think WordPress’s days are numbered as a serious CMS. The future is

[2019-05-03 22:59] hybridwebdev commented on #820
But...this is an interface for WP....it's not like this is an implementation that can be used for magento, joomla or some other cms. This is very tightly coupled with wp. Thus why it makes no sense to discard their conventions.

[2019-05-03 23:39] kidunot89 commented on #820
In trouble in what way? WordPress 28% you mentioned are just blogs and don't use WordPress' to handle all core functionality. If the core functionality that can be perform better in plugins, why not use it? One of the many great things about WordPress is that it's designed for outsourcing functionality like that.

[2019-05-07 15:24] ohenrik opened #843 "Docs: Menu query examples from documentation not working"
I'm new to graphql and I'm trying to follow this guide:
https://docs.wpgraphql.com/getting-started/menus

However the example code there is wrong. It should be something like this instead:

[code]

Also, is it possible to request the menu by any other variable than the id? The id is somewhat hard to find...

[2019-05-09 04:54] drewbaker opened #844 "Page where "in" query not returning any results"
This doesn't return any results, even though there is one. I tried setting `ID` to both the WordPress ID and the encoded WP-GQL one.

[code]
[code]

First screenshot shows an "all pages" query with the ID from the server, the second screenshot shows the query for that ID not working.

![Screen Shot 2019-05-08 at 9 53 01 PM](https://user-images.githubusercontent.com/475015/57428123-c8abf580-71db-11

[2019-05-09 16:35] kidunot89 opened #846 "Provide a way to clear the cached Schema."
**Description**
In the event that a new type is created dynamically after the schema is established, for instance a new `term` or `post_type` is defined for use in a test, and function is needed to set `WPGraphQL::schema` to `null` before the next `graphql()` call.

**Solution**
I propose a `WPGraphQL::clear_schema()` be added. It should be static obviously.

[2019-05-09 18:16] drewbaker commented on #844
OK, so after talking with Jason today, this is related to a bug with the `parent` defaults in the where clause.

By default, it is only looking for top level pages, so basically `parent: 0`, even if you specify the IDs your looking for. So it should probably ignore that default, and only respect `parent` if you set one specifically.

Also, it wants the WordPress ID, not the GQL ID.

So this worked

[2019-05-09 18:16] #844 closed

[2019-05-10 21:38] jasonbahl commented on #192
The more I've learned about GraphQL and mutations, the more I think we want to _not_ allow partial mutations as it leads to a very confusing experience. The mutation should do whatever validation it needs to up front and reject early if it can't be processed.

If there's a super specific scenario someone wants to discuss, let's open another issue.

[2019-05-10 21:38] #192 closed

[2019-05-10 21:43] jasonbahl commented on #216
Ok, so the GraphQL spec has settled on errors.

We should for sure focus on the error messages we return in various places to be as helpful as possible, and can even consider different categories of errors to make it easier to debug, but I don' thtink we'll be handling anything related to warnings at the top level as suggested here.

[2019-05-10 21:43] #216 closed

[2019-05-10 21:43] jasonbahl commented on #221
@CodeProKid I'm closing this as we've undergone many changes in the mean time and have seen a lot of cleanup along the way

[2019-05-10 21:43] #221 closed

[2019-05-10 21:45] jasonbahl commented on #219
I'm going to leave this out for now. While I do think this is interesting, I almost think this is more plugin territory than core territory.

My mind could be changed, but I don't see this being a super common need for GraphQL consumers.

[2019-05-10 21:45] #219 closed

[2019-05-10 21:49] jasonbahl commented on #336
Support for multiple Schemas was added a while ago. It's not well documented, but it's there. You can check out source code here to see it in action: https://github.com/wp-graphql/wp-graphql/blob/develop/src/SchemaRegistry.php

By default, the plugin makes use of the "core" Schema, but it's possible to register other Schemas and filter the execution to use a different Schema.

This might be useful

[2019-05-10 21:49] #336 closed

[2019-05-10 21:58] #840 closed

[2019-05-11 13:10] pristas-peter opened #848 "Exception has occurred. GraphQL\Error\InvariantViolation: Cannot return null for non-nullable field Post.id."
The queried post is private and therefore the model layer cannot return proper ID. Should this result in internal server error?

[2019-05-11 13:33] jasonbahl commented on #848
Can you give more info on the query you executed and the result that you’re seeing, etc?

[2019-05-11 13:52] pristas-peter commented on #848
[code]
$ wp shell
wp>
wp>
wp> get_post(1)
=> phar:///usr/local/Cellar/wp-cli/2.1.0/bin/wp/vendor/wp-cli/shell-command/src/WP_CLI/REPL.php:43:
class WP_Post#3995 (24) {
  public $ID =>
  int(1)
  public $post_author =>
  string(1) "1"
  public $post_date =>
  string(19) "2019-04-03 18:22:29"
  public $post_date_gmt =>
  string(19) "2019-04-03 18:22:29"
  public $post_content =>
  string(137) "
<p>W

[2019-05-11 13:54] pristas-peter commented on #848
![Uploading Screenshot 2019-05-11 at 15.54.11.png…]()

[2019-05-11 14:14] jasonbahl commented on #848
Ah ya, this would be expected behavior currently. If you try and ask for something that doesn’t exist, it will throw that error.

According to access rights, if you don’t have proper capabilities to access a private thing, it will return as if it doesn’t exist at all.

Much like if you as a public user visited the url for a trashed post you would see a 404.

Do you have other expectations for how

[2019-05-11 17:13] pristas-peter commented on #848
I agree, but I think that the post should not be resolved at all (null should be returned) and withou internal error

[2019-05-11 18:46] jasonbahl commented on #848
Well, the ID field on the Post Type is defined as a nonNull field, and the GraphQL spec specifies that an error should be returned if a non null is asked for but can’t be resolved.

Since a single node is being asked for and the id field can’t be resolved an error is returned.

I think one thing that will fix this is to change the shape of the queries from:

[code]
To:

[code]

That edge space bet

[2019-05-14 11:10] pristas-peter commented on #848
Cannot query return something like this?:
[code]

[2019-05-14 12:20] jasonbahl commented on #848
It already is. You are already getting a null.

You are _also_ getting an error though because ID is a non_null field on Post

[2019-05-14 12:26] pristas-peter commented on #848
I meant without the error. Because it's not a server error, it's an auth error. So it should be Auth Error or something like that, or no error at all. Because with Internal Error, the result is confusing.

[2019-05-14 12:38] jasonbahl commented on #848
It's kind of like visiting a private post like `site.com/private-post` on WordPress and you will get a 404, even if the post exists.

I get what you mean, but not returning an error in this particular case that would not follow the GraphQL Spec.

We can probably change the error message to something like `A post by that ID does not exist` but it would still return an error.

It might be equally as

[2019-05-14 16:46] jasonbahl commented on #842
I'll need to think about this, but I think this might be good to add.

We already have the `Relay::toGlobalId()` method, but that requires passing the Type and the Integer ID, and I know it _can_ be confusing sometimes to know what Type to pass in, so a method like this at the Model Layer could maybe simplify that.

🤔

[2019-05-14 16:47] jasonbahl commented on #835
Going to close this issue in favor of following the `wp-graphql-woocommerce` project here: https://github.com/kidunot89/wp-graphql-woocommerce

[2019-05-14 16:47] #835 closed

[2019-05-15 12:55] epeli opened #849 "Cannot define list of non null strings as return type"
This does not seem to work

    'type' => [ 'list_of' => [ 'non_null' => 'String' ] ]

Here's code that can be used to reproduce this
https://gist.github.com/epeli/9bdae092da666c31d08edcbc21dbf554
See line 43

I'm getting this warning

[code]

[2019-05-15 13:16] jasonbahl commented on #849
@epeli thanks for reporting! Got a fix submitted 😄

[2019-05-15 13:49] #849 closed

[2019-05-15 18:10] joshglenn commented on #835
Yes, thanks for the tip. `wp-graphql-woocommerce` works great and is a much more complete solution

[2019-05-16 11:52] #788 closed

[2019-05-16 12:05] paulisloud opened #851 ""id" is only parameter for category and tag queries. Need at least "slug", "taxonomyId", "first", "after" and "hasNextPage""
When trying to query the posts in a category, something like this seems to be the only query possible (based on the available parameters from the schema):

[code]

To have this be a meaningful part of the schema, I need to be able to specify:
* The `slug` of the category I want
* Or, it's `taxonomyId` (or something similar)
* `first` to specify how many posts I want back
* and `after`

While I can

[2019-05-17 12:25] jasonbahl commented on #121
Some food for thought about abstracting too much from tests:

https://twitter.com/benlesh/status/1129095281868361728?s=21

[2019-05-17 21:16] jasonbahl commented on #839
@drewbaker Just opened a PR to address this. Silly typo 🤦‍♂

[2019-05-18 01:12] renatonascalves commented on #373
New URL: https://docs.wpgraphql.com/guides/authentication-and-authorization

[2019-05-18 02:11] jkhaui opened #854 "wp-graphql-jwt-authentication plugin doesn't work after upgrading from 0.2.3 -> 0.3.3?"
Hey,

Top job so far on development of the WP GraphQL plugin, it's coming along really well.

I've been using the WP GraphQL JWT Auth plugin alongside it and it's been fine for a while (been using it with the WP GraphQL 0.2.3 release).
However, as soon as I updated to 0.3.3 JWT auth no longer works. I get the "No user was found with the provided ID" error when querying the logged-in user, which us

[2019-05-18 02:37] jasonbahl commented on #854
Ah ya. The fix has been merged over on the JWT plugin. I’ll go do a release now.

[2019-05-18 02:40] jasonbahl commented on #854
Pushed the release: https://github.com/wp-graphql/wp-graphql-jwt-authentication/releases/tag/V0.3.2

[2019-05-18 02:40] #854 closed

[2019-05-18 04:15] #839 closed

[2019-05-18 04:48] jasonbahl commented on #834
@drewbaker @joshuaiz I just fixed #810

Does that satisfy your needs here?

You can now query something like:

[code]

[2019-05-18 04:50] #810 closed

[2019-05-18 05:07] jasonbahl commented on #685
@CodeProKid is this still outstanding or do you feel like it has enough coverage currently and we just forgot to close this?

[2019-05-18 05:12] drewbaker commented on #834
Well I was hoping to know if the link was a “custom link” menu item. Like a menu item going out to google.com for example.

[2019-05-18 05:29] jasonbahl commented on #822
related: #620

[2019-05-18 05:36] jasonbahl commented on #834
@drewbaker you can do that.

It's just another option for connected object:

I'm thinking now that we could have a general `uri` field, and it could resolve appropriately to the URI for a Post, Term or Custom Link without having to query the connected object directly 🤔

Let me think about this a tad more, but I think it should be doable without _too_ much trouble

[code]

[2019-05-18 05:37] #802 closed

[2019-05-18 05:38] jasonbahl commented on #155
Somewhat related to #782 🤔

[2019-05-18 05:41] jasonbahl commented on #143
I'm thinking that we should _probably_ think about moving the actual logic of mutations into the Model Layer as well.

This will allow us to have more granular mutations that still pass through the same cap checks

For example, we have `updatePost` but let's pretend we also wented a very granular `setPostTitle` mutation, if the logic for writing to a post was centralized in a Model Layer, then sma

[2019-05-18 05:45] jasonbahl commented on #15
I think my only thought here is for a GraphQL query or mutation where the actual shortcode would be provided and the rendered markup be returned. . .that way a client that had the raw shortcode would have a way to render it from outside WordPress?

Not sure what other kinds of queries we could do here based on the limited static registry that shortcodes have.

Something like:

[code]

[2019-05-18 19:52] #86 closed

[2019-05-19 03:04] jasonbahl commented on #822
closed by #821

[2019-05-19 03:04] #822 closed

[2019-05-19 03:14] #260 closed

[2019-05-20 03:38] #796 closed

[2019-05-20 19:03] mngi-arogers opened #859 "Docker tests are failing"
# Problem
Docker tests are failing. This means tests run by Travis will fail as well.

# How to reproduce
1. Clone the repository.
1. Try to run the unit tests:
[code]
1. You'll see an error like this:
[code]

# Root Cause:
It looks like this line: https://github.com/wp-graphql/wp-graphql/blob/develop/Dockerfile.test-base#L64 is doing a ***upgrade*** which results in the installation of a version

[2019-05-21 02:51] jasonbahl commented on #833
@dbvevo closing this due to inactivity. If it's still an issue let me know and we can re-open and get more info.

[2019-05-21 02:51] #833 closed

[2019-05-22 05:34] jasonbahl commented on #818
Ok, so upon initial investigation, it appears that a big culprit here is the `post_` prefixes here:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Cursor/PostObjectCursor.php#L166

and

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Cursor/PostObjectCursor.php#L173

When I remove those prefixes, things work better, but not flawless.

I'm still seeing issues when po

[2019-05-22 06:40] drewbaker opened #861 "Pagination not working for pageBy and taxQuery queries"
So I have the following query:

[code]

Which gives me this result:
[code]

So I do the next query, with `after` set to the `endCursor`:
[code]

But the result is:
[code]

It should actually give me the next page. If I run the first query with `first: 2` and `after: null` I get the right pages, with a result like this:
[code]

I haven't been able to get pagination to work with `taxQuery` plugin ei

[2019-05-22 14:07] jasonbahl commented on #861
@drewbaker there’s a bug right now with pagination and custom ordering.

Spent some time last night digging on it. Have it partially resolved but still have some work to do.

You can read a bit more here: https://github.com/wp-graphql/wp-graphql/issues/818#issuecomment-494658800

[2019-05-23 03:25] jasonbahl commented on #818
Related to #861

[2019-05-23 03:46] jasonbahl commented on #861
@drewbaker this actually might not be related to #818

From what I can tell, this is working fine. Curious if there's a plugin at some level causing some conflict like resetting a global improperly or something like that 🤔

Here's a look at my setup:

![Screen Shot 2019-05-22 at 9 44 31 PM](https://user-images.githubusercontent.com/1260765/58224417-f6fcfb00-7cda-11e9-9014-c2a9e42a51b1.png)

And he

[2019-05-23 03:48] jasonbahl commented on #861
@drewbaker ok. . .actually, I've verified the bug on the latest release but NOT in develop. . .so one of the bugs that's been fixed in develop fixes this.

Can you confirm latest `develop` works for you?

I'll try to get a release out shortly.

[2019-05-23 15:25] #859 closed

[2019-05-23 16:56] mngi-arogers opened #865 "Make PHP Composer dependencies work with PHP 7.0+"
Travis should run tests on PHP 5.6 and PHP 7.X, however Travis is only running tests on PHP 7.X because some PHP Composer dependencies require PHP 7.1 or newer. Here is one example:

[code]

The PHP Composer dependencies will need to be modified or managed for Travis to run tests on PHP 5.6 and PHP 7.X.

Please see this link for more information:
https://github.com/wp-graphql/wp-graphql/pull/860#i

[2019-05-23 20:12] #818 closed

[2019-05-23 20:12] #861 closed

[2019-05-23 21:22] drewbaker commented on #861
OK, so I installed develop just now and it still doesn't work when requesting a deep URI like `work/page`, if it's just `work` then it does work, but in the wrong order.

[2019-05-27 10:42] izzygld commented on #843
yes you can query by where location too.
`query GetMenus{
              menus(where: {location:MAIN}){
                  nodes{
                    menuId
                    name
                    menuItems{
                      edges{
                        node{
                          id
                          menuItemId
                          title
                          url

[2019-05-28 07:21] mwidmann opened #868 "docs page not working atm"
Trying to access the docs page at https://docs.wpgrapql.com leads to and endless loop of redirects that terminates in an `ERR_TOO_MANY_REDIRECTS` in Chrome.

In wget:

[code]

[2019-05-28 09:45] epeli commented on #868
I'm getting this randomly in browsers too. Not able to reproduce this consistently though.

[2019-05-28 16:45] jasonbahl commented on #868
Ugh. Ya, something with my Gatsby setup on Netlify is not working. . . I've had various reports of this but haven't pinned down the issue. I believe it's something with the combination of Netlify (host for the Gatsby site) and my DNS (Cloudflare) 🤔

[2019-05-28 18:10] CodeProKid commented on #685
@jasonbahl There are still some tests that I think need to get written, especially surrounding hooks/filters.

[2019-05-29 20:29] sbarry50 opened #869 "Registering $option_group name with underscores causes bugs when querying settings groups and fields."
Currently unable to provide multi-word WordPress `$option_group` names in snake case as demonstrated in the WordPress & WPGraphQL docs without a few bugs.

1) Unable to query setting fields in a custom settings group unless the `$option_group` name was registered as a single word.
2) Querying setting fields with `allSettings` works, however the naming convention is mixed. For example, if the regis

[2019-05-29 20:32] jasonbahl commented on #869
@sbarry50 ya, opening an issue first was good. Thanks!

Ya, the "standard" for field names is `snakeCase`, so I would agree that `myOptionsGroupSettingsMyOptionName` should be the fieldName based on what you've described.

A user should be able to register the group as `my_options_group` and it should become `myOptionsGroup{$settingName}`. . .so somewhere we're not properly converting to snakeCase

[2019-05-30 13:51] sbarry50 commented on #869
Thanks @jasonbahl . Submitted a PR. Let me know if I need to change anything.

[2019-06-02 22:44] drewbaker commented on #861
Just tried this with version `0.3.4` and it still doesn't work. I recorded my screen showing this not working and the plugins I have active (only WP-GQL and ACF). My suspicion is because my page URI is two levels deep.

Screen recording here: https://www.dropbox.com/s/6bniq5p6uxrvv6b/wp-gql-pagination-broken.mov?dl=0

[2019-06-04 01:39] drewbaker opened #871 "Sizes attribute wrong"
Using the `sizes` attribute seems to always be too small. If I had to guess, it's not respecting the size that is passed in.

`FULLSCREEN` in this example is `add_image_size( 'fullscreen', 1920, 1080, false )`

Query:
[code]

Output:
[code]

[2019-06-06 21:31] mhinton opened #874 "add deregister_graphql_mutation API"
When using deregister_graphql_field the field name argument is wrong. The field name arg has to be lowercase.

This is what should work

`deregister_graphql_field('TypeName', 'menuOrder');`

but that doesn't remove the field.

This is does remove the field

`deregister_graphql_field('TypeName', 'menuorder');`

I am on the release/v0.2.3 branch.

[2019-06-11 07:38] izzygld opened #875 "Menu ChildItems not displaying correct typename info"
according to the docs:
Menu items can have a:

[code]

The problem is, that child items `__typename` doesn't retrieve the correct info:

[code]

Childitems __typename will always `menuItem`

[2019-06-11 14:00] jasonbahl commented on #875
@izzygld can you also provide the results of the query that you believe is not accurate and what you believe it should be instead?

[2019-06-11 14:08] izzygld commented on #875
all childitems are returning - `__typename": "MenuItem"
`

<img width="964" alt="Screen Shot 2019-06-11 at 17 08 07" src="https://user-images.githubusercontent.com/12534341/59278871-8b6bd500-8c6b-11e9-8905-1d81beaa3ac3.png">

[2019-06-11 21:21] hsimah opened #878 "Deregister mutations"
I saw this come up in Slack this week - the ability to remove mutations from the schema.

I have several 'create only' post types and would benefit from deregistering the update mutations that are created when `show_in_graphql` is true.

I haven't looked where this would go - I know fields are deregistered in the `WPObjectType`. If someone points me to where the hook should be applied I can whip u

[2019-06-11 23:22] rotexhawk opened #879 "JWT Auth not working with Menus: 403 Response"
I am using the master branch and I am having trouble with JWT and menus. When the user is Authenticated, the menu query returns 403. I ran this in graphiql as well and got an error. If I change the query to i.e pages, everything works.

[2019-06-13 15:12] SilvanTheuma opened #880 "Unknown Argument "where" on field "menu" of type RootQuery"
Trying to query a menu using REST with the `menu(where: {id: 1})` gives the error `Unknown Argument "where" on field "menu" of type RootQuery.` This can also be replicated on the docs site for wpgraphql. The below link should show you this.

https://docs.wpgraphql.com/getting-started/menus

**Actual Result:** `Unknown argument "where" on field "menu" of type "RootQuery".`
**Expected Result:** The

[2019-06-14 12:56] saarnilauri commented on #410
I have runned in issues with title and excerpt fields. For example if title contains & character this is stored in database as &amp; and then I need to register custom field where I return decoded value.

Is this related to the original discussion?

[2019-06-14 13:05] MihaiAlexP opened #881 "WP GraphQL breaks when adding an empty layout inside a flexible content field."
Steps to reproduce:

Create a Flexible Content type field.
Add a new Layout under it (without adding a nested field in the Layout).
Hit Update.

/graphql
Server error:
500

FE error:
The site is experiencing technical difficulties.

If adding a field under the layout is mandatory, it would be great if there's a message saying that.

[2019-06-14 15:24] jasonbahl commented on #881
@MihaiAlexP thanks for reporting this! Looking into it.

[2019-06-14 18:22] thebookofjedediah opened #882 "Title in React not parsing"
I cannot seem to find an answer or issue, I hope this is one. When I am using this to render posts to a React page, I am having issues with getting the title to render in normal format. The most simple example is when I am getting a title with the word `Women's` in it, it renders to my site as  `Women&#8217;s`.
Is there a simple way to fix this?

[2019-06-14 18:25] jasonbahl opened #883 "PostObjectLoader breaks when a post is assigned to a non-existent user"
When querying a list of posts, and a post included in the Loader is assigned to a user that has been deleted, an error with the UserLoader causes the entire PostObjectLoader to bust.

For example, the following query:

[code]

If the any of the first 10 posts are set to have a `post_author` ID of a non-existent user, no posts will be returned, and an error will be returned:

[code]

The culprit of

[2019-06-17 05:48] BartoszLobejko commented on #278
@jasonbahl @CodeProKid
It would be a great feature to search on multiple post types, as now to achieve the similar result you need to perform multiple queries with multiple paginations if you wish to display all results at once. Not ideal and it adds way more code. In the same time joining results is not possible as you're not able to paginate after that. (where: {first: 10, after: there is no ref

[2019-06-19 10:55] mihazs opened #884 "Feature request and bug: Query current user data always return NULL"
Hello, i need to query current user data. And i don't want to store user data when login was done, i want independent components in React and more stateless as possible.
So, it's good to have a way to query which user is logged in, without to make login again.
For my case, i want a component that display user name, user avatar, user email, and other things.
i've tried this, but i don't have succes

[2019-06-19 16:51] mihazs commented on #884
i use viewer query and now it works

[2019-06-19 16:51] #884 closed

[2019-06-22 18:07] rotexhawk opened #886 "User and Customer don't share the same ID"
I am using this plugin and the recommended woocommerce plugin. The problem is that `ids` don't match so when a user logs in I save their id and when they are ready to checkout I query for `customer(id: ID)` but the problem is that these id's don't match. If you provide the default db id's graphql complains. Shouldn't they share the same ids?

Here is the result of the queries.

[code]

[code]

[2019-06-23 18:05] renatonascalves commented on #886
The `userId` and `customerId` are both 2. So I guess they are the same. I'm not sure what ID this `id` is referring to...

[2019-06-23 18:06] renatonascalves commented on #886
Bear in my that WooCoomerce has guest customers which are not regular WP user. So they don't have regular user ID.

[2019-06-23 21:08] rotexhawk commented on #886
The problem is that `wp-graphql` query for customer only accepts the `relay id`. For guest checkout it's ok because the user won't be logged in anyways. In wordpress when a logged in user places an order, their information will be auto-populated in the checkout page. Currently that's not possible with wp-graphql and this plugin because the `relay ids` don't match and `wp-graphql` doesn't accept th

[2019-06-24 01:15] drewbaker commented on #879
I had a similar error, but solved it by clearing all my cookies and localStorage. I think Apollo caches the JWT token and if for some reason that changes (in my cases I changed the salts on the server) then Apollo is sending that token with all requests, even ones that don't need auth, so WordPress gives out the auth error.

[2019-06-24 01:22] drewbaker opened #887 "No sub-categories showing on posts if also getting featuredImage"
This is a strange bug, if you try to to get all posts, and do a nested categories query, and also ask for the featuredImage on the post, then the categories come back with no sub-categories. If you remove the featured image query, then you get all the sub-categories!

See the two screen shots, the only difference is the `featuredImage`.

<img width="1264" alt="Screen Shot 2019-06-23 at 6 20 52 PM"

[2019-06-24 18:58] jasonbahl commented on #887
@drewbaker his one is strange indeed. 🤔

Seems like a global is perhaps not getting set/reset properly.

Thanks for reporting. Will check it out shortly.

[2019-06-26 08:31] esamattis opened #889 "Ability to filter which image sizes are returned in MediaDetails"
Use case: I need to render list of items that have images associated with them and I need to use the `medium` sized image.

I can get the sizes for each item with the following query

[code]

Unfortunately this results in serious over fetching because every image can have over dozen different sizes.

I'd like be able to filter the returned sizes.

Eg.

[code]

[2019-06-26 09:50] epeli commented on #889
Quick userland implementation

[code]

![image](https://user-images.githubusercontent.com/225712/60170252-c3991900-9810-11e9-9728-cc46fa694956.png)

[2019-06-27 00:43] kidunot89 commented on #121
The eventual goal is to convert the helpers into custom Codepection module for confirming valid query responses. While I understand the reason to avoid too much abstraction, the amount of noisy code in a tests without some abstraction make using the using tests in anything but CI useless. Tests should also be designed in a way that expresses valid and invalid ways to use the component being tested

[2019-06-27 18:41] jasonbahl opened #890 "User Role Queries: Improper Access Violation"
When querying for users, the roles should be checked before the query is made.

For example, a public user should not be able to get a list of admin users by querying:

[code]

As that would expose who is and who is not an administrator to the public

[2019-06-27 18:44] CodeProKid commented on #890
ahhhh, interesting 🤔

[2019-06-28 02:00] BartoszLobejko opened #891 "Menu query error when one of pages is in Draft."
Hey,

I have below query that lists menu items. Whenever I unpublish any of pages query return undefined data. Weirdly when I use GraphiQL everything is fine... I'm using React.js with react-apollo <Query> Component. Not sure where is the issue, on Wp-graphql or Apollo side.

Any idea what is wrong? @jasonbahl

[code]

Also, I couldn't find a way how to filter items by Status.

[2019-07-01 14:09] isvaljek opened #892 "Lcfirst should be applied to $tax_object->graphql_plural_name when creating custom post types"
To reproduce on v0.3.4, on any platform/playground:
`{
  "input": {
    "clientMutationId": "CreateExcursion",
    "title": "Excursion to Springfield",
    "destinations": {
    	"append": true,
      "nodes": [{"id": "b2RyZWRpc3RlOjYy"}]
    }
  }
}`

I expected to see the new CPT created, and the custom taxonomy term designated by the id field appended to it.
The post got created, but no terms w

[2019-07-01 14:12] jasonbahl commented on #892
@isvaljek thanks for reporting. I'll see what I can find out.

[2019-07-01 22:36] jasonbahl opened #893 "Better Documentation"
Opening this issue to discuss making the WPGraphQL Documentation better.

[2019-07-02 07:04] jkhaui commented on #893
Would love to help out if I can. I'm building a large-scale React app which uses Apollo client-side, and WP-GraphQL as a server for authentication (using your graphql-jwt plugin) as well as letting users manage their profile and storing custom post types. PHP is not my strength but perhaps I could contribute some client-side examples of interacting with the WP-GraphQL endpoint.

[2019-07-03 21:56] jasonbahl commented on #887
@drewbaker I've been able to verify this locally. Looking into this further now.

[2019-07-03 22:33] jasonbahl commented on #887
@drewbaker Got this fixed locally. Running some tests then will have a PR shortly. 😄

[2019-07-05 16:25] jasonbahl commented on #887
Ok, so here's a rundown of the issue and what I plan to do to address:

Right now when you query something like:

[code]

I was attempting to pass "state" down from the Post being queried all the way down to the children of the categories being queried, so that when you query the children, you would only get children that were _also_ connected to the Post a few levels higher in the resolve tree.

[2019-07-06 12:51] drewbaker commented on #887
OK I can see why they do this, and how it gets funky when WordPress gets involved. If you return them all as a flat list, how will the parent and child order be presented?

I guess it doesn't really matter because WordPress doesn't have an order for categories (it's just date or alphabetical I think). But do tags get stored on a post in the order they were assigned to the post, or is the order a d

[2019-07-08 16:51] let00 opened #897 "Cursor pagination does not preserve order with the "search" where arg"
## First query for posts 1-11

I am making a query with the search arg which returns 13 results in total. The query below fetches the first 11 results.

[code]
Here is the result for this query.

[code]
## Second query for posts 12-13

I use the `endCursor` from the query above to fetch the remaining 2 posts.

[code]
I get the last 2 posts as expected.

[code]
## Third query for posts 1-11, but us

[2019-07-08 16:56] jasonbahl commented on #897
@let00 Thanks for the detailed issue! I'll see what I can find out.

[2019-07-08 19:00] jasonbahl commented on #897
@let00 ok, so just doing some initial investigation.

When executing the following GraphQL Query:

[code]

This is the resulting raw SQL query:

[code]

This seems to be what we want.

However, as you pointed out, going backward using the `last` argument is causing issue.

I see the following WPGraphQL Query:

[code]

Generates the following raw SQL:

[code]

The raw SQL _should_ have `ORDER BY wp

[2019-07-09 04:46] BartoszLobejko commented on #891
Ok, I found where was the problem.
When you list menu items that are for example page type the connection between menu item and page is lost at the moment you put the page in a draft or private state.

To solve the issue you need to set error policy to "all" and regardless of errors list menu items with the condition to show only items that are connected to page type not null.  "connectedObject" i

[2019-07-09 05:09] jasonbahl commented on #891
@BartoszLobejko thanks for the added info.

So, in GraphQL since you can access many resources at once, errors can be returned in addition to the response.

This is because part of the response may succeed and part may not.

If you were to do the same request with REST, you’d make a request to get the menu item ids, then make follow up requests to get each item’s connected object, and if one was a

[2019-07-09 05:18] BartoszLobejko commented on #891
@jasonbahl What you're saying and how it works makes sense. It makes sense for the classic "callback hell" REST approach.

But my personal impression after watching GraphQL documentary https://www.youtube.com/watch?v=783ccP__No8 was that we want to have queries that are "all in one".

It would make sense for me to "connectedObject" return null or even not returning "connectedObject" while there is

[2019-07-09 13:10] jasonbahl commented on #891
I’m not saying to have callbacks. What I mean is that if you request resources you don’t have access to (draft/private) in REST, GraphQL or other you will be met with some sort of error.

I’ll think through this more. I think there’s a happy medium where we can return a null, and a corresponding error so there is some context on why it’s null

[2019-07-09 16:58] jasonbahl commented on #897
@let00 ok, I think I have this working now. WP_Query does some default ordering for search queries that I hadn't accounted for.

I have a PR coming shortly. 😄

[2019-07-10 15:18] jasonbahl commented on #882
@thebookofjedediah thanks for the follow up here!

[2019-07-10 15:23] jasonbahl commented on #897
@let00 check out this PR and see if it's working as expected for you now. I did several tests and it seems to be working, but if you can confirm that it resolves your specific issue that would be great.

Thanks!

[2019-07-10 16:47] let00 commented on #897
@jasonbahl I just checked again on the PR branch and confirmed that the same results are returned with last/before and first/after args. Thank you so much for the quick fix!

[2019-07-10 17:04] let00 commented on #274
@CodeProKid @jasonbahl @Albert221  I can take a look at this issue too if y'all don't mind.

[2019-07-10 17:09] jasonbahl commented on #274
@let00 if I'm not mistaken, pagination for users doesn't work _at all_ at the moment.

We can get some failing tests in place to start, and work toward getting it to work, but I believe when I first approached cursor pagination for users, WP_User_Query didn't have proper filters to make it easy to work with.

I believe @epeli did some digging while working on Cursors for Posts, and he believes the

[2019-07-10 17:11] jasonbahl commented on #897
closed by #898

[2019-07-10 17:11] #897 closed

[2019-07-10 17:12] jasonbahl commented on #893
@jkhaui client side examples are great! We do have this repo if you want to contribute there: https://github.com/wp-graphql/examples

Or if you are interested in writing tutorials on wpgraphql.com, that would be sweet too!

[2019-07-10 17:16] epeli commented on #274
Yeah, while (re)implemting the cursors for PostsConnection I created a generic CursorBuilder class that can be used to create the where-clauses for all connections in wpgraphql:

https://github.com/wp-graphql/wp-graphql/blob/c2991573f65e56c35065538710ec62bf37c82b86/src/Data/Cursor/CursorBuilder.php

Although at moment it is only used in the PostsConnection.

The trouble with Users is that WordPres

[2019-07-10 19:21] jasonbahl opened #899 "Get nodes of any type by URI"
See: https://github.com/wp-graphql/wp-graphql/pull/715#issuecomment-478086104

---

The concept here is that any node with a URI (post, page, cpt, tag, category, custom tax, user, anything else with a public URI) should be able to be fetched by URI in a union query

Something like:

[code]

[2019-07-11 15:09] #890 closed

[2019-07-11 15:35] jasonbahl opened #901 "Comments of private posts should also be private"
When a user queries for all comments, comments that are on a private post should not be returned if the user doesn't have permission to "moderate_comments"

A query such as:

[code]

Will return all comments, regardless of their relationship to a private post.

[2019-07-11 19:07] let00 commented on #113
I can try to poke at this.

[2019-07-11 21:09] mlipscombe opened #903 "Unable to create mutation with same name as previously deregistered mutation"
Deregistering a mutation via `deregister_graphql_field('rootMutation', 'createPost')` does not fully remove the mutation.  Creating a new mutation via `register_graphql_mutation('createPost', array())` continues to use the previous mutation's input fields.

[2019-07-12 14:19] betweenbrain opened #904 "Cache-Control: no-cache, must-revalidate"
With the current _develop_ branch installed, and previously with v0.3.2, responses include a header of `'Cache-Control: no-cache, must-revalidate, max-age=0'`. This prevents the browser from caching the response and thus fetching data every time the page is loaded.

I would think we would want it to be something along the lines of `* Cache-Control: public, max-age=300` so that the browser caches t

[2019-07-12 15:06] jasonbahl commented on #904
@betweenbrain hey!

WPGraphQL sends the no-cache headers for authenticated requests. You can see where that's set here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Router.php#L222-L227

If the request is authenticated (`is_user_logged_in()`) then the requests are not cached.

If you prefer to not send those headers, you can use the `graphql_send_nocache_headers` filter and make it fa

[2019-07-12 15:06] #904 closed

[2019-07-12 16:13] betweenbrain commented on #904
Awesome, thanks @jasonbahl!

[2019-07-12 16:53] CodeProKid commented on #181
Note that these mutations should only happen on regular plugins, and not drop-ins or mu-plugins. If a client attempts this mutation on one of those kinds of plugins, we should return a helpful error message like: `Sorry could not perform {$action} on {$plugin_name} because it's a {$plugin_kind}, which does not accept mutations` this may require an extra query to grab mu-plugins / drop-ins if the p

[2019-07-12 16:53] CodeProKid commented on #180
Note that these mutations should only happen on regular plugins, and not drop-ins or mu-plugins. If a client attempts this mutation on one of those kinds of plugins, we should return a helpful error message like: `Sorry could not perform {$action} on {$plugin_name} because it's a {$plugin_kind}, which does not accept mutations` this may require an extra query to grab mu-plugins / drop-ins if the p

[2019-07-12 16:58] betweenbrain commented on #904
Hey @jasonbahl,

Thanks again! Do you think that it would make sense to send a header like `Cache-Control: public, max-age=300` if `graphql_send_nocache_headers` is set to false? Looking at https://github.com/wp-graphql/wp-graphql/blob/70134e4ca3c3a13bdf6d80cf93b68fd687c69660/src/Router.php#L200-L227, it seems that `Cache-Control` isn't sent if this is the case.

For the sake of documenting this,

[2019-07-15 11:37] epeli opened #905 "Cannot query hierarchical taxonomy children while querying the connected post type too"
Steps to reproduce

Add following taxonomy

[code]

Create parent and child terms

![image](https://user-images.githubusercontent.com/225712/61213330-6ad0e800-a70d-11e9-8e9a-5f4371327217.png)

You should be able to query the child:

![image](https://user-images.githubusercontent.com/225712/61213362-84722f80-a70d-11e9-8d42-c70ebf7ab6ab.png)

But convert the query to

[code]

And the result from ter

[2019-07-15 13:29] epeli commented on #905
When there's no `pages` query the generated SQL is like this

[code]

But when the pages query is added the query becomes

[code]

[2019-07-15 13:48] epeli commented on #905
This is related to `setup_postdata()` again.

The query gets modified because `object_ids` is set for `WP_Term_Query` here:

https://github.com/WordPress/WordPress/blob/820ce9c438eb0817a30335acfeecba82bd524c2c/wp-includes/class-wp-term-query.php#L639-L641

And `object_ids` gets set because global post is present here

https://github.com/wp-graphql/wp-graphql/blob/0d4409fc942788ca090e050e60cf12a2e2

[2019-07-15 15:54] jasonbahl commented on #905
@epeli I think this is related to: https://github.com/wp-graphql/wp-graphql/issues/887

See my comment on that issue here: https://github.com/wp-graphql/wp-graphql/issues/887#issuecomment-508808865

----

I think the problem is more about my naiive Schema design, which you can read about more in that comment.

Happy to elaborate more if needed.

[2019-07-15 22:06] justinwhall opened #907 "revisions RootQuery returns a 500 when id is included in query"
👋
**WPGraphql version**: 0.3.4
**Other Plugins of significance:** WPGraphQL JWT Authentication

If I run the the following query as an _unathenticated_ user...
[code]
I get a response that that look like the following:
[code]
I'd expect the error nodes  array to be empty like `postBy` object ie:

[code]

If I then add `id` to the `revisions` query, I get a "internal server error" response:

**Quer

[2019-07-16 13:33] epeli commented on #887
We hit a similar issue https://github.com/wp-graphql/wp-graphql/issues/905

and sent a failing test for it https://github.com/wp-graphql/wp-graphql/pull/908

I also found a solution that fixes my specific issue:

https://github.com/wp-graphql/wp-graphql/commit/26ea392d5830299b1b951c0198fb6a88278ff4e7

It just moves the global post setup to happen right before the resolver function executes from th

[2019-07-16 16:11] jasonbahl commented on #887
@epeli

So, a caching client is going to cache an object the same way no matter where in the Graph it is accessed from.

So, let's say you query Category 1 from the root, and it's children, like so:

[code]

And let's say it returned 2 children: `Child 1` and `Child 2`

----

This is going to get cached like something like this:

`category:1.children: [ child1, child2 ]`

Now, let's say you have _

[2019-07-16 19:07] epeli commented on #887
🤦 Just realized you where talking about the schema design in general and not the issue at hand. But yeah, that totally makes sense. Do you plan to deprecate the `children` field or make it unaware of the connected post?

Anyway what do you think about this change? https://github.com/wp-graphql/wp-graphql/commit/26ea392d5830299b1b951c0198fb6a88278ff4e7

It seems to fix the immediate issue. I'm pret

[2019-07-16 19:19] jasonbahl commented on #887
The plan is to make it unaware of the connected post.

The `Category` Type still should have a `children` field, but it's use should be to get children of the category, without added magical connection to a Post.

Currently, when you query `categories` on a Post, I have the resolver default to `parent => 0` (top level categories), then I had it so you had to query the children.

I'll change that t

[2019-07-16 19:21] jasonbahl commented on #887
Ah. . .yes. I like that. I went down a very similar path as well. Open a PR 😄

[2019-07-16 20:08] epeli commented on #887
I've updated the test PR I sent earlier with it https://github.com/wp-graphql/wp-graphql/pull/908

[2019-07-16 21:02] jasonbahl opened #911 "Fix CodeSniffer issues"
@dingo-d I'm creating this issue as a follow-up to https://github.com/wp-graphql/wp-graphql/pull/896, to fix the codesniffer issues, so we can track the PR to fix the formatting against this issue.

[2019-07-17 08:08] dingo-d commented on #911
Great. I'll create a new PR with the fixes :+1:

[2019-07-17 19:02] CodeProKid commented on #907
I think you're getting `NULL` returned by each of the nodes because the model layer is catching these with an unauthenticated user. We should probably also catch this before the query runs, and just return an empty array.

For the internal server error, I believe it's because the server is trying to get a field off of a null value, and just isn't handling it very gracefully. We can probably do bet

[2019-07-17 19:18] CodeProKid commented on #347
Still to be resolved here: what does the registration API need to look like for this? Something like:
[code]
hat flag would just prevent the pagination args from being scaffolded, and adjust the shape to not have:
`field->edges->node`, but just `field->node`

[2019-07-17 20:11] jasonbahl commented on #907
ah, ya. @CodeProKid you're correct. We need to address this much like we do stati (future, etc) that a user cannot query for: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/PostObjectConnectionResolver.php#L419-L433

We should do the same with `post_type(s)` 🤔

[2019-07-17 20:13] jasonbahl commented on #907
Actually, looks like we _should_ be avoiding querying revisions if users don't have proper caps:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/PostObjectConnectionResolver.php#L84-L96

Perhaps something here in this logic is messed up 🤔

[2019-07-17 20:15] jasonbahl commented on #907
Here's the logic in the model layer re: revisions

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Model/Post.php#L201-L203

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Model/Post.php#L217-L230

So, something in my logic at the resolver level is letting it pass through, but then the model layer is blocking it. 🤔

[2019-07-17 20:16] jasonbahl commented on #907
ah yes, that's because we need some context about the parent to decide at the model layer. . .we can't _fully_ determine at the resolver level before we query if the user has permission or not.

🤔

[2019-07-19 20:06] JeffMatson opened #912 "Feature Request: Relative Permalink URLs"
Support for getting a relative path to a post's permalink would be helpful.

A use-case would be headless WordPress sites that want to share a permalink configuration.

The `link` field on posts essentially does this, but requires additional manipulation after the data is retrieved to make it relative.

This could either be done as its own field, such as `path` or as an argument inside the `link`

[2019-07-24 23:16] danielbachhuber opened #915 "Security issues"
Hi, what's the best way to report security issues?

[2019-07-24 23:20] jasonbahl commented on #915
@danielbachhuber to report security issues, please email: info@wpgraphql.com

Thanks!

[2019-07-24 23:21] danielbachhuber commented on #915
Cool, just sent.

[2019-07-24 23:21] #915 closed

[2019-07-25 14:26] amanning11 opened #916 "Authentication succeeds without nonce (CSRF vulnerability)"
Hi,

I recently started playing with this plugin and noticed that the documentation seems incorrect.
It states that a nonce is required to authenticate with wpGraphQL (like the WP REST API) when making an xhr request from within WordPress.

I've found that simply providing the WP authentication cookie in the request header is sufficient to authorise. No nonce is required, leading to a CSRF vulnera

[2019-07-25 14:34] jasonbahl commented on #916
Thanks for reporting. I have a fix in progress for this. Should have a PR for it within a day or two.

Thanks!

[2019-07-25 20:26] #905 closed

[2019-07-25 21:17] hsimah opened #917 "Add `{post_type}sConnectionOrderbyEnum` to replace `PostObjectsConnectionOrderbyEnum `"
As per #728 I feel we should be allowing more granular control over order by inputs.

When a user registers a type they should get a custom order by enum input arg. Users can then use `graphql_{post_type}sConnectionOrderbyEnum_values` to customise the order by fields. (And then `graphql_post_object_connection_query_args` to actually use their fields.)

[2019-07-26 02:39] operapreneur opened #918 "Filter the user model layer to expose users without published posts"
For users that are not logged in, I would like to list out all users on a page even if they have zero published posts. I understand that this request goes against WP security best practices but the site is behind SSO, so security will already be high. If you could provide direction on adding a filter to the model layer it would be greatly appreciated!

[2019-07-26 15:16] jkhaui commented on #884
@mihazs Hey, can you explain how you solved this? I'm having the same issue. Thanks

[2019-07-27 02:50] mihazs commented on #884
I used the viewer query instead of create a new one. Check the WPGraphiQL

[2019-07-27 17:14] jasonbahl opened #920 "Support for Gatsby Image"
At the moment, it's difficult to use Gatsby Image with WPGraphQL.

This issue is intended to get the conversation going around how to best support Gatsby Image when using WPGraphQL.

[2019-07-29 18:59] webface opened #922 "Login return 403 error with auth enabled"
I cant log in a user because the auth plugin returns a 403 error for every query or mutation so even though I get an auth token in my payload, I get an error 403

[2019-07-29 19:10] jasonbahl commented on #922
@webface can you provide an example of how you're performing the login mutation? Are you sending invalid Authorization headers along with the `login` mutation?

[2019-07-29 19:37] webface commented on #922
`import React, { Component } from 'react'
import { Mutation , ApolloConsumer} from 'react-apollo'
import gql from 'graphql-tag'

const LoginUserMutation= gql`
	mutation LoginUser($input:LoginInput!) {
		login( input: $input) {
		authToken
		user {
			id
			name
		}
		}
	}
`;
class SignUp extends Component {
	state = {
		username : '',
		email: '',
		password: '',
		confirmpassword: '',
		errors:''

[2019-07-29 19:38] webface commented on #922
`import React from 'react';
import {ApolloClient} from 'apollo-client'
import { ApolloProvider } from 'react-apollo'
import { BrowserRouter, Route, Switch } from 'react-router-dom'
import { InMemoryCache } from 'apollo-cache-inmemory';
import { HttpLink } from 'apollo-link-http';
import Toasters from './components/Toasters'
import Toaster from './components/Toaster'
import './App.css';
import Sign

[2019-07-29 22:54] webface commented on #922
@jasonbahl
const token = localStorage.getItem('token');
const client = new ApolloClient({
  cache,
  link : new HttpLink({
	uri: 'http://localhost:1018/graphql',
	headers: {
		authorization: token ? `Bearer ${token}` : ''
	  },
  }),
  typeDefs,
  resolvers,
});
I tried this and cleared local storage. It seems to work for a minute.
[https://www.wpgraphql.com/2019/01/30/preventing-unauthenticated-r

[2019-07-30 07:39] jerome281 commented on #920
Maybe this plugin could help `gatsby-plugin-remote-images` Have been testing this plugin but so far I can't get it to work, I'm struggling to map to the correct node. Anybody else have any other suggestions?

[2019-07-30 09:46] Kainkainkain commented on #880
I am having the same issue using the code provided on the website link above.
I'm not using REST thought (typo from Silvan?) but the GraphiQL.

In fact several examples don't work in the documentation but I have found code online for general graphql that does work. Usually when trying WHERE type options...

[2019-07-30 12:29] webface commented on #922
@jasonbahl I caught up on the gists in the repos. I guess I can always redirect my users to signin or get a new token in case of a 403. I'm looking forward to seeing your dashboard to see your implementation of this in action. This is my first react app and I appreciate the work you have done with wpgraphql

[2019-07-30 12:29] #922 closed

[2019-07-31 01:10] let00 commented on #594
I can take a look at this. My current thoughts are to get the offset from the after cursor, and then check if the offset corresponds to a valid object ID. Assuming that the offset of the cursor is the ID of the node at the tail of the edge. Would this be a good approach?

[2019-08-01 15:26] jacobarriola commented on #880
@SilvanTheuma @Kainkainkain I ran into this issue as well. It seems as though the API change recently.

This worked for me: `menu( id: 'abx123')`

And to get the ids of all of your menus:

[code]

So once you have a given `id`, the query should be:

[code]

[2019-08-01 15:33] jasonbahl commented on #880
Ah, ya, the docs have a mistake. As @jacobarriola pointed out it should be `{ menu( id: "..." ) { `

There is an open issue to be able to query single nodes by other fields as well: https://github.com/wp-graphql/wp-graphql/issues/263

That issue _probably_ needs to be broken up into an issue per type, but it would be good to support fetching single menus by any unique identifier, not _just_ the Re

[2019-08-01 15:38] jasonbahl commented on #880
I just PR'd a change to the docs as well.

Going to close this as the docs have been updated, and there's already an open issue to address fetching single nodes by more than just the ID.

[2019-08-01 15:38] #880 closed

[2019-08-01 20:05] jasonbahl commented on #594
@let00 ya, I think that should work.

[2019-08-02 15:09] jasonbahl opened #924 "Correct field descriptions for include/exclude arguments on User connection"

[2019-08-02 15:09] jasonbahl commented on #924
closed by #923

[2019-08-02 15:09] #924 closed

[2019-08-03 11:15] lmounsey commented on #428
Any update on this one @jasonbahl ?

I'm currently setting up a Nuxt/GraphQL stack and hitting a snag with page templates and custom fields. Currently as a workaround I'm just adding additional fields for stubbing out the template slug and all ACF fields so I can map it to a specific template and bind all this ACF data.

Would be great if we could do something as you mentioned above

[2019-08-03 12:53] JakeBeresford opened #925 "Schema federation"
Are there any plans to update the plugin for schema federation? [Apollo have announced schema stitching will be  deprecated in favor of federation](https://www.apollographql.com/docs/graphql-tools/schema-stitching/)

I'm about to start a project which will ideally use federation to combine the WP graph with another graph, im sure others have or will have similar requirements.

[2019-08-05 18:57] dz0ny commented on #723
For those Googling https://gist.github.com/jasonbahl/d2dfe0c56390e9c9c8b0c25d7d6c4bd2

[2019-08-05 19:50] epeli commented on #723
Oh that's pretty need solution. Any gotchas with it?

[2019-08-05 20:05] jasonbahl commented on #723
@epeli I think the main gotcha is performance. If you have large datasets, calculating totals can be expensive, which was the main reason it was left out initially.

[2019-08-06 13:57] henrikwirth opened #928 "Introduce showInFlatList to Pages, Posts, or Custom Post Types"
So the default behavior of querying a post or page is to get all root elements, but not their children. Like so:

[code]

But what if you want t get all elements, even the children? As @jasonbahl told me, in `categories` the `showInFlatList` argument got introduced. So I suggest the same for this.

Also there is an example here: https://github.com/progital/gatsby-wpgraphql-blog-example/blob/f7695f

[2019-08-06 14:01] henrikwirth opened #929 "Check behavior of Pages/Posts Query with where filter"
As seen in this example: https://github.com/progital/gatsby-wpgraphql-blog-example/blob/f7695fe41ee40ec98638949d954422d8ad3be743/gatsby/createPages.js#L4-L26
[code]

This gets all the elements, even the children. My understanding of that query would be though, to get all Pages, where parent === null. But that doesn't happen.

Instead there should be an option to get a flat list of all elements, ev

[2019-08-06 14:08] henrikwirth commented on #928
#534 Here is the related Ticket

[2019-08-06 19:15] gustavpursche commented on #920
@jasonbahl

You are saying

That means you found a way to make it work? Could you explain your current setup for this?

[2019-08-07 06:00] luchoster opened #930 "Handle Password Protected pages/posts"
I'm re-doing a WP website with Gatsby, using the WPGraphQL plugin. We have a few pages that are password protected, and would like to know if there's an easy way to handle those pages in the front-end. So users can get to the page and enter the password to view the content.

Tagging @jasonbahl for help :)

[2019-08-07 19:30] jasonbahl opened #931 "Move docs back into main repo"
The docs currently live in the repo here: https://github.com/wp-graphql/docs.wpgraphql.com

Moving the docs back into the main repo will resolve a few things:

- ties documentation to a specific version of the code
- help encourage more participation with the documentation

[2019-08-07 19:35] jasonbahl opened #932 "Move WPGraphiQL into the main WPGraphQL repo"
Currently WPGraphiQL lives in a separate repo here: https://github.com/wp-graphql/wp-graphiql.

Most GraphQL libraries (Apollo, GraphQL Express, Gatsby, etc) all ship with a GraphQL IDE without users having to find another one.

Having the WPGraphiQL IDE in the main WPGraphQL repo will reduce friction for new (and existing) users, and will encourage more participation in adding features to the WPG

[2019-08-07 19:42] jasonbahl opened #933 "Stop versioning composer dependencies"
Currently we version composer dependencies, largely to make it easy for folks coming across the plugin to be able to download the plugin right away and get started.

Instead of versioning the composer dependencies, like GraphQL-PHP, we should add a build script that adds the dependencies to the downloadable zip (and in the future WordPress.org releases)

---

We'll also need to update documentatio

[2019-08-07 21:19] jasonbahl commented on #890
closed by #900

[2019-08-07 21:25] jasonbahl commented on #728
Upon reviewing the Pull Request for #921 it appears that it's not actually possible to fully accomplish what we're after here.

The WordPress registries for Statuses and Post Types don't support any formal way of declaring what statuses belong to what post types or what post types have what statuses.

There's a global registry of _all_ Statuses, but not a way to identify statuses per post type.

I

[2019-08-07 21:25] #728 closed

[2019-08-08 00:10] renatonascalves commented on #931
I wonder how it helps option two since both are on github?

[2019-08-08 00:27] jasonbahl commented on #931
@renatonascalves I believe having one repo for folks to contribute to will reduce friction compared to users having to seek out an additional repo.

As new features are added and bugs are fixed, I think having the docs in the same repo will encourage contributors to update the docs at the same time they PR their bugfix/new feature, similar to tests. Not everyone contributes tests with their PRs bu

[2019-08-08 20:29] jasonbahl commented on #920
@henrikwirth worked up this solution: https://dev.to/nevernull/gatsby-with-wpgraphql-acf-and-gatbsy-image-72m

Would love to hear from folks if this seems like a solid solution?

There's also `gatsby-wpgraphql-inline-images` for the cases when the images are within the content of the post, and not queried as a media item directly.

Would love to hear more about how folks feel about these solutions

[2019-08-08 20:54] henrikwirth commented on #920
I think my solution is a very pragmatic one and should be considered as something easy to apply and use. Especially if you don't have a large scale application.

But, if you do have a big application with lots of MediaItems, I think we have to dig deeper in how to handle caching/syncing the Media-Files. Because if for some reason the cache is cleared, as I understand it with my method, all Media-F

[2019-08-08 21:16] henrikwirth commented on #932
I'm not 100% sure why, but I feel it should stay separate, so the user can decide for himself if he wants to have more functionality or not. Kinda separation of concerns as it is nothing you would need to work with WPGraphQL. I would rather like to see it as something that is suggested by the WPGraphQL plugin and that it can easily be installed with one click.

I do understand your point of encour

[2019-08-09 15:43] jasonbahl commented on #846
@kidunot89 we both burned some time on this and got nowhere. 😭

I think we have workarounds for this though re: testing bootstrapping. If this comes back up as a pain point, we can try and take another stab and re-open, or open another issue.

[2019-08-09 20:52] jasonbahl opened #935 "Add check for authentication errors before execution"
Prior to execution, WPGraphQL should check if there are authentication errors.

If there are errors, execution should be prevented.

For example, an expired JWT Token should not execute, but return an auth error and 403 status. Same with an invalid cookie for cookie auth.

Related to: https://github.com/wp-graphql/wp-graphql-jwt-authentication/issues/38

[2019-08-11 04:58] izzygld commented on #843
Yes that is correct
The location is based on the name you have chosen in The register_nav_menus.
Example would be; “About Navigation” - location would be “ABOUT_NAVIGATION”

Hope that’s helpful.

[2019-08-12 13:05] gustavpursche opened #937 "Feature Request: Add homepage display"
Wordpress allows selecting which homepage should be shown in the "Reading Settings"

<img width="610" alt="Screenshot 2019-08-12 at 15 03 39" src="https://user-images.githubusercontent.com/2244375/62866941-64388f00-bd12-11e9-8612-0522d5e30ae6.png">

This information is missing by the `allSettings` query. Others, like `readingSettingsPostsPerPage` are included. It would be great to have this piece

[2019-08-12 15:44] jasonbahl opened #938 "Conflict with CoBlocks"
When CoBlocks and WPGraphQL are active, there are issues with generating the Schema properly.

## Steps to Reproduce
- Install and activate WPGraphQL (v0.3.4)
- Install and activate CoBlocks (v1.12.0)
- Open [Altair](https://chrome.google.com/webstore/detail/altair-graphql-client/flnheeellpciglgpaodhkhmapeljopja?hl=en) GraphQL IDE and load the Schema
- See the following errors:

![Screen Shot 2019

[2019-08-12 17:32] jasonbahl commented on #920
I'm going to close this issue, as I believe the work needs to happen on the Gatsby side, not the WordPress side, as demonstrated above.

Another Issue worth keeping an eye on is: https://github.com/gatsbyjs/gatsby/issues/15906

We're exploring a new way to source external GraphQL APIs into Gatsby which will allow us to take advantage of some Gatsby APIs, such as Images and the Node API more native

[2019-08-12 17:32] #920 closed

[2019-08-12 17:34] jasonbahl commented on #15
I'm closing this. First, because of the lack of a Shortcode registry in WordPress that exposes Shortcode attributes, I have a hard time picturing a very valuable API for this.

Should someone come across a situation where WPGraphQL could/should provide some way to fetch shortcodes, we can re-open/open a new issue and discuss further.

[2019-08-12 17:34] #15 closed

[2019-08-12 17:43] jasonbahl commented on #197
Closing this as it's stale and doesn't seem to be that much of an issue.

If there are explicit pain points that can be addressed directly, let's open an issue and address the specific pain points. 😄

[2019-08-12 17:43] #197 closed

[2019-08-12 17:45] jasonbahl commented on #289
Closing this as it can be accomplished as a plugin. If you need to do this, you can register a root field that accepts an "old slug" input and returns a post object by the old slug.

Or you could filter the `postBy()` to support another input: `postBy( oldSlug: "your-old-slug" )` and return the post object that way.

[2019-08-12 17:45] #289 closed

[2019-08-12 17:48] jasonbahl commented on #529
Closing this as it has no context. If the bug comes back up we can create another issue with more context to address.

[2019-08-12 17:48] #529 closed

[2019-08-12 17:52] jasonbahl commented on #532
Related to #109

[2019-08-12 17:53] jasonbahl commented on #608
Closing this. I don't see a good option for this. Happy to re-open or create a new issue should someone provide a reason this is needed and how to approach it.

[2019-08-12 17:53] #608 closed

[2019-08-12 17:59] jasonbahl commented on #614
There's no immediate plan to expose counts on connections out of the box, as it can be a performance issue.

Should site owners feel that it's safe to expose counts on connections, there was work in the v0.3.0 release that has made it easier to expose them.

See: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/AbstractConnectionResolver.php#L476-L503

[2019-08-12 17:59] #614 closed

[2019-08-12 18:00] jasonbahl commented on #627
Closed by #731

[2019-08-12 18:00] #627 closed

[2019-08-12 18:02] jasonbahl commented on #663
Closing as I think this will need to be handled on a case-by-case situation, as outlined by the example of using Jetpack 2FA above.

If there is a pattern that emerges from several 2FA clients, we can revisit centralizing

[2019-08-12 18:05] #663 closed

[2019-08-12 18:09] jasonbahl commented on #713
Closing as there's been no response from the issue author.

[2019-08-12 18:09] #713 closed

[2019-08-12 18:11] #735 closed

[2019-08-12 18:13] jasonbahl commented on #801
I don't think this is actually an issue. Can re-open if new info proves otherwise.

[2019-08-12 18:13] #801 closed

[2019-08-12 18:15] jasonbahl commented on #869
closed by #870

[2019-08-12 18:15] #869 closed

[2019-08-12 18:36] jasonbahl commented on #879
From what I can tell, the issue here is expired tokens. Auth tokens have a 5 minute lifespan before they need to be refreshed.

If you pass an expired token, WPGraphQL will 403 because it's invalid.

The typical workflow I suggest is:

- use the `login` mutation to get an authToken
- store the authToken as a cookie or localStorage
- for future requests, use the authToken to make authenticated requ

[2019-08-12 18:36] #879 closed

[2019-08-12 18:39] TheoKoenig opened #939 "Multiple values Post Object ACF field not working"
When using a multiple values Post Object ACF field, WPGraphQL return an empty object instead of the list of post objects.
Steps to reproduce:

1. Make a multiple values Post Object ACF field
2. Try to query it

[2019-08-12 19:40] kmcaloon commented on #713
Hey sorry about the @jasonbahl. This was for a side project that I had to move away from once I started getting swamped. As soon as I can I will check it all out and let you know .

[2019-08-12 22:49] jasonbahl commented on #846
@kidunot89 re-opening. I got burned by this again working on some tests for the ACF plugin.

[2019-08-12 22:56] jasonbahl commented on #846
I also did a bit of work to dive in again and have some progress.

I'm able to now register a post_type in the setUp method of a file, or within the test method directly, then query against it.

However, the way I have this working breaks pretty much everything else in the plugin. 😂

So, now that I understand it _can_ be done and that it's not a specific WP + Codeception issue, I can at least addr

[2019-08-13 14:16] jasonbahl commented on #868
I made some changes to DNS a few weeks ago, and I haven't noticed any issues since. I'm closing this, but if something funky comes up again we can re-open or open a new issue.

[2019-08-13 14:24] #868 closed

[2019-08-13 22:03] mbrowne commented on #214
This thread was helpful, but I wasn't able to get my resolver working using `get_post()`. The correct way appears to be to use `resolve_post_object()`, e.g.:
[code]

And if you want to support pagination on your custom field (which you should definitely do if you expect that you might be returning more than a few posts), there's now a better way: `register_graphql_connection()`.

See https://docs.

[2019-08-14 06:04] bovas85 commented on #214
Are we able to use nested ACF now? Like acf only appearing in specific pages / post types

[2019-08-14 15:45] bovas85 commented on #214
thanks, will try this out then as that was the issue initially

[2019-08-14 19:13] szepeviktor opened #940 "Add PHPStan to Travis CI"
While starting [static analysis](https://packagist.org/packages/szepeviktor/phpstan-wordpress) of this plugin I've found
`use WPGraphQL\Type\RootQueryType;` in Types.php.

Could you point out where `RootQueryType` class gets defined?

Thank you.

[2019-08-14 19:24] jasonbahl commented on #939
Closing as I moved the issue to the WPGraphQL for ACF repo here: https://github.com/wp-graphql/wp-graphql-acf/issues/45

[2019-08-14 19:24] #939 closed

[2019-08-14 19:25] jasonbahl commented on #938
I wasn't able to replicate this issue on v0.3.4, just on v0.2.3.

Closing this, as I believe it's been resolved between those version.

[2019-08-14 19:25] #938 closed

[2019-08-14 19:26] jasonbahl commented on #937
Related to #661

[2019-08-14 19:35] szepeviktor commented on #940
`TypeRegistry::prepare_type` only instantiates a `new WPObjectType`

[2019-08-14 19:37] jasonbahl commented on #937
Some context on why this doesn't exist at the moment:

WordPress core is inconsistent with using the `register_setting` API, and WPGraphQL generates Schema from that API. This field, among others, isn't registered by WordPress core using the `register_setting` API.

@kidunot89 has done some work toward a patch to support fields like this that exist in WordPress core, but don't use that API. (see:

[2019-08-15 15:26] jasonbahl commented on #940
Ah! Looks like this might be some leftover `use` statements from a refactor. I'll look into it, but I think we can remove the `use` statements here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Types.php#L8-L13

[2019-08-15 15:34] szepeviktor commented on #940
@jasonbahl Please consider using @phpstan , it has great benefits.

`phpstan.neon.dist`

[code]

[2019-08-15 15:38] jasonbahl commented on #940
would you be interested in a PR to get it running in Travis for us? Or what would you suggest is the best path forward to start using it?

[2019-08-15 15:44] szepeviktor commented on #940
Just get the PHAR file, the above config and start fixing problems and raise levels.

Level 2 is the lowest recommended, Level 4 is "normal", Level max is the most sustainable.

If I send you a PR it'll break CI as there are 32 errors on Level 0.

[2019-08-15 23:30] BartoszLobejko opened #941 "Custom Post Type won't display if parent is not set to 0."
Hey,
I experienced this tricky issue where:

- I have Custom Post Type (Locations) that is not hierarchical
- I used WP Ultimate CSV Importer to get data
- Import is successful but records not display in GraphQL

To resolve the problem you should:

- Make sure that each CPT record has set "Parent Post" set to 0 while importing.
- To achieve that you can manually change post parent or edit Import p

[2019-08-16 08:35] paulisloud opened #942 "Comment Mutations update_additional_comment_data() is empty"
This function should create a hook, i.e.:

[code]

Note that `$intended_comment_status` should probably account for authentication (i.e. can only set `1` if logged in), but I'm not sure where that happens in the flow of the plugin, so submitting this as an issue vs. a PR.

[2019-08-18 14:27] simonh1000 commented on #893
Would love to see the addition of how to use standard graphiql (not wordpress plugin) with this

[2019-08-18 14:50] jasonbahl commented on #893
@simonh1000 hey! There are many versions of GraphiQL and many other GraphQL IDEs.

I’ve listed some here: https://docs.wpgraphql.com/getting-started/interacting-with-wpgraphql

I also have an embedded version of the raw GraphiQL component on that page with tooltip guides that walk through usage. That component usage is documented in the GraphiQL component repo here: https://github.com/graphql/grap

[2019-08-18 19:55] simonh1000 commented on #893
Sorry, not sure why I was so alergic to the wordpress plugin - now that i've found it it seems to do all I need

[2019-08-20 14:20] jasonbahl commented on #893
Someone asked in Slack about what mutations are added to the Schema when a Post Type is registered to `show_in_graphql`. It would be good to expand on what happens when you add a post_type to GraphQL.

[2019-08-21 14:46] jasonbahl opened #944 "Support querying multiple post types in PostObjectConnectionResolver"
Currently, the `PostObjectConnectionResolver` is setup to expect to query just one post_type at a time, as seen here:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/PostObjectConnectionResolver.php#L44

You're expected to pass a post_type to the Class, which is set, then used to do validation, such as:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Conn

[2019-08-21 17:43] drewbaker commented on #871
@kidunot89 and @jasonbahl I'm seeing `sizes` come in as `null` in 0.3.5

[2019-08-21 19:26] jasonbahl commented on #941
@BartoszLobejko hey, in looking at this, it appears that the WordPress database has the post_parent column set to BIGINT with default of `0` as the value.

Can you provide info on how the import plugin was setting values for the post_parent? was it setting something other than 0?

[2019-08-21 19:29] jasonbahl commented on #940
We could potentially get this hooked up to Travis and run while allowing failures until we get all the issues resolved.

[2019-08-21 19:30] jasonbahl commented on #937
Blocked by #672

[2019-08-21 19:35] jasonbahl commented on #933
There are a number of ways to approach this. We could use Travis to do some sort of build to add the dependencies back to the downloadable .zip files, we could use Github Actions in some way, maybe other routes?

It would be good to find example repos that have composer dependencies un-versioned, but have them installed for the downloadable files. Once we have a few repos as inspiration we can be

[2019-08-21 20:04] jasonbahl commented on #930
Right now, WPGraphQL does not have a way for users to request password protected posts/pages/custom posts.

At the moment, these objects are protected by the WPGraphQL model layer, so they will only be exposed to users with proper capabilities to see the content.

In order for users to submit a password and have the objects returned, we need to add a mechanism that allows that input, and for resol

[2019-08-21 20:11] jasonbahl commented on #941
Related to #929

[2019-08-21 23:41] BartoszLobejko commented on #941
@jasonbahl It was set to post id 321 every time I import which is a bit random as it's not any post that exists nor active. (I would expect to be parent post or first post ever created but it's not.) I found in the database it is Menu ID.

[2019-08-22 09:18] darylldoyle opened #945 "Allow filtering of query args for User connections"
Currently, there is the ability to filter the query args for both Posts and Terms using the following filters:

`graphql_term_object_connection_query_args`
`graphql_post_object_connection_query_args`

These are very useful, especially when trying to pull the total number of items a query can return as per the suggestions in #723.

I'm currently trying to pull the total number of users returned by

[2019-08-22 09:56] samburgers commented on #920
Best solution I have found is here:

https://www.gatsbyjs.org/docs/schema-customization/#feeding-remote-images-into-gatsby-image

and a clear write up here:

https://dev.to/nevernull/gatsby-with-wpgraphql-acf-and-gatbsy-image-72m

[2019-08-22 10:11] samburgers opened #947 "`sourceUrl` is false for non-image file uploads"
The `sourceUrl` for PDF uploads always returns `"false"` (mimeType and other info is still in tact however)

Image mediaItems are fine.

Is this the right way to fetch non-image upload paths? Thanks!

<img width="945" alt="Screen Shot 2019-08-22 at 10 08 23 pm" src="https://user-images.githubusercontent.com/1476939/63506429-9bd0e380-c529-11e9-928c-72d54bf7337b.png">

[2019-08-22 15:17] jasonbahl commented on #945
@darylldoyle I believe this filter provides central filtering for all connections query args: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/AbstractConnectionResolver.php#L152

Can you confirm this filter will work?

I believe the other filters you mention for the term/post connections were left for backward compatibility, but a single central filter, I think makes more

[2019-08-22 15:45] darylldoyle commented on #945
@jasonbahl as I mentioned in the PR, this filter works amazingly and it makes complete sense to have a single one rather than one in each. Not sure how I missed it, but thanks for pointing it out 🙂

[2019-08-22 15:45] #945 closed

[2019-08-22 22:06] samburgers commented on #428
If you add this to your `functions.php` you can fetch the page template slug in your queries:

[code]

[2019-09-02 06:35] lmounsey commented on #428
I've got something similar to get the page template, but the issue I'm experiencing is trying to query certain fields for certain page templates.

Currently can only query ACF fields that belong to all Page templates, but not ones that only exists on one without building additional functionality

[2019-09-03 12:10] danielbachhuber opened #951 "Previewing posts?"
Hi, is there an implementation for previewing posts?

[2019-09-03 14:24] jasonbahl commented on #951
@justinwhall has an implementation of a Gatsby site with previews that he's written about here: https://justinwhall.com/live-previews-with-wordpress-gatsby/

[2019-09-03 14:59] danielbachhuber commented on #951
Thanks. I don't quite think that will work for my purposes because it requires a nonce. I'll follow up with any additional discovery I have.

[2019-09-03 15:00] jasonbahl commented on #951
@danielbachhuber you should be able to do the same with a JWT.

[2019-09-03 15:02] danielbachhuber commented on #951
Yep, or even just a simple signed shared secret + custom authentication middleware.

[2019-09-04 17:55] justinwhall commented on #951
Curious why you don't have access to a nonce? I've pulled revisions with a JWT token but for my particular needs, the nonce was simpler and doesn't require the user to login twice.

I like this idea as it could easily be extended.

[2019-09-04 18:03] danielbachhuber commented on #951
Frontend is on a different domain than the backend.

[2019-09-04 22:16] #113 closed

[2019-09-04 22:59] #935 closed

[2019-09-05 21:21] jasonbahl commented on #925
@JakeBeresford I think it would be great to have WPGraphQL support federation.

I don't have immediate plans to add support, but I'd be interested in getting this on the roadmap.

If you have ideas on the approach, let's chat! Happy to collaborate on this. I believe @CodeProKid might be interested as well.

One thought is to make a `wp-graphql-federation` plugin where it can be worked on, so folks

[2019-09-05 21:27] jasonbahl commented on #925
@JakeBeresford @CodeProKid I created a repo here where we can start working on this feature as a plugin: https://github.com/wp-graphql/wp-graphql-federation

Let's plan features using issues over there and see what we can come up with. 😄

[2019-09-05 21:27] #925 closed

[2019-09-10 03:05] justinwhall commented on #944
I'm assuming the _why_ here is so you could eventually do something like:

[code]

[2019-09-10 09:15] hybridwebdev opened #956 "Menu Pagination does not work and menu query acts erratically."
So it seems that the menu query resolver is barely functional.

Here's my code:

`
query{
	menus(first: 3, after:"") {
	  edges {
	    node {
        name
	    }
	  }
     pageInfo {
       endCursor
       startCursor
     }
	}
}
`

which results in:

`{
  "data": {
    "menus": {
      "edges": [
        {
          "node": {
            "name": "menu 1"
          }
        },
        {

[2019-09-16 17:59] ecurtis commented on #956
I can confirm that menu does not behave properly with variables. I noticed that posts do work, perhaps some similar logic needs to be here. Thank you to the maintainers for working on this.

[2019-09-16 21:31] hybridwebdev commented on #956
Adding to this. It seems that unlike with things like post queries where you can do stuff like:
`where: {ids: [1,2,3]}`
you are unable to do so with menus, being forced to query 1 id at a time. This is unfortunate as it means if you're using a dataloader to consolidate queries into 1 query, it's impossible. To elaborate, this means that doing a query for 3 different menus, means 3 different querie

[2019-09-17 09:00] safouane-ahmed-salah opened #957 "How to add custom input fields to existing mutation?"
I would like to add custom input fields to createUser Mutation?

Thanks

[2019-09-17 09:27] safwan39 commented on #957
I think there should be filter for config mutation in function register_graphql_mutation.

`function register_graphql_mutation( $mutation_name, $config ) {
       $config = apply_filter("graphql_mutation_{$mutation_name}_config", $config);
	\WPGraphQL\TypeRegistry::register_mutation( $mutation_name, $config );
}
`

[2019-09-17 17:48] jasonbahl opened #958 "Provide public getters for properties of AbstractConnectionResolver class"
The AbstractConnectionResolver provides central filters that apply to _all_ connections extending the class, making it possible for plugins / themes to filter various functionality of Connections in a central way.

The instance of the Connection is passed through to the filters, but many of the properties of the class aren't publicly exposed, making it difficult for extending by checking the value

[2019-09-17 18:28] jasonbahl commented on #916
@amanning11 Have you tried this with mutations such as creating posts?

Users (that have published posts) are considered public entities in WordPress. You don't need to be authenticated to see users in WordPress using REST or just browsing a site. WPGraphQL behaves the same.

I've attempted using the "cookie" auth method as described above, and I'm not able to create data using mutations or read p

[2019-09-19 18:35] #947 closed

[2019-09-19 18:36] jasonbahl commented on #958
closed by #959

[2019-09-19 21:41] florianschommertz opened #960 "Mutation of CustomPost Types - setting of Custom Taxonomies Within Custom Post Type - does not work"
I tried to set a CustomTaxonomy via WP-GraphQL on a Custom Post Type.
The 95% same syntax works with posts and a normal Wordpress category.

Themefiles for Custom Post Types/Taxonomies
[https://github.com/florianschommertz/wp-graphql-mutation-problem](url)
Please check Screenshot

<img width="1689" alt="Screen Shot 2019-09-19 at 23 25 02" src="https://user-images.githubusercontent.com/332235/65282

[2019-09-20 21:05] jasonbahl opened #961 "Negative performance impact in the User Model"
When querying for Posts (or custom post types) or Users, we first check to see if the user is considered private or not.

To check this, we check to see if the user has published posts.

In WordPress, if a User has published a Post, they're considered a publicly accessible entity (not all fields of the User are considered public though).

The current approach for making this check is to use the co

[2019-09-24 20:38] SimeonGriggs opened #964 "graphql() function in WordPress breaks Admin Bar"
Latest version of WordPress, WPGraphQL, default theme with no other plugins.

Run any query using the graphql() function and even when successful, the admin bar only contains the WordPress logo and search icons. Everything else (New, Edit, Query Monitor) disappears.

Trying to benchmark WPGraphQL against WP_Query and can't since all the info I need disappears when using the function!

No obvious e

[2019-09-24 20:41] CodeProKid commented on #964
Thanks for the bug report @SimeonGriggs ! Do you have any code snippets we could use to reproduce this? Where are you executing the query? is it within a particular hook that it breaks?

[2019-09-25 05:49] SimeonGriggs commented on #964
Even the function from the docs does it:

[code]

I used this in the header of the page, not within a hook.

[2019-09-27 19:29] justinradomski commented on #428
I'm having the same issue as @lmounsey. Almost all of my custom field groups are configured for specific page templates, but I'm unable to see them.

[2019-09-28 10:02] 19h47 commented on #428
To check front page, I add a `pageOnFront` field to my schema
[code]

[2019-09-29 10:39] manzoorwanijk opened #965 "Filters for different mutation inputFields"
A header in a response told me something 👇
![image](https://user-images.githubusercontent.com/18226415/65830912-85a90680-e2d1-11e9-9ad6-077583910b7d.png)

So, here I am 😁

WP GraphQL has different mutations for Posts, Comments, Users, Taxonomies etc. but we cannot add our own input fields (custom fields) to the corresponding object input. I think, having filters for those input fields would be gre

[2019-10-03 15:33] betweenbrain commented on #874
Adding that this seems to still be an issue with v0.3.2

[2019-10-03 16:48] jydmnd commented on #964
I found what is causing this. but I'm not sure what is the expected behavior.

In the _has_authentication_errors()_ method from the _Request_ class, while connected as a user, _$wp_rest_auth_cookie_ will be true, so It will then check for a nonce. The nonce should be null using the Wordpress user login process I believe, so the user will then be set to 0, causing the Admin Bar to render incorrectl

[2019-10-04 08:21] jasonbahl commented on #964
@jydmnd ah! Good catch. ya, something looks wrong here. And yes, you are correct that the `has_authentication_errors()` is based on the `rest_cookie_check_errors()`.

The goal here is to make sure that improper attempts at authentication don't allow GraphQL to properly execute. It seems like we're not doing this quite properly though 🤔

[2019-10-06 13:12] manzoorwanijk opened #966 ""orderby" does not work as expected."
`orderby` argument does not work as expected when more than one pair is passed. Only the last pair is taken into consideration.

Possibly a bug [here](https://github.com/wp-graphql/wp-graphql/blob/771ea045d6c082a3a20ead7acdccffd393d1c1f1/src/Data/Connection/PostObjectConnectionResolver.php#L251,L253).

Shouldn't it be
[code]
which results in
[code]
for the input
[code]
instead of
[code]
which resu

[2019-10-08 12:25] santinfoa opened #967 "Query slug or path for menus?"
Is it possible to query the 'slug' values for menus like with `gatsby-source-wordpress`?
This is the one I use with the former plugin:

[code]

this is the one I manage to replicate with `source-graphql` and `wp-graphql`:
[code]

The problem is that the `url` value points to the source url (the wordpress one).
In order to navigate the gatsby website its useful to get the slug or the path.

[2019-10-08 21:51] jasonbahl commented on #965
@manzoorwanijk sorry for the delayed response. I was out for 2 weeks with almost no internet access.

I've been thinking about this for a while.

I think we need a filter applied to _all_ fields that make it easy to do something with the input of an argument during resolution of a field.

There are 2 ways that arguments typically affect resolution:
- Modify arguments used to interact with the data

[2019-10-09 04:30] manzoorwanijk commented on #965
That sounds great 👍

[2019-10-09 14:01] ivanjuras commented on #214
@jasonbahl Any plans on adding mutations for ACF fields?

[2019-10-09 20:27] jasonbahl commented on #961
I opened a PR #962 to address this.

After discussing, the PR has been closed and I will give it another go.

The current PR attempts to make this more performant by making the query to count user posts more efficient, and caching the query.

@CodeProKid brings up the point that WPGraphQL shouldn't really in the business of making cache decisions, but should instead provide proper hooks and filter

[2019-10-10 08:19] mohamadyaserakbari opened #968 "issues with having two posts"
hi guys , i want to have two posts in the same query but it gave me error , could you help me plz ???

[2019-10-10 11:21] mohamadyaserakbari commented on #967
use this code for your query , and get ID then you can get it by menuItem query
`query MyQuery {
  menuItems {
    nodes {
      title
      menuItemId
      label
      id
    }
  }
`
`  menuItem(id: "") {
    id
  }`

[2019-10-11 11:00] D19cannon opened #969 "GraphiQL schema not working in with Gatsby & Apollo"
Hey guys!
I've working with WP + Gatsby for a while and I am currently building Apollo on top of that and I need wp-graphql in order to use the Apollo queries. However, I ran in an interesting issue.

GraphiQL only show me endpoints of the rest end and wp-graphql is completely ignored. For example I can find the **allWordpressPost**, while I am actually looking for the the **post** field with it's

[2019-10-11 15:04] jasonbahl commented on #969
@D19cannon It sounds like you are using `gatsby-source-wordpress` which is a wrapper around the WordPress REST API. To use WPGraphQL, I suggest checking out [gatsby-source-graphql](https://www.gatsbyjs.org/packages/gatsby-source-graphql/)

[2019-10-11 15:39] D19cannon commented on #969
@jasonbahl thanks for the quick response!

You are right I am using gatsby-source-wordpress. I had a look into the link and I tried to add the wp-graphql plugin. However, the plugin is installed on the WP side with composer, while gatsby-config.js only accepts installed node_modules. This is also giving me the same result when I am trying to add an option in there and direct it to the path __dirna

[2019-10-11 15:40] jasonbahl commented on #969
@D19cannon so, you need to install and activate WPGraphQL (this plugin) on your WordPress site as it is a WordPress plugin that makes your WordPress site a GraphQL server, then install `gatsby-source-graphql` in Gatsby as that's a Gatsby plugin

[2019-10-11 15:42] D19cannon commented on #969
@jasonbahl Hi, that's exactly what I did. But I can't see the schema from WPGraphQL, which makes it next to impossible to create any queries.

[2019-10-11 15:43] jasonbahl commented on #969
Based on your last comment, it looks like you tried to install `wp-graphql` as a plugin in Gatsby.

Look at `gatsby-source-graphql` (https://www.gatsbyjs.org/packages/gatsby-source-graphql/) and read how to configure that to work with your WordPress GraphQL endpoint

[2019-10-11 16:09] D19cannon commented on #969
It still is not working for me. I followed the configurations and no results.
[code]

All I can see is:
<img width="253" alt="Screenshot 2019-10-11 at 19 08 31" src="https://user-images.githubusercontent.com/14916043/66666971-9014ba00-ec5a-11e9-8792-422d483665c8.png">

[2019-10-11 16:12] jasonbahl commented on #969
@D19cannon it looks like you're trying to configure `gatsby-source-wordpress` and _not_ `gatsby-source-graphql`

[2019-10-11 16:28] D19cannon commented on #969
Tried gatsby-source-graphql and that crashed the entire build.

[2019-10-11 16:29] jasonbahl commented on #969
Here's an example repo you can check out: https://github.com/wp-graphql/gatsby-wpgraphql-blog-example/blob/master/gatsby-config.js#L57-L66

[2019-10-11 16:39] D19cannon commented on #969
@jasonbahl The example did the trick! Not sure what happened, because I am confident that I did the configurations correctly.

Thanks for you help! :)

[2019-10-11 16:39] #969 closed

[2019-10-14 20:45] D19cannon opened #973 "Question: Is there a possibility to either get the GraphlQL schema or Mutate / subscribe"
Hi sorry for asking another question so soon.

I've been playing around with Gatsby, WP + Apollo and I am trying to figure out an efficient way to subscribe and mutate (post) data in the WP backend.

The only solutions I can find are usually related using fetch() or axios(). However, I wish to have either to option to send a graphql mutation from the Gatsby or a Node/Apollo server.

As far as I ca

[2019-10-14 21:10] jasonbahl commented on #973
@D19cannon It is possible to do mutations from a Gatsby site using Apollo Client and the `<Mutation>` component, or the `useMutation` hook. See: https://www.apollographql.com/docs/react/data/mutations/

In order to use Apollo on the client of a Gatsby site, you can wrap the root element of the Gatsby app with Apollo Client, like so:

## Import `wrapRootElement` into `gatsby-browser.js`
https://git

[2019-10-15 12:50] santinfoa commented on #967
@mohamadyaserakbari
Unfortunately this doesn't work, seems that there is an empty object.

![image](https://user-images.githubusercontent.com/49034773/66831577-4973d800-ef58-11e9-8c03-dde995deeeb1.png)

[2019-10-15 14:24] jasonbahl commented on #967
@santinfoa for the `menuItems` query, you need to pass a location of a menu you want to query.

For example, if you had a menu location called "Primary" and you had a menu assigned to that location, then you could query like so:

[code]

And in Gatsby with the `wpGraphQl` prefix it would be:

[code]

[2019-10-15 17:32] jasonbahl opened #974 "Revisions should be the same type as what they are revising"
Currently, Revisions in the Schema are treated as their own `Revision` Type. However, in real use cases, Revisions are the same Type (page, post, etc) as what they're revising. Their Type in the Schema should be the same.

For example, this kind of query should work:

[code]

We should be able to register things like custom fields to a Post Type, and revisions of that Post Type should expose those

[2019-10-15 20:16] CodeProKid commented on #974
I'm not sure I agree with this. WordPress treats revisions as their own type by designating it as a post within the `revision` post_type. If it were meant to be of the same type as it's parent `revision` would be a post_status, not a post_type.

Also, WP core currently doesn't track any meta in revisions so I'm not sure that I see the upside of having the data the same shape, because any custom fi

[2019-10-15 20:22] jasonbahl commented on #974
@CodeProKid there are a lot of decisions WordPress made years ago that I think would have gone a different way if it were done today 😄

From a declarative non-implementation standpoint, when looking at something like a preview of a Page, you're still looking at a Page. It's a revision of a Page, but it's still a Page. If you're looking at a revision of a Car, it's a Car. It's not a completely diff

[2019-10-15 20:31] CodeProKid commented on #974
yeah, I see what you're getting at. My point is that if the the data that makes a `Car` a `Car` are entirely stored in meta, then the revision isn't a `Car` unless that meta data is stored on the revision, which is a big IF right now in WP.

My concern is just that we will be relying on third party tooling to sync the meta data over for the matching Type definition to make sense. So this makes a l

[2019-10-15 20:34] jasonbahl commented on #974
Ya, it actually didn't even come up because of ACF.

It came up when we were thinking through how to build a UI for previewing a Post (or page or CPT) and it became clear that a Preview of a Post object is a revision of said object, and should have the same Schema shape as that object.

Of course, plugins like ACF have already done work to play nice here. If I'm not mistaken I think @jaredcobb did

[2019-10-15 20:49] CodeProKid commented on #974
I definitely agree that a single `Revision` does not work, as the shape will need to be different per post type with most custom implementations.

I'm still not totally convinced that it should be the _same_ type as it's parent, since that relies on a lot of assumptions for the underlying data to be the same (which I think needs to happen for it to make sense to use the same type).

I wonder if a

[2019-10-15 21:30] jasonbahl commented on #974
I think a separate Type still is a disservice if you consider the _actual_ tangible use of revisions.

Revisions, if you eliminate underlying implementation details, are intended to be an object over time.

If you were to literally freeze a Post in time, that's what a revision would be. The WP core implementation lacks some implementation details, such as versioning meta, but from a declarative Sc

[2019-10-16 14:15] D19cannon commented on #973
Hi @jasonbahl,
Sorry for the slow response.

I've been going through the links that you send me and I guess I managed to make some progress after a couple of hours. However, I keep running into interesting problems.

The following error occurs (I have been trying to complete this by following a PDF book about graphql, grapql docs, apollo and the wpgraphql.

I got to a point where I realised that t

[2019-10-17 01:41] drewbaker commented on #951
@danielbachhuber I've been working on this same thing. We are super close!

[2019-10-17 06:35] sanderploegsma commented on #259
@malfborger not sure if you still need this a year later, but I ran into the same issue. I ended up creating a separate source plugin for Gatsby that uses schema delegation to combine sources with the same schema into one: https://github.com/XebiaStudio/gatsby-source-graphql-multiple

[2019-10-17 12:48] santinfoa commented on #967
@jasonbahl Hi, thanks for the response.
I manage to get some results, but the problem persist, since the "url" from the query is still the complete url of the wordpress site, so the headless wordpress (I mean `www.myheadlesswp.com/menu-voice`)

Is it possible that the menu voices must be custom link entry? I'm used to create wordpress menus using the dynamic content that WP already gives me: usual

[2019-10-17 14:21] santinfoa commented on #967
Hi again @jasonbahl  !

I took a look at how you managed to do this with the [blog-example demo](https://github.com/progital/gatsby-wpgraphql-blog-example/blob/master/src/components/SiteMenu/index.js) and I came with a solution.

Basically I got the id of the menu, so I'm using the same query of the first message (I just add the "id" under node):

[code]

Then once I map the nodes I just create tw

[2019-10-17 22:08] jasonbahl commented on #973
Ya, in the docs, I tried to point out that the examples would fail. Right above is this callout:

![Screen Shot 2019-10-17 at 4 07 26 PM](https://user-images.githubusercontent.com/1260765/67051406-3b5cbd80-f0f8-11e9-83c1-c7aabd5b1ef1.png)

----

For mutations, you need authentication. I recommend checking out [WPGraphQL JWT Authentication](https://github.com/wp-graphql/wp-graphql-jwt-authenticatio

[2019-10-23 18:55] jasonbahl commented on #620
closed by #821

[2019-10-23 18:55] #620 closed

[2019-10-24 18:46] jasonbahl opened #982 "Post Object Loader should not throw an error if a Post doesn't exist"
Currently the PostObjectLoader throws a UserError if a Post doesn't exist from the array of provided IDs. This error should not be thrown as there are many valid cases where an ID can be passed but an object still not be returned.

[2019-10-24 19:56] #982 closed

[2019-10-26 22:20] TylerBarnes opened #985 "Unable to add fields to whereArgs on connections in v0.4.0"
I've registered a post type:

[code]

I'm then attempting to add a field to the where args:
[code]

This works on `master` but when I switch to `release/0.4.0`, the field is no longer registered.

[2019-10-28 15:14] jasonbahl commented on #985
@TylerBarnes thanks for opening this issue! I was able to confirm that this indeed is a regression and needs to be fixed.

It looks like some filters that once executed on the WPInputObject are no longer executing.

Adding the filters back works.

I'll open a PR and write some tests to ensure we don't introduce this regression again.

[2019-10-28 16:00] jasonbahl commented on #985
@TylerBarnes Here's the PR, and it includes a test, similar to the issue you opened, where a Post Type is registered, then a field is registered to the connection input, and then we use an Introspection query to ensure the field was properly added to the Schema.

[2019-10-28 21:15] TylerBarnes commented on #985
#987 fixes this issue for me!

[2019-10-28 21:23] #985 closed

[2019-10-28 21:34] jasonbahl opened #988 "Setup Conform to enforce standard PR titles for changelog automation"

[2019-10-29 15:31] jasonbahl commented on #846
Closed. This was resolved by v0.4.0

[2019-10-29 15:31] #846 closed

[2019-10-29 18:23] mdrayer commented on #278
Has any progress been made here, or has anyone created their own custom solution in the meantime that they are willing to share? At a loss currently on how to implement a "Search All Posts" functionality with WP-GraphQL.

[2019-10-30 20:17] jasonbahl opened #989 "Inserting terms when creating post objects sometimes doesn't work"
When inserting terms as part of a create/update Post Object mutation, if the Taxonomy GraphQL Plural name was defined with an uppercase letter first, it can be missed during the mutation.

[2019-10-30 20:19] #989 closed

[2019-10-30 21:10] jasonbahl commented on #968
@mohamadyaserakbari can you elaborate more on what you've tried and what the error is? Screenshots perhaps or code snippets would be helpful.

[2019-10-30 21:49] jasonbahl commented on #966
@manzoorwanijk If I make the suggested change, it leads to a SQL error.

I believe the reason it is the way it is now might have something to do with: https://core.trac.wordpress.org/ticket/38034

🤔

[2019-10-31 09:00] manzoorwanijk commented on #966
@jasonbahl It's not about `post__in` at all. You can see that the code ignores multiple orderby params. I can give you a practical example of the difference in results using `WP_Query` and WP GraphQL with same set of arguments.

[2019-11-01 00:19] kidunot89 opened #991 "WPInterfaces aren't fully compatible with `register_graphql_field()` and `register_graphql_connection()`"
The have been a few issues related to Interfaces and they all point back to incorrect registration the schema. For example
1. Install and activate **WPGraphQL**, **WPGraphiQL**, **WooGraphQL**, and **WPGraphQL ACF**, along with their corresponding plugins.
2. Import the sample product data included in the **WooCommerce** plugin.
3. Create a coupon. Its properties aren't important.
4 Create an orde

[2019-11-01 01:29] drewbaker commented on #951
This is our Nuxt plugin if anyone is trying to figure this out. It's just a WIP, but it should show the general direction we were trying to go in.

[code]

[2019-11-01 14:58] mdrayer opened #992 "Posts set to private show full taxonomy nodes instead of `null`"
When a post is set to private, the `categories` (or similar taxonomy) list will return all terms. I would expect it to return simply `null` like the rest of the post fields. I was using WP-GraphQL v0.3.8, but I am also seeing this issue on the latest version, v0.4.0.

Example query:
[code]

Returned data of a published post with category term of "Some Category 1" selected:
[code]

Returned data of

[2019-11-01 18:41] CodeProKid commented on #992
Interesting. The connection resolver grabs the post ID from the modeled data, but it's empty. Instead of bailing if the parent obj is a modeled `Post` object and the object_ids args is empty, it just passes the empty object_ids args to the query, which will return all terms in the category.

Great catch @mdrayer !

[2019-11-02 15:51] CodeProKid opened #994 "Move docker scripts to bin folder"
I think we should move all of the scripts to boot up docker into the `/bin/` dir, as this is the place to put stuff like this, and it will clean up the project root a little bit.

We would also have to update the CI tooling to point to the new path, as well as the readme instructions.

[2019-11-02 17:52] manzoorwanijk commented on #966
Here is how you can reproduce the issue.

1. Create two pages/posts with no parent (in my case ID = `235` and `237`)
2. Create 3 children of both the above pages.
3. Use the below query in WP GraphiQL with the given query variables.
[code]

Query Variables
[code]
**Expected behavior**
The posts with lesser parent ID should be at the top.
**Actual behavior**
The posts are not in order.

![image](ht

[2019-11-02 17:58] manzoorwanijk opened #995 "parentIn and parentNotIn do not work"
As mentioned in #966, `parentIn` and `parentNotIn` in `where` do not work because WP GraphQL (in `PostObjectConnectionResolver::get_query_args()`) sets `post_parent` to `0` which is given [preference](https://core.trac.wordpress.org/browser/tags/5.2/src/wp-includes/class-wp-query.php#L2068) by `WP_Query` over `post_parent__in` and `post_parent__not_in`.

[2019-11-03 10:30] mohamadyaserakbari commented on #968
i need two different posts in one query , when i write this it gives me error .
`query MyQuery {
  posts(first:10) {
    nodes {
      date
    }
  }
    posts(where:"sample") {
    nodes {
      categories {
        edges {
          node {
            id
          }
        }
      }
    }
  }
}
`

[2019-11-03 16:57] #61 closed

[2019-11-03 16:57] #78 closed

[2019-11-03 16:58] #90 closed

[2019-11-03 16:58] TylerBarnes opened #996 "TODO: use gatsby-source-wordpress@v4 to download and test pulling the entire schema"
This will expose some bugs that should be addressed for the v1 release

[2019-11-03 17:08] jasonbahl opened #997 "All inputs that expect an ID (global or integer) should be of Type ID in the Schema"
We're breaking #109 into 2 issues.

This issue should address making all input Types that expect an ID of some sort to be of Type ID.

Resolution can still be inconsistent (for now), but the Schema itself should all be of Type ID so that we can make resolution consistent in the future.

[2019-11-03 17:16] TylerBarnes commented on #996
For example:
[code]

<img width="723" alt="Screen Shot 2019-11-03 at 11 12 45 AM" src="https://user-images.githubusercontent.com/14190743/68089073-e2e12c00-fe2a-11e9-98b0-808ac954886b.png">

I ran into a few issues like this when pulling the entire schema. In order to pull everything I had to initially ignore all connections. My plan is to only pull id's for connections to make my own connections

[2019-11-03 17:17] jasonbahl opened #998 "Update Resolvers for all ID inputs to behave consistently"
See issue #997

## To do
### Mutations
- [x] Comment mutations ( #2328 )
- [x] MediaItem mutations ( #2331 )
- [x] PostObject mutations ( #2338 )
- [x] TermObject mutations ( #2336 )
- [x] User mutations ( #2337 )
### Connections
- [x] Comment connections ( #2522 )
- [x] MenuItem connections ( #2523 )
- [x] PostObject connections (#2525 )
- [x] TermObject connections ( #2524 )

[2019-11-03 17:19] TylerBarnes opened #999 "TODO: pay for security audit and address any security issues that are raised"
One was done previously but we need another one pre-v1.0

[2019-11-03 17:21] TylerBarnes commented on #999
Jason says "This may be something we want to talk to Automattic about"

[2019-11-03 17:25] jasonbahl commented on #999
I think we should hire a 3rd party to do some penetration testing and access control checks. Pen Test Partners was commissioned by Credit Karma to do a security audit before the v0.3.0 release, and those issues have been addressed, but it would be good to do another thorough 3rd party audit before v1.0 release.

Might even be worth hiring someone like @danielbachhuber (who worked on getting the RE

[2019-11-03 17:27] jasonbahl opened #1000 "1000th issue"
Just for fun

[2019-11-03 17:27] #1000 closed

[2019-11-03 17:29] jasonbahl commented on #109
Closing in favor of #997 and #998

[2019-11-03 17:30] #109 closed

[2019-11-03 17:31] #121 closed

[2019-11-03 17:36] #215 closed

[2019-11-03 17:42] TylerBarnes commented on #907
From other discussions it sounds like we're going to re-do how revisions are handled and potentially make a breaking change to remove the revisions field. Should we close this issue since it will probably be addressed but in a different way?

[2019-11-03 17:45] TylerBarnes commented on #843
It sounds like this issue is resolved but we need to update the docs. Is that correct?

[2019-11-03 17:46] jasonbahl opened #1001 "Multisite (Individual Site) Support"
When WPGraphQL is activated on an individual site of a Multisite, that site should get a GraphQL endpoint that should work the same as if it were an individual non-multisite site.

[2019-11-03 17:54] #265 closed

[2019-11-03 17:55] jasonbahl commented on #274
closed by #906

[2019-11-03 17:55] #274 closed

[2019-11-03 17:57] TylerBarnes commented on #848
I think this should 100% return null. This breaks the whole query but you may also be requesting some fields you have access to or that can be null. So it should be nullable.

[2019-11-03 18:03] TylerBarnes opened #1002 "TODO: add tests for PHP 5.6+ support"
There used to be tests for PHP 5.6 and up but they were removed. Since we support 5.6+ for now we should write tests for this.

[2019-11-03 18:04] TylerBarnes commented on #1002
This will help with https://github.com/wp-graphql/wp-graphql/issues/865

[2019-11-03 18:17] jasonbahl commented on #329
closed

[2019-11-03 18:17] #329 closed

[2019-11-03 18:23] TylerBarnes commented on #907
This is the issue https://github.com/wp-graphql/wp-graphql/issues/974

[2019-11-03 18:30] TylerBarnes commented on #944
We had a talk in person and we're going to name the type something like `ContentUnion` and the root connection field like `content { nodes {...} }`

[2019-11-03 18:30] TylerBarnes commented on #944
Also to return post type data we want `contentTypes { nodes { ... } }`

[2019-11-03 19:30] jasonbahl commented on #405
We should implement a `ContentTypeInterface` that includes all fields a post type has (id, title, content, etc).

Types generated by the Post Type Registry (Post, Page, etc) should implement all fields of the interface, _**but**_ if the Post Type _doesn't_ support a field, that field should be marked as deprecated for that type.

For example we could have this interface:

[code]

Then a post type

[2019-11-03 21:33] TylerBarnes commented on #598
If this is implemented https://github.com/wp-graphql/wp-graphql/issues/534 this wont be an issue anymore

[2019-11-03 21:52] TylerBarnes commented on #764
IMO by mime type feels excessive, seems like media type image vs video makes more sense

[2019-11-03 22:11] TylerBarnes commented on #786
We're thinking maybe adding a field `isSticky` for some contexts (easy), and being able to sort by sticky in others (harder). More discussion is needed though for sure

[2019-11-04 02:13] TylerBarnes commented on #848
Sorry, I misread this issue in a noisey room! ignore my last comment :p

[2019-11-04 15:23] kidunot89 commented on #1002
This needs a bit more discussion. The [code](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/AbstractConnectionResolver.php#L201) specifically isn't compatible with PHP 5.6.

[2019-11-04 17:40] TylerBarnes commented on #1002
I believe @jasonbahl wanted to commit to keeping support in line with WP. Maybe we could do it as TDD, write the tests and then change incompatible code until the tests pass.

[2019-11-05 17:40] jasonbahl commented on #875
@izzygld I think you still need to get the `connectedObject` on the `childItems.edges.node` like so:

[code]

[2019-11-05 17:45] jasonbahl commented on #878
@kidunot89 and I have been chatting about how to make the `register_post_type` and `register_taxonomy` args more flexible for situations like this.

Currently we support `show_in_graphql => true/false`, `graphql_single_name` and `graphql_plural_name`.

But to this point, I think we might want more flexibility like:

[code]

^ That is an _idea_ not necessarily a spec we need to follow. Just a thoug

[2019-11-05 19:14] CodeProKid commented on #974
I thought about this a lot, and I'm starting to warm up to this. I think there still needs to be more discussion / thought on how to use this for preview, since I don't think it's simple to do out of the box. I'd love to see a POC for how you imagine that working, I think that would clear up a lot of details for this implementation.

I do think we should add an `isRevision` bool field on any type

[2019-11-05 19:42] CodeProKid commented on #685
A lot of the tests for the model layer are really all over the place right now. It would be good to centralize them in one place.

I think this work probably needs to start with a logic map for how the model layer should be working, as in what data it should restrict in which situations, then we can develop test cases from that.

[2019-11-05 19:44] CodeProKid commented on #999
I'd love to see a 3rd party audit as well.

I also think prioritizing #685 would be good as well. I added a comment about adding tests in there.

[2019-11-05 21:27] jasonbahl commented on #968
@mohamadyaserakbari you can accomplish this by using an alias.

[code]

This will now return your data as `{ "data": { "posts" ..., "exampleAlias": ... } }`

For more info on Aliases, see: https://graphql.org/learn/queries/#aliases

[2019-11-05 21:27] #968 closed

[2019-11-05 21:30] #779 closed

[2019-11-05 21:32] TylerBarnes commented on #999
@CodeProKid I just added it to the V1 project now. On contributor day a group of us started going through all the issues and prioritizing them. I think @jasonbahl is looking through more now. We're planning on a call to go over some more tomorrow as well if you want to join!

[2019-11-06 18:13] henrikwirth opened #1007 "Refactor Documentation to be consistent."
There are some inconsistencies in the headings of the Extensions docs. `h1` tags are used where `h2` tags should be used.

If I find further refactor reasons I'll update this issue.

[2019-11-06 18:16] henrikwirth opened #1008 "More documentation for Advanced Custom Fields - Extension"
There is a lack of documentation for the Advanced Custom Field extension.

Today for example someone asked if ACF-Options are working already and they do, but you need to add `show_in_graphql` when registering the Option-Page.

I'll see if I can add more infos that might be needed.

[2019-11-06 18:44] kellenmace opened #1009 "Account for posts whose author is no longer a user"
Trying to run a `posts { ... }` or `pages{ ... }` query that includes posts/pages assigned to an author who is no longer a user on the site results in a 500 Internal Server Error.

## Steps to reproduce

1. On a WP site, create a user account and note the user ID.
1. Log in as that user and create a few posts.
1. Delete that user account and do not reassign their posts to another user upon deletio

[2019-11-06 20:09] drewbaker commented on #951
Made a lot of progress on this today with @kidunot89, this plugin is the answer: https://github.com/funkhaus/wp-graphql-cors

Working on some better documentation and some examples.

[2019-11-06 20:26] jasonbahl opened #1011 "Documentation Guidelines"
We need to add guidelines for how to contribute to the new Documentation to make it easier for contributors to add docs

[2019-11-06 20:27] jasonbahl commented on #1011
See: https://www.gatsbyjs.org/contributing/docs-contributions/

[2019-11-07 17:55] jasonbahl commented on #974
- remove the RootQuery.revision & RootQuery.revisionBy
- remove User.revisions
- change RootQuery.revisions to return a connection to ContentRevisionUnion
- change {PostType}.revision to return a connection to a {$PostQuery}

[2019-11-10 10:30] izzygld commented on #875
yes, that's correct.

[2019-11-12 17:49] #1009 closed

[2019-11-12 18:04] #992 closed

[2019-11-12 22:33] jasonbahl commented on #901
closed by #993

[2019-11-12 22:33] #901 closed

[2019-11-12 23:26] jasonbahl opened #1019 "Add `resolve_node` helper methods"
(originated here: https://github.com/wp-graphql/wp-graphql/pull/1005#issuecomment-553161908)

----

## Problem

Adding Types that implement the `node` interface is easy, but the `RootQuery.node` field doesn't have an easy way to resolve nodes of _all_ Types that implement said interface.

## Solution

We should add a way for Types to easily declare their `resolve_node` method so that when adding n

[2019-11-13 21:28] jasonbahl opened #1020 "Registering fields on Interfaces and Types can throw duplicate field errors and prevent the Schema from generating"
See: https://github.com/wp-graphql/wp-graphql-woocommerce/issues/169

[2019-11-14 01:24] parkerproject commented on #723
@dz0ny which file should we add that script?

[2019-11-14 07:53] dz0ny commented on #723
It can be a custom plugin(just add plugin header), themes functions.php file...

[2019-11-14 18:37] itwasmattgregg commented on #20
Any movement on this?

[2019-11-15 16:20] jasonbahl commented on #20
@itwasmattgregg I'm thinking this feature would probably be best explored as an extension plugin for now.

I'm not sure where Widgets are going with Gutenberg, and the current state of Widgets don't lend to proper exposure to an API as there's no registry for fields that can be added to a widget.

Ideal implementation would expose widgets with their fields, not the rendered HTML, because not all c

[2019-11-15 16:21] itwasmattgregg commented on #20
I totally agree and that all makes sense. Thanks for the update.

[2019-11-15 17:22] jasonbahl commented on #1020
Ok, so I did some more digging.

This is actually _not_ an issue with Interfaces, but an issue with `register_graphql_connection`.

As it stands, you can register multiple graphql connections with the same `fromFieldName` and there's no warning/error.

For example:

[code]

This just fails because we are trying to register `RootQuery.testerConnection` twice.

So, we need to check if `${FromType}.{

[2019-11-15 17:47] jasonbahl commented on #1020
Ok, so looking into this more, I think this is actually the behavior we DO want.

Right here we throw an error if a duplicate field is registered, but only if GRAPHQL_DEBUG is enabled.

This allows developers to know _why_ their Schema isn't generating as expected, and I think that's what we _want_.

If you were to register `RootQuery.testerConnection` multiple times, you, the developer would want

[2019-11-15 17:48] #1020 closed

[2019-11-15 20:59] Nessario commented on #1020
By disabling the `GRAPHQL_DEBUG`, fixed my issue as well.

I think it's all good too!

[2019-11-16 10:16] siddhantdante commented on #20
i am working on widgets. So that we can do drag and drop widgets to sidebar and can send whatever inside of widget on wpqraphql making a root query as 'getSidebar' doing this is will send all widgets data as in array widget-1, widget-2..... but couldn't figuring out howto query wp_options and making a custom query inwpgraphql.   any help or suggestion would be very helpful.  Thanks.

[2019-11-18 03:09] kidunot89 opened #1021 "Router::is_graphql_request() returns false until the `init` action is fired."
#### The Problem
I have WPGraphQL extension code that only wish to run during GraphQL requests before the `init` action is fired, however when I use `Router::is_graphql_request()` it always returns false.

#### The Expected Behavior
It should return if true on all GraphQL request at all steps in the request after the `Router` class is loaded.

#### Other Comments
The issue is the cause by the fact

[2019-11-18 03:21] kidunot89 commented on #1019
I'm highly interested in this issue. WooGraphQL and few more extension I maintain design acutely to work with the current design. If it'll help lessen the breaks here are the `graphql_resolve_node*` callbacks for WooGraphQL.
WooGraphQL's `graphql_resolve_node` [callback](https://github.com/wp-graphql/wp-graphql-woocommerce/blob/develop/includes/data/class-factory.php#L208-#L229)
WooGraphQL's `grap

[2019-11-18 07:29] esamattis commented on #1021
I hit this too. My use case was to conditionally define acf rule for  page_template

[code]

I needed to do this because the rule was always false in graphql context and thus not showing the field in the schema. But this workaround did not work because `is_graphql_request()` returns false on the top level where the acf definition was.

[2019-11-18 07:33] esamattis commented on #1021
Also I originally contributed this method because I needed it for wp-graphql-polylang. But as it appears it does not work there neither because it needs it before the wp query vars are set.

My current hacky graphql context detection method is following: https://github.com/valu-digital/wp-graphql-polylang/blob/aac1be1657879d4590f2086c71794f3284315724/src/Loader.php#L108-L122

[2019-11-18 15:21] jasonbahl commented on #893
@TylerBarnes didn't we say at WCUS that we should close this as it's too general and not actionable? I suppose we could use it to remind us to do a Documentation audit that leads to actionable issues being opened? 🤷‍♂

[2019-11-18 15:48] jasonbahl commented on #1021
@kidunot89 can you provide more insight on what you're trying to do conditionally within a GraphQL request _before_ the `init` hook? Some more context will help me understand the best way to approach here.

[2019-11-18 17:55] jasonbahl commented on #1021
If we're going to have conditionals like this, we have to also assume not everyone is using GraphQL via HTTP requests.

The ACF example above, will only work when using ACF over HTTP, eh? Because the `Router::is_graphql_request()` is determined by the URI path.

But if you wanted to use GraphQL within a PHP page template, for example, these wouldn't work because you'd be using the `graphql` or `do

[2019-11-18 18:17] jasonbahl commented on #1021
I wonder if we rename this to `Router::is_graphql_http_request()` so that at least there's a clear expectation that using this conditional will only validate HTTP requests, and not _all_ GraphQL requests.

There are valid cases where you need to know if it's a GraphQL request coming over HTTP, but there are also the cases where we need to know if it's a GraphQL request, regardless of coming throug

[2019-11-18 18:59] esamattis commented on #1021
Yeah. That's definitely a HTTP only solution. Not sure if `page_template` ACF rules can work at all from `graphql()` calls from PHP on templates because it may or may not have set the field which in turn makes the graphql schema dynamic based on the page it's being used on. But that discussion is offtopic for this issue.

I'd be on board with that. When I earlier named it as just `is_graphql_reque

[2019-11-18 19:01] jasonbahl commented on #1021
@esamattis ya, that's a good point. It seems like there's a legit need to be able to reset to false once a GraphQL request is completed, as there could be execution happening between multiple GraphQL requests 🤔

[2019-11-18 19:05] esamattis commented on #1021
So yeah `\WPGraphQL::is_graphql_http_request()` and `\WPGraphQL::is_graphql_request()` would be pretty clean API (and wp-graphql should start using the latter one internally).

[2019-11-18 19:07] jasonbahl commented on #1021
It still won't quite solve use cases where you need to know if it's a GraphQL request before `init`.

I'm curious to learn more about that use case. Perhaps checking if it's a GraphQL HTTP Request will be enough, but then whatever case using that would not work in a non-HTTP GraphQL request.

Curious if there are other approaches, or filters available for the "other thing" that's happening pre-ini

[2019-11-18 19:12] esamattis opened #1024 "`GRAPHQL_REQUEST` should be dynamic"
Opening new issue from https://github.com/wp-graphql/wp-graphql/issues/1021#issuecomment-555159476

There are multiple places where wp-graphql specific filters are active when the `GRAPHQL_REQUEST` is set to true.

For example in Config.php:

https://github.com/wp-graphql/wp-graphql/blob/4855753012815b13b4eb002e22d6ad407703ebfc/src/Data/Config.php#L250

https://github.com/wp-graphql/wp-graphql/blo

[2019-11-18 19:12] esamattis commented on #1021
Yeah, making `GRAPHQL_REQUEST` dyamic is a separate issue. Opened one here https://github.com/wp-graphql/wp-graphql/issues/1024

[2019-11-18 19:29] esamattis commented on #1021
Actually wp-graphql-polylang cannot work at all when called from PHP. That's because Polylang initializes itself into a specific mode which maybe be "admin", "frontend" or "rest" and now via wp-graphql-polylang "graphl" too. Once the intialization has been done it cannot changed anymore (at least to my knowledge).

So in wp-graphql-polylang I must tell it to go to the graphql mode as soon as possi

[2019-11-18 19:31] jasonbahl commented on #1021
@esamattis ugh. Sounds like some funky stuff happening with the Polylang plugin then. 🤔

I get it though. Most Plugin developers didn't think to plan for a Headless WordPress future when they set out to solve their problems.

[2019-11-18 21:51] kidunot89 commented on #1021
@jasonbahl In WooGraphQL I have one [hook](https://github.com/wp-graphql/wp-graphql-woocommerce/blob/develop/includes/class-woocommerce-filters.php#L32-#L34) in particular that is contingent on the fact that it will only be run during WPGraphQL request, this is the hook for setting the WooCommerce session handler class. If it is used at anytime other than a WPGraphQL request,it will break WooComme

[2019-11-18 22:36] CodeProKid commented on #1024
This probably needs to happen in a second constant, or some other global context. I'm not a big fan of constants containing dynamic data, and we need a single flag to indicate _any_ GraphQL request for people wanting to modify schema or anything else for any GraphQL request.

[2019-11-18 23:35] jasonbahl commented on #1021
@kidunot89 you do that stuff based on custom headers, right?

You probably should do what you need to do with the custom headers to set identity before _any_ processing occurs, not _just_ GraphQL

That's how WordPress in general works. User identity is setup early, then processing occurs based on that identity.

Identity / Auth is at a layer before processing. You can auth with Basic Auth, Oauth,

[2019-11-18 23:42] jasonbahl commented on #1024
Well, let's say, for some strange reason, you have something like this in your template file:

[code]

Currently, `GRAPHQL_REQUEST` would be true after the first call, and would remain true even for the call to `do_rest_request`, which hypothetically could cause filters to execute against things like WP_Query which try to limit to only filtering during GraphQL Requests.

Ideally, once the WPGraphQ

[2019-11-19 05:05] jasonbahl commented on #1008
closed by #1010

[2019-11-19 05:05] #1008 closed

[2019-11-19 16:06] #1024 closed

[2019-11-19 16:08] zgordon opened #1028 "Adding `isFrontPage` boolean to Pages data #5"
It would be helpful to know if a page is assigned as the static homepage from WordPress. If we could expose this then we could tell when calling createPage() when to reassign the URI from the slug in WordPress to `/` so it loads as the homepage in Gatsby automatically as well.  This would allow someone to use WordPress menus to dynamically control the Gatsby homepage more easily.

[2019-11-19 17:16] CodeProKid commented on #889
I think this would be a nice addition. FWIW I implemented this on my custom GraphQL implementation, and I think it makes a lot of sense. Doing this as field inputs let you keep your query static, and then depending on which component will be outputting the images, they can declare the sizes you actually need.

[2019-11-19 17:20] #958 closed

[2019-11-19 17:20] jasonbahl commented on #958
Thanks @CodeProKid

[2019-11-19 17:27] CodeProKid commented on #917
I'm not _totally_ convinced that this is needed. Would be great to see a use case to support this need.

[2019-11-19 17:28] CodeProKid commented on #893
lol, this should definitely get closed for more specific issues. This issue is offensively vague 😆

[2019-11-19 17:29] CodeProKid commented on #899
I am _very_ curious what this is going to look like on the backend to relate uri paths to entities across types, seems like something that will get messy pretty quick. I definitely see the utility of this, but implementation will be tricky.

[2019-11-19 17:30] CodeProKid commented on #903
I'm pretty sure this was a known thing. Is this something that was fixed in a recent release @jasonbahl ?

[2019-11-19 17:31] CodeProKid commented on #912
Definitely seems like a useful feature, need to flesh out implementation details on this.

[2019-11-19 17:34] CodeProKid commented on #892
Might be related to #960 ?

[2019-11-19 17:37] CodeProKid commented on #891
It would be good to get a clear action item here. Are we doing something to fix this, or is the current functionality what's expected, and we just need better docs?

[2019-11-19 17:48] CodeProKid commented on #886
This is somewhat related to #997 / #998, though I think the change ultimately needs to happen in the WooCommerce plugin since the customer query @rotexhawk is referring to resides in that extension.

[2019-11-19 18:01] CodeProKid commented on #794
I wonder if we should have something like a `Comment` interface that `Pingback` and `Trackback` both extend. Then you could do something like:
[code]
Not sure if that would make sense, depends how many overlapping fields there are. I'd have to refresh myself with pingbacks and trackbacks since it's been a minute since I've worked with them.

[2019-11-19 19:56] jasonbahl commented on #1028
closed by #1029  and #1031

[2019-11-19 19:56] #1028 closed

[2019-11-19 19:57] jasonbahl commented on #1021
closed by #1022 and #1025

[2019-11-19 19:57] #1021 closed

[2019-11-19 20:01] jasonbahl commented on #685
@CodeProKid maybe during bugscrub tomorrow we could work on documenting the model layer in some sort of logic map? Would be good to get in the docs, and could inform things like organizing tests, as you stated

[2019-11-19 20:18] CodeProKid commented on #685
@jasonbahl surely! That sounds great 😄

[2019-11-19 20:27] jasonbahl opened #1032 "Interface inheritance should allow for Interface Types to be passed, not just Interface names"
When registering a Type that implemented an interface, pre v0.4.1 you could pass an Interface Type, like so:

[code]

But with v0.4.1, this code expects you to pass the Names of the interfaces, not the instance of the interface.

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/WPObjectType.php#L80-L91

Like so:

[code]

The code linked above doesn't account for the previous way folk

[2019-11-19 20:53] #1032 closed

[2019-11-19 20:55] jasonbahl commented on #991
closed by #1005 and #1025

[2019-11-19 20:55] #991 closed

[2019-11-19 21:10] drewbaker opened #1034 "Allow format filter to content and excerpt that doesn't include shortcodes or <p> and <br> tags"
In regular wordress `the_content()` gets run through the `wpautop()` function and the expand shortcode function, but `the_excerpt()` does not.

But WPGraphQL runs them both through wpautop(). Would be great to get the excerpt or content without auto P? Same goes for some of the ACF fields that get auto P'd too.

We use the excerpt for SEO page descriptions and open-graph tags. We could run it thro

[2019-11-19 21:12] hsimah commented on #917
I think the use case was something like ordering on custom fields:

Given a collection of `Quizzes` I want to retrieve pages ordered by their `difficulty`. I can use `graphql_post_object_connection_query_args` to correctly do my server side ordering on the WP_Query.

I could add in my own order by input, and this turned out to be somewhat larger than I anticipated when I started on the PR.

[2019-11-19 21:13] esamattis opened #1035 "WPGraphQL should call `html_entity_decode()` for all content fields"
By default WordPress encodes HTML entities before they are saved to database. This can be convinient when templating HTML strings in PHP because developers don't have to think about it.

But with WPGraphQL this is a burden when content is rendered via React or any other modern tool that has HTML entity encoding build-in because you'll get double html entity encoding.

There are tools that allow HT

[2019-11-19 21:17] CodeProKid commented on #1035
I think this would be a positive change, we'll have to think about the implementation a bit though, would it make sense to add another format arg to the enum like `ENCODED`, or should we just do this for _all_ text fields.

[2019-11-19 21:18] CodeProKid commented on #1034
I think this feature makes sense, just need some discussion so we can get a clear path for what the implementation looks like.

[2019-11-19 21:33] esamattis commented on #1035
Maybe to disable the decoding. If this were opt-in it would be too easy for developers to forget to use it because you'll see the mistake only after when content with encodable characters get first inserted. It's awkward to get these issue reports multiple times from clients. Talking from experience 😬

I don't think it would be safe. Even if it would in the context of wp-graphql core we cannot kno

[2019-11-19 22:31] drewbaker commented on #1035
Yes, this is something we have run into with Nuxt and our WordPress boilerplate. We solved it by having a `wp-content` component on the frontend that sanitizes and decodes HTML, and it does some cool stuff to handle shortcodes too. Check it here: https://github.com/funkhaus/haus-components/blob/master/WpContent.vue.

This is also an issue with any `title` that comes out of WP-GQL too. In Vue/Nuxt

[2019-11-19 23:08] esamattis commented on #1035
I personally believe it is. Frameworks are supposed to help developers to succeed and I think this is a clear win for devs. I cannot see any real downsides if we do this. One could argue that it makes harder to use the `graphql()` function from PHP templates but we can actually detect that and disable the decoding in that case automatically if needed.

Consider escaping of user generated content i

[2019-11-19 23:20] #893 closed

[2019-11-19 23:21] #875 closed

[2019-11-19 23:23] jasonbahl commented on #598
closed by #597

[2019-11-19 23:23] #598 closed

[2019-11-20 15:49] jasonbahl commented on #931
closed by #981

[2019-11-20 15:49] #931 closed

[2019-11-20 21:05] jacobarriola opened #1036 "Docs: add search feature 🕵🏼‍♂️"
The new documentation site does not have a search feature, which makes searching for answers a bit arduous.

Happy to explore adding Algolia to the Gatsby site, since it looks like the theme has some configs for it.

Let me know if you'd like to me to kickoff a PR for this 👍

[2019-11-22 14:36] jasonbahl opened #1037 "WPGraphQL conflict with WPGraphQL Tax Query"
## Expected Behavior
Should enable taxQuery on RootQueryToPageConnectionWhereArgs

## Current Behavior
Crashes nuxt app on install. Receiving error ```Fatal error: Uncaught ArgumentCountError: Too few arguments to function WPGraphQL\TaxQuery::add_input_fields(), 3 passed in /www/wp-includes/class-wp-hook.php on line 286 and exactly 4 expected in /www/wp-content/plugins/wp-graphql-tax-query-master/

[2019-11-22 14:58] jasonbahl commented on #1037
Related: https://github.com/wp-graphql/wp-graphql-meta-query/issues/8

[2019-11-22 16:17] #1037 closed

[2019-11-22 19:17] jasonbahl opened #1040 "WordPress source V4 & Theme Epic"
This issue tracks features and bug fixes related to getting Gatsby Source WordPress v4 to production

[2019-11-22 19:19] jasonbahl commented on #1040
Closing as we won't track against this

[2019-11-22 19:19] #1040 closed

[2019-11-22 19:34] #843 closed

[2019-11-22 19:50] ddresch commented on #892
Thanks @isvaljek for this finding. I can confirm in version 0.4.0 the `lcfirst` is needed.

[code]

[2019-11-22 19:51] ddresch commented on #960
see #892 which fixes this issue.

[2019-11-24 06:22] hsimah commented on #848
+1 for null payload and no error

[2019-11-25 08:26] izzygld commented on #1035
couldnt help notice we do [currently](https://github.com/wp-graphql/wp-graphql/blob/master/src/Type/Enum/PostObjectFieldFormatEnum.php) have a `PostObjectFieldFormatEnum` on  The format of post field data.

`RAW`
Provide the field value directly from database

`RENDERED`
Apply the default WordPress rendering

Perhaps we can have one more called:  `ENCODE`

[2019-11-25 16:37] jasonbahl commented on #899
Ya, I mean WordPress does this already when you enter a URL in the web browser and the appropriate template is returned to you, so I imagine there are some common functions in WordPress we can use, either directly or as inspiration to handle it.

This would assume that the input matches the permalink structure set in WordPress. You couldn't have a different permalink structure set by, say, Next.js

[2019-11-25 17:05] jasonbahl commented on #917
Ya, to be able to express what field(s) can be ordered by, you want to expose just what's possible for any given connection.

Right now you'd have to add `difficulty` to the existing Enum, and that will show on _all_ connections for any Post Type, which makes the self-documenting Schema funky.

Like why should the docs for Posts show that I could sort by "difficulty" when I really can't because "d

[2019-11-25 17:10] jasonbahl commented on #892
Fixed in #1025

[2019-11-25 17:10] #892 closed

[2019-11-25 17:10] jasonbahl commented on #960
Fixed in #1025

[2019-11-25 17:10] #960 closed

[2019-11-25 17:27] jasonbahl commented on #1035
Related: #1034

[2019-11-25 18:53] hsimah commented on #917
Yeah, that was what I found when I was working on this issue - the order by is reused a lot.

But I still would like a central, non-janky way of customizing order by inputs for my types. It seems lame to have to add my own order by input for each type. Perhaps we could have an override in the register config to add custom order by. It's been a while since I looked at this.

tl;dr I agree that this

[2019-11-25 21:13] jasonbahl commented on #1036
@jacobarriola The plan is to have Algolia set up with DocSearch. I need to chat with Algolia to make that happen.

[2019-11-25 21:25] jasonbahl commented on #1036
@jacobarriola I've emailed Algolia about DocSearch.

[2019-11-25 22:16] CodeProKid opened #1041 "Custom post type should get connected to users if it supports authors."
When registering a custom post type, we add connections to things like terms and featured media if they support those things, but we don't add a connection on users to that post type if the post type supports `authors`. Let's add that connection dynamically when the post type is registered.

[2019-11-25 22:27] jasonbahl commented on #1041
Still need to make this a one-to-one connection. 🤔

[2019-11-25 22:30] jasonbahl commented on #1041
@CodeProKid it looks like `author` is provided to _all_ Post Types as it stands.

Are you saying you want `author` field to _not_ exist on Post Types that have not registered support for `authors`? compared to the current default of showing it for _all_ Post Types?

Related to: https://github.com/wp-graphql/wp-graphql/issues/405

[2019-11-25 23:46] jacobarriola commented on #1036
@jacobarriola cool. Let me know whether you need any help with the implementation.

[2019-11-26 17:31] jasonbahl opened #1043 "Allowed Post Types & Taxonomies bootstrapped too early"
Currently, we hook into `init` and execute to `get_allowed_post_types()` and `get_allowed_taxonomies()`

This fetches allowed post types and taxonomies, and if they don't have single/plural names set, we throw an exception.

There's no real reason we should be throwing exceptions at init for GraphQL specific needs.

In fact, there's no real reason we need to run this at init at all. We can just ca

[2019-11-26 17:31] jasonbahl commented on #1043
Related to: https://github.com/wp-graphql/wp-graphql-custom-post-type-ui/issues/9

[2019-11-26 18:00] #1043 closed

[2019-11-26 18:24] CodeProKid commented on #1041
nope, I'm talking about the opposite side of the connection. So any post type supporting the `author` field should get connected on the `user` type, like posts do by default. Like:
[code]

[2019-11-26 18:41] jasonbahl commented on #1041
Ahhh! I see.

[2019-11-26 18:42] jasonbahl commented on #1041
I think I read:

as

[2019-11-26 22:49] TylerBarnes opened #1045 "Make all Nodes available via root query fields (PostTypes and Taxonomies)"
This will be helpful for Gatsby integrating with WPGQL because I'm pulling all root fields that are lists of nodes, and creating Gatsby nodes out of them. Then any time a connection field is connected to a node I've fetched I just get the id and link it in Gatsby to reduce the amount of fetching that needs to happen. Currently there are PostTypes and Taxonomies nodes but no root field to get a lis

[2019-11-26 23:10] jasonbahl opened #1046 "sendPasswordResetMutation returns internal server error"
When executing the `sendPasswordResetEmail` mutation as a non-authenticated user, an internal server error is returned.

I believe there's an issue with the Model Layer and non-authenticated requests.

We should:

1) Move the shape of the response to: `user{ node { ...userFields } }` instead of just `user { ...userFields }` as that will allow for us to null the `node` field for when the user info

[2019-11-26 23:52] TylerBarnes opened #1047 ""Cannot return null for non-nullable field PostType.id.""
[code]

When I run this query I get the error "Cannot return null for non-nullable field PostType.id.". Seems like this shouldn't be an error and should just return null. Also can Users be revised?

This might be irrelevant once you rework revisions!

[2019-11-26 23:53] TylerBarnes commented on #1047
Ohh wait. This is for revisions that user created, I see!

[2019-11-26 23:55] TylerBarnes opened #1048 ""Connection between the User type and the User type""
In this query, if I command click on revisions in Graphiql, I get the field description as "Connection between the User type and the User type". Shouldn't it be "Connection between the User type and the Revision type"?
[code]

[2019-11-27 18:12] TylerBarnes commented on #928
This would make things a lot easier on the Gatsby side! Since I'm pulling all top level nodes and then just linking any connected nodes by id, if these could output flat it would mean writing less logic on my side.

[2019-11-27 18:13] TylerBarnes commented on #928
I believe the current plan is to do this for menus. It probably makes sense to keep it consistent and do it everywhere

[2019-11-27 18:41] jacobarriola opened #1049 "Docs: accessibility audit"
I ran a quick lighthouse audit and found some accessibility flags that should be addressed:

1. Color contrast ratios - random copy throughout, most notably in the pink used in the `<code>` element and links inside the alert components.
2. Buttons on the side nav do not an accessible names - looks like the `<button>` elements have an embedded `<h6>`

Happy to get a PR going if this is an issue you

[2019-11-27 19:53] jrmcdona commented on #20
Does this not help with this issue?   https://github.com/wp-graphql/wp-graphql/pull/485   Sorry I am new to WP Graph QL and WordPress in general but I am currently trying to rebuild my blog in React with WP Graph QL and trying to rebuild side bar widgets.

[2019-11-28 19:31] kellenmace opened #1050 "User role display names missing from schema"
Currently, in WPGraphQL 0.4.2, these fields are available when querying for user roles:
[code]
There is no field for getting the display names for roles.
Also, the description for the `name` field says it is "The UI friendly name of the role", but that's not correct – it is the registered name for the role.

## Recommended changes
1. Add a `displayName` field to the schema that returns the role di

[2019-11-29 05:06] joshuaiz commented on #213
I just ran into this after cloning a Local by Flywheel site. Flushing permalinks does fix it.

[2019-11-30 19:29] bsides commented on #428
Hi @19h47 do you mind elaborate on how to add that and how to query it? Thank you

[2019-12-01 01:32] 19h47 commented on #428
Hello @bsides, you can add this snippet in your `functions.php`, then you can retrieve in your schema the `pageOnFront` field.

But, since the [0.4.1 version](https://github.com/wp-graphql/wp-graphql/releases/tag/v0.4.1), thanks to @jasonbahl and @zgordon, this is obsolete: the boolean `isFrontPage` field has been added directly to the page schema.

[2019-12-01 02:47] bsides commented on #428
I noticed it, thanks!

I just would like to retrieve it as a filter, like { pages { where: { isFrontPage: true } } } but I don't think I can change what can go in as `RootQueryToPageConnectionWhereArgs`, could I?

[2019-12-02 16:15] jasonbahl commented on #1050
@kellenmace good call. fix coming.

[2019-12-02 16:37] jasonbahl commented on #1049
@jacobarriola I think it would be a great idea to audit the docs for accessibility and start working on fixing issues, such as those you've already pointed out.

Feel free to submit PRs to address.

If you're not sure where to begin, let us know and @TylerBarnes or I can help get you in the right direction.

Thanks!

[2019-12-02 16:55] jasonbahl commented on #1048
This is addressed in the PR for #974

The description for `User.revisions` is now `Connection between the User and Revisions authored by the user`

[2019-12-02 16:55] #1048 closed

[2019-12-02 16:57] jasonbahl commented on #1047
@TylerBarnes with the PR for #974 this `postTypeInfo` field will no longer be available on the `revisions` connections, as they will be a `ContentRevisionUnion` and not a specific PostType, so that field `postTypeInfo` will no longer exist at all.

[2019-12-02 16:57] #1047 closed

[2019-12-02 17:48] #1050 closed

[2019-12-02 18:28] jasonbahl commented on #1036
I've heard back from Algolia, so I'm going to look into setting this up here shortly.

[2019-12-02 19:16] jasonbahl opened #1052 "TypeRegistry->get_types() not available within the `graphql_register_types` action"
@kellenmace reported in [Slack](https://wp-graphql.slack.com/archives/C3NM1M291/p1575309286330500), the following:

As an example — Doing this:

[code]

[code]

[2019-12-02 20:10] #1052 closed

[2019-12-06 14:33] mashirozx opened #1057 "Docs: demo code syntax error"
Remember, an issue is not the place to ask general questions. You can use [Slack](https://wp-graphql.slack.com) for that ([join here](https://wpgql-slack.herokuapp.com/)).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a _bug_, please be sure to include the following:
- [x] A descriptive title
- [ ] An *isolated* way to repr

[2019-12-06 15:34] jasonbahl commented on #1057
@mashirozx thanks for reporting. I've updated this piece of documentation here: https://github.com/wp-graphql/wp-graphql/commit/c5c5dcc07ff9bff4080f631ad9d90d798968d75b

[2019-12-06 15:34] #1057 closed

[2019-12-06 16:03] #1036 closed

[2019-12-06 16:24] mashirozx commented on #479
How can I pass a parameter `$comment` like `$user` in a `comments` field?

I mean, I hope to add a custom `mate` field in `comments`, just to get the data from the `$comment` object.

![image](https://user-images.githubusercontent.com/16148054/70337853-cf403f80-1886-11ea-8383-eb83ed70068b.png)

In normal WordPress development, we can use codes like below to get comment mate info:

[code]

What is

[2019-12-06 17:23] jasonbahl commented on #479
@mashirozx ok, so you have registered a `mate` field to the `Comment` type. That means that the `first` argument passed to the resolver for that field will be the `$comment` object (an instance of the WPGraphQL Comment Model)

So, assuming you have already defined a `Mate` type, (it appears you have) you can do something like:

[code]

[2019-12-06 17:43] mashirozx commented on #479
Thanks a lot 🧡🧡🧡

[2019-12-06 17:55] jasonbahl commented on #974
closed by #1056

[2019-12-06 17:55] #974 closed

[2019-12-06 18:00] jasonbahl commented on #951
@danielbachhuber @drewbaker @TylerBarnes @justinwhall @kidunot89 Ya'll are actively working on previews in some capacity so I wanted to touch base here.

I just pushed the v0.5.0 release which centers around refactoring how Revisions are being handled.

It's a breaking change release, as it removes the `Revision` Type in favor of representing revisions in the Schema as the same Type as the parent

[2019-12-06 18:00] #951 closed

[2019-12-06 19:22] drewbaker commented on #951
Thanks for the update Jason.

[2019-12-06 21:09] mdrayer opened #1059 "`postBy` and similar queries give an error when no post is found"
The `postBy` and similar queries throw an error when no post is found.

Example query:
[code]

Example response:
[code]

Since nothing really went wrong here, I would not expect an error to be thrown; just a `null` response in `data.postBy`. While the error message is helpful, it ultimately leads to promises being falsely rejected.

Tested with WPGraphQL version 0.4.2

[2019-12-06 21:19] jasonbahl commented on #1059
Ok, so when an individual resource cannot be found, it seems most APIs actually do return an error of some sort.

For example, the WP REST API will return a 404 and the following message, if you try to hit an endpoint for a post that doesn't exist, such as `https://www.wpgraphql.com/wp-json/wp/v2/posts/3445456353`:

[code]

The Github GraphQL API will also return an error if you try and fetch a re

[2019-12-06 21:24] mdrayer commented on #1059
Ah, okay. I figured it would work like the `posts` query where it returns empty if nothing is found; but if `postBy` is already following common API practices, I should probably just use `posts` instead ;-)

[2019-12-06 21:25] jasonbahl commented on #1059
No direct answers in here, but helpful article about errors in GraphQL here for reference: https://itnext.io/the-definitive-guide-to-handling-graphql-errors-e0c58b52b5e1

[2019-12-06 21:31] jasonbahl commented on #1059
@mdrayer For consistency sake, I think I'll just remove the error to behave like `post` entry point.

It's still a toss up what's best. Graph.Cool, for example returns null with no errors, and I do think it will alleviate some headaches if we do the same, and at minimum will lead to better consistency with our other single-node entry points.

I'll PR it, and if we feel in the future that we have a

[2019-12-07 11:47] mashirozx opened #1062 "bug: comment `hasNextPage` incorrect when `first` is null"
Remember, an issue is not the place to ask general questions. You can use [Slack](https://wp-graphql.slack.com) for that ([join here](https://wpgql-slack.herokuapp.com/)).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a _bug_, please be sure to include the following:
- [x] A descriptive title
- [x] An *isolated* way to repr

[2019-12-07 12:12] mashirozx commented on #1062
By the way, how can I get all the comments at once (I don't know how many children under a comment)?

[2019-12-07 14:36] mashirozx opened #1063 "bug: a bug on your website :)"
![image](https://user-images.githubusercontent.com/16148054/70376261-0b84a600-1942-11ea-8df3-287a8a44aae2.png)

[2019-12-07 15:45] renatonascalves commented on #143
Hi guys! Something about the members mutations for the BuddyPress API that I want to discuss.

BuddyPress has some members actions, delete and update, that we can use the same mutations from the plugin.

But the current implementation has no way for me to filter the permissions check. For example. In BuddyPress we check if the user has the `edit_user` cap to update his own account or the `delete_u

[2019-12-08 17:48] CodeProKid commented on #143
I definitely agree that we should centralize the cap checks for mutations, but I don't think the model layer is the correct place to do so. The model layer is to model WordPress data to conform to the shape of the Graph. The checks for mutations are fundamentally different in that they don't affect the shape of objects in any way, but rather enforce rules around what actions a user can take.

@ren

[2019-12-08 20:23] emaildano commented on #1063
This is an easy fix, it's just a CSS index jawn.

[code]

![Screen Shot 2019-12-08 at 3 23 36 PM](https://user-images.githubusercontent.com/1872327/70395636-b6db3c80-19ce-11ea-8061-14e810acc173.png)

[2019-12-10 11:17] mashirozx commented on #1062
Looked the code, found that the default `query_amount` was 100, however, I only get 10 items from 17 items with `first=null` or unset as above.

https://github.com/wp-graphql/wp-graphql/blob/d9fb0b73f669ebba3762e89ff3df262cdc155fc3/src/Data/Connection/AbstractConnectionResolver.php#L146

[2019-12-10 11:31] mashirozx commented on #1062
https://github.com/wp-graphql/wp-graphql/blob/d9fb0b73f669ebba3762e89ff3df262cdc155fc3/src/Data/Connection/AbstractConnectionResolver.php#L402

I thinks this should not be `false` if we use the default value `$amount_requested ` in
https://github.com/wp-graphql/wp-graphql/blob/d9fb0b73f669ebba3762e89ff3df262cdc155fc3/src/Data/Connection/AbstractConnectionResolver.php#L322

[2019-12-10 13:08] mashirozx opened #1065 "Feature Request: Query by offset of the content list"
### When you open an _issue_ for a feature request, please add as much detail as possible:
- [x] A descriptive title
- [x] A description of the problem you're trying to solve, including *why* you think this is a problem
- [ ] An overview of the suggested solution
- [ ] If the feature changes current behavior, reasons why your solution is better

I'm building a page navigation to the comment list o

[2019-12-10 14:06] esamattis commented on #1065
@darylldoyle just released a plugin for this

https://github.com/darylldoyle/wp-graphql-offset-pagination

I don't think this needs to be in the core.

[2019-12-10 14:21] darylldoyle commented on #1065
@mashirozx the plugin I've released is only currently tested with version `0.3.8` of wp-graphql. That said, the core logic is there so it shouldn't take too much effort to get it working with the newer versions. Once we've upgraded our version internally, then I'll bring it up to date if no one has done so beforehand.

[2019-12-10 14:35] mashirozx commented on #1065
Thank you! @darylldoyle  @esamattis

[2019-12-10 14:35] #1065 closed

[2019-12-11 14:47] saulirajala commented on #964
@jasonbahl Any news on this?

[2019-12-11 16:45] jasonbahl opened #1066 "Add ContentNode Interfaces for all PostObject Types to implement"
Interfaces in GraphQL allow for many similar Types to have common fields, and when returning an Interface as the Type of a resolver, the common fields can be predictably queried and the non-common fields can be queried via fragment selections.

For example, if both `Post` and `Page` implemented a `ContentNode` interface with common fields such as `id`, `title`, and `content`, and a field returned

[2019-12-11 16:51] jasonbahl commented on #1066
Related: #944, #405, #278, #263

[2019-12-11 19:08] #1059 closed

[2019-12-11 21:18] #944 closed

[2019-12-11 22:20] jasonbahl commented on #964
@saulirajala thanks for pinging on this.

I've got a PR to resolve this coming.

[2019-12-11 22:28] #964 closed

[2019-12-12 14:52] yossisp opened #1071 "Users pagination returns `hasNextPage: false` even though there's more data to display"
This is an example of the query I'm making in the official Wordpress graphql api [playground](https://docs.wpgraphql.com/getting-started/posts/#pagination):

[code]
I get the result with 1 user  `paulisloud` and `hasNextPage` is `false`:
[code]
However, there're more users because when querying `users(first: 1)` I got 2 results: paulisloud and kellen. But this doesn't make sense because `hasNextPa

[2019-12-12 20:10] jasonbahl commented on #1071
@yossisp Thanks for reporting. I've confirmed this is indeed a bug.

Looking into it.

[2019-12-12 20:12] jasonbahl commented on #1071
@yossisp I _think_ this might be a case of the demo site not having the latest WPGraphQL version. When I try this query on my local install, hasNextPage appears to be working properly. Looking into getting the demo API updated.

[2019-12-12 21:38] jasonbahl commented on #1071
@yossisp This looks like it was a documentation issue. I've updated WPGraphQL on the demo server the documentation queries from, and I had to update the GraphiQL component on the docs site (#1073) as well.

Closing this as I believe it's resolved.

Thanks!

[2019-12-12 21:38] #1071 closed

[2019-12-12 21:44] #1063 closed

[2019-12-12 21:44] jasonbahl commented on #1063
@emaildano @mashirozx Thanks for reporting the issue and the solution. I've PR'd a fix. Should get deployed and live within a few moments.

Thanks!

[2019-12-12 23:47] jasonbahl commented on #1002
Closing as we are going to support 7.0+

[2019-12-12 23:47] #1002 closed

[2019-12-12 23:55] rodolphonetto opened #1077 "Problem with sourceUrl(size: ) on mobile or mobile mode devtools"
Hi guys

when doing a fetch with axios (or other) asking for a image and a especific size it works fine, but if you do that fetch from a mobile chrome or in mobile mode on chrome devtools it sends you an error: Expected type MediaItemSizeEnum, found TD_356X220.

If you run the exemple below in firefox mobile and mobile mode on devtools it also works fine, but on chrome no. If you change the TD_356

[2019-12-13 01:18] jasonbahl commented on #1077
@rodolphonetto can you copy how you have registered the size in WordPress?

This seems, from what I can tell, to be an issue with the client, but I want to replicate your server as well to see what I can find out.

[2019-12-13 01:20] TylerBarnes opened #1078 "childPages vs parent"
I'm noticing that there's a discrepancy between how child and parent nodes are handled. For parents we have a PostObjectUnion type but children are the same type as the current node. Seems like they should work in the same way, though I may be missing something! The naming is also different `childPages` vs `parent`, should it also be `parentPage`?

[code]

[code]

[2019-12-13 01:30] jasonbahl commented on #1078
@TylerBarnes in WordPress, a parent of a Post can be of any _other_ Post Type, it doesn't have to be of the same Post Type, which is why it returns a `Union`. This will _probably_ change to return an Interface though, now that I have the `ContentNode` Interface in the works.

The naming is `parent` instead of `parentPage` as the parent might not be a page.

The `childPages` connection specifically

[2019-12-13 01:58] jasonbahl commented on #1077
@rodolphonetto I folllowed your steps and I cannot replicate.

I've registered a custom image size like so:

[code]

I confirmed it was in my Schema:

<img width="1147" alt="Screen Shot 2019-12-12 at 6 45 41 PM" src="https://user-images.githubusercontent.com/1260765/70762965-b9f86480-1d0f-11ea-9f27-408b8cb74fc9.png">

I then confirmed I could query in GraphiQL and get expected results:

<img width

[2019-12-13 02:00] jasonbahl commented on #1062
@mashirozx This behavior is not a bug.

According the the Relay Specification for Connections ([https://facebook.github.io/relay/graphql/connections.htm#HasNextPage()](https://facebook.github.io/relay/graphql/connections.htm#HasNextPage())), `hasNextPage` should return `false` if neither `first` or `last` are set with a value.

[2019-12-13 02:00] #1062 closed

[2019-12-13 02:10] rodolphonetto commented on #1077
@jasonbahl Thank you for the quick answer, tomorrow I'll try to register the image size as you did and try it again, what makes me sad is that it does not work only  in chrome mobile, in firefox it works, so strange 🤔

[2019-12-13 02:11] jasonbahl commented on #1077
It is a very strange issue indeed. Makes me think it's somehow client related and _not_ WPGraphQL related. But happy to help if you find out that's not the case and there is indeed something in the plugin causing the issue.

[2019-12-13 02:11] jasonbahl commented on #1077
@rodolphonetto I'm going to close this, but feel free to open again if you feel there's evidence something in the plugin needs to change.

[2019-12-13 02:11] #1077 closed

[2019-12-13 13:02] amreshabux opened #1079 "ACF Field type Group"
How to write a query using Graphql to grab data from ACF custom fields where field type is Group.

[2019-12-13 17:05] jasonbahl commented on #1079
@amreshabux I moved this issue over to the WPGraphQL for ACF repo and answered there. Thanks!

[2019-12-13 17:17] #1079 closed

[2019-12-13 18:37] TylerBarnes commented on #1078
Oh, interesting, I didn't know you can have those relationships between different post types, that's cool! It might be good to change to `children` then like you mentioned.

[2019-12-13 18:44] TylerBarnes commented on #263
I think being able to get nodes by permalink/URL would be a really useful feature. For example I'm looking at pulling MediaItem nodes based on URL's found in post content or other html, but I'm not sure I can reliably use the URL to get the URI to make the query.

[2019-12-13 18:49] TylerBarnes commented on #263
Sorry, just realized I actually mean looking MediaItem nodes up by sourceUrl which is a totally different thing than what I wrote

[2019-12-13 20:12] aberkow opened #1080 "/graphql endpoint documentation for when the wordpress and site address urls don't match"
When the site url and wordpress url don't match in the general settings, the documentation should show that the graphql endpoint follows the wordpress url.

for instance

site url - `http://localhost`
wordpress url - `http://localhost/wordpress`
graphql endpoint - `http://localhost/wordpress/graphql`

I think the documentation just needs to be updated to reflect this case.

[2019-12-13 20:59] #1080 closed

[2019-12-14 05:57] TylerBarnes commented on #848
I've been running into this when building the new Gatsby source plugin and I'm thinking more that I agree it should be null payload with no error.

This returns a very similar error for me:
[code]

I believe it's because there are no connected post types so I get `"Cannot return null for non-nullable field PostType.id."`. I get that this is following the GraphQL spec but it seems unhelpful. If the

[2019-12-17 18:10] jacobarriola commented on #1049
@jasonbahl was out last week, so I didn't get a chance to start this task. I will be digging in this week.

[2019-12-17 21:08] jasonbahl commented on #1049
@jacobarriola awesome! Thanks so much!

[2019-12-18 15:54] jasonbahl opened #1082 "Output Schema to Static Docs"
A while ago we wanted to output the Schema to static docs for users to browse. I think there could be a lot of value in this still. We should look into deploying static docs of the Schema, using GraphDoc or similar.

Related: https://github.com/wp-graphql/wp-graphql/issues/290

[2019-12-18 16:54] aberkow opened #1083 "Support needed for post formats"
The `post_format` taxonomy is not currently supported as a taxonomy type in wp-graphql. Currently in order to support them, you need to use the `register_taxonomy_args` filter [as if they were custom taxonomies](https://docs.wpgraphql.com/getting-started/custom-taxonomies/#filtering-existing-taxonomies). But they're a core part of posts and should be supported.

[2019-12-18 22:41] #1083 closed

[2019-12-20 14:05] mlbrgl opened #1087 "Endpoint change to home_url in 0.5.1. (legitimately?) breaks bedrock-based installs"
### When reporting a _bug_, please be sure to include the following:
- [x] A descriptive title
- [ ] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)
**--> Please let me know when and if this would be helpful and I'll create one**
- [x] What version of `WPGraphQL` you're using, and the platform(s)

[2019-12-20 14:31] esamattis commented on #1087
I think this was not intended? WPQL should be exposed like the rest api.

[2019-12-20 15:08] kidunot89 commented on #1087
@mlbrgl My bad bro, I hadn't even factored REST into the equation when I made the change, and it was such small change I didn't think it would even be noticed :sweat_smile: .

And I think the REST endpoint should be exposed on the `site_url` for a couple of reasons.
 - **Consistency** this way going forward the `site_url` can be used to target all backend functionality and the `home_url` for front

[2019-12-20 16:44] jasonbahl opened #1088 "Add `list_of` and `non_null` to the TypeRegistry"
CC: @kidunot89

When filtering Type definitions, it's currently not possible to add `non_null` and `list_of` types because they're not properly in the Type Registry.

For example: https://github.com/kidunot89/wp-graphql-jwt-authentication/blob/feature/wp-graphql-v0.6.0-support/src/ManageTokens.php#L130

Here, we're filtering the `graphql_user_fields` and we can't do `type => [ 'list_of' => 'non_nu

[2019-12-20 17:13] taraschi commented on #899
I have a need for something similar to this and did some investigating because `uri` was not behaving as I was expecting.

I think the weirdness here is WordPress's concept of `uri`, which is essentially just `post_name` if the post type is not hierarchical.

WP maintains unique `post_name`s in a post type unless it is hierarchical, so `uri` is not guaranteed to be unique across post types.

Becau

[2019-12-20 19:32] #1088 closed

[2019-12-20 20:36] mlbrgl commented on #1087
Thanks for your insights, it's helpful to get other point of views.

I agree, it would be helpful to have a clearer separation between the respective roles of site_url and home_url in that context, and not expect that they are somehow interchangeable. On the other hand, I wonder if people would not rely more on .env variables rather than a key in the WP DB for frontend use cases.

I don't know for

[2019-12-20 20:48] jasonbahl commented on #1087
Ya, this is an interesting issue. 🤔

One big reason for changing `site address` is that it generates internal links to that address. So, let's say you're using your WordPress site as a source for a headless application. Your WP install is at data.site.com and your headless application is at site.com

By changing the WordPress Address setting to `data.site.com` and your Site Address to `site.com` (

[2019-12-20 23:40] TylerBarnes opened #1091 "Query MediaItem by sourceUrl"
This would be useful for pulling info about images in post_content or other html fields where only the attachment URL is available.

[2019-12-20 23:42] TylerBarnes commented on #1091
Looks like there's a core function that does this https://developer.wordpress.org/reference/functions/attachment_url_to_postid/

[2019-12-21 14:41] mlbrgl commented on #1087
@jasonbahl thanks for the thorough write-up!

[2019-12-21 14:41] #1087 closed

[2019-12-22 15:35] reinisg opened #1092 "Query with custom theme"
Hello,
I have issue with custom WordPress theme, in functions.php I have registered menus:

[code]

And in admin I have created new primary menu. But when I go to the http://localhost:8000/___graphql in locations dropdown shows only EMPTY. Is there other place where need to register menu, to show it in graphql query?

[code]

Regards,
Reinis

[2019-12-23 23:25] atiyahio opened #1094 "PHP Parse error: syntax error, unexpected ':', expecting ';' or '{' in /home2/wp/public_html/wp-content/plugins/wp-graphql-develop/src/Data/Connection/AbstractConnectionResolver.php on line 177"
Everytime I setup wordpress to work with gatsby I get this error:
![image](https://user-images.githubusercontent.com/47905558/71384821-4c401880-25ec-11ea-8df4-c1792a9cd7e2.png)

Any idea whats wrong here?

[2019-12-26 15:47] kellenmace opened #1095 "Correct & standardize descriptions for global "id" input fields"
For the `updateUser` mutation, the `id` input field's description says "The ID of the user". That is misleading though – WPGraphQL users will think that they should pass in the WP user ID, rather than the globally unique identifier for the user object. Screenshot: https://cloudup.com/crBNDmBdh5z

I think that to avoid that confusion for the `updateUser` mutation and any other operations, it would

[2019-12-28 15:42] jasonbahl commented on #1094
@atiyahio hey, it looks like you are on a PHP version below 7.0. The plugin requires PHP 7.0+

I'll open an issue to return a proper error stating as much to help users identify why things aren't working when on a server using a lower PHP version.

[2019-12-28 15:44] jasonbahl opened #1096 "Throw Exception when WPGraphQL is used on a PHP server below PHP 5.0"
WPGraphQL should return an error when it's used on a PHP server running a PHP version lower than 7.0 so users can better identify why it's not working in such environments.

[2019-12-28 15:44] jasonbahl commented on #1094
Closing in favor of #1096

[2019-12-28 15:44] #1094 closed

[2019-12-30 04:58] jkhaui opened #1097 "How to add custom fields to the schema?"
Hey,

So I last used this plugin a year ago. I made a little extension that exposed a custom `user_meta` key and value pair from the WP database and added it to the schema. As far as I recall, the code worked when I wrote it, but it no longer works with this latest version of wp-graphql. I've traced the issue to the resolver. Here's the snippet in question:

[code]

When I check the network tab in

[2019-12-30 06:40] jkhaui commented on #1097
I've updated the code to make use of the register_fields API, but the same issue persists:

[code]

[2019-12-30 07:03] kidunot89 commented on #1097
Don't use `\WPGraphQL\Types` that namespace no longer contains the primitive types. Use `'String'` instead.

[2019-12-30 08:05] jkhaui commented on #1097
Great, thank you!

[2019-12-30 08:58] jkhaui commented on #1097
@kidunot89 the problem is that I can't access the user's ID property. It sounds simple but I haven't worked with PHP/WordPress for a while. Do you know how I should achieve this?

E.g. `var_dump( $user->{'data'}->{'data'}->{'ID'} );` doesn't work; it just returns null.

Thank you

[2019-12-30 14:26] jasonbahl commented on #1097
@jkhaui try `$user->id` instead of `$user->ID` as you are now passed an instance of the User Model instead of the WP_User.

[2019-12-30 14:46] jasonbahl commented on #1092
@reinisg after registering nav menus like you did above, you should be able to query for menus by specific location like so:

[code]

![Screen Shot 2019-12-30 at 7 46 22 AM](https://user-images.githubusercontent.com/1260765/71586757-80c63f80-2ad8-11ea-94f2-3e6d34df3451.png)

[2019-12-30 14:46] #1092 closed

[2019-12-30 15:04] jkhaui commented on #1097
@jasonbahl oh great, that does actually work for returning the User Model id. But in this case I believe I still need the WP_User ID (e.g. a number like 40, as opposed to a string like "dXNlcjo0MA==" returned by the User Model id) so I can use it with `get_user_meta`. Any ideas how I might achieve this?

[2019-12-30 15:17] jasonbahl commented on #1097
@jkhaui ah yes, sorry. That would be `$user->userId`

[2019-12-30 15:18] jasonbahl commented on #1097
Fwiw: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Model/User.php#L177

[2019-12-30 17:49] #1096 closed

[2019-12-31 02:36] jkhaui commented on #1097
Brilliant, thanks @jasonbahl !

[2019-12-31 22:20] #1097 closed

[2020-01-01 09:10] luishdz1010 commented on #899
I have a version of this on production for several months now. My use case is having 0% routing logic on the frontend, instead, the frontend forwards all requests as-is to WP and is ready to handle any possible object returned. This works only for Posts currently, as I haven't had the need to extend it for anything else.

Here is the gist of it:

[code]

This is not the exact version I'm running,

[2020-01-01 23:06] jasonbahl commented on #263
The next release I'm working on (#1086) addresses this (the ability to fetch single nodes by various forms of unique identifiers).

## Posts
We're deprecating the `$postType.'By'` entry points, and have added a new `idType` field and enum for single entry points.

This means queries such as the following will still work, but will not show in the Schema documentation, and may be formally removed fr

[2020-01-02 06:05] reinisg commented on #1092
@jasonbahl Thanks for the answer, but problem were - to upgrade npm packages, then all worked fine again.

[2020-01-02 07:52] m-muhsin commented on #263
Beautiful! Thanks @jasonbahl

[2020-01-02 10:19] mlbrgl opened #1100 "Page is being listed in unselected parent category"
(cross-posting from Slack in case the wider audience can help out)

_hi! I'm working with (hierarchical) categories and I can't figure out whether what I'm witnessing is the expected behaviour or not. When a page is attached to a child category, it also shows in the parent category. Is this how it is supposed to be? How to not list it there but only in the child category?
here is some additional i

[2020-01-02 21:04] TylerBarnes commented on #263
So stoked for this. This is a really great feature!

[2020-01-02 21:41] jasonbahl commented on #899
@luishdz1010 @taraschi I've been working on this in the upcoming v0.6.0 release.

My current implementation is kinda gnarly as it re-uses a LOT of the WP class, but in a way the WP class wasn't specifically designed for. I want to spend time cleaning that part up, but wanted to get things working first.

You can read more about how things are working here: https://github.com/wp-graphql/wp-graphql/

[2020-01-03 17:00] jasonbahl opened #1101 "PHP 7.4 has test failures"
Need to look into PHP 7.4 support.

@renatonascalves reported issues when testing WPGraphQL for BuddyPress on PHP 7.4, and when testing updating Travis tests to test on PHP 7.4 there are 5 failing tests.

It appears that updating WordPress from 5.2.3 to 5.3.2 also causes one test failure.

see: https://travis-ci.org/wp-graphql/wp-graphql/builds/632351510?utm_medium=notification&utm_source=github_s

[2020-01-04 19:41] saleebm opened #1103 "Replace - in addition to _ for allowed_setting_types"
Using the [Google site kit plugin](https://github.com/google/site-kit-wp), and version 0.5.1 of WPGraphQL, the query name for the setting was google-site-kitSetting.

![Screen Shot 2020-01-04 at 12 20 01](https://user-images.githubusercontent.com/34875122/71770805-73a5b800-2eff-11ea-89a0-112eebc296b1.jpg)

I believe the issue is from here in the [type registry].

[type registry]: https://github.co

[2020-01-06 15:56] jasonbahl commented on #899
Closing this as a dupe of the work being done in #263

[2020-01-06 15:56] #899 closed

[2020-01-07 17:22] jasonbahl commented on #1066
This has been merged into the next release.

[2020-01-07 17:22] #1066 closed

[2020-01-08 12:56] jrmcdona commented on #325
Is there a way to view posts in draft mode?   My query is not returning drafts which I want to use on the test environment for authors to preview that content on the front end.

[2020-01-08 20:06] dsifford commented on #1071
Just gave this a shot locally on an installation of my own and hasNextPage always appears false for all requests I've tried (not just users).

Installed the latest release versions of this plugin, as well as the acf and woocommerce extensions.

[2020-01-08 20:09] dsifford commented on #1071
Oh and @jasonbahl, one more point that might be important is that I'm consuming this with gatsby using gatsby-source-graphql (similarly to how the wp-graphql org has in their example repo).

That might be the difference here.

One thing I'm also curious of now that I've got your attention: How is authentication handled with this approach? I have not provided wp-graphql with any auth details, yet g

[2020-01-08 22:49] jasonbahl commented on #1071
@dsifford Hey! Are you passing `first: xx` as an input on your query? If not, then `hasNextPage` will be false. You need to specify how many items you want for `hasNextPage` to be true.

for example:

[code]
---

@dsifford WPGraphQL provides publicly exposed data to any requestor, much like your WordPress site provides it by URLs.

What data is Gatsby accessing that you feel it shouldn't?

Users,

[2020-01-08 23:07] dsifford commented on #1071
@jasonbahl Hah, well that would prob explain it then! I wasn't specifying any count or parameters whatsoever. I had it figured that the default was 10 and that i'd be able to page from there. Whoops! Thanks for the clarification.

Re: auth concerns... I suppose this might be out of scope and I'd be happy to report it downstream, but just from clicking around and peeking a couple response types, it

[2020-01-09 00:10] jasonbahl commented on #405
After chatting with @CodeProKid this approach has changed.

Instead of adding all fields to a common interface, then deprecating them for the Post Types that don't support them, we can define many interfaces and _add_ them to the Types that _do_ support the features.

For example, we can define the following interfaces:

[code]

Then, for each Post Type that supports these features we can implemen

[2020-01-09 01:00] TylerBarnes commented on #405
That was great thinking, kudos @CodeProKid !
As far as naming the interfaces I vote for `... on SupportsX` as the convention. `... on NodeWithTitle` sounds like it could apply to a post that supports titles but just doesn't have one added.

[2020-01-09 04:07] jasonbahl commented on #1071
@dsifford ah. For WPGraphQL for WooCommerce related stuff like exposing potentially sensitive data, I’d suggest opening an issue on that repo.

@kidunot89 is super responsive.

[2020-01-09 06:27] gravityeric commented on #213
Try this:

**Setting** -> **General** ->
there is two fields
1. WordPress Address (URL)
2. Site Address (URL)

Normally we set this two fields like:
[code]

And after I changed Site Address
[code]

http://example.com/main/graphql
works for me.

after `/graphql` was working
you can change your Site Address (URL) back
`Site Address (URL) : http://example.com `

[2020-01-09 07:02] let00 opened #1106 "Revisions should use parent post's categories"
[code]

The response:
[code]

This query will not return categories, as Wordpress Core does not support revisions for categories. I think we should still return the parent post's categories, rather return an empty array of categories. Seems like this should be an easy change in the [TermObjectConnectionResolver](https://github.com/wp-graphql/wp-graphql/blob/dd11205fc9ef572d0cbb5ddcc32d9d58b95475cc

[2020-01-09 14:58] jasonbahl commented on #1106
🤔 This is an interesting idea.

I wonder if this is better suited for plugin territory?

One thing that might be worth exploring would be to store an array of term IDs as meta on revisions at the time the revision is created, then use those IDs to resolve `revision->term` connections, that way there's actually a record of the terms associated with the Post node at that point in time.

Something li

[2020-01-09 16:57] let00 commented on #1106
@jasonbahl That sounds like a great idea! I see there is a `graphql_term_object_connection_query_args` hook that we can use if we decide to make a plugin. And then WP has the `wp_put_post_revision` hook which we can use to store revision meta.

I can work on a plugin in my free time if you decide this is not worth supporting in WPGraphQL.

[2020-01-09 18:37] jasonbahl commented on #325
@jrmcdona Draft posts are considered non-public resources in WordPress and WPGraphQL respects that.

You need to be authenticated to see drafts.

If you are authenticated, then you can include drafts in queries like so:

[code]

[2020-01-09 19:03] jasonbahl commented on #1106
@let00 I'm on the fence.

It's kind of disappointing that querying terms associated with revisions returns nothing, but it's also misleading to have it return terms of the parent, as it would appear that that was the terms associated with the revision at XX point in time, and that's not accurate.

It would be nice if there were a core mechanism to store revisions of term relationships so we could

[2020-01-09 20:54] jasonbahl commented on #1103
@saleebm I've opened a PR to address this. #1107.

I tested quickly with the Google Site Kit plugin and it seems to resolve the issue. Would love if you could also confirm.

Thanks!

[2020-01-09 21:40] jasonbahl commented on #1101
closed by #1102

[2020-01-09 21:40] #1101 closed

[2020-01-09 21:42] jasonbahl commented on #1100
@mlbrgl thanks for reporting. I'll have to look into this a bit. Thanks for the screenshots and details. Should help reproduce and identify issues.

[2020-01-09 21:48] jasonbahl commented on #1100
@mlbrgl I am able to reproduce this, and I would agree this is not intended behavior. I'm looking into the cause.

The "posts" or in your case "pages" queried in connection with a specific term should be posts (or pages) connected to that term, not that term's parent.

[2020-01-09 21:57] jasonbahl commented on #1100
@mlbrgl aha! It looks like the `tax_query` include_children defaults to true:

https://developer.wordpress.org/reference/classes/wp_query/#taxonomy-parameters

And we aren't properly handling that here: https://github.com/wp-graphql/wp-graphql/blob/fe71e01dd95388f5b89ec971f52cdf4499f330df/src/Data/Connection/PostObjectConnectionResolver.php#L219-L224

PR coming.

[2020-01-09 22:00] saleebm commented on #1103
Confirmed! Thank you

[2020-01-09 22:54] jasonbahl commented on #1100
@mlbrgl this is kind of interesting though. If you navigate in your WP Dashboard to Categories, select a Parent Category and click "View", you will see both unselected and selected posts.

For example, I have just one post titled "Many Categories" in the "Parent Category" and this is what I see:

![Screen Shot 2020-01-09 at 3 49 30 PM](https://user-images.githubusercontent.com/1260765/72111488-2c9

[2020-01-10 02:13] let00 commented on #1106
@jasonbahl Trying to understand what you mean. Let's say the first revision has a category with `ID=1` and `name=Adventure`. Then we change the post's category to `ID=2`, `name=Comedy`. We then change the `ID=1` category's name to `Thriller`. Even though the first revision will still point to the `ID=1` category, it's name won't be `Comedy`.

This makes sense for the multiple revision s feature in

[2020-01-10 14:56] DimaBur opened #1110 "How to exept some categories from posts query?"
Is it possible to exept some categories from query?
For example if I want to query some posts with special parameters I can use such query:

[code]

Is it possible to make an opposite query, where I can exclude some post categories from response data?

[2020-01-10 15:31] jasonbahl commented on #1110
@DimaBur at the moment the core WPGraphQL doesn't expose arguments to do this. But, you could use the WPGraphQL Tax Query plugin (https://github.com/wp-graphql/wp-graphql-tax-query) to do this.

With that plugin active along with WPGraphQL, you can do a query like so, and that will provide you with posts that are NOT IN the "uncategorized" category:

[code]

[2020-01-10 15:42] jasonbahl commented on #1110
@DimaBur actually, I mis-spoke. WPGraphQL core plugin _does_ allow you to do a `categoryNotIn` query without an extension.

You can do the following:

[code]

The input value for `categoryNotIn` should be the integer database id for the term to not include. Ideally this would be more flexible to accept the global hashed ID or fields like the category slug or name, but for now it accepts the intege

[2020-01-10 15:42] #1110 closed

[2020-01-10 15:43] DimaBur commented on #1110
Thank you!

[2020-01-10 15:46] jasonbahl commented on #1110
You're welcome! Excited to hear more about what you're building with WPGraphQL!

[2020-01-10 16:58] jasonbahl commented on #1106
@let00 ya, I think you bring up some good points, especially regarding preview. Perhaps the better option is to do as you suggest and support the parent categories by default, and plugins, such as the idea I proposed, could filter that. 🤔

[2020-01-10 17:02] jasonbahl commented on #1106
I'm also interested in exploring multiple entry points, as you suggest. One for `revisions` and one for `preview` that might have somewhat different behaviors. This could get confusing, as they would be _nearly_ identical with some likely non-obvious changes.

I'm leaning more toward your initial proposal of supporting parent terms on revision connections. I think that supports the preview case an

[2020-01-10 17:22] jasonbahl commented on #20
Closing per discussion above: https://github.com/wp-graphql/wp-graphql/issues/20#issuecomment-554426933

If anyone is interested in creating an extension for this, you can probably use PR #485 as inspiration.

[2020-01-10 17:22] #20 closed

[2020-01-10 17:23] jasonbahl commented on #21
Closing. See: #20

[2020-01-10 17:23] #21 closed

[2020-01-10 20:14] jasonbahl commented on #1100
Regarding this, I'm not sure the best approach.

For example, let's say we want to query like so:

[code]
What do we name that option? Something like the above `includePostsInChildrenCategories` or something else? 🤔 And how does this work when composed with other `$where` args? We'll need to make sure to include it only on connections from Terms to Post Objects, as that wouldn't make sense as an a

[2020-01-10 20:58] jasonbahl commented on #155
As lively as this discussion was, I'm going to close this issue. I can't see the core WPGraphQL plugin supporting this out of the box right now. We've done a lot of work to add a robust `register_graphql_*` API to make it easy to register fields and Types to the Schema, so if an application needed something custom like the TinyMCE settings, they should be able to expose those to the Schema easily.

[2020-01-10 20:58] #155 closed

[2020-01-13 16:33] #1103 closed

[2020-01-13 17:36] mlbrgl commented on #1100
@jasonbahl thanks for addressing this so quickly! I also saw #1108, and although most of it is beyond my current understanding, it looks promising from a black box perspective. If at all helpful, I can run that PR code in my current project and see how it behaves.

Not sure if this is still relevant but `includePostsInChildrenCategories` is very descriptive, so from that angle, it's getting my vot

[2020-01-13 20:00] #1100 closed

[2020-01-13 21:32] #263 closed

[2020-01-13 21:32] #278 closed

[2020-01-13 21:32] #405 closed

[2020-01-13 23:47] SunooBertsch opened #1113 "Making axios or fetch request to graphql endpoint"
We are trying to create a sitemap using @nuxtjs/sitemap and need to make a request to the wordpress graphql API in order to obtain all of the dynamic routes from the backend. Is it possible to send an axios or fetch request to our graphql API from within nuxt.config, and if so, how should the headers be set in the post request?

Any help would be greatly appreciated!

[2020-01-14 03:49] jasonbahl commented on #1113
@SunooBertsch you can read about various ways to fetch the WPGraphQL endpoint on this page: https://docs.wpgraphql.com/getting-started/interacting-with-wpgraphql/

This example is close to what using Axios would look like: https://docs.wpgraphql.com/getting-started/interacting-with-wpgraphql/#browser-console

Hopefully this helps?

[2020-01-14 03:49] #1113 closed

[2020-01-14 04:47] jasonbahl commented on #848
The original issue has been addressed.

You can now query `postBy` with a non-existing ID, and you will get a null with no error

[2020-01-14 04:47] #848 closed

[2020-01-14 05:03] jasonbahl commented on #912
Closed by #1112

There is now a `UniformResourceIdentifiable` Interface applied to all Post Object Types, Term Types and the User Type.

Each of these types has a `uri` field which returns a relative path that can be used to identify the resource.

See this in action:

![Screen Shot 2020-01-13 at 10 00 31 PM](https://user-images.githubusercontent.com/1260765/72315572-7bc4cc80-3650-11ea-8b88-4b4e63

[2020-01-14 05:03] #912 closed

[2020-01-14 05:20] jasonbahl commented on #341
This is addressed by #1112

See it in action:

![Screen Shot 2020-01-13 at 10 20 15 PM](https://user-images.githubusercontent.com/1260765/72316288-e70f9e00-3652-11ea-8aab-629d092d7d3e.png)

[2020-01-14 05:20] #341 closed

[2020-01-14 05:50] jasonbahl commented on #1091
@TylerBarnes I've got this working in the v0.6.0 release.

See it in action:

Here I query to get a media item. I then copy the `sourceUrl` for use as input in the next query.

![Screen Shot 2020-01-13 at 10 33 19 PM](https://user-images.githubusercontent.com/1260765/72316993-1cb58680-3655-11ea-90cf-65f24fc9064a.png)

I then use the sourceUrl as the input for the next query, asking for a mediaItem

[2020-01-14 05:52] jasonbahl commented on #1091
closed by #1112

[2020-01-14 05:52] #1091 closed

[2020-01-14 05:54] #704 closed

[2020-01-14 05:55] jasonbahl commented on #883
@kellenmace I feel like we addressed this, eh? I can look into it again, but I feel like one of your PRs dealt with this bug?

[2020-01-14 20:26] #967 closed

[2020-01-14 20:52] jasonbahl commented on #907
This is addressed in the v0.6.0 release.

See it in action, querying for revisions as an unauthenticated user:

![Screen Shot 2020-01-14 at 1 52 12 PM](https://user-images.githubusercontent.com/1260765/72381710-17981c00-36d5-11ea-95bc-eeb619c59863.png)

[2020-01-14 20:52] #907 closed

[2020-01-14 20:56] #973 closed

[2020-01-14 20:57] jasonbahl commented on #1049
@jacobarriola let me know if you want to chat sometime about doing a comprehensive audit and coming up with a list of action items to address.

Thanks!

[2020-01-14 20:59] jasonbahl commented on #423
I'm going to close this issue in this repo. We have a repo here to start working on subscriptions. Depending on the shape it takes, we could merge it back into this repo.

https://github.com/wp-graphql/wp-graphql-subscriptions

[2020-01-14 20:59] #423 closed

[2020-01-14 21:50] SunooBertsch commented on #1113
Turns out our flywheel hosting was blocking the requests we were making before. Your response is greatly appreciated though, and noted for the future. Thanks for taking the time Jason!

[2020-01-14 21:55] TylerBarnes commented on #1091
Oh, wow! This is huge for processing inline images in html. Thanks @jasonbahl !

[2020-01-14 22:05] jacobarriola commented on #1049
@jasonbahl for sure. Is the bug scrub a good time? Or should we discuss offline?

BTW, I ran into some issues with the Apollo theme when trying to change the font colors. I could come up with a way to override or set custom colors.

[2020-01-15 00:24] TylerBarnes opened #1114 "Upcoming release regression: for User type"
In 0.5.1 I can view the admin user publicly from a non-authed request. If I switch to the 0.6.0 branch that user is now private and I get
[code]

[2020-01-15 00:25] jasonbahl commented on #1114
@TylerBarnes whats the particular query used in this case?

[2020-01-15 00:26] TylerBarnes commented on #1114
[code]

[code]

[2020-01-15 00:27] TylerBarnes commented on #1114
If I make the request authed, I can view the user again, but it should be public (like it was before)

[2020-01-15 17:27] TylerBarnes commented on #1049
@jacobarriola I believe I was using theme shadowing to override colors. This file might be the one https://github.com/wp-graphql/wp-graphql/blob/develop/docs/src/gatsby-theme-apollo-core/utils/colors.js

[2020-01-15 17:55] jacobarriola commented on #1049
Ok, thanks @TylerBarnes !

I'll take another stab at it. 👍

[2020-01-16 03:07] TylerBarnes opened #1115 "Upcoming release bug: UniformResourceIdentifiable defines incorrect field types"
While I'm pulling the whole schema I'm getting these errors
[code]

[2020-01-16 03:11] TylerBarnes opened #1116 "Upcoming release bug: ContentNode interface expects fields that some implementing types don't provide"
[code]

[2020-01-16 18:25] emaildano commented on #1110
The answer I needed wasn't here but these answers did help. I needed a list of just categories but excluding a few based on their category ID.

In case this helps someone else:

Exclude categories with ID 13 and 14 and any empty ones too.

[code]

[2020-01-16 21:47] TylerBarnes opened #1118 "Upcoming release bug: Cannot query field "excerpt" on type "Page"."
On master this query works, but the type is removed in the upcoming release
[code]