[2020-07-15 21:08] jasonbahl commented on #1388
@kidunot89 ok, I think I've got a solution that does both (keeps the performant DataLoader queries) _and_ enables central filtering of Models returned by Loaders.

Need to do some more testing and cleanup, but should have a PR here shortly. 🤞

[2020-07-15 22:49] jasonbahl commented on #1388
@kidunot89 check it out: https://github.com/wp-graphql/wp-graphql/pull/1391

[2020-07-17 09:52] PlusA2M opened #1392 "Auto replace the key that contains hyphen for settings."
### Auto replace the key that contains hyphen for settings
In WordPress, we often use hyphen for something like `text-domain`, and that often contains hyphen like `wp-graphql`, when we use this as part of the settings, it's allowed by WordPress's core but it is not allowed in GraphQL to have hyphen, therefore I think an auto replacement from `-` to `_` would be nice for that scenario.

`$setting['

[2020-07-21 02:15] manhthepixta opened #1393 "Get plugins return empty node"
First of all I have done authentication by using this lib https://github.com/wp-graphql/wp-graphql-jwt-authentication.

Here are my steps:

1. Login
[code]

2. After step 1, I got the token. Then I added it as Bearer token

3. Get list plugins
[code]

I got the empty array of plugins. Could anyone help me?
Thanks.

[2020-07-21 02:35] manhthepixta commented on #1393
I solved my problem. Because of unauthorized user. Use other user with admin role then done.

[2020-07-21 02:35] #1393 closed

[2020-07-21 09:59] vana-dev opened #1394 "performance issues"
I have some performance issues, can't figure out what is the cause. Wordpress works very slow some time, returning 500 error on graphql. I check server logs. Is it normal?

![Zrzut ekranu 2020-07-21 o 11 53 59](https://user-images.githubusercontent.com/884763/88040701-93be6100-cb49-11ea-99bb-5e7d60a9431a.png)

[2020-07-22 10:36] enricocupellini opened #1395 "Cannot query for comments"

[2020-07-22 11:02] sboerrigter opened #1396 "menuItems with location argument returns all menu items"
I noticed that the menuItems query example in the [documentation](https://docs.wpgraphql.com/getting-started/menus/#menu-items) returns all menu items from all menu's and not just the items from the provided menu in the `where: {location:` argument.

## How to reproduce

1. Register two custom menu's in the theme's `functions.php` file with the following code:

[code]

2. Add two custom menus with

[2020-07-22 11:06] enricocupellini commented on #1395
Hello to everybody,
I am trying to integrate WPGraphQL to my gatsby project but I find an error when I try to perform a given query:

`query MyQuery {
  wpgraphql {
    comments {
      nodes {
        author {
          node {
            id
          }
        }
      }
    }
  }
}`

to reproduce this error I cloned the last version of your gatsby example project from here: "https://github.com/w

[2020-07-22 13:26] jonshipman commented on #1386
[code]

Usually it's better to ask for help in the slack channel. https://join.slack.com/t/wp-graphql/shared_invite/zt-3vloo60z-PpJV2PFIwEathWDOxCTTLA

[2020-07-22 15:35] jasonbahl commented on #1351
closed by #1370

[2020-07-22 15:35] #1351 closed

[2020-07-22 18:19] #1388 closed

[2020-07-22 19:06] jasonbahl commented on #1390
@TylerBarnes I'm not sure this is actually a bug.

Looking into it, a raw request of `get_post_types( null, 'OBJECT' );` on a pretty vanilla WordPress install outputs the following:

[code]

The `has_archive` is false for every registered post type. It seems like `has_archive` maybe should have been named something like `has_archive_slug` instead.

I think for the needs of Gatsby generating archiv

[2020-07-22 19:07] TylerBarnes commented on #1390
Cool, that makes sense 👍
I was looking at `hasArchive` being false and noticing that vanilla WP had an archive which threw me off

[2020-07-22 20:31] jasonbahl commented on #1390
@TylerBarnes after further investigation, I think I'm mistaken a bit.

re-opening.

[2020-07-22 20:35] jasonbahl commented on #1390
This will go hand-in-hand with adding `uri` field to the `ContentType` type.

Basically any content type that `hasArchive` should have a `uri`.

Given the following code to register custom post types:

[code]

The following should be the results:

![Screen Shot 2020-07-22 at 2 34 54 PM](https://user-images.githubusercontent.com/1260765/88225970-9b086c00-cc28-11ea-8d7f-72283fa4eb7d.png)

[2020-07-23 16:38] jasonbahl commented on #1396
@sboerrigter oof. This is a bug for sure. I confirmed this behavior.

I'll work on a fix here shortly.

Thanks for the detailed report!

[2020-07-23 18:28] sboerrigter commented on #1396
Thanks and good luck!

[2020-07-23 18:48] sboerrigter opened #1397 "Query custom post types by slug returns null"
I think I found another bug. I registered a custom post type and am trying to query a post by it's slug, but it returns `null`. When I query the same post by the ID, database ID or URI there is no problem.

### Example query
[code]

This returns:
[code]

### Context

I registered my custom post type with the following code:

[code]

I am using the following WordPress plugins and versions:

- WordP

[2020-07-23 20:30] sboerrigter commented on #1395
I think you should remove the `wpgraphql` field. This query does work for me:

[code]

[2020-07-24 12:51] sboerrigter opened #1398 "Field added with register_graphql_field() returns "false" if it is the first field in a query"
I've added a GraphQL field to using the `register_graphql_field()` function. I noticed that the field returns `"false"` instead of the field value for the first node if this field is the first field in a query.

### How to reproduce

Register a GraphQL field with the following code:

[code]

With the following query all posts return the formatted post date:

[code]

This returns:

[code]

But if y

[2020-07-24 14:54] seagyn opened #1400 "Cannot query hierarchical post type by the relative hierarchical uri"
When one creates a hierarchical post type there isn't a way to query a child post type by the relative uri. Examples

Slug base: `/cpt`

Parent page: `/cpt/parent-page`

Child page: `/cpt/parent/child`

If you query the paren like so it return the right result:

[code]

But if you query the child like it doesn't find the child:

[code]

I'd expect the search "by uri" to use the same uri pattern th

[2020-07-24 22:52] jasonbahl commented on #1398
@sboerrigter so the `$post` that is passed to the resolver is an instance of a `WPGraphQL\Model\Post` model, it's not a `WP_Post`.

So the `get_the_id( $post )` might not work as you might expect here.

Try the following:

[code]

### In Action:

![Screen Shot 2020-07-24 at 4 52 04 PM](https://user-images.githubusercontent.com/1260765/88441343-0e97ae00-cdce-11ea-9d00-e230e6957af2.png)

[2020-07-24 22:52] #1398 closed

[2020-07-24 23:09] jasonbahl commented on #1397
Hmm. I can't replicate this.

I've used the same code as you to register a post type:

![Screen Shot 2020-07-24 at 5 04 07 PM](https://user-images.githubusercontent.com/1260765/88441875-c083aa00-cdcf-11ea-8be1-c4052fb8b134.png)

Then I added post with the same title and slug as you:

![Screen Shot 2020-07-24 at 5 04 58 PM](https://user-images.githubusercontent.com/1260765/88441910-d42f1080-cdcf-11

[2020-07-25 04:15] jasonbahl commented on #1396
@sboerrigter I opened a PR to address this: https://github.com/wp-graphql/wp-graphql/pull/1402

If you have time to confirm that it's working for you as well that would be great.

I updated a test to cover this scenario better and prevent future regressions.

[2020-07-25 04:19] jasonbahl commented on #1400
Looking into this now.

[2020-07-25 04:24] jasonbahl commented on #1400
Ok, I've confirmed this is an issue.

Example query using the same registered post type as above:

![Screen Shot 2020-07-24 at 10 22 35 PM](https://user-images.githubusercontent.com/1260765/88448546-40c00480-cdfc-11ea-9060-aeff83dee152.png)

Looking further into what's causing this.

[2020-07-25 04:40] #937 closed

[2020-07-25 04:40] #1365 closed

[2020-07-25 04:40] #1390 closed

[2020-07-25 04:47] jasonbahl commented on #1400
Ok, I found the bug for this.

I have it working. See below:

![Screen Shot 2020-07-24 at 10 47 20 PM](https://user-images.githubusercontent.com/1260765/88448902-b11c5500-cdff-11ea-80c3-49ddbf957e37.png)

I need to add a test, then I'll have a PR

[2020-07-25 05:49] jasonbahl commented on #1400
@seagyn PR opened: https://github.com/wp-graphql/wp-graphql/pull/1403

Let me know if this resolves the issues you were seeing. Pretty sure it should (and I added a test to prevent future regressions), but it would be good to get confirmation on your end as well.

[2020-07-25 10:53] sboerrigter commented on #1398
Ok, thanks for the explanation! It indeed works as expected if I use `$post->databaseId` or `$post->ID` like specified in the [documentation](https://docs.wpgraphql.com/getting-started/custom-fields-and-meta/#register-multiple-fields-specifying-type).

[2020-07-25 11:13] sboerrigter commented on #1397
I also tested this now with all other plugins turned off (except wp-graphql and wp-graphiql) and all code in my theme commented, except the `register_posttype()` function. I still have the same issue.

I indeed ended up using `blogPost( id: "test" idType: SLUG )` instead of `blogPostBy(slug: "test")` indeed. That does work for me. I guess it is not worth fixing this if `blogPostBy()` will be remov

[2020-07-25 11:20] sboerrigter commented on #1396
@jasonbahl I just checked your PR. That indeed fixes the issue on my end. Thanks!

[2020-07-25 23:07] MussadiqKhan opened #1404 "Syntax Error: Invalid number, expected digit but got: "W". (1:831)"
Hello,

I am using the latest gatsby-source-wordpress-experimental and trying to fetch data from a WP site but I am getting below error.
Any help?

`Syntax Error: Invalid number, expected digit but got: "W". (1:831)

SideNavigationTemplate{templateName}}terms(first:100){nodes{id}}title uri __typename}pageInfo{hasNextPage endCursor}}}    |

          ^

SideNavigationTemplate{templateName}}terms(fi

[2020-07-27 12:10] guidosantillan01 commented on #1309
I am getting the same thing.

![image](https://user-images.githubusercontent.com/6334613/88540260-e5b42a80-d012-11ea-82b2-6d637606da33.png)

@cplumley Any updates regarding your problem?

[2020-07-27 15:40] jasonbahl commented on #1346
Ok, @TylerBarnes and I have been discussing this a bit.

Our current thought is that if a Type or Field is invalid (starts with an integer, for example) we will prevent it from being added to the Schema and will add the fields to some sort of debug message.

So, in a case like this where `111222` is invalid, the Schema will generate without it, the Field/Type will be logged in some debug log that

[2020-07-27 17:07] #1396 closed

[2020-07-27 17:15] jasonbahl opened #1405 "Where args missing on `children` field for HierarchicalContentNodes"
The `where` arguments are missing when querying children of HierarchicalContentNodes, such as pages.

This argument _used_ to exist and should still exist.

Reported by @drewbaker in Slack.

[2020-07-27 17:35] seagyn commented on #1400
@jasonbahl confirmed working on my side. Thanks for the speedy turn around on this!

[2020-07-27 17:45] jasonbahl commented on #1400
Super cool! Thanks for following up with confirmation. 🙏

Will get this released here shortly.

[2020-07-27 17:45] #1400 closed

[2020-07-27 18:00] #1405 closed

[2020-07-27 18:15] jasonbahl commented on #1404
@MussadiqKhan this looks like it's the same issue as reported in #1346

Right now WPGraphQL isn't preventing invalid field and type names from being registered. . .but it should.

@TylerBarnes, @CodeProKid and I have discussed this a bit and I think the plan going forward is to catch these invalid field/type names and prevent them from being added to the Schema in the first place, then outputting

[2020-07-27 18:27] MussadiqKhan commented on #1404
So, what is the solution for me? I am working on a client's website. What should I do now to make it work?

[2020-07-27 20:15] jasonbahl commented on #1404
Right now, we need to make sure there are now fields in the Schema that start with an integer.

It looks like there are some page templates such as `100WidthTemplate` that seem to be causing the error.

If there aren't other side-effects that you can't overcome, a quick-win would be to change the templates to start with a string instead of a number, such as `Template100Width` or something like tha

[2020-07-27 20:16] jasonbahl commented on #1404
@MussadiqKhan is your WPGraphQL endpoint public?

[2020-07-27 20:56] MussadiqKhan commented on #1404
@jasonbahl Check: http://www.sellerlift.com/graphql

[2020-07-28 00:09] TylerBarnes opened #1408 "`asPreview` doesn't use single autosave when `define( 'WP_POST_REVISIONS', FALSE );` is set"
Some hosts like WPE add `define( 'WP_POST_REVISIONS', FALSE );` by default to new installations.
https://wordpress.org/support/article/revisions/#revision-options indicates that this setting should store 1 autosave. Previewing with vanilla WP preview shows updated content. Looks like there's a bug here in the resolver with asPreview

[2020-07-28 21:59] jasonbahl opened #1409 "WPGraphQL Debug Log"
When things are going wrong with a GraphQL request, errors can be thrown or things can be ignored or hidden. There's not really a middle ground, and I want to change that.

A common situation with WPGraphQL is that a field or type will be registered that is somehow invalid.

For example, take the post_type registration code below:

[code]
WPGraphQL will add the Type `2000` to the GraphQL Schema to

[2020-07-30 06:37] grazianodev opened #1410 "Reference the current object only once when registering multiple fields"
Hello,

I have several use cases when I register multiple custom fields for the same object (post or user) and I have to get the object every time in the resolver function for each field. Something like this:

[code]

You can see how I have to instantiate the User object in every resolver. It's no biggie but I was wondering if there is a way to get $user e.g. outside the array of fields so that I

[2020-07-30 08:10] BURROO commented on #1309
I am having the same issue, filtering by mimeType is not doing anything …
Did someone figure this out or found an other solution to filter files?

[2020-07-30 12:19] ardiewen opened #1411 "Unexpected interaction between "orderby" argument and backwards pagination"
Hi all, wondering if this is intended behaviour or possibly a bug?

### Issue Summary

When paginating forward on an ordered post list (e.g. alphabetical by title) using `first` + `after` arguments, everything works as expected.

However, running the same query backwards, swapping `first` + `after` to `before` + `last` causes unexpected behaviour, assuming everything else is equal: **doesnt return

[2020-08-01 03:12] cplumley commented on #1309
@guidosantillan01 @BURROO No updates yet. I tried looking through the source code to find a solution, but I couldn't find any reference to the mimeType options anywhere. So I am not sure where the list is coming from or how it is being parsed.

[2020-08-01 12:25] pmventura commented on #830
Thanks @jasonbahl and @furenku, using the `init` instead of `admin_init` did the trick!

[2020-08-02 07:48] henrikwirth opened #1413 "Proposal for WPGraphQL Dashboard Settings Pages"
I was wondering if it wouldn't be nice to have an Admin-Page for WPGraphQl for Settings, Status and other functionality, similar to WooCommerce.

Not sure if it is something that could be in an extra plugin or rather should be in core. I'd be happy about discussions.

Here are some features I can think of right now, please add some more in the comments:

1. Status Page
   1. Check compatibility of

[2020-08-02 14:41] TylerBarnes commented on #1413
@henrikwirth , I 100% agree. @jasonbahl and I have been talking about this recently. We actually need to build something similar for WPGatsby using React so we were thinking it'd be really cool to build some kind of utility for creating React powered options pages. Jason is working on adding a new debug message API in WPGQL for things that aren't necessarily errors but that consumers need to know

[2020-08-03 17:55] henrikwirth opened #1414 "[Docs] Add Caching to Guides"
Since there were some interesting conversations about caching on Slack, I'd like to make sure the info doesn't get lost and add it to the Documentation Guides.

**Jason:**
There are different types of cache.
For client side cache when using GraphQL, I recommend using Apollo. I believe I read that you're using Angular, and Apollo has an Angular integration you can read more about here: https://www.

[2020-08-03 19:20] kidunot89 commented on #1413
@TylerBarnes @henrikwirth @jasonbahl I'd like to recommend an "Extensions page" for quick installation of WPGraphQL extension as well.

[2020-08-03 19:48] jasonbahl commented on #1413
@henrikwirth as @TylerBarnes mentioned, we've been talking a lot about this. I think it's going to be more and more needed. I've really wanted to avoid having a settings UI, but I think having one will be more worth it than not having one.

Here's some things we need to consider:

- Settings should be properly hookable/filterable allowing plugins to extend the setting pages for their needs.
- Sett

[2020-08-03 19:50] jasonbahl commented on #1413
I have been very seriously thinking about adding GraphiQL to WPGraphQL core for a long time, and I think it's the right choice, especially if we have a settings page where you can configure things like turning it on/off completely, restricting to certain capabilities, etc.

[2020-08-03 19:59] henrikwirth commented on #1413
@TylerBarnes mentioned, it might make sense to go the React way directly to make it easier maintainable in the long run. I'd agree with it, but setting it up properly would need some proper discussion. I'm happy to dive into it a little and see if we can come up with something that I can make a draft out of. (Hopefully I my broken index finger doesn't stop me too long from coding :D)

[2020-08-04 00:53] MitchEff opened #1416 "'registerUser' is allowing registrations with the same username"
Edit - please disregard. Issue was on our end 😅

[2020-08-04 14:36] #1416 closed

[2020-08-04 18:47] jasonbahl opened #1417 "Move databaseId field to its own interface"
In v0.11 the `UniformResourceIdentifiable` Interface was applied to the `ContentType` type. The `UniformResourceIdentifiable` Interface defines the field `databaseId` as a `nonNull Int`., but the `ContentType` type doesn't have a DatabaseId, so when querying for the `databaseId` field on a ContentType we get an error.

## Propose Solution:
The field `databaseId` should be moved out of the `Uniform

[2020-08-04 20:27] jonshipman commented on #1209
I noticed that CPT UI, the way it flushes permalinks, leaves them at the end of $wp_rewrite->wp_rewrite_rules(). So the ```// Got a match``` in the src/Data/NodeResolver.php breaks after [^/]+/([^/]+)/?$ instead of location\/([^\/]+)(?:\/([0-9]+))?\/?$ (when dealing with a custom post type with the post_type "location."

If you remove the break on line 153 of NodeResolver you get the proper match

[2020-08-04 20:57] jonshipman commented on #1209
I can at least confirm in my case that the standard WP::parse_request has the same issue. Either a bug in WP Core, CPT UI, WP-GraphQL, or all of the above.

[2020-08-05 10:26] paulisloud commented on #942
Do you want a pull request with this change? This issue is fairly old and is preventing me from upgrading WP-GraphWL automatically.

[2020-08-05 11:42] MussadiqKhan commented on #1404
Thanks. I updated the name as you mentioned. However, I am facing another issue now. Please check.

`success  gatsby-source-wordpress  writing GraphQL queries to disk at ./WordPress/GraphQL/ - 0.523s
success  gatsby-source-wordpress  ingest WPGraphQL schema - 3.874s
success createSchemaCustomization - 5.836s
⠙ source and transform nodes
⠙ source and transform nodes
⠋  gatsby-source-wordpress  fetc

[2020-08-05 15:25] jasonbahl opened #1419 "Remove error from `RootQuery.viewer` field resolver"
Right now the `RootQuery.viewer` field throws an exception if you try to query the viewer but are not logged in.

The Model Layer now handles this behind the scenes and will return a null instead of an error.

This exception should be removed so that the viewer can be queried without error, even if the viewer should not be returned.

[2020-08-05 15:50] jonshipman commented on #1209
[code]

I found if you have a custom post-type and rewrite the slug to be a page level item, it will be processed as an empty string. This seems to be a WP Core related item (understandable as resolve_uri is mostly WP::parse_request).

Perhaps there might be some benefit to WPGraph-QL in somehow using the built-in WP::parse_request as opposed to duplicating it?

[2020-08-05 18:49] rodrigo-arias commented on #1417
Hi @jasonbahl,

I have updated all the dependencies of my Gatsby project and I ran into an error which is probably the one you mention here.

![image](https://user-images.githubusercontent.com/11416255/89449390-5f44ca80-d72f-11ea-8891-c382a2067a92.png)

This is the error on gatsby-source-wordpress-experimental
```Error path: contentTypes.nodes[1].databaseId```

Maybe a temporary workaround for who

[2020-08-05 21:30] TylerBarnes commented on #1209
@jonshipman this is interesting, awesome work here. Do you know of an easy way to reproduce this bug using CPTUI? I'm having trouble reproducing it now 🤔

[2020-08-06 02:13] jonshipman commented on #1209
@TylerBarnes

Yeah, add the filter from my last comment and change "app_page" to the post type of one of your CPTUI post types.

[2020-08-06 10:12] henrikwirth commented on #1413
Maybe we can just reuse the components of WordPress, that WooCommerce is using too.

https://github.com/WordPress/gutenberg/tree/master/packages

[2020-08-06 13:24] jasonbahl commented on #1413
@henrikwirth ya, perhaps.

I'm not super familiar with how WooCommerce is using them.

One thing that is important to me is having easy ways to filter this stuff so 3rd party plugins can add/extend things somewhat easily.

Like if we had a settings page that had a list of fields, I'd want a plugin to be able to add a field fairly easily.

With a "standard" settings page we can offer an API like (t

[2020-08-06 13:33] jasonbahl commented on #1417
@rodrigo-arias yes, there is a PR to fix this already. It's _technically_ a breaking change to the WPGraphQL Schema so it will become v0.12.0 here shortly.

[2020-08-06 14:08] jasonbahl commented on #1413
I'm looking at Carbon Fields right now, and it looks like it might be a great option to pull in so we can get some settings fields in place quickly while we consider some kind of React based solution.

https://docs.carbonfields.net/#/quickstart

It can be included as a composer dependency, much like GraphQL-PHP, then we can use it do define settings pages, and it's already got a hook/filter system

[2020-08-06 14:09] unbywyd opened #1420 "graphql function and global $post var"
After calling a **graphql** function with query, the global **$post** variable is overwritten with data from the request.

**Example:**

_// themes/mytheme/front-page.php_

[code]

This happens **after 262 line** in $this->**executeFields** method of vendor\webonyx\graphql-php\src\Executor\**ReferenceExecutor.php** file

Solution for the moment:

[code]

[2020-08-06 14:11] jasonbahl commented on #1420
@unbywyd thanks for the details here. I _thought_ we had addressed this in the past, but perhaps there was a regression that slipped by.

I'll check it out here shortly.

[2020-08-06 16:03] TylerBarnes commented on #1413
I agree 100% that it should be filterable. If we use WPGraphQL to power the whole thing it will work like that out of the box.
Using Carbon fields to start sounds reasonable but I think we may never move away from it if we go that route, and if we do it might be hard to properly map the previously stored options to the new format for existing sites that used the Carbon fields options page.

When/i

[2020-08-06 16:18] jasonbahl commented on #1413
@TylerBarnes I don't think the queries should be stored as .graphql files because other plugins will need to filter them.

If another plugin wants to add a new field Type that has different needs, it will need to filter in what data to query for and a static file isn't filterable. I mean it is, but defeats the purpose of the static file. The source of truth for the query string should be the resul

[2020-08-06 16:58] jasonbahl commented on #1413
Carbon Fields actually might make it _easier_ because, much like ACF, it defines a server-side "schema" for Fields and Field Groups already, so translating that to GraphQL shouldn't be much different than how we've done it for ACF already.

This way we could have settings fields _now_ and a path forward for a React-based UI but wouldn't have to change any of the underlying way things work. We woul

[2020-08-07 03:43] chrisAlwinYS commented on #1397
Im having the same issue with v0.11 of the plugin. I had it working with v10.2, since 10.3 the idType: SLUG looks to have broken for me.

using the same code to register the post type as above on a clean WP install v5.4.2 with only WPGraphQL V0.11.0 and WPGraphiQL V1.0.1:
![Screen Shot 2020-08-07 at 3 34 03 PM](https://user-images.githubusercontent.com/49703444/89606190-7d433400-d8c3-11ea-9985-3f5

[2020-08-07 04:59] jasonbahl commented on #1397
@chrisAlwinYS have you flushed your permalinks after registering the post type?

[2020-08-07 09:49] chrisAlwinYS commented on #1397
@jasonbahl Yep, deactivated and reactivated the plugins, refreshed the GraphiQL page, re-written the query. Not really sure why it's happening only to custom posts types. I have been going through the differences in the repo since 0.10.2. Ill flag if I find something. I will also test on an Apache server over the weekend to try and isolate the issue, as im running valet as my local php environment

[2020-08-07 12:14] jasonbahl commented on #1397
@chrisAlwinYS can you share your CPT registration code?

[2020-08-07 12:42] aberkow opened #1422 "Request to add `where` args to enqueued assets"
@jasonbahl picking this up from yesterday's slack question/conversation for easier tracking.

**summary of previous conversation**
a list of registered assets (scripts/stylesheets) can be accessed on the root query with the `registeredScripts` and `registeredStylesheets` connections. similarly, enqueued assets for specific pages/posts can be returned with the `enqueuedScripts` and `enqueuedStylesh

[2020-08-07 13:11] aberkow commented on #1422
looking more at the `AbstractConnectionResolver` in the `get_nodes` method, there's [a call to `$this->get_node_by_id($id)` on line 577](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/AbstractConnectionResolver.php#L577). however, when I go to [the `get_node_by_id` method](https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/AbstractConnectionResolve

[2020-08-07 13:34] kidunot89 commented on #1413
@drewbaker :point_up: See this. I think WPGraphQL-CORS functionality should be include the core WPGraphQL settings.

[2020-08-07 13:44] drewbaker commented on #1413
Yes +1 to be able to set CORS for the GraphQL endpoint. This would enable cookie auth to work.

[2020-08-07 16:34] jasonbahl commented on #1413
Here's where my head is at right now:

I've explored Carbon Fields a bit, and it's pretty nice.

I'm leaning toward using it to start. As much fun as a custom React Settings framework would be, I feel like that's a lot more work than I want to take on supporting right now. There's a _lot_ to support with the initial goal of turning WordPress into a Graph, and adding a custom settings framework to

[2020-08-07 17:12] drewbaker commented on #1413
100% please don't make some custom React based settings thing for WP-GraphQL! Keep it simple and PHP based if possible, just like the rest of WordPress settings pages (sans gutenberg blocks).

[2020-08-07 21:24] ssoney200 commented on #428
Nice!

On top of that, is anyone aware you’re yet how we can add option to RootQueryToPageConnectionWhereArgs so that we can filter pages by pageTemplate, like:

[code]

[2020-08-07 22:04] chrisAlwinYS commented on #1397
@jasonbahl It's the same as previously posted in this issue.

`add_action('init', function () {

    register_post_type('blog', [
        'graphql_plural_name' => 'blogPosts',
        'graphql_single_name' => 'blogPost',
        'has_archive' => true,
        'labels' => [
            'add_new' => 'New blog post',
            'name' => 'Blog',
            'singular_name' => 'Blog post',
        ],

[2020-08-07 23:11] chrisAlwinYS commented on #1397
@jasonbahl Looking at the source code it looks like the `post_type` is not being passed as a query_vars in the `$wp` global variable.

Line 302: src->Data->NodeResolver.php
`$allowed_post_types = \WPGraphQL::get_allowed_post_types();

			$post_type = 'post';
			if ( isset( $this->wp->query_vars['post_type'] ) && in_array( $this->wp->query_vars['post_type'], $allowed_post_types, true ) ) {
				$pos

[2020-08-10 16:46] #1417 closed

[2020-08-10 21:42] jasonbahl commented on #1408
I've confirmed this behavior. Looking into it.

[2020-08-10 22:41] jasonbahl commented on #1408
@TylerBarnes #1426 should resolve this.

[2020-08-11 12:51] #1408 closed

[2020-08-11 12:59] #1256 closed

[2020-08-11 12:59] #1419 closed

[2020-08-11 20:13] tomgreeEn opened #1429 "Add graphql_term_object_mutation_update_additional_data hook"
We currently have the ability to run an action after additional post data has been updated using 'graphql_post_object_mutation_update_additional_data'

However, an equivalent hook is not available to run an action after _term_ data has been updated - this should be added for consistency and completeness.

[2020-08-12 08:47] Hansanghyeon opened #1430 "I didn't get the excerpt of the post normally wp(5.5)"
I didn't get the excerpt of the post normally

before
WordPress 5.4
wp-graphql 0.10.3

after
WordPress 5.5
wp-graphql 0.12.1

Not working properly in WordPress 5.5

![](https://storage.googleapis.com/wp-ome/2020-08-12-5.41.19.png)

Importing excerpt seems to be different since wordpress 5.5

[2020-08-12 13:08] jasonbahl commented on #1430
@Hansanghyeon Thanks for the report.

Is there any difference in the Post Edit page in the WP Admin between 5.4 and 5.5?

[2020-08-12 14:23] Hansanghyeon commented on #1430
@jasonbahl

After installing it from the official homepage with WordPress, I installed the wp graphql plugin and tested it.  There is nothing other than these two.

[2020-08-12 16:50] oliverfeher opened #1431 "Not receiving content or excerpt data"
I'm running the following `gatsby-config` :

![Screen Shot 2020-08-12 at 12 45 10 PM](https://user-images.githubusercontent.com/55335331/90043257-dcc18b00-dc99-11ea-9646-e890da438bd0.png)

I'm not receiving any content or excerpt data for WPPages/WPPost.
Getting a warning message like this:

`An empty string was returned instead of a response when making a GraphQL request.`
`This may indicate that

[2020-08-13 01:18] e10jc commented on #1397
I have having this same exact problem, and it has nothing to do with custom posts. As you can see, querying for a single post by slug is broken; yet querying for multiple posts by slug is working as expected.

![image](https://user-images.githubusercontent.com/80369/90083682-114c3b80-dcc8-11ea-90c5-020f137122fa.png)

[2020-08-13 19:07] #1291 closed

[2020-08-13 20:53] chrisAlwinYS commented on #1397
@e10jc What version of the ACF plugin are you running?

[2020-08-14 00:00] renatonascalves commented on #1429
Actually, you can use this: https://github.com/wp-graphql/wp-graphql/blob/df4cbef058874514285a12393cd9c0469649680a/src/Mutation/TermObjectUpdate.php#L155

[2020-08-14 00:02] renatonascalves commented on #1429
I agree that how it works currently is not consistent but this hook can be "hooked" on term update.

[2020-08-14 00:13] renatonascalves commented on #932
If it can be (de)activated with a `const` or `hook`, I'm all for it! ;)

[2020-08-14 10:27] sven-ra opened #1433 "Can't fetch nested post of post type "POST" by URI."
Hello!

I can't seem to fetch a post by URI when it has a parent post.
I am using the exact same URI as i get from the Posts fetch. I tried several different variations.
Fetching by URI worked fine on top-level posts.

<img width="786" alt="Screenshot 2020-08-14 at 13 28 39" src="https://user-images.githubusercontent.com/16561130/90240544-1b8a4900-de32-11ea-9b8c-965f45be565c.png">
<img width="1197

[2020-08-15 22:53] jasonbahl commented on #1397
I'm re-opening this. Getting reports on slack as well.

Looking into this now.

[2020-08-16 08:58] vana-dev opened #1434 "exclude post from posts list"
Hi, I can't figure out how exclude specific post(by ID type Slug) from posts list query. It's even possible? I see similar option in categories `where: {exclude: ""}` It's also very easy to do in typical WP_Query, so why it is not yet implemented in wp-graphql?

[2020-08-16 13:53] e10jc commented on #1397
I tried the latest from master; the issue persists. Now I went back down to 0.10.2 and the issue is not there.

[2020-08-16 21:15] seagyn commented on #1397
I can confirm that both `idTypes` `URI` and `SLUG` no longer work for me. In 10.x we fixed an issue with hierarchical URIs but the same query no longer works at all.

[code]

[2020-08-17 16:03] riaanlom commented on #1430
I have the same issue when updating to WordPress 5.5. It's a WordPress issue. The breaking change seems to be in wp-includes/formatting.php
function wp_trim_excerpt line 3811
`if ( '' === $text )`

Previous versions of WP used == instead of ===

[2020-08-18 15:28] riaanlom commented on #1430
I opened a ticked with wordpress. They will fix it in the next release
[](https://core.trac.wordpress.org/ticket/51042)

[2020-08-20 16:40] TylerJNewman commented on #1295
How? I am trying to query products and I cannot query products...  How did you get this working?

[2020-08-20 18:40] thakkaryash94 commented on #1434
I don't think, you care exclude by slug, but you can exclude by databaseId.

[code]
Where 1 is databaseId of the post.

[2020-08-21 00:51] TylerBarnes opened #1437 "Querying Comment.databaseId returns errors and "null" response"
Querying for

[code]

Returns:

[code]

[2020-08-21 00:52] TylerBarnes commented on #1437
This is on v0.12.1 btw

[2020-08-21 01:00] jasonbahl commented on #1437
👀

[2020-08-24 20:56] RangerCoder99 commented on #261
Is there still not any way to get the total pages for pagination? Like a lot of people want that number style links...

[2020-08-25 04:36] vana-dev commented on #1434
[code]

[2020-08-25 16:08] TylerBarnes opened #1438 "Does WP-Cron get triggered via /graphql requests?"
I haven't taken a look and don't have time to right now but this is a question we had just now. We should make sure cron is triggered.

[2020-08-25 19:50] garryburch opened #1439 "Saving/Updating any ACF flexible content"
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in /var/www/vhosts/NAGUSA/naegeliusa-dev.com/public_html/wp-content/plugins/wp-graphql-0.11.0/src/Data/Connection/AbstractConnectionResolver.php on line 498

wp-graphl 0.11.0

[2020-08-25 20:53] TylerBarnes commented on #1413
Yep, I agree with yall, it's too much work, let's keep it simple and get it done :)

[2020-08-25 22:16] jacobarriola commented on #897
👋 @jasonbahl nudging this to your inbox too see if you saw my last comment ☝️ . Want me to open a new ticket?

[2020-08-26 00:26] jasonbahl commented on #261
@RangerCoder99 I've written about pagination with WPGraphQL here, including reasons for why total counts has been excluded by default: https://www.wpgraphql.com/2020/03/26/forward-and-backward-pagination-with-wpgraphql/

[2020-08-26 09:30] drewbaker commented on #1314
I'd vote option 2 as the one that makes the most sense, but not sure how that would work with `excerpt(format: RAW)` would you need `excerpt(format: RAW_FROM_CONTENT)`?

[2020-08-26 21:09] jacobarriola opened #1440 "Pagination: hasPreviousPage unexpectedly returns true"
**Repro steps:**

1. Run a search query to get first two results

2. Run a search query to get next two results (ie page 2)

3. Run a search query to get previous two results (ie back to initial results)

**Expected results**
* on query 3, `hasPreviousPage` should return `false`

**Actual results**
* on query 3, `hasPreviousPage` returns `true`

**Notes**
* everything works as expected when the `s

[2020-08-26 21:10] jacobarriola commented on #897
Moved this to #1440

[2020-08-27 09:58] sven-ra commented on #1397
It seems that I can not query by Slug at all now. I am trying to query default "post" post type. It's the same for custom post types.

[2020-08-27 10:43] chrisAlwinYS commented on #1397
@sven-ra I'm not seeing the same behaviour. I'm running v0.12 of the wp-graphql on WordPress 5.5. Are you running custom permalinks? or any other special settings?

[2020-08-27 10:45] seagyn commented on #1397
Same is happening for me running the same version. Had to go all the way
back to 0.9 to get it to work.

On Thu, 27 Aug 2020 at 12:43, Chris Alwin <notifications@github.com> wrote:

[2020-08-27 11:43] sven-ra commented on #1397
I am running wp-graphql v0.12.1 (currently latest) and WP 5.5. I do have custom permalinks, but even when I change it back to "Post name" the problem persists.

[2020-08-27 13:04] sven-ra commented on #1397
Okay did some further digging and found out that the Slug option disappears when the post type is set to hierarchical mode.

[2020-08-27 13:06] sven-ra commented on #1433
Found out that the problem arises when a post type is set to hierarchical mode. Then there is no option to set the idType to SLUG and I am left with URI. URI does not yet work with nested posts. Things get extra complicated when I have a custom permalink structure.

[2020-08-27 20:57] chrisAlwinYS commented on #1397
Yes, that's by design. Its to prevent issues fetching posts with potentially the same "slug" but are nested.

[2020-08-27 21:44] CalebBarnes opened #1441 "Revisions not updating some data in acf flexible content"
To reproduce this you will need to import my wplocal export
(I'll DM Jason this over slack, if anyone else wants to try you can ask for it)

This WP install is using a custom plugin I built to preview WPGraphQL revisions in Gatsby. https://github.com/CalebBarnes/WPGraphQL-Gatsby-Preview

For this plugin you need to add to your wp-config.php the link to the Gatsby site.
`define('GATSBY_PREVIEW_FRON

[2020-08-28 07:25] sven-ra commented on #1433
As pointed out in another thread, idType SLUG is disabled for nested posts by design. With further testing I found out that the problem is only with the default POST post type. Post type post is not hierarchical by default so I have a filter for setting it hierarchical. Not sure if this issue classifies as a bug then?

[2020-08-28 07:30] sven-ra commented on #1433
Apparently even Wordpress can't correctly set the permalink structure for nested Post type post posts.

[2020-08-28 07:30] #1433 closed

[2020-08-28 20:12] unbywyd commented on #1420
Any news?

[2020-08-29 14:19] homerjam commented on #1397
Same here

[2020-08-30 18:38] thakkaryash94 commented on #1354
Happened with me as well. In my case, I forgot to complete the plugin after installation steps. https://github.com/wp-graphql/wp-graphql-jwt-authentication#install-activate--setup

[2020-08-31 18:07] kidunot89 opened #1443 "[Feature Request] Use the function parameter for each "WPGraphQL::get_allowed_post_types()" call."
[`WPGraphQL::get_allowed_post_types()`](https://github.com/wp-graphql/wp-graphql/blob/develop/wp-graphql.php#L444) function accepts array parameter to be a used to filter the custom post types returned by the `get_post()` function.
Currently, the function is called throughout the register custom post types to the schema at different point the GraphQL tree. However, I believe that these calls could

[2020-09-01 00:14] jeremyProwseYS opened #1444 "Orderby functionality of terms does not mirror that of posts."
When trying to order terms the functionality that is currently available is limited to the field you want to order by and no more. In the post structure you have the option to choose both the filed to order by and the direction of ordering, ie: ASC, DESC...

Post order options:
![posts-order-options](https://user-images.githubusercontent.com/70550299/91780488-d052a180-ec4b-11ea-9c64-915db839aa11.p

[2020-09-01 02:44] jeremyProwseYS commented on #1444
Pull request to provide a fix:
#1445

[2020-09-01 03:24] MitchEff opened #1446 "Trying to get property of non-object in (src/Data/Loader/PostObjectLoader.php) line 114"
This has happened with every single instance of WP GraphQL for all of our clients. I don't really know what causes it (all have totally separate databases, fields, post types, hosts etc), but we've been fixing it by adding:

	if(!$post_object){
		continue;
	}

Just before L114. Obviously this breaks every time we update the plugin so it's a bit of a pain. Making an isolated, cloneable repo is prob

[2020-09-02 13:35] r1987 opened #1449 "ACF Field Group Location Rules by Template Name doesn't query the field name in GraphQL"
### An *isolated* way to reproduce the behavior
1. Create a new field group
2. Add new fields
3. Add the Location rule to: Show this field group if Page Template is equal to `<your-template-name>`
4. Activate Show in GraphQL
5. Add your GraphQL Field Name
6. Try to query your field,  get an error "Cannot query field `<your-field-name>`.

### The behavior you expect to see, and the actual behavior

[2020-09-02 19:46] jasonbahl commented on #1446
@MitchEff what version of WPGraphQL are you on?

I believe the issue you're talking about was resolved several months ago. Here's Line 114 in the current version: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Loader/PostObjectLoader.php#L114

I believe what you're fixing is fixed already here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Loader/PostObjectLoader.p

[2020-09-03 01:12] MitchEff commented on #1446
Hmmm I'm on 0.8.3, but I just updated it from within WP. Perhaps WP has the wrong version?

[2020-09-03 01:39] jasonbahl commented on #1446
WPGraphQL is available on Github or Composer, it isn't on the wordpress.org repository yet so it shouldn't be available for upgrading from WordPress.

How are you doing the updates from within WordPress?

Maybe a screenshot of what you see when you upgrade?

[2020-09-03 01:45] MitchEff commented on #1446
😐

Maybe I'm going crazy, haha. Our local version had the fix I mentioned earlier in it, then we deployed it to production and updated all our plugins and the fix had disappeared. I had to copy the plugin folder back over.

Leave this with me for now, haha. I'm confused.

[2020-09-03 22:08] magicspon commented on #1449
https://github.com/wp-graphql/wp-graphql-acf/issues/135

[2020-09-04 14:08] jasonbahl opened #1451 "Querying pages by URI still having issues"
Release v0.12.2 attempted to address some issues with querying pages by URI, but there are still some bugs that need to be addressed.

## Steps to Reproduce

### Register Post Type:

[code]

### Create some posts in that post type, then query them with WPGraphQL

![Screen Shot 2020-09-04 at 8 04 28 AM](https://user-images.githubusercontent.com/1260765/92248072-5c034280-ee85-11ea-899a-c18f43df9ba6.

[2020-09-04 15:35] tim9009 commented on #1451
I would also like to add to this a related issue I just encountered. I have two pages with the same slug `karriere`, and they are available at `/karriere/` and `/de/karriere/`. This may be bad practice, but it is an artifact of one word being the same in two languages and the client wanting neat urls.

I would expect a query for `page (id: "/karriere/", idType: URI) {` to return the page with uri

[2020-09-04 18:52] seagyn commented on #1451
@tim9009 how are you achieving get the `/de` prefix?

[2020-09-04 20:16] tim9009 commented on #1451
@seagyn Yes it is a translation made with Polylang. In this case I don't think it matters though as I am just trying to get a page with the matching uri. To clarify: `/karriere/` and `/de/karriere/` are two different pages, though they are translations of each other. When I query for `page (id: "/karriere/", idType: URI) {`I get the page with the uri `/de/karriere/` page and not the expected page

[2020-09-05 23:27] jacobarriola commented on #1437
I am able to reproduce this as well - v.12.0 + WooGraphQL.

This only happens when trying to run a query outside of wp-graphiql (not authenticated) - works fine when querying inside of WordPress (authenticated).

Attempts to fix:
* added `commentType: "review"` to `where` clause of query, since WooCommerce saves order notes as comments. My guess was that there was some auth issues happening.
* add

[2020-09-07 07:00] seagyn commented on #1451
@tim9009 thanks for the feedback. I want to check if the latest update fixes this so needed to recreate your setup.

On a side note, have you seen this: https://github.com/valu-digital/wp-graphql-polylang (haven't tested with the latest updates but it's good to know about it).

[2020-09-07 07:36] tim9009 commented on #1451
@seagyn Thank you, I already have `wp-graphql-polylang` installed for this project 😊 Please let me know if you need any more information or if I can contribute somehow. It would be really helpful if a solution to this could be found in the near future.

[2020-09-07 07:57] tim9009 commented on #1451
@seagyn Also as additional context, here is the result of a `pages` query with the slug:

<img width="978" alt="Skjermbilde 2020-09-07 kl  09 55 55" src="https://user-images.githubusercontent.com/2582197/92362545-6ffeac80-f0f0-11ea-8614-ff3780c6e5b8.png">

[2020-09-08 14:12] seagyn commented on #1451
@jasonbahl so this works locally when we test but as soon as I take it into our test environment it only works without the prefix of `/area-profiles`. Super frustrating to debug :(

[2020-09-08 17:50] #1451 closed

[2020-09-09 17:04] jose-donato commented on #1182
There is any approach to include the tags and categories in the search results as well?

[2020-09-09 17:08] jasonbahl commented on #1182
@jose-donato WordPress search internally doesn't search for terms, so you'd need to do something custom behind the scenes to get that to work.

Have you implemented this type of search in WordPress outside of WPGraphQL?

[2020-09-09 17:11] jose-donato commented on #1182
Hello, @jasonbahl thanks for the fast answer.

Not really, I'm still researching for which approach I should use. The current options are using what you showed here or some service like algolia.

[2020-09-09 17:16] jasonbahl commented on #1182
@jose-donato Algolia and ElasticSearch are definitely better equipped at handling advanced searching than internal WordPress search.

You might be able to accomplish something similar using this extension too: https://github.com/wp-graphql/wp-graphql-tax-query

You would be able to specify what taxonomy to search and could use the `LIKE` operator.

So something like:

[code]

[2020-09-09 17:20] jose-donato commented on #1182
@jasonbahl thanks for the help. I also think Algolia is the best alternative for the usecase.

[2020-09-09 21:33] jasonbahl commented on #1413
I made some progress on this using Carbon Fields.

The idea is that we'll have a new Admin Menu Page that can serve as a "Getting Started" page for WPGraphQL.

Then under that will be the submenus:

- Settings
- GraphiQL IDE

Other plugins can of course add their own submenus as well.

## Settings

The settings page is using Carbon Fields pulled in as a composer dependency.

Here's what it looks l

[2020-09-10 03:38] spiralni opened #1456 "Filters to expose just selected WP types"
Currently I am working on WebAPI and I am registering my own CPT. What I want is to hide all the WP default types (posts, taxonomies, etc) and only show my types. Is there any way to tell WPGraphql to NOT to expose some types?

Thanks in advance.

[2020-09-10 05:51] drewbaker commented on #1413
Maybe I’m missing something here, but why not just do this with the regular Wordpress settings API? Why Carbon Fields? Just because of that extra tab so plugins can add settings?

[2020-09-10 09:16] sven-ra opened #1457 "title(format: RAW) requires authentication when requested server-side"
Hello!

I am building a website with Nuxt and for the CMS I have Wordpress + WPGraphql.
When I try to query "title(format: RAW)" for the default Post post type it all works fine. It also works fine when the requests are made from the client side. But when I do a request from server-side it returns NULL. I tried to do the request with a refreshToken set in the request headers and then it returned t

[2020-09-10 10:14] jasonbahl commented on #1413
@Drew WordPress core doesn't have a Field API. The WP Settings API is very minimal and doesn't address so many common issues related to having settings pages and forms. So all the things related to settings pages has to be solved (and maintained) by anyone adding settings pages.

Things like:

- Form & Field Markup
- Client and Server Validation
- Sanitization
- i18n
- extendability

Carbon Fields

[2020-09-10 10:17] drewbaker commented on #1413
OK, that makes sense. I've only ever built settings page by myself, never had to extend someone else's.

[2020-09-10 12:56] jacobarriola commented on #1456
@spiralni There are a couple filters that may help with this.

Looking at the source code, looks like there's:

* `graphql_post_entities_allowed_post_types` defined https://github.com/wp-graphql/wp-graphql/blob/develop/wp-graphql.php#L488
* `graphql_term_entities_allowed_taxonomies` defined graphql_term_entities_allowed_taxonomies

[2020-09-10 15:51] jasonbahl commented on #1413
After some discussion and pushback in Slack, I'm exploring non-Carbon fields ideas.

The WP Settings API alone isn't feature complete. . .it doesn't have proper fields API to go with it, etc. . .but there are some minimal abstractions that exist that we can borrow. For example: https://github.com/tareq1988/wordpress-settings-api-class

I'm exploring this approach today.

I think it could give us t

[2020-09-10 18:38] jasonbahl commented on #1413
Ok, so I reworked things to NOT use Carbon Fields.

Instead I'm using the class mentioned above, with some changes and a new API abstraction.

Here's the settings page when you activate WPGraphQL (might still change a bit):

![Screen Shot 2020-09-10 at 12 34 12 PM](https://user-images.githubusercontent.com/1260765/92782553-477de900-f362-11ea-8d37-bd16e9c9a894.png)

Then, 3rd party extensions can e

[2020-09-11 11:05] drewbaker opened #1458 "Feature: Add location to menu idType's"
Would be great to be able to use the `menu` query using the location as an `idType`. Currently to query by location we need to do this, which is not very intuitive.

[code]

This would be way better:

[code]

<img width="291" alt="Screen Shot 2020-09-11 at 1 02 03 PM" src="https://user-images.githubusercontent.com/475015/92918193-7e6e0080-f42f-11ea-8282-1b2a90fd46df.png">

[2020-09-11 14:03] kidunot89 commented on #1413
@jasonbahl "Enable GraphQL Admin pages" should probably be able to be refreshed by activating and deactivating the plugin :thinking:

[2020-09-11 14:05] drewbaker commented on #1413
Also `acf2.local` is a leak as to what's coming next! YES! 😉

[2020-09-11 15:31] spiralni commented on #1456
@jacobarriola thank you very much! that is exactly what I was looking for.

[2020-09-11 15:31] #1456 closed

[2020-09-11 17:14] drewbaker commented on #1035
By applying `html_entity_decode` to the entire `post_content` I've found oembeds or data attributes with escaped encoded JSON in them will cause node-mismatch errors on assembly in Vue.

For example, now that we `html_entity_decode` everything, this YouTube video will create an oEmbed like this:

https://www.youtube.com/watch?v=9tpBc8kmuJY

Becomes:
[code]

And you'll notice the title attribute wi

[2020-09-11 17:23] drewbaker commented on #1035
For future reference, changing this:
[code]

To:

[code]

Fixes a lot of issues for me with omebeds and shortcodes.

[2020-09-11 17:40] jasonbahl commented on #1035
@drewbaker One thing you can do _now_ without needing to worry about format filters is adding a new field. Let's say `Post.unencodedContent`.

[code]

![Screen Shot 2020-09-11 at 11 39 58 AM](https://user-images.githubusercontent.com/1260765/92956110-8de74c80-f423-11ea-963f-b27994f0f12d.png)

[2020-09-11 17:43] drewbaker commented on #1035
Thanks @jasonbahl for the quick response. Is there any easy way to do that across all post types?

[code]

[2020-09-11 17:53] jasonbahl commented on #1035
@drewbaker oh ya, you could register it to the `NodeWithContentEditor` Interface and then the field will be available on all Types that implement `NodeWithContentEditor` (all post types that [support](https://developer.wordpress.org/reference/functions/post_type_supports/) the editor):

[code]

[2020-09-11 17:54] jasonbahl commented on #1035
^ Interfaces are 🤩

[2020-09-11 21:48] drewbaker commented on #1035
Is it bad to just override the regular `content` field?

[code]

[2020-09-14 07:53] tim9009 commented on #1451
I updated to the latest version and tested it out. The issue i mentioned still persists.

[2020-09-14 15:10] jasonbahl commented on #1451
🤔  I'll look into things a bit more with Polylang

[2020-09-14 16:40] jasonbahl commented on #1451
@tim9009 when I try to make a translated page with the same slug using PolyLang WordPress automatically adds `-2` to the slug

Like I have:

`test-polylang` and when I created a translation it created `es/test-polylang-2`

[2020-09-14 16:45] jasonbahl commented on #1451
@tim9009 I tried to replicate your scenario, but it seems that WordPress prevents you from having the same slug in the first place.

![polylang-slugs](https://user-images.githubusercontent.com/1260765/93114041-4e18a300-f677-11ea-88e3-b1cf29431c97.gif)

Can you share more details about how you were able to get 2 pages with the same slug?

[2020-09-15 07:20] tim9009 commented on #1451
@jasonbahl Thank you for looking in to it! Yes that is correct. That behaviour can be disabled with the `wp_unique_post_slug` filter which will then allow you to create multiple posts and pages with the same slug. This can probably be considered an edge case, but it would at least in my case be extremely helpful to have this work as intended with duplicate slugs.

[2020-09-15 09:47] siddhantdante commented on #577
pagination does not work as expected in orderby => 'rand'.It does not page all posts stops early.

[2020-09-15 13:35] jasonbahl commented on #577
@siddhantdante paginating with random order in general doesn't work well because there is no order, it's random. There needs to be proper order for server pagination to work.

I'd suggest handling random ordered queries on the client by randomizing the query arguments and asking to exclude previously returned IDs.

Something like:

**First Query**

This queries for 3 posts with no arguments specif

[2020-09-15 17:47] siddhantdante commented on #577
thanks did not think of this.

[2020-09-15 17:48] siddhantdante commented on #577
@jasonbahl thanks did not think of this

[2020-09-15 19:12] james-wfaa opened #1460 "Error when wp-graphql-gutenberg plugin is enabled"
When both WP Graphql 0.10.3 and WP Graphql Gutenberg 0.3.4 [https://github.com/pristas-peter/wp-graphql-gutenberg](url) are active, the following error occurs when running `gatsby develop:`

Missing onError handler for invocation 'building-schema', error was 'Error: Type with name "WpBlockAttributesObject" does not exists'. Stacktrace was 'Error: Type with name "WpBlockAttributesObject" does not e

[2020-09-16 06:30] moonmeister opened #1461 "Solving broken builds when updating WPGraphQL"
## Problem
I've seen a consistent issue with maintaining WPGraphQL on a production site. This: If I update WPGraphQL in WP my site build is broken until I'm able to update the front-end code. If I can use a dev version of WP to update WPGraphQL then I can update the front-end without affecting prod builds. But, eventually there will come a moment where I need to update WPGraphQL in prod and then m

[2020-09-16 06:36] seagyn commented on #1461
Maybe an option would be to somehow cache the schema so requests still get the same response for a few minutes whilst the backend and frontend get back into sync.

Another option would be to try and handle schema updates on the frontend. An example is when we went to `0.10.x` and `author` and `featuredImage` etc now had a new shape you could go `if post.featuredImage.node ...  else if post.feature

[2020-09-16 06:47] moonmeister commented on #1461
Very possible. I don't think it does entirely, so I thought I'd bring it up for discussion.

[2020-09-16 06:50] seagyn commented on #1461
Another option could be to allow a way to run two different versions on different endpoints so something like `/wpgraphql/0.10` `/wpgraphql/0.12` that way requests are version locked as well.

[2020-09-16 17:28] moonmeister commented on #1461
@seagyn This crossed my mind. I'm curious if it'd be possible to do this with headers instead of routes. Example: you add a `X-WPGRAPHQL-VERSION=^3.x` header to your request and then the `/graphql` endpoint handles routing it to use the best version. Possible benefit being you don't have to target different endpoints, you can just include the header in the request. If there's not a correct match f

[2020-09-16 20:14] jasonbahl commented on #1461
I don't think it's that straight forward unless we want to take on a LOT of technical debt.

I did outline a "Seamless Upgrade Path" plan in the 1.0 release plan here: https://github.com/wp-graphql/wp-graphql/issues/1357

Where for some breaking changes at least, we could follow a 3-release approach:

- Release new feature under new name (consumers notified to update to use aliases)
- Release wher

[2020-09-16 20:16] jasonbahl commented on #1461
I think there's also a lot more room for tooling we can explore. Things like persisted query logging, so folks can track the query operations being made to their servers and when Schema changes are introduced they can identify which queries would break.

[2020-09-17 02:19] moonmeister commented on #1461
I knew Jason would have a highly intelligent answer for me. Thanks, sounds like it's on your mind and it'll get solved when it needs to. Feel free to close this issue, or whatever.

[2020-09-17 05:55] jasonbahl commented on #1461
@moonmeister I'll probably leave it open to get more discussion. I don't think it's a solved thing by any means yet.

[2020-09-17 18:54] durfee opened #1463 "Menus returning empty array after 0.9.1 -> 0.10.0 upgrade"
## Description
After upgrading from 0.9.1 to any version ^0.10.0, querying for `menus` returns an empty array from non-wpgraphiql sources unless a menu is set to a location

## Details
### Using 0.10.0, results from WPGraphiQl, menu *does not* have a location set

<img width="750" alt="Screen Shot 2020-09-17 at 11 40 50" src="https://user-images.githubusercontent.com/4141536/93513580-e82c5580-f8da

[2020-09-18 14:48] drewbaker opened #1464 "nodeByUri for a category returns null for posts when requesting nested categories"
Given nested categories, `nodeByUri` doesn't work when trying to get posts in a category. It works for at one level deep. Might be related to #1451.

<img width="252" alt="Screen Shot 2020-09-18 at 4 40 51 PM" src="https://user-images.githubusercontent.com/475015/93610716-b9db7280-f9cd-11ea-96e4-7f34491e262a.png">

This returns the right posts:
[code]

This returns null:
[code]

Interesting thing

[2020-09-18 21:04] TylerBarnes opened #1465 "Add `isSticky` Boolean field to any post type that can be sticky"
Currently this isn't possible but would be good info to query.

[2020-09-19 14:59] elijameslennox opened #1466 "Duplicate Field Names causes Internal Server Error"
Remember, an issue is not the place to ask general questions. You can use [Slack](https://wp-graphql.slack.com) for that ([join here](https://wpgql-slack.herokuapp.com/)).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a _bug_, please be sure to include the following:
- [ ] A descriptive title
- [ ] An *isolated* way to repr

[2020-09-19 15:00] elijameslennox commented on #1466
Here is the full debug message:

{
  "errors": [
    {
      "debugMessage": "You cannot register duplicate fields on the same Type. The field 'custom' already exists on the type 'Event'. Make sure to give the field a unique name.",
      "message": "Internal server error",
      "extensions": {
        "category": "internal"
      }
    }
  ]
}

[2020-09-19 15:01] elijameslennox commented on #1466
And the query- which breaks completely when asking for the first count:
query GetPartner{
          partners(first:500){
              nodes{
                id
                title
                custom{
                  logo {
                    sourceUrl
                  }
                }
              }
            }
          }

[2020-09-19 15:05] elijameslennox commented on #1466
Figured it out. Thanks!

[2020-09-19 15:05] #1466 closed

[2020-09-20 11:38] andreasbroch2 opened #1467 "503 Error when trying to query Graphql"
Hello, i have an issue when trying to build or run dev, where it throws a 503 error when trying to fetch nodes.

Here is what i see in the terminal:
[code]

I have removed a lot of lines, as they are the same as the sequence that keeps repeating.

**_Does anyone know how to fix this?_**

I have tried updating and double-checking plugins is working, and troubleshooting according to documentation, b

[2020-09-21 01:32] MitchEff opened #1468 "Debug 'Internal Server Error'"
I've asked this a few times but I just can't get to the bottom of it.

A lot of times we try to compile sites and just get "Internal Server Error" with zero other context and we just have to pull random fields out until something works. Today it was just a Select field with basic text values - we removed it and added the identical field back, and suddenly it works again.

- GRAPHQL_DEBUG is true
-

[2020-09-21 11:55] drewbaker opened #1469 "nodeByUri not returning post when permalinks set to Custom Structure"
Not the way the `nodeByUri` doesn't return a post, but the `post` query does, and returns the same `uri` that `nodeByUri` says doesn't exist:

<img width="964" alt="Screen Shot 2020-09-21 at 1 52 20 PM" src="https://user-images.githubusercontent.com/475015/93763447-bf28ff00-fc11-11ea-80e4-24b2661f2e0e.png">

I suspect it's related to my permalink settings in some way:

<img width="902" alt="Screen

[2020-09-22 16:42] kpratik2015 commented on #1468
I am facing same problem after updating wordpress :/

[2020-09-22 18:04] ttstauss commented on #1431
@oliverfeher, have you found a solution for this? I am getting the same error.

[2020-09-22 19:08] ttstauss commented on #1431
@oliverfeher, I added the following from the [gatsby-starter-wordpress-twenty-twenty](https://github.com/henrikwirth/gatsby-starter-wordpress-twenty-twenty/blob/master/gatsby-config.js) starter and it seems to work fine for me now.

[code]
I'll have to mess around with each setting to see which one did it, but it's in there somewhere 😆

[2020-09-23 09:00] Mikethekidmyers opened #1470 "Querying page by URI when the URI is the same as a postType URI yields an internal server error."
This is reproducible by registering a custom post type like `references`, then creating a page with the slug `references` and querying for that page with the new "page" query:
[code]

If I do this with the old `pageBy` query it works as expected and returns the correct page:
[code]

the post type is registered like this:
[code]

Core plugins & versions:
- WPGraphQL : 0.12.2
- WP GraphiQL : 1.0.1
-

[2020-09-25 05:57] bonovski opened #1473 "Error after updating to v0.13: /build/asset-manifest.json missing"
After updating to v0.13 the GraphiqIDE is not loading anymore.

This is the error:
`home/testing/public_html/wp/wp-content/plugins/wp-graphql-0.13.0/src/Admin/GraphiQL/app/build/asset-manifest.json): failed to open stream: No such file or directory in /home/testing/public_html/wp/wp-content/plugins/wp-graphql-0.13.0/src/Admin/GraphiQL/GraphiQL.php on line 84`

Tried  it on multiple sites and the e

[2020-09-25 10:46] darrylmorley opened #1474 "Graphql IDE page does not load on latest plugin update."
Hi,

I have set up a fresh instance of Wordpress on Lightsail.

Installed wp-graphql v0.13.0, the IDE fails to load.

Thanks.

[2020-09-25 10:53] darrylmorley commented on #1474
I'm closing this issue as a similar issue has already been raised.

[2020-09-25 10:53] #1474 closed

[2020-09-25 10:53] darrylmorley commented on #1473
Same here, the IDE does not load.

[2020-09-25 16:57] Poolshark opened #1476 "Author field returns null on custom post type query even though CPT is registered with support => 'author'"
Hi there,

I ran into an issue but im not sure whether it's me or something is wrong with the schema. I have registered a CPT with

[code]

When I try to query the CPT including the author data I get `NULL` as response.

**Query**
[code]

**Response**
[code]

Did I do something wrong or is it simply not possible to do that?

Thanks!

[2020-09-25 19:07] kpratik2015 commented on #1468
Latest release (v0.13.1) helped fix my issue. "Enable GraphQL Debug Mode" gave me debug message of Cookie nonce is invalid. Had to re-login to fix it. Not sure if that was the culprit but this release fixes my issue with breaking changes in queries.

[2020-09-25 19:52] jasonbahl commented on #1476
Is the author with ID 1 an existing user? Was that user deleted but the ID remained associated with the post?

[2020-09-25 21:17] jonshipman opened #1477 "Post__in and orderby post__in returning the wrong ids (duplicate ids coming down in subsequent fetchMores)"
Registered connection:
https://gist.github.com/jonshipman/fbd98356fb5aebd860499cb87023c821

Results:
https://gist.github.com/jonshipman/87037bae8fc4fd674b93b1fd5744e213

Logs above in the gist.

[2020-09-25 21:53] jasonbahl commented on #1477
@jonshipman ok, so I registered a connection locally with the following code:

[code]

That allows me to query like so:

[code]

![Screen Shot 2020-09-25 at 3 49 20 PM](https://user-images.githubusercontent.com/1260765/94318867-ae94c380-ff46-11ea-8fdc-9bc68259be29.png)

You can see that my hard-coded array of IDs to `orderby` are the same IDs I'm getting back in my connection.

When I take one of

[2020-09-25 22:21] jasonbahl commented on #1477
Ok, so after a bit more digging I was able to finally reproduce this.

I took a hard-coded list of IDs and randomized them (still hard-coded, but not in the default order from WP_Query)

`$ids = [ 693, 620, 661, 697 ];`

Then I used them as the resolver value and the first query is fine:

![Screen Shot 2020-09-25 at 4 18 38 PM](https://user-images.githubusercontent.com/1260765/94320657-c706dd00-ff

[2020-09-25 22:47] Poolshark commented on #1476
Thank's for your quick reply!

It's actually a user which was created before creating the post (via a form). The actual ID is 19. The user never has been deleted. Could this have something to do with rights?

[2020-09-28 10:56] bonovski commented on #1473
Fixed in 0.13.1.

[2020-09-28 10:56] #1473 closed

[2020-09-28 15:29] jasonbahl commented on #1477
@jonshipman I have a PR in progress. I'm writing a few tests and will push up something shortly for you to check out.

[2020-09-28 18:37] jonshipman commented on #1477
I updated my gist with your suggestion for outside wp-graphql.

https://gist.github.com/jonshipman/fbd98356fb5aebd860499cb87023c821

Relevant bits are in the headless_wp_post__in_order_prune filter ln98. Probably similar to your solution albeit higher up the chain.

[2020-09-30 01:48] Gabriel-Andy opened #1479 "isssue with graphql . "no schema available"
hello everyone.
it is my first time opening  an issue on github.
I am building my portfolio website with gatsby.js and strapi.
I set all my contentTypes and data on on strapi.
I open two terminals, one for strapi and one for gatsby.
to test everything, I ran the command   "npm run develop " on strapi and I have a status 200.
**this is the response https://www.screencast.com/t/YcIiZv9n**
also, I ma

[2020-09-30 06:35] nerdess opened #1480 "Cannot query for featured image"
The plugin works perfect so far but now I am failing at the simple task of grabbing the featured image.

Here is my query that I created using GraphiQL:

[code]

Here is the error message I get:

[code]

I am still at the beginning of learning GraphQL and right now I am stuck....

[2020-09-30 14:01] benknight opened #1481 "Provide option to remove "GraphiQL IDE" toolbar button"
Hey guys, I don't want to have a link to the GraphiQL IDE in my admin toolbar.

![image](https://user-images.githubusercontent.com/786691/94695346-ff9a2280-035f-11eb-99b3-3487207a8fb1.png)

Please provide a way to remove it.

[2020-09-30 18:25] jasonbahl commented on #1481
@benknight I'll work up a PR to provide a setting to enable/disable this link.

In the mean time, you can filter it out like so:

[code]

[2020-10-02 06:31] #1477 closed

[2020-10-02 06:31] #1481 closed

[2020-10-02 06:35] benknight commented on #1481
Thanks for the quick follow-up!

[2020-10-02 06:38] jasonbahl commented on #1481
My PR didn't really note this but there's now a setting to turn this off. Noting here for reference.

![Screen Shot 2020-10-02 at 12 37 27 AM](https://user-images.githubusercontent.com/1260765/94894863-73fbc100-0447-11eb-8d8a-2f1682a112fd.png)

[2020-10-02 06:46] jasonbahl commented on #1480
@nerdess In v0.10.0 some changes were made to the Schema to reflect 1-to-1 connections better.

So now, instead of:

[code]

The query would be:

[code]

[2020-10-02 06:46] #1480 closed

[2020-10-02 06:55] jasonbahl commented on #1479
Hello @Gabriel-Andy!

This repository is for WPGraphQL, which is a WordPress plugin that provides a GraphQL API to WordPress sites.

Unfortunately I don't have any experience with Strapi so I'm not sure I'll be able to help much here, but I'll do my best.

Are you using [gatsby-source-strapi](https://www.gatsbyjs.com/plugins/gatsby-source-strapi/)? And have you followed the setup instructions [her

[2020-10-02 06:58] jasonbahl commented on #1476
in your query it shows `"authorDatabaseId": 1` but you're saying the actual author ID is `19`? 🤔

Can you screenshot the raw data in something like SQL Pro or PHPMyAdmin and also screenshot what you see in the WP Admin when looking at the post and what author it's showing?

I'm not sure why `authorDatabaseId` would return `1`, if the author is actually id `19`.

You may have found a bug, but I'll

[2020-10-02 07:24] jasonbahl commented on #1470
@Mikethekidmyers ok, so I'm able to replicate what you've reported, however I think the behavior in v0.12.2 was actually possibly a bug.

Based on the code to register the post type, the uri `/references` is _actually_ not a page, but a post type archive.

If you visit the url in the browser directly, you can see this is the case:

![Screen Shot 2020-10-02 at 1 16 08 AM](https://user-images.github

[2020-10-02 07:29] jasonbahl commented on #1470
As a sanity check, I also checked permalinks using [Rewrite Analyzer](https://wordpress.org/plugins/monkeyman-rewrite-analyzer/) plugin, and the correct primary response for the `/references` uri should indeed be the `references` post type:

![Screen Shot 2020-10-02 at 1 27 41 AM](https://user-images.githubusercontent.com/1260765/94898252-79103e80-044e-11eb-8338-3c78921bbaf5.png)

[2020-10-02 07:40] jasonbahl commented on #1469
@drewbaker I did some work recently to address some bugs with uri queries and I think this has been solved.

I set my permalinks the same as you and then tried on v0.12.0 and have an issue:

![Screen Shot 2020-10-02 at 1 37 41 AM](https://user-images.githubusercontent.com/1260765/94899073-deb0fa80-044f-11eb-9879-c5fd543e029b.png)

But it looks like things are in working order in v0.13.1:

![Screen

[2020-10-02 07:44] jasonbahl commented on #1468
@MitchEff if `GRAPHQL_DEBUG` is true, you should see more explicit errors than `Internal Server Error`

How are you enabling `GRAPHQL_DEBUG`? It should be in your wp-config.php file _above_ the line that says: `/* That's all, stop editing! Happy blogging. */`. If you put it below that, it won't work.

[2020-10-02 07:47] jasonbahl commented on #1467
@andreasbroch2 it looks like you posted over [here](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/164) as well and @TylerBarnes responded on that issue, so I'm going to close this one.

[2020-10-02 07:47] #1467 closed

[2020-10-02 07:49] jasonbahl commented on #1465
@smthomas @duffn ya'll can fight to the death for who gets to implement this one. . .maybe we can do a quick mob-programming here? 🤔

[2020-10-02 07:52] jasonbahl commented on #1464
@drewbaker I've reproduced this on v0.13.1, so we've got some work to do still with the URI queries. I fixed some things with URIs in regards to posts, but some details slipped by for terms it looks like.

Thanks for the helpful information here. I'll look into getting this resolved shortly.

[2020-10-02 07:59] jasonbahl commented on #1463
@durfee Thanks so much for the detailed issue. Super helpful in identifying issues when this much information is provided up front! Really appreciate it!

This is actually a correction to previously incorrect access control rights.

Menus/Menu Items that are not assigned to a location are not public entities in WordPress and WPGraphQL now respects that.

In the [v0.10.0 release notes](https://gith

[2020-10-02 08:00] #1463 closed

[2020-10-02 08:02] jasonbahl commented on #1461
@moonmeister I'm transferring this to a discussion as it seems like a more open-ended topic right now. I think it's a good conversation to have that might stem many different ideas. It's for sure not a "solved" problem in the WPGraphQL space or even broader GraphQL space.

[2020-10-02 08:02] #1461 closed

[2020-10-02 08:06] jasonbahl commented on #1460
@james-wfaa when using WPGraphQL and WPGraphQL Gutenberg are there errors when using WPGraphiQL in the WordPress admin?

If you're not having issues with WPGraphQL directly, then it's likely an issue with the Gatsby Source WordPress plugin.

There are a few issues related to Gutenberg here: https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues?q=is%3Aissue+gutenberg+

If none of

[2020-10-02 08:11] jasonbahl commented on #1457
This is proper behavior. In WordPress, raw titles are only exposed to authenticated users. Public users see titles after they've been passed through filters.

So is this an issue with an expired token then? If it works after refreshing the token, then this seems like correct behavior? 🤔

[2020-10-02 08:26] sven-ra commented on #1457
I see I did not know that. Sometimes we use &shy; inside titles so that's why I need to get the RAW title.

I would use the refreshToken only on Mutations or getting post previews for authenticated users. I don't want to create a refreshToken for every request on the page. The site in question runs on NuxtJS and on Node. So every time somebody visits the site a request for the Posts is being made.

[2020-10-02 08:58] duffn commented on #1465
I’d love to get in on this with y’all and learn more.

[2020-10-03 00:31] Gabriel-Andy commented on #1479
hi
thank you so much for reaching back to me.
Yes, I do use gatsby-source-strapi. and I followed all the instructions.
this is the gatsby repository https://github.com/Gabriel-Andy/my-portfolio-site
this is the strapi repo https://github.com/Gabriel-Andy/portfolio-api
 I will also share those issues on strapi repository and gatsby repository
thanks very much.
I look forward to hearing from you bac

[2020-10-05 14:28] Gabriel-Andy commented on #1479
thanks so much
someone emailed me this morning and told me to update my gatsby version to the newest one.
I am mad because I couldn't think about that.
schema for me.

[2020-10-05 15:37] smthomas commented on #1465
I would be happy to jump in on this as well. Would be a great thing to do as a mob-programming call.

[2020-10-05 15:44] james-wfaa commented on #1460
@jasonbahl I was able to circumvent the issue and start getting gatsby develop to work while the wp-graphql-gutenberg plugin is active.  I didn't test thoroughly, but I *think* the problem was with having both wp-graph-gutenberg AND another plugin called atomic blocks active. https://atomicblocks.com/. When I disabled atomic blocks, I was able to run gatsby develop without errors.

[2020-10-05 19:45] kpratik2015 opened #1487 "Unable to retrieve private post/menu using wp-graphql-jwt-authentication/Bearer Token"
Hi so I've been struggling with this issue for last 3 days and I've reached a dead end. This issue started happening after I upgraded my wordpress to 5.5.1 from 5.5. So last I checked, 3-4 weeks back the setup I had was working perfectly. What still works right now is `loginWithCookies` but it does not retrieve me menu which is `private` as there's no parent.
Anyway, I want to make `authToken` gen

[2020-10-05 20:01] Robak08 commented on #1476
I'm having similar problem, but with woo-graphql. Since i think it might be connected I'll describe it here. When querying
`products {`
   ` nodes {
      reviews {
        nodes {
          author {
            node {
              name
              email
              databaseId
            }
          }
        }
      }
    }`
  }`
on playground I get author node with properties, but querying

[2020-10-05 21:45] jasonbahl opened #1489 "Setting for enabling/disabling GraphQL Introspection"
WPGraphQL currently supports Introspection Queries by default.

In production environments, the queries should already be known, so WPGraphQL should disable Introspection Queries for public requests by default and provide the option to enable them.

[2020-10-06 07:03] Poolshark commented on #1476
Hey!

Sorry for getting back to you that late!

My previous query was only an example. The `authorDatabaseId` in my real case is `19` too. I am pretty sure it has to do with rights since I have read that some fields in a query are protected (such as e.g. `user_email`). Since I am querying from outside the WP environment (external GraphiQL), I guess I am not allowed the author data without authenti

[2020-10-06 07:03] #1476 closed

[2020-10-06 15:50] jasonbahl opened #1493 "createPost: Contributors can publish posts, should only be able to submit for review"
WordPress core allows contributors to create a post with a "pending" status, but WPGraphQL lets contributors create posts with a "Publish" status.

WPGraphQL should modify the `createPost` mutation to follow the core access control rights more closely.

[2020-10-06 16:01] fredy31 opened #1494 "Way to dump the metas in an array?"
Remember, an issue is not the place to ask general questions. You can use [Slack](https://wp-graphql.slack.com) for that ([join here](https://wpgql-slack.herokuapp.com/)).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When you open an _issue_ for a feature request, please add as much detail as possible:
- [ x ] A descriptive title
- [ x ]

[2020-10-06 18:32] Kpudlo commented on #1460
I am experiencing the same issues. However, after disabling all plugins except WP GraphQL, WP Gatsby, and WP GraphQL Gutenberg, I'm still unable to get `gatsby develop` to work correctly. As soon as I disable WP GraphQL Gutenberg, I am able to run `gatsby develop`.

[2020-10-07 15:29] kpratik2015 commented on #1487
@jasonbahl Hi, I know you may not have the time but could you offer any insight or way for me to debug this on my own? Perhaps wordpress side?

[2020-10-07 22:26] smthomas commented on #1438
I can confirm that wp-cron does get triggered if you view /graphql from a browser. I would assume this would still get triggered through any http request to that endpoint. See gif for confirmation:

![image](https://user-images.githubusercontent.com/1393742/95392954-47203180-08bf-11eb-8898-0ce3c3e177a0.png)

[2020-10-07 22:31] TylerBarnes commented on #1438
Awesome! 😄
How did you verify?

[2020-10-07 22:41] smthomas commented on #1438
![wpcron-wpgraphql](https://user-images.githubusercontent.com/1393742/95395438-3aeaa300-08c4-11eb-8d0f-7ccc91416701.gif)

[2020-10-07 23:01] TylerBarnes commented on #1438
🙌

[2020-10-07 23:01] #1438 closed

[2020-10-08 04:02] jasonbahl opened #1496 "UniformResourceIdentifiable Interface should only be applied to public Post Types and Taxonomies"
The `UniformResourceIdentifiable` Interface is applied to Types that can be fetched from a URI.

Post Types and Taxonomies that are not public don't have public URIs and therefore should not have the `UniformResourceIdentifiable` Interface applied to them.

[2020-10-08 04:41] #1496 closed

[2020-10-08 05:28] jasonbahl opened #1500 "createComment mutation should not allow userId to be set as input"
the createComment mutation currently allows a `userId` to be set in the mutation. This allows for public users to spoof comments as if they were from a logged in user.

The `createComment` mutation should not accept a `userId` input, but should instead set the comment author based on the current logged in user, or accept guest author input as a fallback.

[2020-10-08 13:32] fredy31 commented on #1494
Any updates?

[2020-10-08 14:04] stephanedemotte commented on #1303
@jasonbahl Hello, 17ms on siliconsvalley is pretty quick!! I've trying to get this speed on my website, but i think siliconvalley has a caching services.

When you try the query the first time, the response is relatively slow.

First time ~400ms
<img width="1792" alt="Screen Shot 2020-10-08 at 10 00 26 AM" src="https://user-images.githubusercontent.com/2158130/95469278-7b423380-094d-11eb-89b2-d9bb

[2020-10-09 19:19] jasonbahl commented on #1494
@fredy31 a huge benefit of GraphQL is specifying exactly what you want in the requests. Getting a dump of unpredictable data in your client applications leads to scaling issues and bugs.

GraphQL best practices would be to register the specific fields you want to expose to the GraphQL Schema and in your client application write queries for the exact fields you need.

I'd highly recommend registeri

[2020-10-09 19:29] fredy31 commented on #1494
Okay so that might be why there doesn't seem to be a way to simply throw an array.

Is there a good way to send things like repeaters over? Because if I understand right you have to expressly call out every value that has to go through, so thats why an array is not accepted.

If i could ask things of you, the register_graphql_field is not very well documented. https://docs.wpgraphql.com/extending/

[2020-10-09 20:54] jasonbahl commented on #1500
closed by #1501

[2020-10-09 20:54] #1500 closed

[2020-10-09 20:57] jasonbahl commented on #1494
@fredy31 ya, I'm working on updating docs and this area is a focus we'll be spending time on.

In the mean time, you can learn a lot by looking at the source code. Both of WPGraphQL itself and plugins like WPGraphQL for ACF, WPGraphQL for WooCommerce, etc.

For a list of, you can define it like so:

[code]

[2020-10-09 21:14] kpratik2015 commented on #1487
I added a lot of logs at many places and have got a lead on `Request.php` which outputs `$wp_rest_auth_cookie` as malformed. I guess I will try to resolve the issue myself without knowing PHP :/

[2020-10-09 21:24] donpernino commented on #658
Hey, I am running to the same issue as @aakash19090  & @andrewclo ; Any updates on this? I just followed the youtube video.

[2020-10-09 21:27] jasonbahl commented on #1493
closed by #1499

[2020-10-09 21:27] #1493 closed

[2020-10-09 21:28] jasonbahl commented on #1489
closed by #1490

[2020-10-09 21:28] #1489 closed

[2020-10-09 21:29] #1494 closed

[2020-10-09 21:32] jasonbahl commented on #1487
@kpratik2015 hey, I'm not really sure what the issue is.

Can you get private posts when using GraphiQL in the WordPress dashboard? Or are you not able to get private posts there too?

[2020-10-09 21:34] kpratik2015 commented on #1487
Hi Jason! Glad to have grabbed your attention. I am able to get private posts via GraphiQL. But somehow using postman with Bearer Token I am not able to get.`is_user_logged_in()` is false when I query, even though it does becomes true when I generate Bearer Token via `login` mutation.

[2020-10-09 21:41] jasonbahl commented on #1487
Ok, so the fact that you can get private posts in GraphiQL in the admin leads me to believe WPGraphQL is working properly and it's something else. Likely one of the extensions. 🤔

[2020-10-09 21:49] kpratik2015 commented on #1487
Could it be wp-graphql-jwt-authentication?

Sorry I can't help a lot as I don't know PHP. I am just trying to print into debug.log via debug mode of wordpress.

The `login` mutation does works though as I do get this:

[code]

But on executing query, I get:

[code]
Wrote this log in `get_app_context()` function of `wp-graphql.php`. Is there any other useful place to put log and check?

[2020-10-09 21:50] jasonbahl commented on #1487
Ok, so I'm not able to replicate this.

I'm on:

- WordPress 5.5.1
- WPGraphQL v0.13.3
- WPGraphQL v0.4.1

I created a private post, id `1634`:

![Screen Shot 2020-10-09 at 3 46 40 PM](https://user-images.githubusercontent.com/1260765/95634229-a0ff3380-0a46-11eb-8d07-6cfaa7f753c7.png)

If I query this post as a public user, I get null, as expected:

![Screen Shot 2020-10-09 at 3 47 26 PM](https://

[2020-10-09 22:03] kpratik2015 commented on #1487
Okay, probably something unique in my setup then. Could you let me know where it might be helpful to put logs to check?

Response for me with above query:

![image](https://user-images.githubusercontent.com/14140930/95635206-637fc200-0aa9-11eb-952d-32b2453ac8d8.png)

[2020-10-10 13:24] kpratik2015 commented on #1487
So turns out the culprit was Jetpack plugin (Version 9.0.2). On deactivating it, I was able to get private posts. Some googling helped me to nail on this path. Particularly, [this](https://wordpress.org/support/topic/jetpack-and-rest-api/).

However, there's still one issue I have that I am unable to retrieve menu with no parent i.e. private menu for Editor role user. Admin user can get it and I b

[2020-10-10 19:10] kpratik2015 commented on #1487
Closing this issue as I was able to edit source code (I know it's not optimum) directly to meet my condition.

I basically wanted private data to be visible for a particular user. The [Members](https://wordpress.org/plugins/members/) plugin helped me partly to create a custom role that only had read granted for everything. Even then with the new role, my user wasn't able to get details of a privat

[2020-10-10 19:10] #1487 closed

[2020-10-11 23:16] jmolivas commented on #1487
@jasonbahl what is your local env running local-lamp or docker?

[2020-10-12 18:52] TylerBarnes opened #1504 "ContentNode types should implement NodeWithTemplate"
This would make it easier to get templates across content node types.

Instead of

[code]

we could do

[code]

[2020-10-14 00:51] durfee commented on #1463
@jasonbahl Ohh gotcha! Understood. I completely missed those two bullet points 😅 . Agreed, that seems like proper behaviour. Thanks for the reply!

[2020-10-14 03:38] jasonbahl opened #1505 "Update Post mutation not properly respecting contributor access control"
Currently WPGraphQL allows contributors to update posts created by other users.

Contributors should only be allowed to edit posts created by themselves.

[2020-10-14 07:51] durfee opened #1508 "Querying singular entity searches all entities"
# Description
Querying for entities via their graphql singular name by URI, ID, or DATABASE_ID returns results from all possible post_types, not just the specified post_type. This also seems to be the case for querying used the depreciated nameBy (e.g. pageBy), but only when querying by URI, not ID or DATABASE_ID. This is a particular issue if two posts happen have the same slug, where only one wi

[2020-10-14 14:54] jasonbahl commented on #1508
@durfee Thanks for submitting this issue! Appreciate all the details. I'll look into this shortly.

[2020-10-15 14:07] Mikethekidmyers commented on #1470
@jasonbahl I think what you wrote here about this being the correct behaviour as is default in WP is the right answer. I think I just assumed it was the other way around as it worked earlier with the old `pageBy` query. Looking through it again I guess the correct thing to do here would be to set the `'has_archive' => false`, property on the post type and try to have a regular page as the "archive

[2020-10-15 14:07] #1470 closed

[2020-10-15 20:51] smthomas opened #1509 "All Taxonomy term tags (even unused/private) are available through WPGraphQL"
By default, all taxonomy terms are available regardless of whether they are unused, or only attached to private posts.

An example GraphQL query:

[code]

Example output:

[code]

After further discussion with @jasonbahl we believe this is not something we need to address in code.

When creating a taxonomy term with no posts (or other objects) associated with it, WordPress core itself provides a p

[2020-10-15 20:54] #1509 closed

[2020-10-16 08:48] #1430 closed

[2020-10-16 19:14] jasonbahl opened #1511 "Add Telemetry"
We should enable **opt-in** telemetry (track basic data about installs).

Enabling tracking of data will allow us to:

- Understand how sites using WPGraphQL are set up and cater to feature development.
- Understand the number of sites potentially impacted if something goes wrong with a specific feature or update, and act more quickly to resolve issues.
- **Contact site owners if we detect a secur

[2020-10-17 03:43] #891 closed

[2020-10-17 03:44] jasonbahl commented on #917
I think I have to close this because WP core internals sadly don't allow this to be fixed the way we ideally want to. 😞

[2020-10-17 03:44] #917 closed

[2020-10-17 03:46] jasonbahl commented on #1019
Closing this as I believe the loaders passed down in `$context` help here.

`$context->get_loader( 'post' )->load_deferred( $id );` allows developers to take advantage of deferred loading of nodes in their resolvers.

[2020-10-17 03:46] #1019 closed

[2020-10-18 16:17] IRediTOTO commented on #1468
I got this too, but if logout and login, everything fine. Don't know why
![image](https://user-images.githubusercontent.com/15695252/96373626-f39fc480-1197-11eb-952b-cb6b8baaa274.png)

[2020-10-18 16:27] kpratik2015 commented on #1468
That's because on login a cookie is set in your browser that lets you be logged in even after closing the tab. If the cookie changes by an API or some other means i.e. some other user logs in then the cookie is invalid for graphiql tab (which requires admin login cookie)

[2020-10-19 14:28] pierreavizou commented on #1465
Hello guys, this is awesome I just needed the featured and just found out it was merged into `develop` two days ago 🚀
Just a quick question: How much work would it be to add isSticky as a filterable field in `where` conditions?

I could use this at work so, although my PHP skills are a bit dusty, could definitely lend a hand on this if needed!

[2020-10-19 14:42] #1479 closed

[2020-10-19 15:00] jasonbahl commented on #1046
Closing as I'm unable to reproduce this at this time.

[2020-10-19 15:00] #1046 closed

[2020-10-19 15:01] jasonbahl commented on #1469
Closing as this seems to be fixed in >= v0.13.1

[2020-10-19 15:01] #1469 closed

[2020-10-19 15:08] #1446 closed

[2020-10-19 17:32] #1332 closed

[2020-10-19 17:33] #1177 closed

[2020-10-20 01:14] acafourek commented on #884
For those who might come upon this thread as I did, the "viewer query" being referred to is, I believe, the example given for how to use the WPGraphQL JWT plugin you will find here:
https://github.com/wp-graphql/wp-graphql-jwt-authentication

Essentially, you cannot fetch details about a user unless your request is authenticated, so you need to include credentials with your query for users. An ano

[2020-10-20 01:19] TylerBarnes opened #1517 "`/?graphql` is returning the html page for the top post (latest or sticky)"
When authenticated via `wp-graphiql` everything is working as expected, but when making a non-authenticated request, html is returned.

[2020-10-20 01:19] TylerBarnes commented on #1517
On latest `master` using Local by flywheel

[2020-10-20 01:21] TylerBarnes commented on #1517
Jason says it's related to https://github.com/wp-graphql/wp-graphql/pull/1516

[2020-10-20 01:22] jasonbahl commented on #1517
Jason needs to take a hike

[2020-10-20 01:32] #1517 closed

[2020-10-20 09:52] sven-ra commented on #1457
Whoops I actually wrote "\&shy;" there but it parsed it as html in the comment.

[2020-10-20 18:55] fredy31 commented on #1494
If you could only debug me for a little quick thing (while the docs rework is in progress):

What are the accepted Types? Could an associated array work?, or a list_of arrays? Sometimes I have repeaters, so I would have to pass 2-3 arrays. Like a 'image, title, alt' for each array.

If I'm guessing right, the first argument is the post type requested (weirdly put, because WP usually works in camel

[2020-10-21 20:47] smthomas opened #1522 "Add tests for register_graphql_fields function"
There is currently no explicit test for the `register_graphql_fields` function. The `register_graphql_field` function does have tests, but it would be a good idea to explicitly test `register_graphql_fields` as well.

[2020-10-21 20:53] smthomas opened #1523 "Add tests for register_graphql_input_type function"
There is currently no explicit test for the register_graphql_input_type function. This function is implicitly tested within WPGraphQL but it would be beneficial to have explicit test coverage for this function.

[2020-10-21 20:56] sadmansh opened #1524 "Can't query hierarchical custom post types by URI"
I have a custom post type called `events` that has parent-child (hierarchical) relationships between them. I have been trying to fetch child events using the following code:
[code]
And this is what it returns:
[code]
I have also tried adding the parent slug in the `id` parameter, like this below, but it still returns and error:
[code]
This is the error this code returns:
[code]
And if I run a quer

[2020-10-22 13:29] saulirajala opened #1525 "do_graphql_request() will mess up the rest of the WP_Query"
It seems that there are some issues with `Request->after_execute()` method and how it resets the main WP query after GraphQL request. This can cause some weird issues in the rest of the page loading process like with pagination or with "Edit Page" -link in admin-bar.

## The expected behavior and the actual behavior

Expected behavior: `$GLOBALS['wp_the_query']` should be the same before and after

[2020-10-22 15:16] jasonbahl commented on #1525
@saulirajala can you open your changes as a PR?

It looks like a good fix. I have a feeling there's something in the way the enqueued script resolvers work that could be adjusted to compensate for this change. I'll take a look at those tests and the underlying behaviors.

[2020-10-22 16:45] erick-go opened #1526 "Unable to make changes to Wordpress posts "Update Failed""
Upon save I get an error "Update Failed".
This is what's shown in the console
![image (3)](https://user-images.githubusercontent.com/59344617/96903806-95742980-1496-11eb-8580-b8d3dd72a3e2.png)

And these are my server error logs:
`FastCGI: server "/var/run/php74-cgi/php-cgi" stderr: tractConnectionResolver.php on line 498PHP message: PHP Warning: count(): Parameter must be an array or an object th

[2020-10-22 17:05] jasonbahl commented on #1526
@erick-go I'm really curious why WPGraphQL is big executed when you save posts.

Are you using WPGraphQL within your WP-Admin for meta boxes or anything like that?

[2020-10-23 00:03] smthomas opened #1527 "Add tests for register_graphql_union_type function"
There is currently no explicit test for the register_graphql_union_type function. Since this is an API function available to plugin developers it would be beneficial to have explicit test coverage.

[2020-10-23 05:11] jasonbahl opened #1528 "Add filter to work with Application Passwords"
Application Passwords are coming to WordPress core.

WPGraphQL already plays nice with most WordPress authentication mechanisms, and it should play nice with Application Passwords.

In order for WPGraphQL to work with Application Passwords, WPGraphQL will need to identify GraphQL Requests as api requests, as recognized by WordPress core.

See: https://github.com/WordPress/wordpress-develop/blob/ef

[2020-10-23 05:47] jasonbahl commented on #1457
If you want to expose this field on your own, I would suggest registering a field to the Schema and outputting the title without any filters.

Something like the following could work:

[code]

You could then query like so:

[code]

![Screen Shot 2020-10-22 at 11 41 54 PM](https://user-images.githubusercontent.com/1260765/96960672-31665b00-14c0-11eb-84ea-0d8af221cfa1.png)

If you wanted to add this

[2020-10-23 05:47] #1457 closed

[2020-10-23 05:48] jasonbahl commented on #1258
@henrikwirth now that we have Github Discussions, I'm going to move this over there. I'd like to keep discussing these ideas, but would prefer actionable issues once ready.

[2020-10-23 05:48] #1258 closed

[2020-10-23 05:53] jasonbahl opened #1530 "Update GraphQL PHP to v0.14.*"
WPGraphQL is currently on GraphQL-PHP v0.13.8

GraphQL-PHP latest version is v0.14.3.

WPGraphQL should update to the latest available version of GraphQL PHP

[2020-10-23 07:00] jasonbahl commented on #1526
After pairing with @erick-go on a call, we were able to determine this is an issue with the WPGatsby plugin.

I'm going to close this issue on this repo and open an issue over there with more info.

[2020-10-23 07:00] #1526 closed

[2020-10-23 07:31] jasonbahl commented on #1525
@saulirajala so the 2 broken tests might be something funky with the tests themselves.

I tested the scenarios manually and the expected behavior is working for me with your changes.

For example, I can add this code to enqueue a script to _just_ single posts:

[code]

Then I can query for both pages and posts, and we can see that I get the enqueued script, as expected, for posts, and I _do not_ g

[2020-10-23 08:00] jasonbahl commented on #1525
@saulirajala I think I figured it out.

When I try the same manual test as above with a custom post type, things don't work. I see the enqueued script getting added to the page that WordPress renders for that post type, but I _do not_ see it in the GraphQL query.

So the failed test is indeed failing properly.

To fix it, we can add the following:

[code]

To the end of this statement here: https:

[2020-10-23 08:04] jasonbahl commented on #999
Security audit has been completed. Closing this

[2020-10-23 08:04] #999 closed

[2020-10-23 19:29] rodrigo-arias commented on #834
Hi @jasonbahl, I have noticed that if I use a domain in the Site Address URL other than the domain where WordPress is hosted, the path attribute is processed as an external resource (absolute path) when they are actually internal resources. At the moment I have solved it with a simple `replace()` on Gatsby, but I wanted to leave a message here.

[2020-10-23 19:41] jasonbahl commented on #834
@rodrigo-arias can you open a new issue with examples/screenshots and reference this issue?

[2020-10-23 20:25] rodrigo-arias opened #1532 "Menu path is processed as external resource when using a custom Site Address URL"
I have noticed that when I use a Site Address URL other than the WordPress Address URL the menus path attribute is processed as external resources.

![image](https://user-images.githubusercontent.com/11416255/97048757-f2341a80-1550-11eb-9947-457ea484595f.png)

In my case, I am using a subdomain for the admin in dev environments, while in production the domain differs from the admin and that is whe

[2020-10-23 20:26] rodrigo-arias commented on #834
@jasonbahl for sure #1532 thanks.

[2020-10-24 05:38] #1525 closed

[2020-10-26 08:04] izzygld opened #1534 "Search query doesn't return private/protected posts (isRestricted)"
_(make sure your'e not logged in to wp-admin when querying)_
### Regular post query:

[code]

Returns all posts including if `isRestricted = true`

## VS

### When querying with the where - search filter:
[code]
Returns only posts that `isRestricted = false`

**Is this on purpose?
Shouldn't it be the same as the regular post query?**

<img width="1226" alt="post-query" src="https://user-images.git

[2020-10-26 16:18] jasonbahl commented on #1534
@izzygld can you provide more information about the post? There could be many reasons why the post isn't showing in public requests.

[2020-10-26 16:20] izzygld commented on #1534
It's a restricted (password protected)

Should it really be excluded from the general post query too?

[2020-10-26 16:26] jasonbahl commented on #1534
Password protected posts are included in the main queries for public users. The content is protected, but the post itself can be seen. Much like if you publish a PW protected post and then visit the front-end of your site, the post will be there, but the content will be hidden.

![Screen Shot 2020-10-26 at 10 24 22 AM](https://user-images.githubusercontent.com/1260765/97199332-82eb4000-1775-11eb-9

[2020-10-26 16:28] jasonbahl commented on #1534
@izzygld you could do a query like so, to exclude PWs

[code]

[2020-10-26 16:28] izzygld commented on #1534
That's what I thought too,
So why does the search term no search private posts too?

(Doesn't it search by title too - which is open)

[2020-10-26 16:36] jasonbahl commented on #1534
@izzygld ah, I do see that it's not being returned in search queries. I'm looking into whether this is a WPGraphQL thing, or an internal WP thing.

[2020-10-26 16:43] jasonbahl commented on #1534
@izzygld I believe this is happening deeper in WordPress core vs. WPGraphQL.

As you can see, running the Twenty Twenty theme, it shows up in regular queries, like "Recent Posts" widget, but does not show in Search Results.

Investigating a bit more, it appears the behavior comes from WP_Query internals:

https://core.trac.wordpress.org/browser/tags/5.5.1/src/wp-includes/class-wp-query.php#L1398

[2020-10-26 16:44] izzygld commented on #1534
Ok
Sorry for bothering you
Thank you for clearing it up for us. 👍

[2020-10-26 16:45] #1534 closed

[2020-10-26 16:46] jasonbahl commented on #1534
@izzygld you're certainly not bothering!

I really appreciate pointing out things that feel like inconsistent behavior. Often there are bugs in WPGraphQL, especially the model layer, that still need to be fleshed out.

This is a great discussion and will likely help other users in the future as well!

[2020-10-26 16:50] izzygld commented on #1534
Thank you for taking the time, I know you're a busy man. Appreciated.

Really excited for version 1. 😍

[2020-10-26 17:26] henrikwirth opened #1535 "Introduce WordPress VIP coding standards and fixes for existing errors"
WordPress VIP has pretty high coding standards and everyone who will work with VIP in the future will face the same problems as our team right now. It would be great if we could get coding standards up and running with VIP's standards.

Ideally we could setup PHP_Codesniffer with all the configurations of them and let a bot check run through it before merging PRs.

We will attempt to setup everyth

[2020-10-27 20:33] #1465 closed

[2020-10-28 11:00] benknight commented on #1397
I'm still having this issue. Querying a non-heirarchical custom post type with id / idType "SLUG" returns null.

[2020-10-28 12:22] manzoorwanijk opened #1537 "Allow filtering of post and user connection args"
Currently there is no easy way to add custom query args to posts and users queries. For example, I want to query users based on some custom field, but there is no filter to modify `RootQueryToUserConnectionWhereArgs`.

I think every connection's args should have filters to allow custom args to be added.

[2020-10-28 13:21] manzoorwanijk opened #1539 "UsersConnectionSearchColumnEnum is wrong"
`UsersConnectionSearchColumnEnum` should be an enum of user columns (`'ID', 'user_login', 'user_nicename', 'user_email', 'user_url'`) but it's actually an enum of user roles.

[2020-10-28 23:16] jasonbahl commented on #1532
@rodrigo-arias I've confirmed this behavior and will have a PR shortly.

[2020-10-29 00:28] Alexufo opened #1541 "Uncaught Error: Call to undefined method WPGraphQL\\Types::list_of()"
Version latest. Downloaded today from https://github.com/wp-graphql/wp-graphql
WP: 5.5.1

Plugin works good for Post type. But then I want to use it with user meta field I copy example from

Register field for user
https://docs.wpgraphql.com/extending/fields/

    add_action( 'graphql_register_types', function() {

		$hobbies = [
			'type'        => \WPGraphQL\Types::list_of( \WPGraphQL\Types::str

[2020-10-29 14:07] jasonbahl commented on #1541
@Alexufo docs need to be updated. Sorry.

Instead of:
`'type' => \WPGraphQL\Types::list_of( \WPGraphQL\Types::string() )`

it should be:
`'type' => [ 'list_of' => 'String' ]`

[2020-10-29 14:07] #1541 closed

[2020-10-29 14:08] jasonbahl commented on #1541
New docs site is also in the works and this example has been updated.

[2020-10-30 14:46] pierreavizou opened #1543 "Filter posts by sticky status"
It would be nice to be able filter posts by sitcky status, i.e adding a `isSticky` variable to the where condition on Post nodes.

This is useful for instance when you want to display sticky posts in a different way, and you don't necessarily get all your sticky posts when querying the latest ones.

[2020-10-30 20:57] TylerBarnes opened #1544 "Previewed node's templates are null"
See https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/226 for more info

[2020-11-02 18:38] durfee commented on #1508
Hey @jasonbahl, just following up here! Anything I can do to to help or try and pin this down?

[2020-11-02 23:40] jacobarriola opened #1545 "Meta value not getting cast correctly during pagination (cursor)"
**Description**
Somehow my query is not executing correctly when trying to sort by the WooCommerce `PRICE` enum when paginating. I ran my query and logged out the SQL.

**How to reproduce**
The following raw SQL query results from my GraphQL query:
[code]

**Expected results**
The next 4 IDs (the first 3 will return in my graphql query, the 4th will be set up for the `endCursor` field) should retu

[2020-11-02 23:42] jacobarriola commented on #1545
@kidunot89 FYI. Seems like this is an issue with core WPGraphQL, but it may come up on your end during some weird edge cases.

[2020-11-02 23:44] jacobarriola commented on #1545
FWIW, the where clause for this meta query is getting built in https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Cursor/CursorBuilder.php#L40.

[2020-11-03 21:16] dbertella commented on #1434
Can we add the above to the lib? I was look for this exact thing it can be really nice to have a excludeBySlug when you are querying a post by slug I hope to use this to get other posts from same category excluding itself

[2020-11-05 04:25] schbudy opened #1547 "Query pages showing children with same level as Parent"
I'm using WP Graphql Version 0.13.3
when I run query below, the result showing child page include in same level as parent
The Query
[code]
Result:
[code]
I have try it with all plugins disabled except wp graphql and using default themes Twenty eleven and still same result

[2020-11-05 04:34] jasonbahl commented on #1547
@schbudy Hello!

Thanks for checking out WPGraphQL!

This behavior is intentional. Hierarchical content is returned as a flat list by default. You can use a function like the one documented [here](https://docs.wpgraphql.com/getting-started/menus/#converting-a-flat-list-to-hierarchical-list) to convert a flat list to hierarchical on the client.

Or, if you prefer to query as a hierarchy in GraphQL,

[2020-11-05 04:34] #1547 closed

[2020-11-05 10:30] seagyn opened #1548 "A query to a page with uri errors"
<img width="1501" alt="Screenshot 2020-11-05 at 12 26 26" src="https://user-images.githubusercontent.com/743964/98229123-2f8da480-1f62-11eb-9d72-7173257d910d.png">

When querying a page by id, (uri) in this case. It returns the correct entity but errors because uri is null on a non-nullable field. When dropping uri both the content and title are null as well. Seems like it's not properly returning

[2020-11-05 12:41] seagyn commented on #1548
This must be something that's on my specific setup because I can query the docs site fine :(

[2020-11-05 18:05] seagyn commented on #1548
OK confirmed. For a CPT, I had a custom slug which was conflicting.

[2020-11-05 18:05] #1548 closed

[2020-11-05 23:01] jasonbahl opened #1549 "Allow html_entity_decode to be enabled/disabled by default via filter"
some fields, including `post_content` are passed through `html_entity_decode()` during resolution. This has solved _some_ problems, but has caused others.

Many users of React and other JS libraries have expressed bugs with the way entities are decoded by PHP before resolving. However, some users have also expressed that it's solved issues for them.

I'm proposing we have one function that handles

[2020-11-06 16:00] #1549 closed

[2020-11-06 16:59] jasonbahl commented on #1437
I was able to reproduce this.

[2020-11-06 17:46] jasonbahl commented on #1209
@jonshipman has this been resolved with the work we did on URIs recently when I paired with you?

[2020-11-06 17:47] jasonbahl commented on #1209
@jonshipman

I tried that initially, but if I recall correctly, it's not intended to be re-used and there's no real good way to re-use it as-is.

[2020-11-06 17:55] #1437 closed

[2020-11-06 19:07] jonshipman opened #1552 "Forwards cursor pagination works as expected, endCursor and startCursor gets swapped on backwards."
#1411 might be the same issue, however, as I'm on 0.14 it could be an entirely different problem and fix.

Video illustrating the problem: https://youtu.be/ETBp_wXnIDQ

Forwards, all seems golden. However going backwards swaps the endCursor and startCursor causing different results to pull in.

Installed:
[code]

[2020-11-06 20:05] jonshipman opened #1553 "Feature Request: Global/Cursor ID getter wrapper function"
A wrapper around ``GraphQLRelay\Relay::toGlobalId`` that one could use to get the Global ID. Essentially "future" proofing the plugin should GraphQLRelay be dropped as a dependency. Helpful to other plugins as they would be able to leverage the same function as well.

Something along these lines:
[code]

I used WP classes to determine types, but it might make more sense to use WP-GraphQL models -

[2020-11-06 20:07] jonshipman commented on #1553
Thinking about it and the cursor_id, we could make GraphQLRelay\Relay::toGlobalId unnessesary as it's just a wrapper for ``base64_encode( "${type}:${id}" )``.

[2020-11-06 20:19] jonshipman commented on #1553
Oh yeah, the from is needed as well

[code]

There would be some discussion here - do we return the id_componets? Maybe the WP-GraphQL Model? Personally I'd be all for something that returns the Model. Like

[code]

[2020-11-06 20:44] jasonbahl opened #1554 "Update docblock for `graphql_wp_union_type_config` filter"
https://github.com/wp-graphql/wp-graphql/blob/d1f51f34197aac14250ffa59a52dbe035b145ab6/src/Type/WPUnionType.php#L81

Instead of `WPObjectType` should be `WPUnionType`

[2020-11-06 20:45] jonshipman commented on #1209
I believe my specific issue was actually a core WordPress issue. I tried Tyler's query with posts and had no issue.

![image](https://user-images.githubusercontent.com/12699954/98412992-823c8e80-203e-11eb-82dc-df7459485d65.png)

The issue with the slide in that example is because I changed the rewrite slug to '/'. Doesn't seem like WordPress supports that and they don't have an error on their end

[2020-11-06 21:26] jasonbahl commented on #1209
@jonshipman ok, I'm going to close this then. Thanks!

[2020-11-06 21:26] #1209 closed

[2020-11-07 03:51] #1504 closed

[2020-11-07 03:51] #1544 closed

[2020-11-07 14:25] #940 closed

[2020-11-07 14:35] jasonbahl commented on #1409
closed by #1412

[2020-11-07 14:35] #1409 closed

[2020-11-07 15:48] szepeviktor opened #1561 "Closures with space"
Please write closures like `function () { ...`
`function() { ...` looks like a function called `function` :)

[2020-11-07 21:26] smthomas opened #1563 "Update docblock for `do_graphql_request` action"
The $variables parameter is documented as a string when it should be documented as an array - https://github.com/wp-graphql/wp-graphql/blob/f801ab10b19c9c44755861ce4216ac0a8c436869/src/Request.php#L524

[2020-11-10 19:32] ravewebdev opened #1565 "Tracing->format_timestamp causes intermittent errors due to incorrect handling of PHP microtime()"
### Expected behavior ###

`$timestamp->format( 'Y-m-d\TH:i:s.uP' )` returns a properly formatted timestamp string.

### Actual behavior ###

`$timestamp->format( 'Y-m-d\TH:i:s.uP' )` throws an error, breaking our builds and deployments.

The following error is occurring intermittently (not always, not predictably, but often enough to be a problem) on our local and Vercel builds using WPGraphQL on

[2020-11-11 06:53] yaquawa opened #1566 "How to query all categories?"
For now, I do it like this:
[code]
Is there a nicer way to query all categories?

[2020-11-11 09:00] yaquawa opened #1567 "What's the best practice for protecting fields by user types ?"
I'm creating a site that allow user registration on a WordPress site.
User registration is accomplished via the Amazon Cognito service(not the WordPress user registration).

What I want to achieve is
* Admin user can create post, delete post(all mutation operations), etc.
* logged-in users can create post
* public users can only read the post(only the `content` field and `title` field are public)

[2020-11-11 10:31] yaquawa opened #1568 "Custom taxonomy not included in `terms` field"
The `terms` field only include the default `Category` and `Tag` taxonomy?

[code]

[2020-11-11 10:35] yaquawa commented on #1568
found the answer at here
https://docs.wpgraphql.com/getting-started/custom-taxonomies/

[2020-11-11 10:35] #1568 closed

[2020-11-11 17:47] mikeriley131 opened #1569 "API is returning multiple nodes and node containing data keeps changing"
WP GraphQL Version 0.12.0

Other plugins:
- ACF Pro
- All-in-One WP Migration
- All-in-One WP Migration File Extension
- Bluehost
- Classic Editor
- Custom Post Type UI
- Find Posts Using Attachment
- WP GraphiQL
- WPGraphQL Custom Post Type UI
- WPGraphQL for Advanced Custom Fields

Expected Behavior:
API returns a single node for a single Custom Field

Actual Behavior:
API returns multiple nodes

[2020-11-13 01:58] jasonbahl commented on #1569
@mikeriley131 from what I can tell, this looks like proper behavior.

You created a Repeater field and assigned it to the about page, and populated it with 3 rows of repeater data.

Then you queried for a list of pages, and the about page that has the repeater returned the 3 rows of data while the pages that do not have that data did not return the data.

API returns a single node for a single Cus

[2020-11-13 02:04] jasonbahl commented on #1566
@yaquawa By default WPGraphQL has limits on how many items it will return to prevent the WordPress server from melting. The limit by default is 100 items per query, and it's recommended that you paginate if you need more than 100 items.

There's some info about pagination for posts here: https://docs.wpgraphql.com/getting-started/posts/#pagination

And it can be applied to categories or any other

[2020-11-13 02:04] #1566 closed

[2020-11-13 02:07] jasonbahl commented on #1565
@ravewebdev thanks for the detailed issue! I'll look at getting this addressed shortly, but if happy to accept a PR if you beat me to it!

[2020-11-13 02:09] #1505 closed

[2020-11-13 02:10] jasonbahl commented on #1530
closed by #1513

[2020-11-13 02:10] #1530 closed

[2020-11-13 02:10] jasonbahl commented on #1528
closed by #1529

[2020-11-13 02:10] #1528 closed

[2020-11-13 02:45] mikeriley131 commented on #1569
@jasonbahl Ohhhhhhhhhh, I missed that I could query for just the single About page. I suppose I was thinking that if I was only requesting `aboutPage` in my query that I'd get only that but upon further review I see why I was getting the other nodes. Thanks for setting me on the right track.

[2020-11-13 03:25] yaquawa commented on #1566
@jasonbahl Got it, thanks!

[2020-11-13 07:08] #1569 closed

[2020-11-13 07:22] jasonbahl commented on #1565
@ravewebdev I believe I resolved this as part of #1570. I implemented the solution suggested in the link you provided.

[2020-11-13 07:36] #1532 closed

[2020-11-13 07:36] #1565 closed

[2020-11-13 15:51] #1545 closed

[2020-11-13 16:23] rodrigo-arias commented on #1532
Thanks @jasonbahl

[2020-11-13 17:03] #1123 closed

[2020-11-13 17:18] jasonbahl commented on #1346
closed by #1555

[2020-11-13 22:51] #1346 closed

[2020-11-14 00:23] #224 closed

[2020-11-14 21:42] sami616 commented on #428
Would be lovely to be able to ask for post type, then template in the same query conditionally.

Something like:

[code]

[2020-11-15 05:15] mikeriley131 opened #1581 "Upgrade from 13.3 to 15.3 breaks Gatsby site"
I'm using WPGraphQL with Gatsby and have been on v13.3 until my host just auto-updated to 15.3. This caused an error where it `Cannot not query field neueamsterdam on type "Query"`. `neueamsterdam` being the `fieldName` I set in the `gatsby-source-graphql` plugin in `gatsby-config.js`

[code]

I searched around and could not find any instruction on what I needed to change to get my site to work wi

[2020-11-15 05:31] jasonbahl commented on #1581
@mikeriley131 I would recommend using `gatsby-source-wordpress-experimental` if you can, as that's the official plugin Gatsby will be supporting long-term for using WordPress as a source for Gatsby.

That said, I'd love to help you figure out how to use `gatsby-source-graphql` with the latest versions of WPGraphQL.

The updates from v0.13.3 to v0.15.3 are pretty minor, so I'm not sure that it's ac

[2020-11-15 05:54] mikeriley131 commented on #1581
Thanks Jason.
I did try `gatsby clean` and then `gatsby develop` (a few times) with no luck.
Hitting https://admin.neueamsterdam.com/graphql was still successful even though the query was broken.
I had not made any updates to WP other than the plugin update when the error occurred.
Maybe something else changed during the update but simlply reverting to v13.3 fixed the issue.
I'll see if I can make

[2020-11-15 05:59] jasonbahl commented on #1581
@mikeriley131 `gatsby-source-wordpress-experimental` would replace your need for using `gatsby-source-graphql`.

It's getting close to moving out of the "experimental" phase too. I think you'll find the experience using it much better than using `gatsby-source-graphql`.

I just re-launched [WPGraphQL.com](https://www.wpgraphql.com) today using `gatsby-source-wordpress-experimental` and WPGraphQL v

[2020-11-15 06:00] jasonbahl commented on #1581
@mikeriley131 I created a starter CodeSandbox pointed at your API. This could be a good start to troubleshoot if you update to v0.15.3 again. You might consider setting up a staging WordPress site with v0.15.3 that we can point the CodeSandbox app and see if we can all get on the same page and replicate the error.

https://codesandbox.io/s/gatsby-starter-default-forked-zp1oq?file=/gatsby-node.js

[2020-11-15 06:25] mikeriley131 commented on #1581
@jasonbahl I've just updated to v0.15.3, ran `gatsby clean` and then `gatsby develop` and am getting `Cannot query field "neueamsterdam" on type "Query".` again.

[2020-11-15 06:30] jasonbahl commented on #1581
@mikeriley131 ah shoot. I should have remembered.

GraphQL Introspection is disabled by default from v0.14.0, and must be enabled via the WPGraphQL Settings.

See the release notes here: https://github.com/wp-graphql/wp-graphql/releases/tag/v0.14.0

[2020-11-15 06:32] mikeriley131 commented on #1581
@jasonbahl Well that was a super simple fix. Thanks!

[2020-11-15 06:39] #1581 closed

[2020-11-16 15:42] whiteboypls commented on #1357
Thank you so much for your contribution to the community!

[2020-11-16 15:57] jasonbahl commented on #1357
Closed by #1585

[2020-11-16 15:57] #1357 closed

[2020-11-16 18:12] jasonbahl opened #1587 "add graphql_enum_values filter"
Currently the WPEnumType has dynamic filters here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/WPEnumType.php#L54-L64

The DX of dynamic filter names can be frustrating, so we should add a `graphql_enum_values` filter.

[2020-11-16 22:02] smthomas opened #1588 "Filter API inconsistencies"
In the `graphql_map_input_fields_to_wp_query` filter, the $post_type is the last parameter. This is inconsistent with the other `graphql_map_input_fields_*` filters. For example in `graphql_map_input_fields_to_get_terms` the $taxonomy parameter is the third parameter (while the $context & $info parameters are the last two in all of the `graphql_map_input_fields_*` filters). For consistency sake, i

[2020-11-18 13:08] mohan-neethu opened #1590 "No JSON response only getting HTML response on wp-graphql menuitems."
When I tried to get all "Menuitems" of a language including "connectedNode" I am getting response as HTML (fetch/redirect)
But when I  tried to get all "Menuitems" of a language without "connectedNode" the response is showing correctly.

Could you please provide some inputs  here?

[2020-11-18 13:23] KabyleBOT opened #1591 "Build failing with Error since we upgraded WpgraphQl, WpGatsby and Gatsby-wordpress-experimental"
We are getting a weird error since we upgraded WpgraphQl, WpGatsby and Gatsby-woordpress-experimental.

**Error :**

[code]

**Package.json**

[code]

**Config.js**:

[code]

**In Wordpress Backend we are using : Wpgraphql, WpGatsby, Yoast SEO, Pods – Custom Content Types and Fields, Cloudinary**

[2020-11-18 13:42] jasonbahl commented on #1590
@mohan-neethu can you share an example of the query that's not working?

Did you just upgrade? If so, what version did the query work on and what version did it stop working on?

One thing that comes to mind is that in the v0.10.0 release we fixed an access control rights leak that now requires menus/menu items to be associated with a nav menu location to be queried publicly. See: https://github.c

[2020-11-18 13:47] jasonbahl commented on #1591
@KabyleBOT This looks like an issue related to [Gatsby Source WordPress Experimental](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental).

I see you opened an issue over there (https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/296), so I'll close this one and leave that one open.

[2020-11-18 13:47] #1591 closed

[2020-11-18 13:55] mohan-neethu commented on #1590
I am using 0.13.3 version.

[code]
using this query I am getting everything correctly but when I change it to another language. Its returning the response as HTML(fetch/redirect).
Also how can we get all menuitems irrespective of languages (for eg: de and en).

[2020-11-18 13:59] jasonbahl commented on #1590
`language` is not an argument provided by WPGraphQL. Are you using WPGraphQL for Polylang, by chance?

My guess is there's a conflict of some sort between WPGraphQL for Polylang and the ability to query menu items by language.

If you remove the `language` argument from `menuItems` it should return all menu items regardless of language.

[2020-11-18 14:05] mohan-neethu commented on #1590
Yes I am using WPML (WP GraphQL WPML Extension)  and getting the language filtering.

But I also tried to get all the menu Items regardless of language.
[code]

Then also I am getting only menuItems of primary language

[2020-11-18 15:00] izzygld commented on #1440
Getting similar issue with using the `where` argument:

Example:

`query GetCategoryPosts(
	$where: RootQueryToCategoryConnectionWhereArgs!
	$first: Int
	$last: Int
	$after: String
	$before: String
) {
	categories(
		first: $first
		last: $last
		after: $after
		before: $before
		where: $where
	) {
		pageInfo {
			hasNextPage
			hasPreviousPage
			startCursor
			endCursor
		}
		edges {
			cursor

[2020-11-19 15:57] Cuboctaedro opened #1593 "wpml with custom post type error"
I am using wp-graphql on a new WordPress install with WPML. I have also set a custom post type using `register_post_type()` inside functions.php. When I try to query the custom post type from the GraphiQl IDE I get the following error: "SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data". If I deactivate WPML the error disapears and I can see the posts from all langu

[2020-11-19 20:10] jonshipman opened #1594 "Feature Request: Provide a way to retrieve formatted dates."
Currently you can grab dates like so:

![image](https://user-images.githubusercontent.com/12699954/99717079-84efa880-2a6e-11eb-8939-0310310f63bf.png)

What I am proposing is that we the PostObjectFieldFormatEnum to the date field to return the date as rendered by WordPress.

![image](https://user-images.githubusercontent.com/12699954/99717187-b23c5680-2a6e-11eb-89c3-f93aefe7e1a6.png)

The thought

[2020-11-19 20:33] tokrima commented on #1593
No idea what is causing this but I have the same problem. Looks like the last version that works with WPML is 0.13.3.

[2020-11-20 15:24] sven-ra commented on #1162
Whats the status on this? Currently the ACF fields do not work for me. I have all sorts of different ACF fields and none of them show up in the preview query. Sometimes randomly some fields appear... Is there something I need to know for this to work?

[2020-11-21 17:18] mhadaily opened #1595 "SyntaxError: Unexpected end of JSON on Query for all Custom Post Types, all versions after 0.13.3"
I search quite a bit but I didn't find this issue that's why I am reporting this, I  hope someone can give me a clue where the problem could be.

When I upgrade WPGraphQL to any version after 0.13.3, I get this error for all custom post types.
<a href="https://ibb.co/93KGM3j"><img src="https://i.ibb.co/x89348Q/Screenshot-2020-11-21-at-18-08-32.png" alt="Screenshot-2020-11-21-at-18-08-32" border="0

[2020-11-22 15:05] jasonbahl commented on #1595
@mhadaily I'd recommend opening Chrome Dev Tools, executing a request in GraphiQL and inspecting the response of the request.

Typically this error means there was some debug code leftover in a plugin and the request isn't completing. For example, if you (or a plugin you had installed) had an instance of `var_dump(); die();` in one of the field resolvers.

You can read more about how to inspect th

[2020-11-22 15:08] jasonbahl commented on #1593
@Cuboctaedro @tokrima this sounds similar to #1595. Please see the debugging steps listed there. That should hopefully help narrow down the exact issue.

[2020-11-23 08:52] iljamm opened #1596 "Query for a custom post type where singular and plural are one and the same word returns null"
- [ ] wp-graphql version 1.0
- [ ] Plugins: Custom Post Type UI 1.8.1, WPGraphQL Custom Post Type UI 1.1, WP Gatsby 0.6.2, WP GraphQL 1.0
- [ ] Issue: Registered a custom post type with graphql_single_name = "Portfolio", graphql_plural_name="Portfolio" and show_in_graphql= true in $args. When both graphql_single_name and graphql_plural_name both contain the same word i.e. "Portfolio", the query re

[2020-11-23 10:08] nicolaisimonsen opened #1597 "Query childPages and respective page node"
Hey guys,

Since updating to 1.0 I'm left with this issue. Querying child pages from the page node.

[code]

I realize that the new (?) "children" node will list those edges, but menuOrder & featuredImage, among others, are not available.

How would you proceed? 🙂

[2020-11-23 15:02] jasonbahl commented on #1596
@iljamm the `graphql_single_name` and `graphql_plural_name` must be different. I'll add a debug message to output in situations where they are the same to make it more clear to users that run into this.

[2020-11-23 15:25] iljamm commented on #1596
superb. thanks for quick answer

[2020-11-23 15:25] #1596 closed

[2020-11-23 15:43] jasonbahl commented on #1596
@iljamm I opened a PR with this change: https://github.com/wp-graphql/wp-graphql/pull/1598

[2020-11-23 15:51] jasonbahl commented on #1597
@nicolaisimonsen is the `childPages` field a field you custom registered? Or are you aliasing? I don't believe the WPGraphQL Schema has a `childPages` field out of the box.

As far as `menuOrder` goes, it's currently available as a field for any post type that has registered support for `page-attributes` as that's where menuOrder is configured. (see: [post_type_supports](https://developer.wordpres

[2020-11-23 22:06] jasonbahl opened #1599 "spaces in graphql_single_name and graphql_plural_name should throw exceptions"
When a Post Type or Taxonomy is registered and includes spaces in `graphql_single_name` or `graphql_plural_name` it creates invalid field names and Type names in the Schema.

For example:

[code]

Will lead to the following invalid Types in the Schema:

![Screen Shot 2020-11-23 at 3 06 13 PM](https://user-images.githubusercontent.com/1260765/100020679-715d7e00-2d9d-11eb-9c03-e7b556afa227.png)

[2020-11-24 00:16] ardiewen commented on #1552
@jasonbahl Can we get this looked at? It's the same issue as the one I reported in #1411, and I can confirm it's still happening in WP GraphQL 1.0. For those of us using WP GraphQL without the experimental source plugin (or not using Gatsby at all), this prevents us from doing meaningful on-page pagination.

Please let me know if you'd like an email invite to a minimal repro wp-admin demonstrating

[2020-11-24 00:18] ardiewen commented on #1552
@jonshipman if you read through my original issue, my workaround currently is to invert the "order" (e.g. ASC to DESC) when paginating backwards. You will get your intended backwards pagination results this way.

However, be forewarned as this does not appear to be the intent of the Relay pagination spec described here: https://relay.dev/graphql/connections.htm

[2020-11-24 00:25] ardiewen commented on #1440
@jacobarriola Have you seen the issue I created in #1411 yet? There appears to be a bug with backwards pagination.

For ordered lists, you can flip the order from ASC to DESC (or vice versa) during backwards pagination to get the correct results, but for your use case, you'll likely have to order your search results (e.g. add orderby: { field: ..., order: ASC/DESC } to your `where` parameter) to g

[2020-11-24 02:48] jacobarriola commented on #1440
Thanks @ardiewen . I'll give it a try!

[2020-11-25 02:54] TylerBarnes opened #1602 "PHP Warning: count(): Parameter must be an array or an object that implements Countabl"
I get this when previewing:

[code]

[2020-11-25 14:21] jasonbahl commented on #1602
@TylerBarnes I have a fix coming for this, but I'm curious what query is leading to this. Do you know? Just curious

[2020-11-25 14:24] jasonbahl commented on #1599
closed by #1598

[2020-11-25 14:24] #1599 closed

[2020-11-25 14:25] jasonbahl commented on #1595
@mhadaily wanted to see if you made any progress on troubleshooting this.

[2020-11-25 17:38] TylerBarnes commented on #1602
I'm not sure actually, this happens when I press preview when using the new Gatsby preview.

[2020-11-25 21:03] jasonbahl commented on #1602
@TylerBarnes ok, no worries. Just wondering what WPGraphQL Connection was being queried when previewing? Might be worth looking into a bit more on the source plugin side.

[2020-11-25 21:04] TylerBarnes commented on #1602
It's hard to tell because there are multiple GraphQL requests being made, for WPGatsby info but also there's the preview sourcing query being made as well. So it could be either of them 🤔

[2020-11-25 21:06] jasonbahl commented on #1602
@TylerBarnes a good GraphQL Request logger (one that doesn't trigger infinite loops 🤣 ) should help track these things in the future.

[2020-11-25 23:00] mhadaily commented on #1595
@jasonbahl I am still debugging. I will keep you posted. I still have the same problem with the current version thought. I had to downgrade to a very old version which was working. I get this error when I upgrade WPGraphQL plugging, unfortunately, we have a release date on 1st December, and I will need to work with the old version until we release and I can debug it better later.

[2020-11-26 09:49] mohan-neethu opened #1604 "Taking too long for WPGraphql response"
I tried to query simple posts using graphql endpoint but that itself taking more time. Do you have @jasonbahl  any suggestions regarding the same?
![Screenshot from 2020-11-26 10-54-53](https://user-images.githubusercontent.com/72599531/100335968-e0251c00-2fd5-11eb-9c13-394e07a3bd26.png)

[2020-11-27 01:11] durfee opened #1605 "Upgrading from 0.13.3 to 1.0 causes idType: URI to return null"
Upgraded to 0.13.3 today and ran into a pesky one that I haven't been able to deeply trouble shoot yet, but I can, if it'd be helpful.

Previously, I used the `idType: URI` in combination with the slug of a post or custom post type to return the desired element.
Example:
[code]
returns all fields correctly, but
[code]
Does not (where it did previously).

Upgrading to 0.14.0 (and onwards) causes th

[2020-11-27 01:11] durfee commented on #1605
Maybe also related to #1397

[2020-11-27 03:19] jasonbahl commented on #1605
Can you give more info, such as how the post type was registered, what the uri field of the post shows when querying it as part of a list, whether the post is published, etc.

This sounds like a possible bug, but also could be working properly but may be a data issue or something else.

I'll need a bit more info.

[2020-11-27 04:17] baoc75 opened #1606 "The menu query don't return more than 10 menuItems as well as the category query"
Hi everyone,
Assume that I have a menu with 16 menuItems (>10), the query will only return the first 10 item. This also happen with category query.
[code]

query variable
[code]

WP GraphQL plugin version: 1.0
Wordpress version: 5.5.3

Did I miss anything? I think it's kinda weird.
Thanks for reading!

[2020-11-27 04:31] durfee commented on #1605
Well, after digging in, it's definitely a me problem as I can't repro from a clean install and only seems to be the case with custom post types. Good news! 🎉

Bad news for me: Installing from clean and using my theme with 1.0 in a test env works as expected ✅ , but when in prod, I get this:

<img width="967" alt="Screen Shot 2020-11-26 at 20 22 35" src="https://user-images.githubusercontent.com/41

[2020-11-27 15:37] jasonbahl commented on #1605
Try to flush your permalinks by visiting Settings > Permalinks.

See if that helps?

[2020-11-27 16:10] durfee commented on #1605
Gave that one a go already; no dice. I played around with the debug field a bit last night and there's a Schema registry clash on an ACF field that I can't seem to resolve (`You cannot register duplicate fields on the same Type.`). I doubt that's related, but is there a way to regenerate the graphql schema?

[2020-11-27 16:38] jeanfredrik opened #1607 "`contentType` connection should be on a common interface instead of on each post type"
The `contentType` connection is now registered on each individual post type inside src/Connection/ContentTypes.php. There should be a common interface for this connection, e.g. `ContentNode`.

[2020-11-29 12:38] izzygld commented on #1222
@dpacmittal did you ever try working on using `graphql_execute` and `graphql_request_results` to cache queries using transients api?

[2020-11-29 12:49] dpacmittal commented on #1222
@izzygld I am using `do_graphql_request` and `graphql_return_response` hooks and it works great. I'm not using transients api though, just storing in redis.

[2020-11-29 12:51] izzygld commented on #1222
can you share an example of how you are doing it?

Are you wrapping the whole wpgraghql into a `do_graphql_request` or just specific parts?

[2020-11-30 11:54] mhadaily commented on #1595
I have the same issue while fetching from the browser. It seems the problem appears only when I upgrade. I am going to make a repo that you can reproduce.

[2020-11-30 14:43] jasonbahl commented on #1607
@jeanfredrik good call!Thanks for opening this issue and the corresponding PR!

I will review shortly. 🙏

[2020-12-02 11:13] maximilianschmidt commented on #957
any update on this issue? i am looking for a way to add a custom field to the `RegisterUserInput`-Type

[2020-12-02 23:45] akhilel opened #1609 "Relation between 2 CPTs not working: Need support"
I have 2 Custom Post types and they have a relation between them.
One CP is Teams and the next one is Players. A Player belongs to a Team.

I tried to query the relation via WP-graphql and its returns **"debugMessage": "User Error: expected iterable, but did not find one for field Player.team.",**

[code]

WP graphql code snippet:
[code]

Could you please support here ?

[2020-12-03 08:30] akhilel commented on #1609
@jasonbahl : Could you please provide some leads ?

[2020-12-03 10:02] #1604 closed

[2020-12-04 12:46] nicolaisimonsen commented on #1597
Hi Jason,

Thanks for helping me out (!) and I'm sorry for not responding sooner.

It seems that before WPGraphQL 1.0 the schema had a childPages field (which can be super helpful):
It would only display the children of the queried page - without the need for functions or filtering on the frontend.

![screen-shot](https://user-images.githubusercontent.com/3502327/101165034-447b5780-3636-11eb-9de8-

[2020-12-04 14:15] maximilianschmidt opened #1610 "Author Check in PostObjectUpdate always fails"
In the `PostObjectUpdate.php` a comparison is made to check if the current Author is allowed to Update a Post by checking it's User ID against the ID of the original Post Author. In the current code the User ID from the entity requesting the Update is retrieved by calling `get_current_user_id()` which returns an `Integer`. The original Author's ID of the Post is retrieved by calling `$existing_pos

[2020-12-04 15:02] drewbaker opened #1612 "Setting permalink "Category base" to same as start of "Custom Structure" breaks nodeByUri queries"
In "Settings > Permalink" do this:

<img width="906" alt="Screen Shot 2020-12-04 at 2 06 13 PM" src="https://user-images.githubusercontent.com/475015/101179003-f6704f00-3649-11eb-9223-a19961d97a6f.png">

And you'll see that `nodeByUri` will not return any posts now.

<img width="930" alt="Screen Shot 2020-12-04 at 2 02 49 PM" src="https://user-images.githubusercontent.com/475015/101179033-05570180

[2020-12-04 16:48] jasonbahl commented on #1612
@drewbaker WPGraphQL is behaving the same as WordPress core here.

If you have the following permalink rules:

![Screen Shot 2020-12-04 at 9 15 41 AM](https://user-images.githubusercontent.com/1260765/101187190-4979e000-3611-11eb-9192-39a54e576ba2.png)

You can visit a post at the uri `/news/p/test` like so:

![Screen Shot 2020-12-04 at 9 16 45 AM](https://user-images.githubusercontent.com/1260765

[2020-12-04 17:02] drewbaker commented on #1612
OK thanks @jasonbahl. Such a bummer the way WP puts posts at the `/` top level like that, with tags and categories. Think I have to move to `/news/p/` and `/news/c/` for categories. Thanks!

[2020-12-04 17:09] jasonbahl commented on #1612
@drewbaker if you do something like this, it works:

![Screen Shot 2020-12-04 at 10 08 16 AM](https://user-images.githubusercontent.com/1260765/101192667-a200ab80-3618-11eb-944e-dce0e2f25ee3.png)

Visit post at `/news/$post_name`

![Screen Shot 2020-12-04 at 10 08 06 AM](https://user-images.githubusercontent.com/1260765/101192686-aaf17d00-3618-11eb-8218-014d70e2c965.png)

Visit category at: `/news

[2020-12-05 05:32] dpacmittal commented on #1222
@izzygld You should use https://github.com/valu-digital/wp-graphql-cache. If you still want to use a custom solution (like I did because I wanted to do stale-while-revalidate), here it is - https://gist.github.com/dpacmittal/e837e2a36714c6d1a279fbd5999debd0

[2020-12-05 18:15] justlevine commented on #1397
Same issue here v1.0

What's weird is that its not all items in the same CPT:
Query:
[code]
Result:
[code]

[2020-12-06 14:06] justlevine commented on #1464
Getting this in v1.0

I get the following in debug.log
[code]
So went there, and did an error_log of `$this->wp`:
[code]

Low and behold, running a new gql query without the parent in the uri works (note the returned uri _does_ have the parent category).

![Annotation 2020-12-06 160334](https://user-images.githubusercontent.com/29322304/101282248-ad043900-37dc-11eb-83ae-b408563ec246.jpg)

[2020-12-06 20:55] etoler1841 commented on #1552
Running into this issue as well. When going flipping between an `after`-based query and a `before`-based query, as @ardiewen said, you need to flip the order of the sort. But once you get a response, if this is a `before` query, you also have to reverse the order of the results and switch the startCursor and endCursor. This works, but it is definitely not the intended implementation.

[2020-12-07 16:29] jonshipman commented on #1464
@justlevine

Here's a dropin function that will "fix" the issue using what you found. Once a fix gets incorporated, just drop this hook.

[code]

[2020-12-07 18:39] rbourassaca opened #1614 "Custom Post Types label returns null outside of WordPress."
![WPGraphQL](https://user-images.githubusercontent.com/55667707/101389599-abe01400-388f-11eb-8aee-08b68290bd27.jpg)

Hi,
I tried to start over a few times on different installations, but I always end up with the same problem.
I currently need to retrieve the label from my custom post types. When I do inside GraphiQL in Wordpress everything is fine, but, if I request it outside of WordPress it retu

[2020-12-08 00:28] valstu commented on #325
So I noticed something weird that could be related but didn't open a new issue yet. Lets say I have this custom post type called `cars`. I have set custom capabilities so that current user (eg. subscriber) can only edit and read their own cars. So the user has following caps:
`read, edit_cars`. All the posts are private. Now if i query the cars with following query I'll get my cars (my user id is

[2020-12-08 10:11] BernardV commented on #1524
After some debugging and reading code I found this:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/NodeResolver.php#L301

So you need to set your custom post type to 'public' => true otherwise it will default to the post type 'post' and nothing will be found.

[2020-12-08 13:00] jasonbahl commented on #1146
This appears to have been fixed. I cannot replicate.

![Screen Shot 2020-12-08 at 5 59 52 AM](https://user-images.githubusercontent.com/1260765/101486898-98c65600-391a-11eb-91fe-cb49a23924c2.png)

[2020-12-08 13:00] #1146 closed

[2020-12-08 13:19] jasonbahl commented on #1614
@rbourassaca Thanks for the kind words. Glad that you're enjoying WPGraphQL! 😄

Some fields in the Graph are not considered public by default. The labels of Post Types are only exposed within the WordPress admin, and WPGraphQL follows suit here, providing the data to logged in users but not public users.

I wrote up a quick snippet to show how to filter the WPGraphQL Model layer and allow the "lab

[2020-12-08 13:19] #1614 closed

[2020-12-08 13:21] jasonbahl commented on #1609
@akhilel I'd recommend using a GraphQL Connection to handle the connection between 2 post types, such as Player and Team.

You can read more about `register_graphql_connection` here: https://www.wpgraphql.com/functions/register_graphql_connection/

[2020-12-08 13:21] #1609 closed

[2020-12-08 13:26] jasonbahl commented on #1597
@nicolaisimonsen ah. So the `childPages` field was deprecated in favor of the field `children`, since Post Types can have parents and children of any post type. You can query now, like so:

[code]

![Screen Shot 2020-12-08 at 6 26 49 AM](https://user-images.githubusercontent.com/1260765/101489575-5c94f480-391e-11eb-9411-b1b973a68dde.png)

[2020-12-08 13:26] #1597 closed

[2020-12-08 13:29] jasonbahl commented on #1606
@baoc75 by default WPGraphQL returns 10 items if another quantity is not specified. You can specify how many items you want using the `first` argument, like so:

[code]

[2020-12-08 13:29] #1606 closed

[2020-12-08 16:58] jasonbahl opened #1615 "Fields that resolve with post meta not showing in Previews"
----
See: https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/324
----

It's been reported that when registering a field using `register_graphql_field` and resolving the field using `get_post_meta()` the field isn't properly returning meta when querying a post as a Preview.

[2020-12-08 20:01] jasonbahl commented on #1615
@stupearce @TylerBarnes from what I can tell, things are working as expected in WPGraphQL when it comes to adding fields that resolve as post_meta.

To replicate, we need to do 2 things:

- add a meta box to input data on Posts
- add a field to the GraphQL Schema that resolves with the meta

## Add a Meta Box
With the following code I add a meta box to the `post` Post Type:

[code]

This gives me

[2020-12-08 21:20] jasonbahl commented on #1615
Closing in favor of: https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/324#issuecomment-741050789

[2020-12-09 14:44] jasonbahl commented on #1615
@stupearce welp, upon further investigation, @TylerBarnes and I discovered that there IS indeed a bug in WPGraphQL.

When multiple fields that resolve from post meta are asked for on a preview, the first field resolves correctly, but the others do not.

In my reproduction above had one field and it was working.

If I take the same reproduction, but query other fields that resolve from meta first,

[2020-12-09 16:47] stupearce commented on #1615
@jasonbahl @TylerBarnes thanks so much for persevering with this once, much appreciated hopefully now you got a repro test it should be plain sailing :-)

[2020-12-09 18:00] jasonbahl opened #1616 "Acceptance tests failing with code coverage enabled"
Acceptance tests began failing for tests that have Code Coverage enabled.

You can see a failed test here: https://github.com/wp-graphql/wp-graphql/pull/1613/checks?check_run_id=1517545124

Tests without Coverage enabled pass fine.

I believe the best step forward would be to use pcov instead of XDEBUG for code coverage. . .in fact, it might be a good time to revamp the docker tests altogether to

[2020-12-09 20:51] jasonbahl commented on #1615
@stupearce can you update to WPGraphQL v1.0.1. I believe this should be resolved. I have test cases for it and was able to reproduce the issue and solution locally, but would love to also be able to confirm on your staging site.

[2020-12-10 04:42] willem-aart commented on #1460
Ran into the same issue, solved it for now by putting the following hack in `gatsby-node.js`:

[code]
It's nasty, but better than a broken website.

[2020-12-11 17:25] jasonbahl commented on #325
@valstu ya, open an issue with as much info as possible so I can replicate the data, etc as well.

[2020-12-13 12:43] muhrusdi opened #1618 "Internal server error after upgrade to 1.0.1"
Internal server error after upgrade to v1.0.1

[code]

WPGraphQL v1.0.1
WPGatsby v0.7.3

[2020-12-13 18:48] robkrause commented on #1618
I observed that error too and had to revert back to v1.0

Plugins:
* Advanced Custom Fields PRO @ 5.9.3
* WP GraphQL @ 1.0.1
* WPGraphQL for Advanced Custom Fields @ 0.4.0

Wordpress @ 5.6

GraphiQL IDE does of course also not work then.

Which details would be helpful? Can't provide a isolated example unfortunatelly

[2020-12-13 20:09] Jalokim commented on #1397
I had the same problem.
Updated everything, WP to 5.6, wpgraphql, + the custom post UI plugin and the ACF plugin.
Still no change, `null` on custom fields.

I finally took a look into the actual custom post I made and noticed that `Publicly Queryable` and `Public` was set to false.
When I changed to true all of a sudden the queries started working.
<img width="1096" alt="Screenshot 2020-12-13 at 2

[2020-12-14 04:05] benknight commented on #1397
Thanks @Jalokim that solved the issue for me as well.

Heads up to plugin authors @jasonbahl - to avoid this confusion it might be a good idea to throw a mention of this on this page: https://www.wpgraphql.com/docs/custom-post-types/

Although it sounds like many of the people on this issue may be unable to query by slug due to different unrelated issues. In my case it was because `public` was set

[2020-12-14 04:15] colbyfayock commented on #871
I'm hitting this issue as well. Here's an example:

https://next-wordpress-starter.netlify.app/posts/voluptas-in-nemo-eaque-tempora-sit-quisquam/

In the code, I'm simply dumping the srcset and sizes attributes right into the image, resulting in this for this particular image:

[code]

Here's a trace of the code for the above:

* Query: https://github.com/colbyfayock/next-wordpress-starter/blob/ma

[2020-12-14 08:37] cezarneaga commented on #1595
i am having a similar issue with v1.0.1.
upon inspecting i see no response but the request is redirected somehow. Status code 301.

this is for a custom post type. this works in the rest api, btw.
any ideas?
thanks!
Cezar

[2020-12-14 15:15] jasonbahl commented on #1595
@cezarneaga can you list all the plugins that you have active, the WPGraphQL query you're trying to make and any other information that would be helpful in replicating your situation?

Do all GraphQL Queries lead to this same result? Or is it just queries with specific data?

There's a chance that a plugin is performing 301 redirects for posts or something like that and is doing it in contexts it

[2020-12-14 16:52] cezarneaga commented on #1595
the problem appears only for this custom post type. the other stuff works. it is a large community with >9k members. 10 years  old, so number of plugins is high: 42. has buddypress, wpml, algolia, wise-chat, bp-members-only, post-SMTP...

[2020-12-14 17:22] parisek commented on #1595
We have same problem with the custom post type, disabling WPML helped, but we need this plugin :) So just downgraded to older plugin version

[2020-12-14 20:49] jasonbahl commented on #1615
@stupearce I believe this issue is resolved with WPGraphQL v1.0.1.

I'm going to close this issue. If you update and are still experiencing issues with this, please open a new Github issue with any added context that might be helpful to reproduce, and reference this issue for additional context.

[2020-12-14 20:49] #1615 closed

[2020-12-14 20:53] jasonbahl commented on #1618
@muhrusdi @robkrause if you have any error logs from your server, that would help quite a bit!

Also, what version of PHP are you running?

[2020-12-14 23:04] jasonbahl commented on #1618
@muhrusdi @robkrause One change I'm seeing that might be the culprit here is that if you register a post type or taxonomy with the same single name and plural name, you will now get an InvariantViolation which will show as an "internal_server_error" if you're not running in GraphQL Debug Mode.

I'd suggest enabling GraphQL Debug mode and trying again. That should give you a better idea of what the

[2020-12-14 23:21] cezarneaga commented on #1595
i can confirm that disabling wpml related plugins solved issue

[2020-12-15 00:01] jasonbahl commented on #1595
@parisek downgrading WPGraphQL or downgrading WPML solved it? Can you expand what versions of each plugin work together?

[2020-12-15 07:53] parisek commented on #1595
@jasonbahl wp-graphql 0.13.3 (https://github.com/wp-graphql/wp-graphql/releases/tag/v0.13.3) and WPML current version (4.4.8) working together

Also tried downgrade WPML version (4.3.x) and current wp-graphql 1.0.1 but not working as well

[2020-12-15 10:00] babgyy commented on #1373
Hello,
Just for information : the herokuapp still ranks first on google : https://wpgql-slack.herokuapp.com/
As a suggestion you could redirect to the correct URL :

![image](https://user-images.githubusercontent.com/852926/102200121-b79d8d00-3ec4-11eb-930a-bf70103952ea.png)

Anyway thanks again for this gem

[2020-12-15 14:29] #1610 closed

[2020-12-15 15:05] #1607 closed

[2020-12-15 15:06] #1602 closed

[2020-12-15 16:27] lnikell opened #1622 "Normalize html entities"
Currentlyl, when you use Gatsby and WP Graphql you get content with escaped html entities.

You get this
![image](https://user-images.githubusercontent.com/2697570/102242527-6f00c680-3efa-11eb-88eb-abc9c487d0f9.png)
Instead of this
![image](https://user-images.githubusercontent.com/2697570/102242549-73c57a80-3efa-11eb-99c5-800b3b1a0d90.png)

@TylerBarnes mentioned in that issue https://github.com/

[2020-12-15 16:38] jasonbahl commented on #1622
we've gone back and forth on this a few times.

In June, WPGraphQL [v0.10.0](https://github.com/wp-graphql/wp-graphql/releases/tag/v0.10.0) was released and included a change where the content (and other fields) were passed through `html_entity_decode()` before being returned in the GraphQL response.

However, in [v0.15.0](https://github.com/wp-graphql/wp-graphql/releases/tag/v0.15.0) that was rev

[2020-12-15 16:38] #1622 closed

[2020-12-15 16:42] jasonbahl commented on #1605
@durfee I think you need to set `'public' => true` for the post type.

[2020-12-15 16:52] #1593 closed

[2020-12-15 16:55] jasonbahl commented on #1590
@mohan-neethu as mentioned above, menus need to be assigned to a menu location to be publicly queryable.

Can you confirm that the menu you are trying to query is assigned to a Menu Location?

Additionally, you can try this snippet to allow Menus and MenuItems to be publicly queryable even when they're not assigned a location: https://www.wpgraphql.com/recipes/making-menus-and-menu-items-public/

[2020-12-15 16:55] #1590 closed

[2020-12-15 16:56] jasonbahl commented on #1543
@pierreavizou we have a blog post about how to accomplish this here: https://www.wpgraphql.com/2018/11/16/querying-sticky-posts-with-graphql/

[2020-12-15 16:56] #1543 closed

[2020-12-15 17:10] jasonbahl commented on #1567
@yaquawa hello!

There are many ways you could accomplish this.

We have some documentation about this topic here: https://www.wpgraphql.com/docs/graphql-resolvers/#overriding-existing-resolvers

[2020-12-15 17:13] #1567 closed

[2020-12-15 17:15] jasonbahl commented on #1524
@BernardV is correct that post types need to be registered as public in order to be able to be resolved by `uri`.

In WordPress, post_types that are not public do not have a public URI and WPGraphQL respects that.

[2020-12-15 17:15] #1524 closed

[2020-12-15 18:03] #1468 closed

[2020-12-15 18:31] lnikell commented on #1622
Hi @jasonbahl thank you for the response. Very good explanation. I've just checked the filter and I don't think it works. I added error_log to debug it and understand better  the values inside certain variables, however, it does not show up in logs. Am I doing something wrong?
[code]

[2020-12-15 18:59] jasonbahl commented on #1622
@lnikell I don't believe menu item labels are passed through this at the moment. We can for sure change that though!

We'd need to pass the Menu Item label (https://github.com/wp-graphql/wp-graphql/blob/develop/src/Model/MenuItem.php#L126) through `$this->html_entity_decode()` like we do for the post title here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Model/Post.php#L467

Would y

[2020-12-15 19:10] lnikell commented on #1622
Thank you for the reply @jasonbahl. I will try to add it, however, the filter itself does not work.  So I guess there will be a need to fix that part at first before passing menuItems to it. As in the code snippet above, I execute error_log before `if` condition, but I can't see that message in logs.

[2020-12-15 19:11] jasonbahl commented on #1622
This is because you're trying to filter a field that's not passed through that filter. We need the fix I suggested for the filter to be applied to the label field of Menu Items.

[2020-12-15 19:25] jasonbahl commented on #1508
@durfee thanks for the patience on this one.

I've been able to replicate this behavior and have a PR in the works to fix it!

[2020-12-15 19:26] lnikell commented on #1622
@jasonbahl hm maybe I don't understand something about how WP works or PHP, but I suppose we should get inside the filter function anyway no matter  which field  do we plan to filter. So for example if I change the filter code  to the one that shown in the example of PR I still can't see error_log message in logs.

[code]

[2020-12-15 20:09] jasonbahl commented on #1622
@lnikell what GraphQL Query did you execute after adding that filter?

Did you query for a post title?

That filter will run only if you actually query for a field where the filter is applied

[2020-12-15 20:13] jasonbahl commented on #1622
Here's a slight modification of your filter you tried:

[code]

Instead of using `error_log` I'm using `graphql_debug()` so we can see the output in GraphiQL.

When I execute a query for fields that don't pass through this filter, I don't see any output in the debug log:

![Screen Shot 2020-12-15 at 1 10 27 PM](https://user-images.githubusercontent.com/1260765/102267535-474c3700-3ed7-11eb-9959-826

[2020-12-15 20:19] jasonbahl commented on #1622
@lnikell I've got a PR coming with my suggested change

[2020-12-15 20:21] jasonbahl commented on #1622
@lnikell I opened a PR for this: https://github.com/wp-graphql/wp-graphql/pull/1624

[2020-12-15 20:21] muhrusdi commented on #1618
The problem is WPGraphQL Custom Post Type UI v1.1, when i disable the plugin, graphiql is running normally

[2020-12-15 20:26] lnikell commented on #1622
Thank you @jasonbahl for the clarification, thought that it will try to run filter even if we just query the entity. It error_log works fine when I started to query for the exact field. And thanks for the nice tip regarding graphql_debug, did not know about that option!

[2020-12-16 14:57] #1508 closed

[2020-12-16 15:06] jasonbahl commented on #1618
@muhrusdi thanks for the insight! I will check with these plugins and see what I can find.

[2020-12-16 15:48] jasonbahl commented on #1618
@robkrause can you provide more info on the queries you're seeing the "Internal Server Error" for?

I'm running the same versions as you:

- Advanced Custom Fields PRO @ 5.9.3
- WP GraphQL @ 1.0.1
- WPGraphQL for Advanced Custom Fields @ 0.4.0

![Screen Shot 2020-12-16 at 8 33 13 AM](https://user-images.githubusercontent.com/1260765/102369577-571c5780-3f79-11eb-822b-85740db44d07.png)

And running

[2020-12-16 16:24] muhrusdi commented on #1618
The result when GraphQL Debug mode enabled

![Capture2](https://user-images.githubusercontent.com/9457288/102375078-08180600-3ffd-11eb-8c10-e276be4b9d04.PNG)

Btw the same value for `graphql_single_name` and `graphql_plural_name` is not problem in WPGraphQL v1.0.0

![Capture1](https://user-images.githubusercontent.com/9457288/102374913-d69f3a80-3ffc-11eb-81f2-88479d32b840.PNG)

when graphql_plural

[2020-12-16 16:24] muhrusdi commented on #1618
Thankyou

[2020-12-16 16:47] progital opened #1626 "WPML and action_monitor fetching"
WPML redirects when WPGraphQL fetches action_monitor posts

Adding the snippet below fixes the issue.

[code]

[2020-12-16 16:49] progital commented on #1626
I'd add a higher priority (1000 or something) instead of the default. just in case.

[2020-12-16 18:50] robkrause commented on #1618
Didn't know about the Debugging, and upon activating it I got the same debugMessage as @muhrusdi. Will fix it on my side and of course it is not an issue of wp-graphql

[2020-12-16 20:22] jasonbahl commented on #1618
Great! Glad we got to the bottom of this! 🙏

[2020-12-16 20:25] durfee commented on #1508
👏 Brilliant!! Thanks for gettin' that squared away!

[2020-12-16 20:27] jasonbahl commented on #1618
For added context, for anyone else who comes across this, the `graphql_single_name` and `graphql_plural_name` must be different for Post Types and Taxonomies that are set to `show_in_graphql` as these names are used to add fields and Types to the Schema.

For example, for a Post Type added to graphql, you get a single entry point to query lists of items, but also a single entry point to get an ite

[2020-12-16 20:27] #1618 closed

[2020-12-17 19:48] jasonbahl opened #1629 "Regression with previews"
v1.0.3 introduced a regression with previews.

A bugfix in v1.0.3 now validates that the post_type of a post matches the post_type of the singular entry point, but this breaks for previews as the post_type behind the scenes is revision.

For preview we need to validate the post_type of the parent post, not the post itself.

[2020-12-17 23:58] jasonbahl commented on #1629
closed by #1630

[2020-12-17 23:58] #1629 closed

[2020-12-18 00:00] jasonbahl opened #1632 "Some GraphQL Clients treat fields as deprecated"
For fields that are not deprecated, WPGraphQL currently outputs `deprecationReason` as an empty string.

Some clients such as GraphQL Voyager see that as a flag that the fields are deprecated.

WPGraphQL Should instead output a null for fields that are not deprecated and output a string only if there is a valid deprecation reason.

[2020-12-22 07:18] durfee commented on #1605
Hey @jasonbahl, sorry that took me a minute to test. Looks like we have a winner! That seems to have done the trick. I can't find where the quickstart docs are, but if you point me in that direction I can make a PR to update them to include `'public' => true` for the post type.

[2020-12-23 20:44] therealgilles opened #1635 "Slack channel sign-up returns 'Failed! token_revoked'"
I tried to sign up to the slack channel and got 'Failed! token_revoked'.

[2020-12-24 09:34] mithunmqb commented on #266
Even restarting didn't work in my case.

[2020-12-24 14:35] KabyleBOT opened #1636 "NO SCHEMA AVAILABLE in the WpGraphql IDE (Wordpress Backend)"
Hello,

The wpGraphql IDE is showing "NO SCHEMA AVAILABLE",

![image](https://user-images.githubusercontent.com/34555227/103093373-6dba5280-45fa-11eb-8401-8aefa572548e.png)

[2020-12-24 15:51] #1636 closed

[2020-12-25 12:32] bkstorm opened #1637 "wp-graphql generate schema that is compatible only with old version of GraphQL"
I just copy and paste the issue from graphql-code-generator: https://github.com/dotansimha/graphql-code-generator/issues/5298#issue-771604242

**Reason**

https://github.com/dotansimha/graphql-code-generator/issues/5298#issuecomment-750334769

**Solution**
Export schema with & instead of ,.

[2020-12-26 20:30] dsbrianwebster commented on #1632
@jasonbahl I can confirm this is happening on a project we're moving over to WPGraphQL. We're using graphql-codegen to generate typed clients, in this case for `graphql-request` and a large number of fields are being interpreted to be deprecated...

example

[code]

[2020-12-28 14:57] PieterT2000 opened #1638 "Filtering pages on based on template in `where` condition"
I have been trying to filter pages based on template name using `where` in graphql.
However, the template field doesn't appear in the list. Is there an existing filter we can use to add extra fields to `where`?
I am looking for something like below:

[code]

[2020-12-28 17:05] jasonbahl commented on #1632
@dsbrianwebster can you confirm that this PR (https://github.com/wp-graphql/wp-graphql/pull/1633) fixes it for you?

[2020-12-29 00:01] ravewebdev opened #1639 "Querying non-existent single page by URI returns error instead of null"
## Expected behavior

When querying a single page by `URI` and the provided `URI` does not exist, no error is thrown, and the returned data is null.

## Actual behavior

The following query works fine when either a) the `idType` is set to `URI` _and_ the `id` provided exists, or b) the `idType` is set to `DATABASE_ID` (whether or not the `id` exists).

[code]

However, if the `idType` is set to `U

[2020-12-29 10:47] westende opened #1640 "Querying pages by URI yields unexpected results"
First of all thank you for your work on this GraphQL interface. I appreciate it a lot.

When running the following queries using a non-existent URI (e.g. foo/bar or existing-page/foo) the query on page yields empty results (title = null) while the query using nodeByUri yields no results (nodeByUri = null). The latter is expected. I would expect the same behavior on the former. It seems the NodeRes

[2020-12-29 10:54] westende commented on #1639
I suspect this is caused by #1640. The query yields an empty result object while it should yield no results (i.e. page = null).

[2020-12-29 15:23] jasonbahl commented on #1640
@westende thanks for the issue.

Can you provide more information about the actual results you're getting from these queries and the actual results you're expecting?

Your statement above saying:

Seems right to me? One is empty, one is null. Can you clarify the difference of your uses of `empty` and `null`? It sounds like things are behaving the same?

[2020-12-29 17:27] ravewebdev opened #1641 "isFrontPage, isPostsPage throw unexpected errors"
We're encountering issues related to single-page queries when including `isFrontPage` and/or `isPostsPage`.

## Single page query including `isFrontPage`

### Expected behavior

Querying page data including `isFrontPage` should return boolean true or false depending on whether the queried page is set as the front page in WP.

### Actual behavior

If the queried page is set as the front page, the q

[2020-12-30 15:03] westende commented on #1640
@jasonbahl of course. Hereby the requested data.

### Querying an existing URI

This yields expected results for both queries.

#### Query variables

[code]

#### Results PageQuery1:

[code]

#### Results PageQuery2:

[code]

### Querying a non-existing URI which is a child of the test-page

This yields unexpected results for PageQuery1. I would expect the page property to be null. Instead it is a

[2020-12-30 16:49] jasonbahl commented on #1635
@therealgilles what link did you use to sign up for Slack and where on the web did you find the link?

I used to use a service called Slackin to allow folks to sign-up for the Slack, but Slack now has this capability built-in so there's a new link to use. I've tried to update all references to the old link with the new one.

This link (https://join.slack.com/t/wp-graphql/shared_invite/zt-3vloo60z-

[2020-12-30 17:39] jasonbahl commented on #1641
I believe #1627 resolves this. Can you confirm?

This has been merged and is part of the v1.0.5 release coming today.

[2020-12-30 17:45] jasonbahl commented on #1641
I've confirmed locally, but would love to have you also confirm that the queries you're running are working with this change.

## v1.0.3

On v1.0.3 I get the following error:

![Screen Shot 2020-12-30 at 10 35 10 AM](https://user-images.githubusercontent.com/1260765/103371059-be62fd00-4a8b-11eb-86e6-852d18acca9e.png)

## v1.0.5

On v1.0.5 I do not get the error:

![Screen Shot 2020-12-30 at 10 35

[2020-12-30 19:55] jasonbahl opened #1648 "Upgrade PHPStan to level 2"
PHPStan is currently set to scan code at `level:1`.

We should update to `level:2` and fix any reported issues.

[2020-12-30 20:03] therealgilles commented on #1635
Cannot find it anymore, so I guess it's all fixed.

PS: Noticed that the "content for the documentation" link returns 404 on this [page](https://github.com/wp-graphql/wp-graphql/blob/develop/documentation/Overview.md) (2nd link in the file).

[2020-12-30 20:10] therealgilles commented on #1635
Found an old slack link on this [page](https://github.com/wp-graphql/wp-graphql-woocommerce).

[2020-12-30 20:15] jasonbahl commented on #1635
@therealgilles ah! Thanks! I opened a PR to fix it on that repo.

[2020-12-30 20:15] #1635 closed

[2020-12-31 05:48] martin-braun commented on #795
The reason why your sample wasn't working is, because you have to use the `use` keyword to pass `$meta_key` to the scope of the anonymous function.

Sample:

[code]

[2020-12-31 11:03] SuperMnr commented on #658
The plugin "WPGraphQL for Advanced Custom Fields" works fine for me. Hope this help

[2020-12-31 14:43] #1347 closed

[2020-12-31 14:58] jasonbahl opened #1651 "Upgrade PHPStan to level 3"
PHPStan is currently set to scan code at `level:2`.

We should update to `level:3` and fix any reported issues.

[2020-12-31 17:56] #1648 closed

[2021-01-01 20:26] jmartinhoj opened #1653 "Users query does not follow count_user_posts() in case a user is not logged in"
When making a "users" graphql query, the expected result is that the returned list of users contain only the users that the current user has the capability to see. In case it is an unauthenticated request, only the users that have published content must be listed. If I use a filter to  count_user_posts(), the expected wpgraphql behaviour is such that it follows the  count_user_posts()'s new behavi

[2021-01-02 14:28] galanggg commented on #1563
Hi @smthomas , i created the PR here #1655 . Please kindly to check and review thanks !

[2021-01-04 14:55] jasonbahl commented on #1653
closed by #1654

[2021-01-04 14:55] #1653 closed

[2021-01-04 15:46] #1651 closed

[2021-01-04 16:19] jasonbahl opened #1656 "Upgrade PHPStan to level 4"
PHPStan is currently set to scan code at `level:3`.

We should update to `level:4` and fix any reported issues.

----

Updating from Level 3 to 4 shows 31 errors:

![Screen Shot 2021-01-04 at 9 21 51 AM](https://user-images.githubusercontent.com/1260765/103556018-5dae3880-4e6e-11eb-823e-3b125074ef9d.png)

[2021-01-04 22:27] jasonbahl commented on #1656
closed by #1657

[2021-01-04 22:27] #1656 closed

[2021-01-04 23:06] ravewebdev commented on #1641
With the upgrade to v1.0.5, this appears _mostly_ fixed:
- Queries on `isFrontPage` seem to be working as expected
- Queries on `isPostsPage` no longer throw errors, but still don't always return the correct value:
    - Querying the posts page by ID returns true for `isPostsPage`
    - Querying the posts page by URI return _false_ for `isPostsPage` (should also return true)

[2021-01-04 23:08] jasonbahl commented on #1641
@ravewebdev thanks for the update! I'll check it out further and add tests to ensure we don't have future regressions here.

[2021-01-04 23:17] ravewebdev commented on #1641
@jasonbahl the last issue noted above seems to be directly related to having that page set as posts page. I'm running the following query:

[code]

A) If that page is _not_ set as posts page, it runs fine:
[code]

B) If that page _is_ set as posts page, it breaks:
[code]

And if I remove the `databaseId` field:
[code]

[2021-01-04 23:18] jasonbahl commented on #1641
@ravewebdev ok, this is super helpful info! Thanks!

[2021-01-05 00:18] wcube-admin opened #1658 "All the query now returns " cannot register duplicate Types to the Schema. The Type 'Template_' already exists in the Schema. Make sure to give new Types a unique name""
Ever since I've changed my WordPress site language from English to Traditional Chinese, All the GraphiQL calls start to return the following error / warning message

`"extensions": {
    "debug": [
      {
        "type": "DUPLICATE_TYPE",
        "message": "You cannot register duplicate Types to the Schema. The Type 'Template_' already exists in the Schema. Make sure to give new Types a unique n

[2021-01-05 00:28] wcube-admin commented on #1658
And once I've changed the site language back to English, that error disappeared

[2021-01-05 04:20] benknight opened #1659 "Duplicate type registration errors when using custom post types"
My queries are still executing but when I enable debugging I see a huge list of "duplicate type" errors, which seems like my custom post type "component" is having its GQL types registered more than once.

See errors in example server GQL response: https://gist.github.com/benknight/baab7b0842694bff54e096835d727803

Here's how the post type is being registered:

[code]

Versions:

![image](https://

[2021-01-05 04:22] benknight commented on #1659
Update - Disabling the WPGraphQL ACF plugin gets rid of the duplicate type errors.

[2021-01-05 04:24] benknight commented on #1659
Closing, moved issue to: https://github.com/wp-graphql/wp-graphql-acf/issues/198

[2021-01-05 04:24] #1659 closed

[2021-01-05 07:28] dsbrianwebster commented on #1632
@jasonbahl working beautifully with v1.0.5 🥇

[2021-01-05 16:14] kellenmace opened #1660 "Add New updateUserPassword Mutation"
A conversation in the WPGraphQL Slack made me realize that we don't currently have a mutation that can be used to update the password of an already-logged-in user (the `sendPasswordResetEmail` and `resetUserPassword` mutations are for logged-out users who forgot their password). This would be similar to a user visiting their profile page in the wp-admin and updating their own password, but done fr

[2021-01-06 10:34] siddhantdante opened #1661 "Graphql plugin menus endpoint returning empty array."
I am using v1.0.5.

query MyQuery {
  menus(where: {}) {
    edges {
      node {
        name
        count
        id
      }
    }
  }
}

[2021-01-06 15:11] westende opened #1662 "composer require wp-graphql/wp-graphql installs completely different package"
There seems to be an issue with the repository as I see tags >= 2.0 appear as package versions on packagist.

[2021-01-06 15:43] jasonbahl commented on #1661
@siddhantdante Do you have any menus assigned to a Menu Location? This is usually the most common cause of menus not being queryable.

See: https://www.wpgraphql.com/docs/menus/#access-control

This snippet might also be useful: https://www.wpgraphql.com/recipes/making-menus-and-menu-items-public/

[2021-01-06 15:43] #1661 closed

[2021-01-06 15:44] jasonbahl commented on #1662
@westende ya, I'm not quit sure what's happened here. I got a DM in Slack about this as well. Looking into it. Seems like possibly a Packagist issue as the plugin seems to bel accurate on wpackagist: https://wpackagist.org/search?q=wp-graphql&type=any&search=

[2021-01-06 16:27] siddhantdante commented on #1661
thank you

[2021-01-06 17:12] westende commented on #1662
@jasonbahl AFAIK packagist reads your tags. I am also seeing these versions in this repo. For example https://github.com/wp-graphql/wp-graphql/releases/tag/2.0.3

[2021-01-06 17:15] jasonbahl commented on #1662
Hmm. Not sure how those tags got here. Checking it out.

[2021-01-06 20:13] sboerrigter commented on #1662
Same issue here. It works if you specify a correct version in `composer.json` like so:

[code]

[2021-01-06 20:15] jasonbahl commented on #1662
It looks like somehow a bunch of tags were pushed. I must have made some clerical error. I'm working on getting them cleaned up and hopefully we'll have Packagist updated with proper data again here soon.

[2021-01-07 05:23] zacscott commented on #961
Hello there,

This is a significant problem on a project I am currently working on. This method is called dozens of times per query and it is running a COUNT(*) on hundreds of thousands of records.

Some hooks/filters for this would be greatly appreciated.

Here are some screenshot from our New Relic.

![screenshot-1609993286](https://user-images.githubusercontent.com/3852691/103854469-42f0f380-50

[2021-01-07 15:28] jasonbahl commented on #1662
@sboerrigter @westende I believe this has been resolved. I'm not sure what I did, but somehow I had pulled tags from another repo (unrelated to WPGraphQL) to my local install and pushed those tags up to WPGraphQL.

I cleaned up the tags in Github and Packagist and from what I can tell this is resolved now.

Packagist shows v1.0.5 as the latest and Github is no longer showing the erroneous tags.

[2021-01-07 15:28] #1662 closed

[2021-01-07 16:01] jasonbahl commented on #1641
Ok, I've been able to replicate this. Working on a fix now.

[2021-01-07 17:19] mikexavier opened #1667 "Error when running gatsby build without clearing cache - not finding graphql values in gatsby-node.js"
Hey, I’m running into an issue when using **gatsby build** (local and remote)

[code]

If I clear the cache then build, it builds with no issue every time.

I had a look [here](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/debugging-and-troubleshooting.md#node-sourcing-graphql-errors) but not really sure it’s relevant to what’s going on here?

Any ideas as to th

[2021-01-07 17:38] ardiewen commented on #1660
hey @kellenmace, have you tried the update user mutation? This appears to be possible with the optional password input parameter.

[code]

This works for me in the GraphiQL IDE as an admin, but I would wager it works for authenticated users as well. If this works, can you let me know? This is functionality I'll be looking for in the future as well.

[2021-01-07 18:49] davevanhoorn opened #1668 "1.1.0 breaks compatibility with idType: SLUG queries (wp-graphql & wp-graphql-yoast-seo)"
1.1.0 seems to break compatibility with wp-graphql-yoast-seo.

I'm not sure whether I should place this issue here or in the repository of WP GraphQL Yoast, but downgrading to 1.0.5 fixes it, so I thought this would be the right place. If it's not, please close it and excuse me for taking your time.

**GraphQL query (in wp-admin Graphiql-ide):**
`query MyQuery {
  productCategory(id: "xxxxxx", idT

[2021-01-07 18:58] jasonbahl commented on #1668
@davevanhoorn thanks for the issue. looking into this.

[2021-01-07 21:29] martinosmartinos opened #1669 "Large post content not returned"
I run into a problem while developing React Native app and Wpgraphql where query to a post with quite large content, returns either error or null.

Example query:
[code]

Nothing fancy as you see and I did try retriving content with different formats like RAW. In GraphiQL IDE such query to quite heavy post (above 20k characters), results in receiving an error "SyntaxError: Unexpected end of JSON i

[2021-01-07 21:38] jasonbahl commented on #1641
@ravewebdev I opened #1670 which I believe addresses this. can you confirm it works for your particular case? I included a test as well to help reduce the chances of regressions on this.

[2021-01-07 21:51] jasonbahl commented on #1669
@martinosmartinos have you gone through the steps listed on the debugging page? Specifically this section: https://www.wpgraphql.com/docs/debugging/#unexpected-token-in-json-at-position-0

My guess is that something within the content might be having issues resolving. Some code that executes during the `apply_filters( 'the_content' )` filter, perhaps? This is common to shortcodes, page builders an

[2021-01-07 21:54] jasonbahl commented on #1668
@davevanhoorn @ashhitch I believe the yoast extension needs to be updated here.

Prior to this release, the `datasource::resolve_post_object()` method already expected an integer to be passed to it, but now it just enforces it.

[2021-01-07 22:13] martinosmartinos commented on #1669
@jasonbahl thanks for propmt reply!
I did debug that issue using link provided by you and response to those posts in developer console's network tab is null:
`data: {post: null}`
 The only shortcodes which do exist in those lenghty posts are actually standard figures with captions. Similar to those posts which do not fail but below that 20k characters :/ Not sure if it helps but REST API handles p

[2021-01-07 22:14] jasonbahl commented on #1669
Do you have a staging site I could get access to and do some debugging?

[2021-01-07 22:16] martinosmartinos commented on #1669
Unfortunately live only but if you can guide me I could add myself, unless it is super tricky :)

[2021-01-07 23:18] ravewebdev commented on #1641
@jasonbahl yes, this seems to fix the issue, thanks!

[2021-01-08 00:25] martinosmartinos commented on #1669
I did more testing and I run similar query on different site which belongs to the same Wordpress multisite network. That network site has less published posts (398) and large posts content comes in response data. Site with 19k published posts fails on the same task. Majority of plugins are network active and the ones which are not I disabled one by one, yet no luck.

[2021-01-08 02:35] martin-braun opened #1671 "Expose already registered settings to GraphQL"
I get a "Failed! token_revoked" when I try to join your Slack, so I want to ask here, sorry. I need to expose some custom settings of a foreign plugin in my WordPress page to GraphQL. I'm aware that I can [register custom settings on my own](https://www.wpgraphql.com/docs/settings/#registering-custom-settings), the problem is just that these are not my settings, but settings of a plugin that uses

[2021-01-08 02:58] jasonbahl commented on #1668
@davevanhoorn @ashhitch I've opened a PR on WPGraphQL for Yoast SEO to get it updated to the latest: https://github.com/ashhitch/wp-graphql-yoast-seo/pull/79

The `DataSource::resolve_post_object()` method has been deprecated for quite some time, so it should get updated regardless.

@ashhitch happy to help get it over the finish line if needed. Feel free to ping me here or on Slack if you need to

[2021-01-08 02:58] #1668 closed

[2021-01-08 03:01] jasonbahl commented on #1671
@martin-braun where are you registering your settings? if you register them within context such as `is_admin()` then WPGraphQL won't know about them.

You'll want to register the settings in a more global context so that APIs that don't have context such as `is_admin()` can make use of the registry.

You can `register_setting_fields()` within `is_admin()` context, because the fields themselves are

[2021-01-08 03:02] jasonbahl commented on #1671
Ya, looks like Redux only registers settings in the context of the Admin: https://github.com/reduxframework/redux-framework/blob/master/ReduxCore/framework.php#L369

This means APIs that are not within the `is_admin()` scope cannot make use of those registered settings.

[2021-01-08 03:06] jasonbahl commented on #1667
This leads me to believe the issue is not a WPGraphQL issue, but either a Gatsby Source WordPress issue or a Gatsby Core issue.

I believe you're experiencing the same thing as the folks in this issue: https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/386

If so, I'd recommend adding any helpful details to that issue. If you believe it's a different situation than described i

[2021-01-08 03:06] #1667 closed

[2021-01-08 03:06] jasonbahl commented on #1641
@ravewebdev thanks for confirming! I'll get it released shortly!

[2021-01-08 03:07] #1641 closed

[2021-01-08 03:31] benknight opened #1672 "Slack signup app shows "Failed! token_revoked" error"
Steps to repo:

1. Visit https://wpgql-slack.herokuapp.com/
2. Enter email
3. Receive error (screenshot below)

![image](https://user-images.githubusercontent.com/786691/103971245-9b77cd80-519c-11eb-9109-e3fd1b7f1ffa.png)

[2021-01-08 03:37] benknight opened #1673 "Querying for preview via asPreview argument doesn't work when querying by slug, uri idTypes"
According to the switch statement at https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/Object/RootQuery.php#L503, when querying a post preview via slug or uri, the resolver functions return early before checking the `asPreview` parameter and returning the revision.

This seems like it would be considered a bug because I would expect the same behavior regardless of which IdType is bein

[2021-01-08 05:20] jasonbahl commented on #1673
This indeed is a bug. Good catch!

[2021-01-08 05:22] jasonbahl commented on #1672
I've tried to kill all links that I can to that app. The proper link to join is in the Github README and the footer and community page of WPGraphQL.com

I've deleted the Heroku app even but still can't seem to get that link to die.

[2021-01-08 05:27] benknight commented on #1672
@jasonbahl ah! I found that link when creating a new issue,

![image](https://user-images.githubusercontent.com/786691/103977874-c407c380-51ac-11eb-8bdd-24403bb04633.png)

I suppose it's as easy as just updating that text and then this issue can be closed :)

[2021-01-08 05:28] jasonbahl commented on #1672
Ah! Thanks for pointing out that link. I'll get it updated in that template.

Thanks!

[2021-01-08 08:07] martin-braun commented on #1671
Big thanks for the quick response, really appreciate it. You are absolutely right in your observation. I just wonder why my above code did not work, when I was logged in as Admin while getting the schema in the GraphiQL IDE.

May I ask how you would approach this issue on my spot?

I think the hard way would be to remove that action and build my own, in which I register the setting, every time. If

[2021-01-08 08:33] ashhitch commented on #1668
@davevanhoorn v4.11.0 fixes this issue: https://github.com/ashhitch/wp-graphql-yoast-seo/releases/tag/v4.11.0

[2021-01-08 09:28] jasonbahl commented on #1671
The Schema doesn't change regardless of whether you're logged in or not. The Schema is a representation of what's _possible_ to ask for, regardless of the state of the user (authenticated or not).

So much like how Post Types and Taxonomies are registered "globally" (and not _just_ in the Admin), in order for settings to show in the GraphQL Schema, the settings should also be registered "globally"

[2021-01-08 09:28] #1671 closed

[2021-01-08 09:46] aresrioja10 commented on #1046
Hi @jasonbahl !

I'm getting this error with non-authenticated users.

Did you find a solution?

[2021-01-08 09:52] jasonbahl commented on #1046
@aresrioja10 based on my last comment, it looks like the last time I tried to replicate, I was unable to

Could you maybe provide more information on what query you're running, what your expectation is for a response, what the underlying data in the database is, etc?

This would all be helpful in replicating and identifying if there's a bug that needs to be squashed.

[2021-01-08 09:56] jasonbahl commented on #1672
Updated the link in the issue template: https://github.com/wp-graphql/wp-graphql/commit/0a72a78f06ad811ec95bd7298a49642d25e5b952

[2021-01-08 09:56] #1672 closed

[2021-01-08 09:56] aresrioja10 commented on #1046
I've changed this query:

[code]

into this

[code]

and now it works. Not sure what's happening

[2021-01-08 09:59] jasonbahl commented on #1046
Ok, I can try and debug with the first query and see if I can replicate again.

[2021-01-08 10:01] jasonbahl opened #1675 "Menu Item Ids are inconsistent"
Menu Item IDs are not always returned with the same encoded value.

Menu Items use the `post` loader, so IDs should always be encoded as `post:$database_id` so that if passed back to the `node( id: $id )` query they could be loaded properly.

[2021-01-08 10:46] davevanhoorn commented on #1668
@jasonbahl and @ashhitch, thanks for picking this up so quick. Awesome. Where can I buy you a beer?

[2021-01-08 10:52] jasonbahl commented on #1668
Give Gatsby Cloud (https://www.gatsbyjs.com/cloud/) a spin (there's a Free Tier) and we'll call it even. Haha!

You could write a blog post or tweet about your experiences with WPGraphQL. That's coffee for me!

[2021-01-08 23:36] mikexavier commented on #1658
I'm also seeing this when running queries in GraphiQL IDE in WP.

<details>
  <summary>DUPLICATE_TYPE</summary>

[code]
</details>

<details>
  <summary>...then below that</summary>

[code]
</details>

<details>
  <summary>...and so on</summary>

[code]
</details>

It goes on like this for what looks like every field I have on the site.

@jasonbahl I added you to the [repo](https://github.com/jung

[2021-01-09 04:44] martin-braun commented on #1671
Dear @jasonbahl, you are just awesome, do you know that? =)

With your prototype I was able to pull this off the way I want and I have just to say "Thank you so much!". This really means a lot to me. I want to share my progress and the changes I made to pull this off, eventually.

First of all, the prototype uses `return`s in the `foreach` when it should `continue` to skip to the next element, ins

[2021-01-11 16:42] IvanCoronado commented on #1552
Still happening with v1.1.1 published 3 days ago

[2021-01-11 20:37] #1675 closed

[2021-01-12 15:25] jasonbahl opened #1679 "RootQuery to ContentNode connection returns posts it shouldn't"
The `RootQueryToContentNode` connection is returning posts of `post_types` that are not public.

For example, with the [WPGatsby](https://github.com/gatsbyjs/wp-gatsby/) plugin active, the following query from a public user:

[code]

Is returning nodes of the `ActionMonitor` Type, a non-public post_type.

The Model Layer for SURE needs to be fixed to ensure non-public posts are not being returned,

[2021-01-12 16:01] studiohic opened #1681 "Getting srcSet values from Cloudinary in WordPress"
Hi all. I trying to get srcSet values from a featured image in a post using the following
`query MyQuery {
  allWpPost {
    edges {
      node {
        featuredImage {
          node {
            srcSet
            sourceUrl
          }
        }
      }
    }
  }`
This outputs the following:
`{
  "data": {
    "allWpPost": {
      "edges": [
        {
          "node": {
            "featuredI

[2021-01-12 18:21] martinosmartinos commented on #1681
I just checked same thing on my setup where images are offloaded to aws. Looks like it is general problem: featured image srcSet returns null. I tried to query non featured images and get positive response for srcSet.

[2021-01-13 00:23] studiohic commented on #1681
I thought that you might be able to get around this by setting up an ACF image field and then querying that but I’m still getting a ’null’ response for scrSet. I’ve also tried querying ‘mediaItems’ with the same results. When querying posts/content/format-rendered then the scrSet information is shown. How were you querying non featured images?

[2021-01-13 08:43] martinosmartinos commented on #1681
I was just picking up some image which is used in a content and then sending media query with relevant id:
[code]

[2021-01-13 09:43] studiohic commented on #1681
I’m using (learning!), Gatsby. I wonder whether there is away in which we could take advantage of the gatsby-image plugin to take in the sourceURL of the image from WP and then use that to serve up responsive images. Anyone had any experience of doing that?

[2021-01-13 11:11] martinosmartinos commented on #1681
Do you really need a plugin for that? You can get available featured image sizes and corresponding source urls through media details like so:
[code]

From response construct your responsive image markup. No?

[2021-01-15 08:55] jenkin commented on #1658
Same here. Errors seem to disappear if all graphql names of field groups are different AND if there are no multiple positions of the same type for a field group.

[2021-01-17 18:02] matepaiva commented on #957
any update on this? I think it's a very important issue, and it's easy to solve it with @jonshipman suggestion.

[2021-01-17 23:48] zacscott commented on #961
Hello,

I have raised another pull request to hopefully help resolve this issue. This was based on the PR you originally opened @jasonbahl, simply adding the graphql_user_model_is_private filter with no caching / query changes etc. #1685

I see @chriszarate has also opened a pull request a short time ago. I think there is a place for both of our solutions.

Being able to completely bypass the is_p

[2021-01-18 01:58] zacscott opened #1686 "Filter graphql_schema_config documentation is incorrect"
The documentation for the `graphql_schema_config` filter states that the config is an array, however it is actually an instance of `GraphQL\Type\SchemaConfig`

https://www.wpgraphql.com/filters/graphql_schema_config/

I believe this was changed as part of v1.1.0 release - https://github.com/wp-graphql/wp-graphql/commit/640ea27fc8a2c5af0726df7744c8d33c52c4d867

This was an issue on an extension plu

[2021-01-18 17:11] jonshipman opened #1687 "nodeByUri does not return ContentType for Posts Page."
Performing a query on ``nodeByUri`` for the page_for_posts uri returns the Page type instead of the ContentType type.

With v1.1.0 the below query works correctly:
[code]
It will return 3 posts under contentNodes. When run on v1.1.2 it returns the Page (isPostsPage: true, title: "Blog") instead of the contentNodes.

[2021-01-18 17:16] jonshipman commented on #1687
See issue https://github.com/wp-graphql/wp-graphql/issues/1670 for details for the changes.

[2021-01-18 17:36] jonshipman commented on #1687
Just confirmed that changing line 366 of NodeResolver to ``return $this->context->get_loader( 'post_type' )->load_deferred( 'post' );`` will fix the issue.

[2021-01-18 21:20] Shelob9 commented on #965
Hi @jasonbahl I want to help with this, but have question. Wouldn't the filter need to go here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Utils/InstrumentSchema.php#L75 ?

My goal is to modify the create and update mutations for a CPT to include a few extra fields. So if there was a filter there, I could add them to the fields collection before the loop. Right?

[2021-01-18 22:54] zacscott commented on #961
Sorry to bump this thread but can we get this one prioritised. This issue is generating huge load for us.

[2021-01-19 05:08] therealgilles opened #1689 "application_password_is_api_request filter set up too late in some cases"
### Issue
A GraphQL users POST request with basic authentication does not return any users.

### System Information
WordPress 5.6
WP-GraphQL 1.1.2
The Events Calendar by Modern Tribe 5.3.1.1
PHP 7.4.14

### How to reproduce
Create an admin user application password on the WP site with The Events Calendar plugin installed and issue the following query request using basic authentication from a tool

[2021-01-19 23:20] bdurette opened #1692 "Missing Content-Type request header results in 500 response code"
The `Content-Type` header is rightfully required to properly interpret the POST body of a GraphQL request. When this header is not specified, the response includes a 500 response code indicating a server error. Since this error is caused by a misbehaving client, I would expect a response in the 400 range indicating a client error. Specifically, I expect either a 400 directly (Bad Request) or a 415

[2021-01-19 23:28] ravewebdev commented on #1639
This is still an issue in WP GraphQL v1.1.2 and is causing our app to return unreliable results when querying by post slug.

[2021-01-19 23:43] ravewebdev commented on #1639
So far the following fields throw similar errors, _only_ when querying by URI if the page doesn't exist:
- databaseId
- uri
- author
- featuredImage

The first two throw the "Cannot return null for non-nullable field" type error, whereas the latter two throw an error like the following (different for each field):
[code]

[2021-01-20 06:36] geochanto commented on #213
I'm running into this issue, and suggested fixes (permalink reset) did not help, unfortunately.

On my local it works fine, but for some reason on my staging server I get 404. The GraphiQL IDE inside wordpress works though...

Any other tips??

[2021-01-20 16:45] #1689 closed

[2021-01-20 18:54] jasonbahl commented on #1639
Thanks for the updated info. Checking this out.

[2021-01-20 19:50] jasonbahl commented on #1639
@ravewebdev I'm not able to replicate this on v1.1.2.

When I make a query using a URI that does not exist, I get a `null` response and no errors.

![Screen Shot 2021-01-20 at 12 40 08 PM](https://user-images.githubusercontent.com/1260765/105225996-a297c780-5b1c-11eb-88f5-12df96a360b5.png)

I'm not fully convinced this doesn't mean that there's a bug here, but perhaps there's more information I'm

[2021-01-20 22:26] jasonbahl commented on #1692
Related: https://github.com/apollographql/apollo-server/issues/1841#issuecomment-525258746

[2021-01-20 22:27] jasonbahl commented on #1692
Somewhat related: https://github.com/webonyx/graphql-php/issues/309

[2021-01-20 23:43] ravewebdev commented on #1639
@jasonbahl I think the issue is in Permalink Settings for some reason. We're using the custom structure `/blog/%postname%/` and are encountering this issue, but when I remove the `/blog` (`/%postname%/`), the query runs fine. Custom structures with `post_id` are fine (e.g., `/archives2/%post_id%`) but having that prefix with `postname` apparently breaks everything. Any idea why that might be happe

[2021-01-21 00:08] jasonbahl commented on #1639
Ah! This is helpful to have more info about permalinks! I’ll play with some different variations and see what I can find out.

Sent from my iPhone

[2021-01-22 01:55] #961 closed

[2021-01-22 14:32] SimeonGriggs commented on #957
Is this an actual limitation at the moment? I can't do a createPost mutation including ACF Fields/post meta because I can't find a way to extend the default input object.

[2021-01-22 23:27] ravewebdev opened #1695 "Posts of different types with same slug cause collisions during queries"
## Expected behavior ##

If there are multiple posts of different types with the same slug, a standard GraphQL query should be able to differentiate between them and return the correct post based on the specified post type.

E.g.,

A post named "Test" has the slug "test" and should be returned by the following query:

[code]

A page named "Test" has the slug "test" and should be returned by the fo

[2021-01-23 11:40] bkstorm commented on #1411
I have the same issue, I think it's a bug.

[2021-01-24 03:14] colbyfayock opened #1696 "Post modified date invalid"
I'm seeing an issue where the `modified` date for posts isn't in a valid format from what I can tell

This is creating issues when passing into a `Date` function in JavaScript, particularly creating issues in Safari

You can see the difference in the formatting by looking between the different date/modified options:
![image](https://user-images.githubusercontent.com/1045274/105620186-07c31580-5dc8

[2021-01-24 11:04] Zeta-Box commented on #311
Any news about this?

[2021-01-25 08:19] kivils opened #1697 "Missing onError handler for invocation 'building-schema' when site language is set to Russian"
Hi!
I'm facing an error: `gatsby develop` fails when site language is set to Russian in wordpress admin panel.
If I switch site language to English (UK) - `gatsby develop` doesn't fail and static site is generated as expected.

`gatsby develop` worked fine with earlier versions of plugins (see below), and stopped working after upgrade.

Created an issue in [gatsby-source-wordpress-experimental](ht

[2021-01-25 16:59] jasonbahl commented on #965
@Shelob9 I would probably lean toward adding it close to this: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Utils/InstrumentSchema.php#L140

This would allow the filter to execute for each fields resolver.

Since each field in the graph (including mutation fields such as `createPost`) can have their own arguments, we want a filter that applies to each field.

The idea would be that th