[2018-03-14 15:35] jasonbahl commented on #414
I'm closing this in favor of #263

[2018-03-14 15:35] #414 closed

[2018-03-14 15:40] jasonbahl commented on #410
@chriszarate do you have a list of fields you believe this should apply to? I think it makes sense for WPGraphQL to output content that doesn't need further transformation from the client.

Trying to decide if this would be a good case for a directive so folks could declare if they want the entities decoded or not 🤔

[2018-03-14 15:57] ganeshr28 commented on #414
thankyou so much for the information @jasonbahl

[2018-03-19 14:23] blocka commented on #259
Why wouldn't this Just Work :tm: when you access the graphql endpoint from the multisites url? Unless i'm misunderstanding the issue.

[2018-03-19 15:43] jasonbahl commented on #259
@blocka depending on how you expect it to work, it already does.

If you simply want an endpoint for each site of a multisite install, you have that.

For example, on subdirectory installs you have: `https://site.com/site1/graphql` and for subdomain installs you would have `https://site1.site.com/graphql`

Right now, there's not really a concept of a network endpoint, where you can get introspecti

[2018-03-20 05:52] jasonbahl commented on #229
I've setup https://api.wpgraphql.com which is a live WordPress install that can be used to query against. There is also https://playground.wpgraphql.com which showcases several queries against that endpoint.

[2018-03-20 05:52] #229 closed

[2018-03-20 05:52] jasonbahl commented on #412
@cr101 I'm going to assume this is resolved. If you have further issues, let me know.

[2018-03-20 05:52] #412 closed

[2018-03-20 14:45] rektide opened #415 "Online schema/API docs"
Hello. I'm interested in what WordPress and wp-graphql can do for me. I was hoping to get a sense of what kind of APIs would be available. (In particular, I was looking to see whether any kind of "events" capability was a part of the base API or not). Unfortunately, the docs tell me [I have to install WordPress and wp-graphql](https://wpgraphql.com/docs/getting-started/exploring-with-graphiql) to

[2018-03-20 19:48] jasonbahl opened #416 "Input args need to be unique to the Type they belong to & pass $config to filters"
For example, the `RootPostsConnection` shouldn't have `QueryArgs` input, but rather `RootPostsQueryArgs`, etc.

So all the unique connections should be able to have unique properties to their input.

We also should pass the Type $config to the field filters, allowing for plugins to use context of the Type config to determine whether to filter the fields or not.

This is needed for supporting WPGra

[2018-03-20 19:55] #416 closed

[2018-03-20 21:31] jasonbahl commented on #342
@BesoKakulia @dre1080 @chrisfullman

I pushed some updates to this repo as well as both extensions WPGraphQL Meta Query and WPGraphQL Tax Query.

Things should be working fine for both extensions if you use the latest version of all 3.

Going to close this out, but if ya'll run into other issues, let me know.

[2018-03-20 21:31] #342 closed

[2018-03-20 21:36] jasonbahl commented on #415
@rektide There are examples of queries, etc in the docs if you explore a bit more, for example: https://wpgraphql.com/docs/getting-started/queries#list-of-posts

You can also check out https://playground.wpgraphql.com which has various examples of queries, etc to give you an idea of how to consume the data on the client. There's even some examples showing how to use Queries in React and how the co

[2018-03-20 21:36] #415 closed

[2018-03-21 16:53] cwahlfeldt commented on #214
Any updates on support for ACF fields?

[2018-03-24 00:18] kalebheitzman commented on #311
Looking forward to this! Using Wordpress as a media server for a project I'm working on and using react and react native to upload to Wordpress is essential for what I'm doing. Thanks for the awesome work so far!

[2018-03-24 17:43] kalebheitzman opened #423 "Feature Request: Subscriptions"
I'm not sure it's even possible with the server architecture for Wordpress but subscriptions would be nice. If there's any direction for this I would gladly start working on it (unless it's already a thing!)

[2018-03-31 17:46] jasonbahl commented on #423
@kalebheitzman WordPress actually lends itself great to GraphQL subscriptions since WordPress is all event based. So GraphQL Subscriptions can easily be hooked into things like creating posts, updating meta, etc.

The problem lies in the transport.

In my experimentation with WPGraphQL Subscriptions to this point, the WordPress install would need to send events to a Websocket (or somiliar) server

[2018-03-31 17:47] jasonbahl commented on #423
If you're seriously interested in working on this, let me know and we can chat. I've done some experimentation locally, and actually succeeded in using Graph.Cool's websockets as my transport, in a hacky way. 😉

[2018-03-31 18:07] jasonbahl commented on #57
I'm closing this. I think it belongs as a separate project, not something to worry about in this repo.

For folks interested in static docs currently, check out: https://graphql-docs.com/

You can enter the URL to your GraphQL API and generate static docs.

For example, you can see the `api.wpgraphql.com/graphql` docs generated here: https://graphql-docs.com/docs/?graphqlUrl=https://api.wpgraphql.

[2018-03-31 18:07] #57 closed

[2018-03-31 18:10] jasonbahl commented on #112
Closing this. Not enough clarity (even though I opened the issue)

[2018-03-31 18:13] jasonbahl commented on #131
Closing in favor of #335

[2018-03-31 18:13] #131 closed

[2018-03-31 18:14] jasonbahl commented on #198
Templates created!

[2018-03-31 18:14] #198 closed

[2018-03-31 18:19] jasonbahl commented on #281
Closing as the initial implementation is in place. Further implementation, if needed, can be opened in a more specific issue for it's case.

[2018-03-31 18:19] #281 closed

[2018-03-31 18:27] jasonbahl commented on #368
@brandontruong I'm closing this as it appears you must have figured things out. I was able to query your site using GraphiQL today.

If you're still having issues, try using a different GraphiQL app as it may be an issue with ChromiQL 🤔

<img width="1193" alt="screen shot 2018-03-31 at 12 25 55 pm" src="https://user-images.githubusercontent.com/1260765/38166284-c0937dae-34de-11e8-98df-c99f6c9ece20

[2018-03-31 18:27] #368 closed

[2018-03-31 18:46] #361 closed

[2018-04-07 05:29] jasonbahl opened #425 "Make access control headers a filterable list"
Some external tools send different headers and need to know what headers are allowed in preflight checks.

To make it easier to work with other tools, the list of access control headers should be filterable.

[2018-04-07 05:52] #425 closed

[2018-04-07 05:55] jasonbahl commented on #411
@nikolaswise hey! #426 should resolve this issue. Can you confirm?

Thanks!

[2018-04-07 05:57] jasonbahl commented on #411
@nikolaswise I _believe_ this is resolved. If you're still having issues, let me know and we can re-open.

[2018-04-07 05:57] #411 closed

[2018-04-07 05:57] jasonbahl commented on #406
closed by #409

[2018-04-07 05:57] #406 closed

[2018-04-10 18:40] jasonbahl opened #428 "How to handle frontPage & pageTemplates?"
It's common for pages to be treated very different based on whether they are the Front Page or of a particular Page Template.

Right now, you can query a page and it's fields like so:

[code]

But _all_ pages are treated the same here. They all have the same Schema.

As brought up [here](https://wp-graphql.slack.com/files/U9W6627D0/FA5CTNK3R/screen_shot_2018-04-10_at_19.48.40.png) (and the surroun

[2018-04-16 14:21] izzygld opened #430 "Pagination Bug whilst using `hasPreviousPage` returning true."
### `hasPreviousPage` returning true.

**Pagination**: the way I'm doing it, depends on these 4 variables returned from the request: `hasNextPage`, `hasPreviousPage`, `startCursor` and `endCursor`. If `hasNextPage` is true then I use `endCursor` to retrieve the next posts.

Problem is, that `hasPreviousPage` is returning as true one extra time.

_ggl Query:_
[code]

 _Data Functions:_

[code]

[2018-04-16 15:28] jasonbahl commented on #430
Thanks for the details!should help troubleshoot

[2018-04-25 15:19] jasonbahl opened #432 "Add WPUnionType"
Much like WPObjectType and WPEnumType, etc, we should add a WPUnionType that other Unions can extend.

This will allow for filters (and other helpers, etc) to be centralized in one spot.

[2018-04-26 16:28] hughdevore opened #434 "Add dateGmt field to postObject Mutation"
The postObject mutation is currently missing the `dateGmt` field. This currently exists on the postObject type:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/PostObject/PostObjectType.php#L171-L176

However, we forgot to add it to the mutation:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/PostObject/Mutation/PostObjectMutation.php#L52-L55

[2018-04-26 16:29] jasonbahl commented on #434
Pretty sure we removed this because WordPress handles the update behind the scenes already

[2018-04-26 16:29] jasonbahl commented on #434
@hughdevore see: https://github.com/wp-graphql/wp-graphql/pull/363

[2018-05-01 22:02] hughdevore opened #435 "Add featuredImage field to Post mutation"
We are currently able to query for a post's featured image:

[code]

However, we are not able mutate this field when we create a post. I propose we add this field so that users are able to add/update/delete the featured image of a post. This could look something like:

[code]

The fields for the featuredImage mutation should match the fields of a mediaItem mutation.

[2018-05-01 22:16] jasonbahl commented on #435
@hughdevore do you plan to implement this via sideloading, or via a file upload and multipart form?

[2018-05-02 15:28] jasonbahl opened #436 "Fix Orderby mapping for post__in, post_name__in and post_parent__in"
The orderby mapping for `post__in`, `post_name__in`, and `post_parent__in` should _not_ include the order (ASC/DESC) value as it's not respected.

### Proposed Solution
In PostObjectConnectionResolver.php where the `$args['where']['orderby']` inputs are mapped to the WP_Query args, these fields should be mapped to just a `orderby => field` instead of `orderby => [ field => order ]`

[2018-05-03 18:58] CodeProKid opened #440 "Should be able to remove post edit lock"
We currently have a need to remove the `edit_lock` that gets added after a post is inserted/updated. We think it's causing some issues where we are trying to update a post while it's locked, and it creates a duplicate post.

To solve this, I'd like to add a new hook like `graphql_post_object_mutation_before_update_additional_data` where the `set_edit_lock` method would get added to. That way peopl

[2018-05-06 22:04] dlh01 opened #442 "No JSON response for caught exceptions in `Router::process_http_request()`"
Using [the `book` example from the Wiki](https://github.com/wp-graphql/wp-graphql/wiki/Extending-and-Customizing#post-type), but with the `name` arguments omitted:

[code]

an Exception is thrown, and `Router::process_http_request()` catches it, but doesn't seem to return JSON after that. In my test environment, the home page HTML is returned instead with a `200` response.

I'm using the `develop`

[2018-05-06 22:46] jasonbahl commented on #442
@dlh01 did you also include `graphql_single_name` and `graphql_plural_name`? I don’t see it in the code snippet

[2018-05-06 23:01] dlh01 commented on #442
No. I skipped them because I thought that would be an easy way to generate the exception, but maybe I'm misunderstanding what you're getting at.

[2018-05-07 15:43] jasonbahl commented on #442
@dlh01 you need to define a single and plural name for the Type, via:

[code]

Do you have those defined in your code?

[2018-05-07 16:42] dlh01 commented on #442
Sorry, I think I wrote my report in a confusing way.

My sample code has a bug on purpose. As I understand it, my sample code should generate an Exception, and a 500 response should be returned by `Router::process_http_request()` with an error message:

https://github.com/wp-graphql/wp-graphql/blob/6e349b7beb705f3a5d1a621a2d9089fcf5e22845/src/Router.php#L463-L473

But from what I can tell, that is

[2018-05-07 17:44] #440 closed

[2018-05-08 20:02] jasonbahl commented on #442
@dlh01 ah, I see what you mean.

In this case, the exception happens outside of the HTTP request, so it's not included in the scope of the try/catch statement in the router that catches exceptions.

Perhaps we should have the `get_allowed_post_types()` and `get_allowed_taxonomies()` methods fail more gracefully though.

Maybe instead of throwing an exception, if all 3 fields (show_in_graphql, grap

[2018-05-09 22:36] dlh01 commented on #442
I'm not sure I have enough experience with the plugin to comment usefully about a change like the one you describe, so I'd be interested in what others have to say about it.

That said, the `register_post_type()` code is just a way to demonstrate the behavior that I'm wondering about. Any kind of Exception that occurs in the try/catch statement seems to cause it. For example:

[code]

This excepti

[2018-05-10 01:02] jasonbahl commented on #442
@dlh01 thanks for the extra details. I think I see what’s up and have an idea on how to fix it.

[2018-05-10 16:51] hughdevore commented on #435
@jasonbahl, planning on adding this via sideloading next sprint. I may have time to do the multipart as well but I think we should make it a separate issue.

[2018-05-15 17:07] jasonbahl opened #444 "Add userRoles entry point"
We should add an entry into the Graph for userRoles.

The resolver should limit returning data to authenticated users by default.

A query like:
[code]

Should return something like:

[code]

This should also support filtering by specific role:

[code]

[2018-05-15 17:36] CodeProKid commented on #444
@jasonbahl would be cool if this was also a connection on the `User` type.

[2018-05-15 17:45] jasonbahl commented on #444
Something like this to get users based on a particular capability: https://stackoverflow.com/a/35347895/5352288?

[2018-06-06 16:17] dre1080 opened #449 "How to handle file uploads?"
Is there any way to use this with [graphql-upload](https://github.com/Ecodev/graphql-upload)? To implement [GraphQL multipart request spec server](https://github.com/jaydenseric/graphql-multipart-request-spec#server)

[2018-06-07 21:17] jmlallier commented on #336
@jasonbahl Do you have any ideas for how this could be implemented? My team is developing a plugin with several custom tables that we'd like to expose to a GraphQL endpoint. Currently we're just implementing types and providing them to the standard graphql endpoint, but we definitely would be up for implementing a multi-endpoint Schema with permissions protected endpoints. What do you think?

[2018-06-07 21:43] jasonbahl commented on #336
@jmlallier I've actually experimented a bit with this locally. I think there's a lot of value in the approach.

I can see different plugins potentially wanting to define their own endpoints/schemas, but (potentially) take advantage of existing Types in the Schema, or potentially just define completely new types but want the existing infrastructure for validation, etc.

I'll pull up the branch I ha

[2018-06-07 21:59] jmlallier commented on #336
@jasonbahl Awesome! I agree haha.

Absolutely. We're wanting to ship our plugin using WPGraphQL as a composer dep and this feature would be very cool. I'd love to see what you've already done.

[2018-06-09 04:14] nathanqueija opened #451 "Error on GraphQL endpoint"
Hey, guys.
I'm trying to access `/graphql` through graphiql but I'm getting the following error:

[code]

[2018-06-13 14:23] kalebheitzman commented on #311
Ran into something on the Rest API regarding this. I'm reading some stuff that says you have to upload the image first to wordpress and then reference the upload when you create a media item. I'm not sure if that is right or not but I haven't been able to get createMediaItem working in any capacity with a graphql mutation.

[2018-06-13 16:01] hughdevore commented on #311
@kalebheitzman,

You should be able to do soemthing like this with createMediaItem:

[code]

and get this back:

[code]

Are you getting any errors when you try to run the createMediaItem mutation?

[2018-06-13 18:50] jasonbahl commented on #311
@kalebheitzman  what @hughdevore pointed out should work if the image is already online somewhere, but if you're looking to upload an image from your computer, it won't work, and this issues goal is to fix that.

We need to have WPGraphQL respect multipart form requests and get the file from the request and process it. The approach to solve this will likely draw inspiration from how Apollo Uploads

[2018-06-15 14:09] paulisloud opened #455 "Add WP-GraphQL to Open Collective"
You should really submit an application to Open Collective to get this project sponsored to make it easier to maintain. I know I would support it, and I'll be many others would as well.

[2018-06-15 14:31] jasonbahl commented on #455
@paulisloud I’ll check it out. Thanks for pointing it out

[2018-06-15 14:41] #455 closed

[2018-06-15 18:41] jasonbahl commented on #449
@dre1080 not yet. we have another issue for this: #311

Hoping to address it soon, but no concrete timeline yet.

[2018-06-15 18:41] #449 closed

[2018-06-19 14:56] CodeProKid commented on #444
@jasonbahl I'm going to start working on this. What should the `ID` consist of?

[2018-06-19 15:00] jasonbahl commented on #444
Maybe `role:{rolename}` 🤔

Needs to be unique to be able to cache it/query for it via a `node` query.

[2018-06-19 15:06] CodeProKid commented on #444
ok, makes sense. The name of the role _should_ be unique for each individual site.

[2018-06-19 16:22] #432 closed

[2018-06-22 16:58] jasonbahl commented on #442
closed by #443

[2018-06-22 16:58] #442 closed

[2018-06-22 16:58] jasonbahl commented on #436
closed by #437

[2018-06-22 16:58] #436 closed

[2018-06-22 17:00] jasonbahl commented on #332
closed by #429 (thanks @EduardMaghakyan!)

[2018-06-22 17:00] #332 closed

[2018-06-22 17:02] jasonbahl opened #462 "Fix code coverage reports"
Code coverage reports are broken. Need to get them fixed.

I believe they stopped working sometime around the time we added functional/acceptance testing because it would require tracking coverage for all types of tests then merging the coverage or something to that tune. 🤔

[2018-06-22 17:04] jasonbahl commented on #224
@0aveRyan if you're interested in working on some sort of build script that prepares the plugin for the .org repo, this is probably the issue to track it to. Thanks!

[2018-06-22 17:04] jasonbahl commented on #126
closed by #446

[2018-06-22 17:04] #126 closed

[2018-06-22 17:07] jasonbahl commented on #260
Now that we have functional testing up and running via Docker / Codeception, this should be much easier to test now.

We should be able to send a real HTTP request with OPTIONS specified and make sure the response is what we expect.

[2018-06-25 12:45] nobrefelipe commented on #214
Anyone managed to add support for the repeater custom field? Thanks!

[2018-06-25 14:24] izzygld commented on #214
@nobrefelipe yes!
take a look here: [https://gist.github.com/izzygld/df0445396ca708ec53296cfcdf30ba0a](https://gist.github.com/izzygld/df0445396ca708ec53296cfcdf30ba0a)

Took sometime to get it working. but perseverance paid!

[2018-06-25 15:45] nobrefelipe commented on #214
@izzygld
Thank you!!!!
I wasn't managing to get the fields using `get_post_meta`
so I just and up using ACF's `get_field('field-name', $post->ID)`

[2018-06-27 13:47] CorneliusIV commented on #263
@jasonbahl I was having a similar issue, and I am using a query close to what you suggested. Which worked perfectly.  However, I am not getting any results when I query with a slug that is a child of another term.  Any ideas on what I could be missing?

[2018-06-27 14:58] jasonbahl commented on #263
@CorneliusIV can you provide the exact query you're trying (along with variables, if any) and provide some info on the term hierarchy so I can try and replicate the scenario and see what I can find.

[2018-06-27 15:16] CorneliusIV commented on #263
@jasonbahl Sure
I have custom Taxonomy called `Regions`
Under `Regions`, I have a parent term `North America` and a child `Canada`
So:
[code]
Using a query very similar to what you suggested
[code]
Variable
[code]

Result:
[code]

If I try to search for North America

Variable
[code]

I get somewhat of an expected result, but `posts` returns a post that is tagged with `Canada`

[code]

[2018-06-27 15:18] jasonbahl commented on #263
@CorneliusIV thanks for the info!

So, `Test Post` is tagged with `Canada` but _not_ tagged with `North America`?

[2018-06-28 21:04] dsabatier commented on #214
@izzygld @nobrefelipe I am also trying to get acf repeater fields working, maybe you can help me out? I tried using the gist above as reference but still running into issues (WP and php are not tools I use regularly :( ).

Here is an example value I get out the API currently and a screenshot of my repeater field:
`

sessions |  
-- | --
[0] |  
uid | "594afece726c4"
day | "20190728"
start_time | "

[2018-06-28 21:20] nobrefelipe commented on #214
Hi @dsabatier

1. I  had to set up each field, on my project they all return a String, so wasn't so bad. You can try nikosolihin's solution for your post_object field.

2. Project__Label refers to your Sub Fields names so (uid, start_time, etc...)

3. Try this:
[code]
Hope that can be useful

[2018-06-28 22:09] dsabatier commented on #214
I will try all of these things later today or tomorrow morning and let you know how it goes! Thanks!

[2018-06-28 23:41] cr101 commented on #214
@dsabatier This is something I will need to do on a new project I will be starting in a few weeks. So please post back with your solution.

[2018-06-30 17:40] dsabatier commented on #214
@cr101 @nobrefelipe I got this working this morning.  A few notes:

1) I did not need to define every field, you can expose only the fields you want to.
2) Make sure you have exposed all of the custom post types involved in your query to graphql
3) Use acfs get_field() when referring to an acf field.
4)  The code might make more sense with some context.  In this app we have Exhibits ('white_exhibi

[2018-07-01 02:55] nikosolihin commented on #214
I was thinking of using this project to interface Wordpress with graphql but switched to Gatsby's WP plugin which pulled ACF's repeater and flex content items via graphql quite nicely out of the box.

https://www.gatsbyjs.org/packages/gatsby-source-wordpress/

[2018-07-01 03:13] jasonbahl commented on #214
@nikosolihin awesome! I LOVE Gatsby!

fwiw, wpgraphql.com is a Gatsby site 😀

[2018-07-02 15:47] jasonbahl commented on #8
@kidunot89 is working on this. let's track discussion here if there are any questions, etc.

[2018-07-03 21:07] jasonbahl commented on #373
Closing this ticket as I answered in depth above and added the info to the website here: https://wpgraphql.com/docs/advanced/authentication-and-authorization

[2018-07-03 21:07] #373 closed

[2018-07-03 21:11] jasonbahl opened #464 "Excerpts not outputting content as expected"
The excerpts are not being output properly for posts that don't have an excerpt explicitly saved.

Typically, if a Post hasn't saved an excerpt explicitly, WordPress truncates the_content and outputs it as the excerpt.

The REST API respects that behavior, but WPGraphQL doesn't currently respect that.

You can see a comparison here:

**WPGraphQL excerpt**
http://api.wpgraphql.com/graphql?query={po

[2018-07-06 22:21] questluv opened #466 "menu item type (post, page, category)"
First of all, thank you for this wonderful plugin! I am new to Graphql.
I am just wondering if call 'meni-item-type'. I have check other issues about navigation menus but couldn't find the right answer.

Thank you in advance.

[2018-07-09 14:35] #444 closed

[2018-07-12 19:35] JesseRWeigel opened #468 "Bug: Querying sourceUrl for featuredImage sizes returns filename"
https://github.com/wp-graphql/wp-graphql/blob/0c2f5221b43c2c445cde2a60243c1b29036f24b9/src/Type/MediaItem/MediaItemType.php#L288

I believe the line included above needs to be changed.

Here is an example of this query in action:
![image](https://user-images.githubusercontent.com/11077930/42655112-083f4f4c-85e9-11e8-9e95-7690ac03fd9f.png)

You can see that sourceUrl and file both return the same v

[2018-07-16 20:17] ChaosExAnima opened #470 "Filters using `the_title` cause fatal errors"
Using WPGraphQL version 0.0.29. When querying a post title, plugins that expect two parameters for `the_title` filter cause a fatal error. It appears in #230 the filter was applied without specifying the post ID second parameter, as per the WordPress [hook documentation](https://developer.wordpress.org/reference/hooks/the_title/).

To reproduce:
1. In a WordPress installation, have code that expec

[2018-07-20 18:02] #468 closed

[2018-07-20 18:02] jasonbahl commented on #468
@JesseRWeigel I just merged a fix for this to the `develop` branch 😄

[2018-07-20 18:03] jasonbahl commented on #470
@ChaosExAnima Thanks for submitting the issue. Checking this out.

[2018-07-20 18:12] jasonbahl commented on #470
@ChaosExAnima this was fixed by @kidunot89 (Thanks! 👏 ) in #471. Merged to `develop` and will be part of the next release.

[2018-07-20 18:12] #470 closed

[2018-07-20 18:33] jasonbahl commented on #451
@brentjett did you try and execute a query or mutation or just visit the endpoint in a browser or something?

[2018-07-20 18:34] nathanqueija commented on #451
Guys,
As @jasonbahl you need to execute a query or mutation and it will work.
Thanks, Jason!

[2018-07-20 18:34] jasonbahl commented on #451
@brentjett if you're visiting in a browser, instead of just visiting `/graphql` try visiting the endpoint with a query specified like: `/graphql?query={posts{nodes{id,title}}}`

[2018-07-20 19:42] brentjett commented on #451
Yep, that did it. Thanks a bunch guys!

[2018-07-20 20:35] jasonbahl commented on #8
closed by #465

[2018-07-20 20:35] #8 closed

[2018-07-23 17:33] jasonbahl commented on #470
tbh, kind of random right now.

I can get a release prepared asap though as there are a lot of goodies that have made it to dev that deserve to be released.

Then I'd like to try and make it more regular like every Friday or something like that.

[2018-07-23 17:34] ChaosExAnima commented on #470
A release soonish would be appreciated, as this is breaking some things. If it'll be more than a day or two I can point our Composer to use development for now, though.

[2018-07-24 10:08] rasmustaarnby opened #475 "Exception when adding the 'thumbnail' option in the 'supports' array in 'register_post_type'"
### Setup

Plugin version: 0.0.30

Plugins active:
- WP GraphQL
- One single file test plugin that loads on `plugins_loaded` to test custom post type registration

It's a multisite setup and plugins are activated network wide.

### Description

Using the example from the wiki page [Extending and Customizing](https://github.com/wp-graphql/wp-graphql/wiki/Extending-and-Customizing), I'm trying to ad

[2018-07-24 14:06] jasonbahl commented on #475
@rasmustaarnby thanks for the detailed issue. we'll check it out. Of course, PRs welcome if you get to the root of the issue as well 😄

[2018-07-24 14:32] rasmustaarnby commented on #475
@jasonbahl Sure. Right now I'm going with the work around as I need to get it done for a client but I'll give it a look.

[2018-07-24 14:39] jasonbahl commented on #475
@rasmustaarnby are you only noticing issues with the static Schema generation or are you also noticing issues trying to execute queries, etc?

[2018-07-24 14:44] rasmustaarnby commented on #475
@jasonbahl I couldn't get the graphQL IDE to return a post type and a meta field, which I new was added in the exact same way as another one, so I startet to look around because I thought it could be a cache issue. Hence, I ended up testing using the static schema generator which gave me the above error. I'll double check things but I'm pretty sure the error is also there when querying because it

[2018-07-24 14:46] rasmustaarnby commented on #475
And there graphQL IDE is returning nicely now too, after I added the work around.

[2018-07-24 15:31] rasmustaarnby commented on #475
Alright did some digging.

The issue originates from https://github.com/wp-graphql/wp-graphql/blob/release/v0.0.30/src/Type/PostObject/PostObjectType.php#L539-L549 where the it checks for `post_type_supports( $post_type_object->name, 'thumbnail' )` and subsequently calls `Types::post_object( 'attachment' )`.

Following the trial it calls [`new PostObjectType( $post_type )`](https://github.com/wp-g

[2018-07-24 15:36] jasonbahl commented on #475
Thanks for the info. This is super helpful for troubleshooting!

[2018-07-24 16:51] rasmustaarnby commented on #475
Sure, it's a great plugin and I'd like to do what I can to contribute. We're already making a switch from the WP REST api to this.

Poked around a bit more and I almost certain the issue is related to your settings from the method [show_in_graphql](https://github.com/wp-graphql/wp-graphql/blob/release/v0.0.30/wp-graphql.php#L317) is being overridden later on.

According to the codex register post

[2018-07-25 15:52] ChaosExAnima commented on #464
I think I uncovered what's going on. Internally, WPGraphQL calls the `get_the_excerpt` filter in wp-graphql/src/Type/PostObject/PostObjectType.php:230.

Internally, WordPress calls [`wp_trim_excerpt`](https://developer.wordpress.org/reference/functions/wp_trim_excerpt/) on that filter, which in turn calls [`get_the_content`](https://developer.wordpress.org/reference/functions/get_the_content/). Th

[2018-07-25 17:12] jasonbahl commented on #464
@ChaosExAnima thanks for digging into this. very helpful information.

[2018-07-25 18:01] jasonbahl commented on #464
I've got a fix coming that runs `setup_postdata()` centrally in WPGraphQL in the `DataSource::resolve_post_object()` method so any other fields that need the postdata setup appropriately can take advantage of it, instead of having to `setup_postdata` within individual post resolvers.

[2018-07-25 18:01] ChaosExAnima commented on #464
Awesome! Let me know if you need me to test.

[2018-07-25 20:21] jasonbahl commented on #462
@hughdevore fix this, bro.

[2018-07-25 20:39] #464 closed

[2018-07-25 21:05] jasonbahl commented on #464
@chaosexanima can you confirm this works the way you expect now?

[2018-07-26 16:41] #475 closed

[2018-07-26 16:45] jasonbahl commented on #435
@hughdevore so, I think for the core plugin we could support a nested `featuredImage` input on post mutations that accepts the ID of the featuredImage and sets the relationship during post creation/upates. . .but I don't think we should support uploading an image as a nested input.

I believe the most common scenario for most applications would be to have separate mutations for creating images and

[2018-07-26 16:54] rasmustaarnby commented on #475
@jasonbahl Great work :thumbsup: I forked the repo but you beat me to it. I'll make sure to pull and test when I'm back at the office tomorrow.

[2018-07-29 19:01] lejager opened #478 "comment author"
Remember, an issue is not the place to ask general questions. You can use [Slack](https://wp-graphql.slack.com) for that ([join here](https://wpgql-slack.herokuapp.com/)).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a _bug_, please be sure to include the following:
- [ ] A descriptive title
- [ ] An *isolated* way to repr

[2018-07-29 19:01] #478 closed

[2018-07-29 19:13] jasonbahl opened #479 "Add core user meta to the User Type"
Currently the core User type in the Schema doesn't include the user meta that is used by core, such as the fields here: https://github.com/WordPress/WordPress/blob/5c291d49de756db1dbfddfe3fd69709595800622/wp-includes/author-template.php#L116-L186

The User Type should include these core fields by default and support them in queries and `createUser` and `updateUser` mutations.

[2018-07-30 19:59] hughdevore commented on #435
Agreed, I think that's a solid solution, keeping the mutations separate will help with maintenance in the long run. I'll work on a PR for adding this.

[2018-08-04 05:37] kellenmace commented on #223
I submitted a PR that adds this mutation for registering new users. If WP's "Anyone can register" setting is false or the username/password is not provided, WPGraphQL responds with the appropriate error message. Otherwise, if "Anyone can register" is set to true and valid args were provided, the new user is registered and the user's details are included in the response.

I added tests to address w

[2018-08-09 17:21] almorgan opened #486 "Auth / accessing private posts"
Hey guys,

I was just exploring the JWT plugin and was just testing a few things out / seeing how it works.

By default though (without the JWT plugin) I seem to be able to access private posts through the graphql queries whilst the default wp-json returns a "rest_forbidden" -> "Sorry, you are not allowed to do that."

Even if I install a plugin such as "Force Login" which redirects every page to

[2018-08-09 17:25] jasonbahl commented on #486
@almorgan ya, we have some open issues to address this still.

#375 and #245 are 2 that come to mind.

[2018-08-09 17:26] jasonbahl commented on #486
@almorgan happy to chat with you more if you're interested in working on helping with the solution. 😄

[2018-08-09 17:33] almorgan commented on #486
Hey @jasonbahl

Thanks for the quick response.

Sure thing! quite new to graphql so can't promise anything but more than happy to have a look if you can point me in the right direction.

[2018-08-09 17:40] jasonbahl commented on #486
@almorgan are you in the wp-graphql Slack?

[2018-08-10 13:01] jasonbahl commented on #322
@themostcolm ya your functions.php or any file required by that should work.

[2018-08-15 10:53] kellenmace opened #491 "Add mutation to send password reset email"
The intent of this mutation is to mimic WP's `retrieve_password()` function that runs when the "Lost Password" form is submitted: https://cloudup.com/cDFg7wCo1ig

I envision it working like this:

1. The user is presented with a form field in which they can enter their username or password.
2. When the form is submitted, the `sendPasswordResetEmail` mutation is used and accepts that username/passw

[2018-08-16 15:27] kellenmace opened #493 "Add user password reset mutation"
I think it would be useful to add a mutation for reseting a user's password. I envision it working like this:

1. User submits a form to request a password reset and receives the email that contains a link to reset their password (see #491)
2. User clicks the password reset link that contains the key and username as `$_GET` params and is sent back to the headless WP frontend app (this can be done

[2018-08-16 15:30] kellenmace commented on #491
I submitted a PR for this feature.

Here is a gif showing the new feature in action –
![sendpasswordresetemail](https://user-images.githubusercontent.com/5306336/44218490-cc788300-a147-11e8-8ef7-908de758e214.gif)

[2018-08-17 15:30] jasonbahl opened #495 "Batch Requests don't pass data to do_graphql_request properly"
When Batch Requests come in, they are an array of queries/operations/variables.

The `do_graphql_request` action expects to be fired with the query, operation and variables for each query being resolved.

[2018-08-17 15:34] jasonbahl opened #496 "TermObjectConnectionResolver tries to make use of Post ID even if the source is not a Post"
When trying to output terms in a flat list, the TermObjectConnectionResolver attempts to `wp_get_object_terms( $source->ID )` even if the `$source` is not a Post.

This should only happen if `$source instanceof \WP_Post` to make sure we don't cause errors when the `$source` is another entity, such as a parent Term that doesn't have an `->ID` property.

[2018-08-17 18:11] #495 closed

[2018-08-17 18:11] #496 closed

[2018-08-20 14:03] kellenmace commented on #493
I submitted a PR for this 🕺🏼.

Here is a gif showing this new mutation in action:
![resetuserpassword](https://user-images.githubusercontent.com/5306336/44343219-5b90de00-a45b-11e8-9e69-4e8e2e8bf7d4.gif)

[2018-08-24 20:09] jasonbahl opened #500 "More explicit error message in `verify_user_role` in UserMutation"
During a WordPress.com VIP code review, it was suggested that the error message here be a little more clear on why the role could not be assigned:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/User/Mutation/UserMutation.php#L306

[2018-08-28 12:49] seimsel opened #503 "Excerpt is always of the first post"
I tried to get the excerpt of all my posts using this query:

[code]

The result was:

[code]

When I look at it with the normal Wordpress frontend the two post do **not** have the same content.

[2018-08-28 12:52] izzygld commented on #503
Try adding this to your function.php file:

`  add_action( 'do_graphql_request', function () {
    add_filter( 'get_the_excerpt', function ( $excerpt, $post ) {

      return !empty( $excerpt ) ? $excerpt : wp_trim_words( strip_shortcodes($post->post_content) );
    }, 10, 2 );
  } );`

[2018-08-28 13:17] jasonbahl commented on #503
Sounds like the global post isnt getting set properly as the posts are being resolved.

I’ll see what I can find out.

[2018-08-29 11:47] Hellenic opened #504 "postBy behaves in an inconsistent way"
Hey!

I came across a scenario in which postBy returns inconsistent responses. In short, if there's any filters for the post that modify the post's content, then `postBy(id:"cG9zdDox")` works correctly while `postBy(slug:"hello-world")`  does not.

We use WooCommerce Memberships plugin, which basically can be used to restrict post / page content to certain users or user groups. That plugin basical

[2018-08-29 13:17] jasonbahl commented on #504
Hey! Thanks for reporting this. I see what the issue is and should be able to get it fixed today.

Thanks!

[2018-08-29 14:07] hblackett opened #505 "Menus not returning ChildItems"
I've just run into an issue where childItems of a menuItems object were not returning.

<img width="1117" alt="screen shot 2018-08-29 at 14 57 37" src="https://user-images.githubusercontent.com/4136219/44792475-e8dedb80-ab9b-11e8-9deb-49ec7ed3d27d.png">

I changed the menu name in WP (from 'Header Menu' to 'ALW Menu') and suddenly the childItems work as expected:

<img width="983" alt="screen shot

[2018-08-29 14:33] izzygld commented on #505
i just came across the same issue.

i had to delete the `Header_menu` and remake the menu.

(i was using [see here](https://gist.github.com/izzygld/287aa48a90d170dabd9ba479196ea695)

But we should definitely look into it.

[2018-08-29 14:35] jasonbahl commented on #505
Wait, so you’re saying on a fresh install “Header Menu” does work as expected?

[2018-08-29 14:46] hblackett commented on #505
Ha, yes! Things are working as expected on a fresh install.

But on the localhost install where I found the issue, I tried deleting and rebuilding the menu and `childItems` would only work with some menu names ('Header Menu', 'Main Nav' and others didn't work; possibly conflicting with previous menus that I had deleted?).

[2018-08-29 14:48] izzygld commented on #505
i found this to be true too.

When renaming the menu and quering to the new menu name things went back to being good 👍

[2018-08-29 15:40] jasonbahl commented on #505
Strange. I'll see what I can find out. Curious if this is specifically an issue with WPGraphQL or an underlying issue. Thanks for reporting and thanks for the added details.

[2018-08-29 20:02] betweenbrain commented on #268
@jasonbahl is there any chance you can post an example of this? I can't seem to find one.

Thanks!

[2018-08-30 04:25] Hellenic commented on #504
Glad if that was any help. Thank you!

Also thanks for the great plugin! :)

[2018-08-30 16:46] jasonbahl commented on #504
@Hellenic I submitted a PR that I _believe_ will fix the issues you ran into.

Can you check out #506 and see if it's working better for you?

[2018-08-30 17:37] #504 closed

[2018-08-30 18:49] jasonbahl commented on #112
@epeli if you want to take a stab at caching/co ASTs that would be sweet. Then we can identify if we need a new hook or if existing hooks give us enough info at proper locations.

[2018-08-30 21:44] camsjams opened #507 "Is PostObjectConnectionArgs tagIn not implemented or possibly misnamed?"
##### version 0.0.29

### Steps to reproduce
[code]
Noticed it doesn't filter the posts by tag ids, just returns whatever items are available.

### Notes
It's mentioned here in the args specifications:
https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/PostObject/Connection/PostObjectConnectionArgs.php#L138-L141

But in the implementation I don't see it:
https://github.com/wp-graphql/w

[2018-08-30 21:45] jasonbahl commented on #507
@camsjams thanks for reporting this! I'll see what I can figure out. Happy to accept a PR if you get to it before me 😄

[2018-08-30 21:51] camsjams commented on #507
I'd be glad to make a PR - I figured it was a typo. Expect it shortly.

[2018-08-30 21:51] jasonbahl commented on #507
@camsjams looks like we need to just add `tagIn` to the mapping here:
https://github.com/wp-graphql/wp-graphql/blob/61786c27f1101aff61fd80167707dd056de94189/src/Type/PostObject/Connection/PostObjectConnectionResolver.php#L328

[2018-08-30 21:52] jasonbahl commented on #507
so this should have:

[code]

[2018-08-30 22:10] camsjams commented on #507
Add PR #508

[2018-08-31 08:28] Hellenic commented on #504
Hey @jasonbahl, just tried this out and works great. Thank you!

[2018-08-31 10:38] epeli opened #509 "graphql_request_data filter is not executed for POST requests"
It's only applied in this else-if

https://github.com/wp-graphql/wp-graphql/blob/aa69a640b6877292a84a710c7270ac7403680b95/src/Router.php#L359

and twice inside it

https://github.com/wp-graphql/wp-graphql/blob/aa69a640b6877292a84a710c7270ac7403680b95/src/Router.php#L367-L372

and

https://github.com/wp-graphql/wp-graphql/blob/aa69a640b6877292a84a710c7270ac7403680b95/src/Router.php#L398-L403

Which

[2018-08-31 15:17] jasonbahl commented on #509
@epeli ya, this was a mistake for sure. Thanks for pointing it out!

[2018-09-03 11:46] izzygld opened #510 "menu item type (post, page, custom-link, category)"
How do we Query the MenuItem for its `post meta` (i.e. page, post, custom link...) ?

I see it being declared [here:](https://github.com/wp-graphql/wp-graphql/blob/develop/tests/wpunit/MenuItemQueriesTest.php#L19)

[2018-09-04 14:33] kellenmace opened #511 "Support User Taxonomies"
If you register a taxonomy and assign it to the User object, it currently isn't supported by WPGraphQL.

When I register a User taxonomy and try to add WPGraphQL support by passing in the `show_in_graphql`, `graphql_single_name` and `graphql_plural_name` args like I would for any other taxonomy, I get:
[code]

**Steps to reproduce:**
1. Activate a plugin like this one to set up User taxonomies: ht

[2018-09-04 14:49] jasonbahl commented on #511
Good catch @kellenmace!

[2018-09-04 15:18] kellenmace commented on #511
Related WP core ticket: https://core.trac.wordpress.org/ticket/31383

Sounds like currently, `WP_User_Query()` does not support finding users with one or more tax terms. If the taxonomy only applies to the `user` object and nothing else, you can do:
`$users = get_objects_in_term( $term_id, $taxonomy );`
...but if the tax term is applied to other object types as well, then you have to run the line

[2018-09-04 17:42] jasonbahl commented on #503
I beleive this was fixed by #504 but need to confirm

[2018-09-04 18:53] chriszarate commented on #510
The "type" of a WP nav menu item is stored in the post meta key `_menu_item_type` and describes whether the menu item points to a post or a term or is a custom link. In WPGraphQL-speak, it describes the type of the object that is connected to the menuItem; in the query below, it informs the `__typename` of the `connectedObject` field:

[code]

You can see that the meta key value of `_menu_item_typ

[2018-09-04 19:56] CodeProKid commented on #288
@jasonbahl this kind of goes with #246 and #327. Do you want to keep this issue with that, or maybe create a different one?

[2018-09-04 20:07] CodeProKid commented on #263
@jasonbahl this seems like something that should happen relatively soon. I know we have talked about changing the shape of the single object queries pretty radically.

Also, fwiw I think the args for getting a single object should be limited to those that are considered "unique" for the object. I know that technically a lot of them aren't, but querying by something like slug (aka guid) seems legit

[2018-09-04 20:07] CodeProKid commented on #292
I believe this already works. Candidate for closing.

[2018-09-04 20:12] CodeProKid commented on #283
I think I probably agree with not adding this. Doesn't really make sense for the client to control something like that, and if someone really wants to do this for a request they could do so fairly easily. Going to close this issue.

[2018-09-04 20:12] #283 closed

[2018-09-04 20:12] CodeProKid commented on #280
I'm curious if this is something you still really want to do @jasonbahl

[2018-09-04 20:13] jasonbahl commented on #292
This does indeed already work.

Here it is in action:

![graphql-create-post-with-categories](https://user-images.githubusercontent.com/1260765/45055314-afe7b080-b04c-11e8-98d7-4b52f7871fea.gif)

[2018-09-04 20:13] #292 closed

[2018-09-04 20:15] jasonbahl commented on #510
@chriszarate thanks for responding to this.

@izzygld does that cover what you were looking for? Can we close this or do you believe there's something to be addressed still?

[2018-09-04 20:17] jasonbahl commented on #288
I'll close this and track in #327

[2018-09-04 20:17] #288 closed

[2018-09-04 20:17] jasonbahl commented on #327
See: #288 and #246 for related info. Closing them and consolidating to this ticket.

[2018-09-04 20:18] jasonbahl commented on #246
closing this and tracking on #327

[2018-09-04 20:18] #246 closed

[2018-09-04 20:18] CodeProKid commented on #278
Yeah, this is an interesting one. Mostly because in theory you should be able to search across different post_types, but not all types, but in GQL each post_type is it's own type 🤔

I think there are a few ways we could go about this... One of which would be to add a new `Search` query like:
[code]
where the `types` arg is an enum type of searchable post types.

My first thought is that it would j

[2018-09-04 20:20] CodeProKid commented on #278
Also curious if this is something the REST API can do. To my knowledge there's no instance where searching across multiple types is used in WordPress core. Only custom implementations, so that could drop the priority on this I think.

[2018-09-04 20:21] jasonbahl commented on #278
Similar to @cr101 initial request, we'd need to return the results as a union, as they could be of any type, like so:

[code]

[2018-09-04 20:35] CodeProKid commented on #121
@jasonbahl one pattern that I've commonly seen is that you use a class that extends the testing library, and put your utils in there, then your test class extends that intermediary class that contains the utils, and extends the testing framework. This way your utils are only included for the tests, but you don't have to go and explicitly include a PHP file in each of the tests.

[2018-09-04 20:37] jasonbahl opened #512 "WP-CLI Schema Validation Command"
GraphQL PHP has a handy Schema Validation function intended for use in CLI tooling.

We should add a `wp graphql validate` command.

See: https://webonyx.github.io/graphql-php/type-system/schema/#schema-validation

[2018-09-04 20:38] jasonbahl commented on #121
@CodeProKid ya, that makes a LOT of sense. 😄

[2018-09-04 20:38] jasonbahl commented on #121
Just need to figure out _what_ things we've been doing over and over and over again and add some helpers to make it easy

[2018-09-04 20:40] CodeProKid commented on #512
@jasonbahl this sounds tasty. I'll take a look at this if I have some time.

[2018-09-04 20:41] CodeProKid commented on #503
@jasonbahl I wonder if we should maybe use this ticket to write a test that asserts this does not happen? Would be pretty easy to do.

[2018-09-04 20:42] jasonbahl commented on #503
Ya, good call.

[2018-09-04 20:42] CodeProKid commented on #155
Lot's of good discussion and potential here. I think this also relates to -> https://github.com/wp-graphql/wp-graphql/issues/410 somewhat. It would be a good way to implement it at least, by adding an unescaped & escaped return for each object.

[2018-09-04 20:43] CodeProKid commented on #143
@jasonbahl was this added in #140 ? Can't tell because the PR is gigantic and my browser won't load it 😆

[2018-09-04 20:44] jasonbahl commented on #143
Was not. This issue was created 3 days after that PR, I believe in response to some non-DRY things happening in that PR

[2018-09-04 20:48] CodeProKid commented on #118
FWIW I'm a big proponent of using `register_meta` (or whatever function is being used) to add meta to the schema dynamically. I'd be in favor of keying off the `show_in_rest` setting, or possibly keying off our own. The time seems right for this.

[2018-09-04 20:50] jasonbahl commented on #118
we tried keying off `show_in_rest` before, but ended up breaking some things and had to revert.

I think using an explicit `show_in_graphql` is still ideal to make sure users are in control of how their data is exposed in various APIs, etc

[2018-09-04 21:01] CodeProKid opened #513 "Theme mods queries and mutations"
This is mainly to track #489. @kidunot89 did some great work on this, and I just want to make sure it gets tracked, and merged into the next release.

[2018-09-04 21:02] CodeProKid commented on #379
I think it just changes the UI. It doesn't actually prevent an update mutation from happening.

[2018-09-04 21:06] jasonbahl commented on #379
I think if a user submits a Mutation, during the execution of the mutation the EditLock should be checked, and if it's determined that another user owns the lock, we should prevent the mutation from proceeding.

In the age of headless WP, a user could be editing from any number of clients, not _just_ the WP-Admin, and until we figure out how to add real-time UI updates across clients, the server s

[2018-09-05 13:41] izzygld commented on #510
I Concur.
In the mean time i am using a filter by __typename on the consuming side.

Thanks @chriszarate👍

[2018-09-05 13:41] #510 closed

[2018-09-06 16:53] jasonbahl commented on #327
^ reopened this as this is the Issue we're tracking #288 and #246 on. Accidentally closed this when I intended to close those ones.

[2018-09-06 18:03] jasonbahl commented on #511
@kellenmace we've decided to close this, as the core WP-Admin and any core Twenty-* theme doesn't make use of this feature.

I definitely think this would be a RAD feature for use with GraphQL, but let's start by approaching it from a plugin where it filters in the necessary functionality where applicable.

[2018-09-06 18:03] #511 closed

[2018-09-07 01:46] kellenmace commented on #511
Thanks @jasonbahl.  The more I thought about this, I came to the same conclusion. Especially since core doesn’t officially support it. 👍🏼

[2018-09-07 15:34] hwlmatt opened #514 "Backticks in field descriptions"
**The Question / Request**
What is the intended purpose of using backticks inside the description fields?
If it is just to show emphasis or quotations, since the single quote already creates a literal, double quotes or no quotes would be fine, yes?

Or are the backticks creating a literal inside the single quote literal for some other purpose I am unaware of?

Perhaps a style guide determination f

[2018-09-07 15:43] jasonbahl commented on #514
@hwlmatt thanks for the super detailed issue!

I can't recall any specific reason to include backticks inside descriptions.

Can you point out the 35 instances you came across? Happy to check them out and see if we can simply replace them. My guess is that a single or double quote would be fine indeed.

[2018-09-07 15:53] jasonbahl commented on #514
@hwlmatt this is the only issue that came to mind related to this: #364

But it looks like escaped double quotes should work fine.

I'm working on a pretty big release, so I can include this change in that release. Hoping to have a PR today for it. 😄

[2018-09-07 16:02] hwlmatt commented on #514
Cool. And yeah, I can list off the instances I found. Let me track them all down real quick and I'll post file/line as I can.

[2018-09-07 16:29] CodeProKid commented on #514
I think these characters are here because we simply copy & pasted from the WordPress codex / Developer reference for a lot of these. It can probably be cleaned up.

[2018-09-07 16:38] jasonbahl commented on #514
@hwlmatt I believe @CodeProKid is correct.

I just updated all cases that I found in the PR I'm working on, so this will be fixed as part of the PR for #327

[2018-09-07 16:40] jasonbahl commented on #514
Should probably do a general Description Audit at some point. Reading through some of these descriptions makes me think a lot of them could be written better . . . another symptom of copy/paste from the Codex which was not written with WPGraphQL in mind.

[2018-09-07 16:43] hwlmatt commented on #514
@jasonbahl
Cool. If you want a double check, I believe the unique values are:
[code]

And the locations and context by file:

**TermObjectConnectionArgs.php**

[code]
###

**/src/Type/Comment/CommentType.php**

[code]

###

**src/Type/PostObject/Mutation/**

[code]
###

**src/Type/PostObject/PostObjectType.php**

[code]

###

**src/Type/PostType/PostTypeType.php**

[code]

###

 **src/Type/Taxonom

[2018-09-07 16:45] hwlmatt commented on #514
I got the number 35 from the output schema, so there are a lot of duplicated occurrences, of course.

[2018-09-07 16:45] jasonbahl commented on #514
@hwlmatt thanks! This looks like it matches what I found!

Assuming the PR I'm about to drop doesn't break everything (it might, lol) this will be fixed in the next release 😄

[2018-09-07 17:01] hwlmatt commented on #514
@jasonbahl Also, regarding the similarity with the issue #364 you mentioned above, curious if Apollo Server 2.0's use of graphql-tools and the backticks (and non-escaped quotes) are the source of an issue I had previously with schema introspection failing on remote schema.
In any event, I would consider this merely an elaboration on the issue in #364 .

[2018-09-11 16:34] CodeProKid commented on #278
@jasonbahl you're right, it will search across multiple types: https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/class-wp-query.php#L1791-L1797

[2018-09-11 17:41] CodeProKid commented on #223
This was released here -> https://github.com/wp-graphql/wp-graphql/releases/tag/v0.0.33

[2018-09-11 17:41] #223 closed

[2018-09-11 19:29] strootje commented on #430
Not sure if this is related, but look in the file:
https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/PostObject/Connection/PostObjectConnectionResolver.php#L235

If shows you the "hasNextPage" and "hasPreviousPage" are set.
* if 'first' is set: "hasPreviousPage" will always be false
* if 'last' is set: "hasNextPage" will always be false

I've been struggling with the WP_Query object b

[2018-09-11 19:50] jasonbahl commented on #430
@strootje so the way this is _supposed_ to be working is that when you make a query using `first` or `last` arguments, GraphQL uses WP_Query to over-query by 1 item.

So: `{ posts( first: 10, after: "yourcursor"  ) { ...postsFields } }` will translate into a `WP_Query( 'posts_per_page' => 11 )` query

Then, if the number of items returned ( `count( $wp_query->posts )` ) is more than the number req

[2018-09-11 20:18] strootje commented on #430
@jasonbahl Thanks for the explanation. I didn't know about the Relay spec.

[2018-09-13 21:31] JesseRWeigel commented on #214
Has anyone been able to get the Post Object field working? I am trying to implement the solution from @nikosolihin but I can't get it to work. I think my php skills may not be good enough, but it may help to see other examples.

[2018-09-18 15:02] justinwhall commented on #326
This would be awesome :)

It would facilitate building a Gatsby client route to preview posts. I'm assuming something like the following would retrieve the most recent revision:

[code]

[2018-09-18 15:16] jasonbahl commented on #326
@justinwhall have you used Gatsby 2.0 with WPGraphQL?

I haven't had a chance to work with Gatsby 2.0, but it looks like you can use any GraphQL source now, eh?

[2018-09-18 19:08] kidunot89 opened #517 "ConnectionResolver doesn't work non-WP objects or arrays"
While trying to add define a custom connection by extending `WPGraphQL\Data\ConnectionResolver`. I hit a snag that made my jump through a few unnecessary hoops to get it to work.

## Issues
1. [`get_array_slice`](https://github.com/wp-graphql/wp-graphql/blob/aa69a640b6877292a84a710c7270ac7403680b95/src/Data/ConnectionResolver.php#L96) - returns an empty array if the `$query` isn't and `object` and

[2018-09-21 01:27] kidunot89 opened #518 "Subcategories aren't resolved by DataSource::resolve_term_objects_connection()"
Only top level terms are resolved by `TermObjectConnection`. You can retrieve them from the Parent Terms `children` field but if you set a post to a sub-category it isn't seen by the `PostObjectType`.

[2018-09-21 02:03] jasonbahl commented on #518
AFK, but there’s an argument on that field you can use to output in a flat list, and another to include children.

If you look in GraphiQL you should be able to find the args. I can help tomorrow if you can’t figure it out.

[2018-09-21 02:12] jasonbahl commented on #518
Check my notes here: https://github.com/wp-graphql/wp-graphql/issues/381

[2018-09-21 02:39] kidunot89 commented on #518
isSelected is not showing up in graphiQL as an argument or a field. I'll go back over it later.

[2018-09-21 02:48] jasonbahl commented on #518
Check the latest comment with an example

https://github.com/wp-graphql/wp-graphql/issues/381#issuecomment-363920009

[2018-09-21 02:51] jasonbahl commented on #518
Or check the notes on the PR

https://github.com/wp-graphql/wp-graphql/pull/387

[2018-09-21 02:57] kidunot89 commented on #518
Got it.
[code]

[2018-09-21 14:30] ElisaMassafra opened #520 "Menu item connection gets childItems only for the first menu"
If a menu item has child items, the connection resolves them only for the first menu but for the follwing menus the childItems nodes are always empty

[2018-09-21 14:42] izzygld commented on #520
@elisaMassafra I think it’s the same issue as issue #505.
 (https://github.com/wp-graphql/wp-graphql/issues/505)

[2018-09-21 14:56] ElisaMassafra commented on #505
In my experience it works only if it's the first menu in the list. I see that it always returns the items for the first menu (MenuItemConnectionResolver -> probably line 46, where it always returns the childItems for $menus[0]->slug from $menus?

[2018-09-21 19:01] ElisaMassafra commented on #505
Created a pull request to fix the issue
 https://github.com/wp-graphql/wp-graphql/pull/522

[2018-09-21 19:43] myleshyson opened #523 "How to add a Child WPObject Type on multiple post types"
I'm trying to add a Yoast WPObject type to both page and post types. However if I try to add the same function to both actions, then I get an internal service error warning from the Graphql client. Here's what I'm trying to do.

[code]

And here is my yoast type class.

[code]

Am I just going about this wrong or is this a bug. Ideally I would like a way to add a custom type like this to all post

[2018-09-21 19:49] jasonbahl commented on #523
@myleshyson so the issue is that you're referencing a `new YoastType` multiple times. You must reference the same instance of that Type if you reference it many times.

You can see how we're addressing that in the `Types` class and how when you reference something like `Types::user()` it returns the already referenced Type definition instead of creating a new instance of it.

So, you could change

[2018-09-22 17:47] myleshyson commented on #523
Awesome thanks! Worked great. Though just for anyone else reading this, I couldn't use the "use" keyword in my functions.php, so I had to do something like this.

[code]

[2018-09-22 17:47] #523 closed

[2018-09-25 21:48] mngi-arogers opened #527 "Add support for WP_MULTISITE in Dockerized tests"
At one point, tests ran multisite configurations when the environment variable, `WP_MULTISITE=1`, was set: https://github.com/wp-graphql/wp-graphql/pull/191#issuecomment-326720630

Since the introduction of Docker to run the tests, the tests don't run multisite configurations anymore, but they should. For example, this should run the functional tests in a multisite configuration (this example is b

[2018-09-27 16:39] jasonbahl opened #528 "generalSettings.startOfWeek throwing an error"
The following query:

[code]

Returns an error:

[code]

[2018-09-27 16:40] jasonbahl opened #529 "get_post_thumbnail_id() returns a empty string '' when no image is found."

[2018-09-29 13:33] amay commented on #225
@jasonbahl @CodeProKid did either of you end up writing any php code to implement the [tracing extension](https://github.com/apollographql/apollo-tracing) for a wordpress install? I'm investigating using apollo-engine for response caching and getting tracing info back is a necessary step.

[2018-09-29 13:38] jasonbahl commented on #225
@amay check out https://github.com/wp-graphql/wp-graphql-insights

It has tracing, and if you have query monitor active will provide helpful query logs as well.

It doesn’t yet have support for engines Cache Control stuff. Would be interested in adding support at some point though.

[2018-10-01 12:13] adioe3 commented on #528
I'd like to take care of this, will prep a PR this week.

[2018-10-01 15:06] jasonbahl commented on #528
@adioe3 thanks! let me know if you need to discuss anything while you're working on it.

[2018-10-01 16:42] kidunot89 opened #532 "New comment mutations needs to use the global relay id"
Comment mutations relies on the post-object's `postId` field to identify the parent object that is being add to. It should probably use the relay global id of the post-type object or comment object it being added on. As it is know you currently can't add comments on comments either.

[2018-10-01 16:48] jasonbahl commented on #532
@kidunot89 ya, I was exploring having mutations accept _either_ a Global Relay ID _or_ the Database ID.

The `ID` Type in GraphQL will accept input as a String or an Integer, so we _should_ be able to declare any ID inputs as the `ID` Type, and then input could look accept either type of ID and we would just validate one way or the other. . .something to this tune (total pseudo code):

[code]

[2018-10-01 16:58] kidunot89 commented on #532
That's what I was thinking. I think its bad practice to cart the `postId` on all that post's comment components just to create sub-comments, which what we have to do now, unless you want to keep it in a store which I also think is bad practice.

[2018-10-02 12:17] tokewf opened #533 "Query'ing a number of posts in a category falsely returns hasNextPage: true if number of posts queried is equal to total number of posts in category"
## Bug

I have a WP installation with some categories, each category containing a number of posts. A category with an ID of `Y2F0ZWdvcnk6Mw==` (GraphQL ID, not WP post ID) contains 4 posts.

If I query said category for posts via this query (simplified):
[code]
—where the value for `first` happens to equal the total number of posts in the category, I get:
[code]
(Tested in ChromeiQL). Even though

[2018-10-03 14:18] blocka commented on #505
Hopefully not too late for this: but in my opinion, it is better to return all the menus items flattened rather than nested. There is no way, with graphql, to return an infinitely nested structure recursively....you would have to know, for example, that there are three levels of menus, for example.

Returning them flat is trivial, as that's the raw results from get_nav_menu_items, and it's not dif

[2018-10-03 16:29] jasonbahl commented on #505
@blocka hey! It's definitely not too late!

We can actually support both. We support both for Categories via the `shouldOutputInFlatList` argument.

You can read more about it here: https://github.com/wp-graphql/wp-graphql/pull/387#issue-167839697

I think it would be beneficial to support both options. I think there are cases where folks will want to be very explicit about how they query their me

[2018-10-03 16:32] jasonbahl opened #534 "support `shouldOutputInFlatList` for menuItems"
@blocka made a great suggestion that menu items should be queryable in a flat list, allowing the client to determine how to output them in a hierarchy. (see https://github.com/wp-graphql/wp-graphql/issues/505#issuecomment-426654881)

The same discussion was had about hierarchical terms (categories, etc), and we implemented an argument `shouldOutputInFlatList` that when set to true will output all

[2018-10-03 16:33] jasonbahl commented on #505
@blocka created an issue to track this: https://github.com/wp-graphql/wp-graphql/issues/534

I also labeled it #hacktoberfest should anyone want to work on it and [get a t-shirt from Digital Ocean](https://hacktoberfest.digitalocean.com/) 😄

[2018-10-04 17:38] jasonbahl commented on #109
related to #532

[2018-10-09 00:08] achataing commented on #423
Good day! Any updates on the subject? I am currently starting a new project which uses react-native react nativebase and apollo client... The way things are working are great but I am missing the subscriptions from this repo... Is there any guidelines on how one could start implementing such features? thanks in advanced

[2018-10-11 11:41] zilehuda commented on #528
is this open ?

[2018-10-11 13:19] jasonbahl commented on #528
@zilehuda Yes. There have not been any pull requests to address this yet.

[2018-10-14 18:58] TomerPacific commented on #479
@jasonbahl ,
I would like to take this issue on and get some pointers on where to begin.

[2018-10-14 19:16] jasonbahl commented on #479
@tomerpacific I’m available tomorrow to chat on slack if that works. I believe I have a branch locally where I started some work on this. Will have to check.

[2018-10-15 13:54] jkhaui commented on #321
Did you see this? A couple of smart chaps seem to have done it (or started). Next we need ACF for GraphQL!

[2018-10-15 16:13] TomerPacific commented on #479
@jasonbahl ,
I am pretty certain there is a massive time difference between us, so a chat will not be desirable for me or you. Is there any way to explain it through mail?

[2018-10-20 14:49] tryvin commented on #528
@jasonbahl Steps to reproduce this? The tests units say it's all ok, no issues with the generalSettings > startOfWeek

[2018-10-21 05:36] davidatwhiletrue opened #543 "A couple of tests depend on having Hello Dolly plugin installed"
When performing the Unit Tests, in particular `wpunit` tests, there are two tests that are currently failing if the plugin `Hello Dolly` is not present in the WordPress installation.

While it is not a big issue, output of phpunit can be improved adding a message in the assertion of those tests to suggest to check presence of `Hello Dolly` plugin.

I'm preparing a PR to add these assertion message

[2018-10-21 06:06] davidatwhiletrue opened #545 "Indicate in the README how to run specific tests"
In the README doc it is shown how to run all the tests and a group of tests (acceptance, functional, wpunit). It'd be also useful to show how to run only a class and only a test within a class.

Also, the README talks about `unit` group of tests but it doesn't exist.

I'm preparing a PR with these changes in the README.md

[2018-10-21 08:30] davidatwhiletrue commented on #528
Hello, I'm able to reproduce this if you set in your WordPress settings Sunday as first day of week. For others, like Monday, it is working fine.

Choosing Sunday leads to option `start_of_week` get value `0`.

In SettingType.php Ln136, value `0` is substituted with empty string.

I'm preparing a PR to solve this.

[2018-10-21 13:55] #543 closed

[2018-10-21 13:55] #545 closed

[2018-10-21 13:57] jasonbahl commented on #528
Thanks @davidatwhiletrue!

[2018-10-21 18:38] malfborger commented on #259
@jasonbahl What's the status here? I've got a multisite platform that i'd love to set up with gatsbyjs but I guess that I need it to be up and running with one enpoint with the various sites posts etc.

[2018-10-21 19:07] jasonbahl commented on #259
@malfborger I don’t personally use multisite often so it hasn’t been a super high priority for me. Would love to collaborate with folks that do use multisite often to get an idea of what the vision for multisite support should be.

If you have thoughts on what you’d like to see, even initially I’d love to hear more.

[2018-10-24 17:24] penjelajah02 opened #550 "error line 24"
this is error from code line 24

[2018-10-24 17:32] jasonbahl commented on #550
Please provide relevant info

[2018-10-24 17:32] #550 closed

[2018-10-25 13:45] jasonbahl commented on #259
@malfborger would Slack work? We have a WPGraphQL Slack already.

You can join here if you’re not already in: https://wpgql-slack.herokuapp.com/

[2018-10-26 09:29] ivanjuras commented on #214
Hey, guys, just dropping by.

It would be amazing if we could get this working. ACF is coming out with Gutenberg fields now, so being able to fetch stuff with GraphQL will be essential.

[2018-10-27 00:49] cr101 commented on #214
ACF 5.8 will allow developers to create Gutenberg custom block types and use any ACF fields within your block. `Gutenberg Blocks` save their data within the `post_content` value (as JSON within HTML comments) while `Metaboxes` save data as “meta” (individual bits of data connected to the post via the `wp_postmeta` table).

Gutenberg Blocks are no good if you want to use a plugin like [MetaBox Cust

[2018-10-27 01:06] jasonbahl commented on #214
@cr101 I would LOVE if Gutenberg had an actual server side field API. I’ve been advocating for it for quite a while.

See: https://github.com/WordPress/gutenberg/issues/2751

And:
https://make.wordpress.org/mobile/2018/03/21/gutenberg-on-mobile/#comment-19383

I’d be down to expose the work ACF is doing in GraphQL, but unfortunately Gutenberg Core still has no respect for the WordPress server maki

[2018-10-27 18:59] Albert221 commented on #274
I'd like to work on this issue.

[2018-10-27 19:49] Albert221 commented on #274
I'm unable to setup the environment. I'm doing steps given in the README, but there's a `WPDb module is not configured` that keeps me from doing it.

So, I've cloned the repo into my `wp-content/plugins` directory, then ran `bin/install-wp-tests.sh`, but turns out I need a WP-CLI in my `$PATH`, so I installed it, I ran it and it has finished. Then, I wanted to run the `codecept`, but I had to `com

[2018-10-29 16:34] jasonbahl commented on #274
@Albert221 ya, documentation for testing isn't the best. I'll work on updating it.

If you're running the tests outside of Docker, check the instructions here: https://github.com/wp-graphql/wp-graphql#local-environment-configuration-for-codeception-tests

You'll need to override the config.yml to make sure your db user/pass for your local environment are configured properly.

[2018-10-29 17:49] jasonbahl commented on #534
Thinking more about this, we should probably support this behavior for _all_ Post Type Connections too 🤔

Like if I were querying a hierarchical Post Type, I may want to get all items, regardless of their hierarchical level in a flat list, then do what I want with them in the client

[2018-10-30 19:17] jasonbahl opened #557 "WPGraphQL Tax Query and Meta Query plugins not compat with v0.1.0"
Some changes to v0.1.0 of WPGraphQL are breaking for the following extensions:

- [ ] WPGraphQL Meta Query extension
- [ ] WPGraphQL Tax Query extension

These plugins should undergo a refactor to work with v0.1.0

[2018-10-31 05:07] jasonbahl commented on #533
resolved by #537

[2018-10-31 05:07] #533 closed

[2018-10-31 05:11] jasonbahl commented on #514
closed via #558

[2018-10-31 05:11] #514 closed

[2018-10-31 05:12] jasonbahl commented on #520
closed by #524

[2018-10-31 05:12] #520 closed

[2018-10-31 05:13] jasonbahl commented on #505
closed by #524

[2018-10-31 05:13] #505 closed

[2018-10-31 17:03] jasonbahl opened #561 "Broke a couple tests during v0.1.0 release..."
The v0.1.0 release broke a couple tests. Need to follow up and make appropriate changes.

[2018-11-01 16:17] jasonbahl commented on #561
closed by #568

[2018-11-01 16:17] #561 closed

[2018-11-01 17:47] jasonbahl opened #569 "APIGen deploys are causing Travis to fail"
Currently we send APIGen docs to another repo when there are PRs to master.

This is currently failing.

We should either fix it or remove this.

[2018-11-01 18:40] myleshyson opened #570 "Error Unknown type MenuLocation after updating to 0.1.1"
I have a query that needs to get MenuItems, and after updating to 0.1.1 I get the following error

`Unknown type MenuLocation`

Here's my graphql query

[code]

[2018-11-01 18:47] jasonbahl commented on #570
@myleshyson thanks for reporting. I’ll check it out. Feel free to submit a PR if you get to it before I do.

[2018-11-01 18:55] jasonbahl commented on #570
@myleshyson change your query to

`$location: MenuLocationEnum` and see if that works.

I believe I noted the change of some types in the release notes.

[2018-11-01 20:18] myleshyson commented on #570
Thanks! I think I just misunderstood the release notes.

[2018-11-06 01:03] jasonbahl commented on #479
@jkhaui you're not wrong that documentation is lacking 😢

I'm trying to get documentation updated for the new v0.1.0 version we released last week that adds new `register_graphql_*` functions that make it easier than ever to extend the GraphQL Schema.

for your situation, you'd want to decide if one of the `Types` in the Schema already matches the shape of what you want to return for your `profile

[2018-11-06 14:35] jasonbahl opened #573 "Children field missing on TermObjects"
During the v0.1.0 refactor, the `children` field on TermObjects didn't get converted properly. In fact, it's sitting there commented out right now 🤦‍♂️

See: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/Object/TermObject.php#L122-L123

We need add the field back as a proper connection.

[2018-11-06 21:06] jasonbahl commented on #573
closed by #574

[2018-11-06 21:06] #573 closed

[2018-11-06 21:08] jasonbahl commented on #327
closed by #558

[2018-11-06 21:08] #327 closed

[2018-11-06 21:11] CodeProKid opened #575 "Write test for querying term children"
Seems that we broke querying term children with the 0.1.0 release. See #573. We should write a test for this query so we don't end up breaking this again in the future, since this seems to not be covered by existing tests.

[2018-11-06 21:19] CodeProKid commented on #462
This was fixed in #530

[2018-11-06 21:19] #462 closed

[2018-11-06 21:19] CodeProKid commented on #569
We decided that we would remove this from the build process. @jasonbahl doesn't think it adds much value, and we can add it back in the future if we miss it.

[2018-11-06 21:20] CodeProKid commented on #569
We also may want to just kill this repo as a part of this -> https://github.com/wp-graphql/wp-graphql-api-docs

[2018-11-06 21:33] jasonbahl commented on #430
@izzygld wanted to follow up and see if this is still an issue or if we can close this?

[2018-11-06 21:45] CodeProKid opened #576 "Write test to make sure first post excerpt is not repeated throughout list of posts"
This comes out of #503. We need to write a test to assert this won't happen again in the future.

[2018-11-07 14:10] jkhaui opened #577 "Feature Request: Orderby Rand"
Hey,

Can we add the 'orderby: RAND' parameter to the core PostObjectsConnectionsOrderByEnum type? Right now i've very easily achieved this by appending the following to the graphql_enum_type array:

        'RAND' => [
			'value'       => 'rand',
			'description' => __( 'Order randomly', 'wp-graphql' ),
		],

And here's an example query that appears to successfully return a list of posts in rando

[2018-11-07 14:14] jasonbahl commented on #577
Hey, orderby rand can cause performance issues so we’ve left it out intentionally.

Of course the ability to filter in support will remain for those that want to expose it in their API

[2018-11-07 14:17] jasonbahl commented on #577
You can use this filter to add it: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/WPEnumType.php#L66

[2018-11-07 14:17] #577 closed

[2018-11-07 14:36] izzygld commented on #430
all is good.

[2018-11-07 14:36] #430 closed

[2018-11-08 04:16] galaxiecruzin opened #578 "WPInputObjectType::construct doesn't call prepare_fields"
I'm not sure if there is a new way to register input fields with the type registry implementation, so I'm testing registering an input type "lang" to filter posts by language. The following snippet worked prior to 0.1.0. To reproduce add this snippet as a plugin

[code]

Then run a query like
[code]
See https://gist.github.com/epeli/87909f92b19a216dc7f5b2b6c204ad31

While digging into this I found

[2018-11-08 06:04] jasonbahl commented on #578
@galaxiecruzin hey, thanks for reporting!

ya, there's a new API for registering Types and Fields. It's fairly backward compatible, but there definitely are some breaking changes.

Here's the recommended way to add fields now (sorry, [the docs](https://www.wpgraphql.com/docs/api-reference/) are still incomplete and have been slow to get together):

[code]

I'll see if there's another issue to addr

[2018-11-08 18:42] thisischrisj commented on #214
For anyone that wants a quick win with repeater / flexible content type fields:

Add this to functions.php
[code]

And convert back on your frontend:
[code]

Not really in the spirit of graphQL but it'll do the job if you just want the data and not object connectivity thereafter

[2018-11-08 18:56] jasonbahl commented on #214
Hey all, I spent some time on the WPGraphQL-ACF plugin last night and made some good progress!

I think I have a pretty good vision for getting support for all the core ACF fields in the very beast future (hopefully within 2 weeks).

Stay tuned 😀

[2018-11-12 08:37] jkhaui commented on #479
Hey,

So I've successfully exposed some custom GraphQL fields for plugins that add post, term and comment meta to the WP database.

User meta is still proving tricky though. Imo it's because the custom user meta-keys I'm trying to expose have an array of fields for their meta-values (e g. Profilepic URL: "", profilepic description: "", etc.), rather than a single scalar type (e.g. String).

In thi

[2018-11-23 15:47] jasonbahl opened #582 "Fix logo in README"
The logo in the README is broken. Fix it.

[2018-11-23 16:20] #528 closed

[2018-11-23 18:33] #493 closed

[2018-11-23 19:54] #491 closed

[2018-11-23 20:53] jasonbahl opened #587 "Implement Deferred resolvers for connections"
Currently the only place that Deferred Resolvers are supported are for Authors on Posts, ie:

[code]

Where in this case only one query will be run to get all the author(s) connected to all posts returned, rather than one query per post to get its author.

We should implement deferred resolvers for other connections.

For example, the current query would execute 10 WP_Queries (one for each tag) to

[2018-11-24 15:57] bdevo1896 commented on #214
Hey Jason! What's the progress on that plugin looking like? Very interested to know!

[2018-11-24 16:33] bdevo1896 commented on #214
Can't wait! Thanks for getting back to me so quickly! This is such a great plugin already!

[2018-11-25 02:05] towfiqi commented on #214
Great to hear that! :)

[2018-11-25 15:03] jasonbahl opened #589 "Expose source on MediaItems with size arg"
We should expose a `source` field on the MediaItem type.

See:
https://wp-graphql.slack.com/archives/C3NM1M291/p1543157628487000?thread_ts=1543144916.469700&channel=C3NM1M291&message_ts=1543157628.487000

[2018-11-27 18:46] chriszarate opened #590 "Implement persisted queries"
Persisted queries allow clients to optimistically send a hash of the query instead of the full query.

From [apollo-link-persisted-queries](https://github.com/apollographql/apollo-link-persisted-queries#how-it-works):

While there are uplink network savings, the main benefit of persisted queries is in moving to the HTTP `GET` verb. This opens up the possibility of caching query responses at the ed

[2018-11-28 20:44] andrewhl opened #592 "visiting /graphql yields ERR_EMPTY_RESPONSE with fresh install on new wordpress"
Had this working a few days ago. Then it stopped working suddenly. I made no change, except to update Gutenberg to version 4.5.1. I'm running Wordpress 4.9.8 with the default theme, and only a single post written using Gutenberg.

Using wp-graphql version 0.1.2.

And I'm using the `Post name` permalinks format (not the default):

`http://test.mysite.org/sample-post/`

I get the following error whe

[2018-11-28 20:45] jasonbahl commented on #592
@andrewhl can you try without Gutenberg? Gutenberg is known for breaking a lot of things. . .wouldn't surprise me a bit if it were the culprit here as well

[2018-11-28 20:47] jasonbahl commented on #592
@andrewhl do you have `WP_DEBUG` or `WP_DEBUG_DISPLAY` set to true? If so, maybe turn those off and try again as well?

[2018-11-28 20:49] andrewhl commented on #592
@jasonbahl I just completely deleted Gutenberg and any posts I created with it. I changed my permalinks settings as well just to make sure it wasn't that. No change. I'll take a look in the debug settings, but I didn't do anything to turn those on so I'm not sure why that would be the case. This is a vanilla wordpress installation.

[2018-11-28 20:57] jasonbahl commented on #592
`ERR_EMPTY_RESPONSE` almost seems like WordPress isn't loading _at all_ 🤔

Are normal pages working fine still?

[2018-11-28 21:03] andrewhl commented on #592
@jasonbahl I've set `WP_DEBUG` and `WP_DEBUG_DISPLAY` to false in wp-config.php. No change. I actually uninstalled wordpress and reinstalled it via cpanel on my hosting provider. This is literally a brand new install, and I still get the error. Very strange, no?

[2018-11-28 21:03] andrewhl commented on #592
Yes, normal pages are loading fine.

[2018-11-28 21:17] jasonbahl commented on #592
@andrewhl it is strange. 🤔

[2018-11-28 21:17] jasonbahl commented on #592
@andrewhl is the site a multisite?

[2018-11-28 22:00] andrewhl commented on #592
@jasonbahl Tech support solved it. They had to disable the Apache module mod_sec [what-is-modsecurity-and-why-is-it-important](https://www.inmotionhosting.com/support/website/modsecurity/what-is-modsecurity-and-why-is-it-important). I'm not sure what relationship this has to wp-graphql or the graphql endpoint, but it's all working now. Thanks for taking the time to look into this on your end!

[2018-11-28 22:00] #592 closed

[2018-11-28 22:05] jasonbahl commented on #592
@andrewhl interesting issue. Glad you got it resolved!

[2018-11-30 07:02] jasonbahl commented on #590
@chriszarate we discussed that post_types would be the preferred storage for these.

I’m thinking we can store the hash as `post_name` and store the query string in `post_content`.

Then, I think we can add support for respecting more fields from the request, such as `extensions` by modifying how we kick off requests.

Currently everything centers around `do_graphql_request();` which accepts 3 arg

[2018-12-02 15:43] chriszarate commented on #590
@jasonbahl Hmmm, I can see the appeal of refactoring the entrypoint in the way you describe, but the responsibility for parsing for the request seems to fall to `graphql-php` and there are advantages to keeping it that way, perhaps especially the query/request validation that it performs.

In fact `graphql-php` already has an internal for query IDs and a hook for implementing persisted queries (`p

[2018-12-02 17:59] jasonbahl commented on #590
Ah ya. We kinda need both. do_graphql_request is the current entry point for GET requests and executing GraphQL queries on the server, like how we do our WPUnit tests.

But for POST requests it uses StandardServer to parse the request and execute.

[2018-12-03 05:55] jasonbahl commented on #214
Hey, just a quick update for those following.

I’ll be traveling this week for WordCamp US. Hoping to squeeze some more time in on this plugin and get it to a solid stage sometime in the next week or so.

I’ll announce here when I’ve got something to checkout.

[2018-12-03 19:42] MoOx commented on #430
I am new to graphql and faced the "hasPreviousPage is always false omg" (I am using first/after).
I am generating a static website and would like to generate only /after/:cursor pages. Is there a way to know if we have a previous page when using first/after params only?
If my question is not asked at the right place, please point me the right direction as I don't really know how to ask

[2018-12-03 19:48] jasonbahl commented on #430
Also, very flattered to have @MoOx using this plugin. . .Love what you do in the OSS community. 😄

[2018-12-03 19:53] MoOx commented on #430
I am rewriting the front end of the website of my wife (https://github.com/MoOx/dame.bio) and would like to offer a "standard" pagination, with "older posts" ... and "newer posts" as soon as you are and an "older posts" page. I was thinking I could create links with only after/:cursor and still offer a "newer posts" button in order to paginate backwards. My brain is maybe not ready yet for graphql

[2018-12-03 19:59] MoOx commented on #430
Am I interpreting the spec correctly here by expecting hasPreviousPage to be set when using after?

https://facebook.github.io/relay/graphql/connections.htm#HasPreviousPage()

[2018-12-03 20:07] jasonbahl commented on #430
@MoOx you are indeed. I'll have to look into that. 🤔

At the moment, I think we chose not to support that because it was easier not to, not necessarily because it's not efficient. I'll open a new issue to address that specifically and see what we can come up with.

In the mean time, if you're using Apollo Client or another caching client, you _may_ be able to utilize the client side cache to calcu

[2018-12-03 20:13] jasonbahl opened #594 "hasNextPage / hasPreviousPage not respecting the Relay spec fully"
The GraphQL Relay spec states the following for `hasPreviousPage`:

HasPreviousPage(allEdges, before, after, first, last)
- If last is set:
   - Let edges be the result of calling ApplyCursorsToEdges(allEdges, before, after).
   - If edges contains more than last elements return true, otherwise false.
- If after is set:
   - If the server can efficiently determine that elements exist prior to afte

[2018-12-03 20:13] jasonbahl commented on #430
@MoOx I created #594 to tackle this. Thanks!

[2018-12-03 20:17] MoOx commented on #594
Tell me if I can help (even if I didn't do any php for ages).
I could also be a beta tester if necessary :)

[2018-12-03 20:36] jasonbahl commented on #594
@MoOx even if you don't want to write tests, you _could_ write some client code, in something like CodeSandbox.io, write it up as you'd expect it to work, and we can use that as the "test", then someone with more PHP experience can convert that into actual Unit/Integration tests

[2018-12-04 18:04] jasonbahl commented on #578
@galaxiecruzin hey! This has been resolved and is getting released today. The `graphql_input_fields` filter is now restored.

[2018-12-04 18:04] #578 closed

[2018-12-04 19:20] galaxiecruzin commented on #578
Woot! thanks

[2018-12-04 19:37] jasonbahl opened #598 "Searching for terms doesn't return child terms in results"
Searching for terms doesn't return child terms in the results.

Here, you can see the term "child category"

![screen shot 2018-12-04 at 11 23 42 am](https://user-images.githubusercontent.com/1260765/49465864-cf14ec00-f7bb-11e8-9c36-2f13a655a239.png)

And when the following query is executed, I would expect to see that term in the results, but it's not.

[code]

This is due to the default query ar

[2018-12-04 21:47] jasonbahl opened #601 "Consider moving `get_site_name` to be a Utility function, or part of the Model layer"
see conversation here: https://github.com/wp-graphql/wp-graphql/pull/597#discussion_r238782225

[2018-12-04 21:50] jasonbahl opened #602 "Prevent duplicate mutations from occurring in rapid succession"
@CodeProKid brought up (https://github.com/wp-graphql/wp-graphql/pull/597#discussion_r238781799) the fact that sending an email over and over and over could be harmful to a WP server.

It seems that any GraphQL Query or Mutation sent in rapid succession could be harmful.

We should investigate if it makes sense to try and prevent duplicate requests from being processed if they occur in rapid succe

[2018-12-04 23:13] CodeProKid opened #603 "Model Layer: Terms"
Create a model layer for Term objects

[2018-12-04 23:15] CodeProKid opened #604 "Model Layer: Users"
Create a model layer for User objects

[2018-12-04 23:17] CodeProKid opened #605 "Model Layer: Comments"
Create a model layer for Comment objects

[2018-12-04 23:19] CodeProKid opened #606 "Model Layer: Theme"
Create a model layer for the Theme object

[2018-12-04 23:20] CodeProKid commented on #280
Reopening this as it now has a clearer vision. Creating smaller issues for each object type that needs a model.

[2018-12-04 23:21] CodeProKid opened #607 "Model Layer: Plugin"
Create a model layer for the Plugin object

[2018-12-04 23:22] CodeProKid opened #608 "Model Layer: Setting"
Create a model layer for Setting objects

[2018-12-04 23:25] CodeProKid opened #609 "Model Layer: Menus"
Create a model layer for Menus object

[2018-12-04 23:26] CodeProKid opened #610 "Model Layer: Menu Items"
Create a model layer for menu items

[2018-12-06 20:19] mrbarletta commented on #214
For those who come here googling for custom fields, I am leaving my working function.php extract for PODS custom type with a date, an image and a text field.

[code]

[2018-12-06 20:23] jasonbahl commented on #214
@mrbarletta awesome! Thanks for sharing!

[2018-12-06 21:31] mrbarletta commented on #214
No, is a custom field I created for that specific custom post type, sorry if it was confusing!

[2018-12-07 23:39] hsimah opened #611 "Mutation config methods to be public static"
I am registering mutations for CPTs with custom fields. I did not wish to re-implement all the default behaviour of a post mutation. I can merge my custom input fields with the `PostObjectCreate::get_input_fields` (as is done in `PostObjectUpdate`), but the mutate function and output fields are directly declared in the config array.

My suggestion would be to make all config building be done in pu

[2018-12-07 23:42] hsimah commented on #611
See commit for a POC of what I suggest.

[2018-12-09 00:55] samburgers commented on #311
Really looking forward to this too! Any update so far?

[2018-12-09 16:23] jasonbahl opened #612 "Register Custom Connections"
Connections must be registered after Types have already been registered.

Currently, you can register a connection by hooking into `graphql_register_types` at a later priority, such as:

## Here we register a `MyCustomType` Type
[code]

### Here we hook in to a later priority to register the connection
[code]

While it's possible to hook in to `graphql_regsiter_types` at a late priority, it would

[2018-12-09 18:40] jasonbahl opened #614 "Expose post count for the User type"
Currently, in the WordPress dashboard, when looking at the user list table there's a "count" field in the table that exposes the number of posts associated with a user.

This can be expensive, so it's not included as an exposed field in WPGraphQL by default.

There needs to be more discussion on whether this field even makes sense to be exposed.

For example, what would `user.count` even represent

[2018-12-09 22:18] #612 closed

[2018-12-11 18:14] CodeProKid commented on #245
This should be handled with the model layer initiative. #280

[2018-12-11 18:16] CodeProKid commented on #375
This makes a ton of sense. Would be very valuable to know this on the render side of things. This should also be handled with the Model layer initiative. #280

[2018-12-11 18:19] CodeProKid commented on #375
One thing that still needs to be fleshed out here, is the verbiage to use for Private, Protected, And Public data. @jasonbahl and I have talked about this a lot, and we think those are essentially the 3 states a piece of data can have (with varying degrees of protected-ness in the protected status).

We just need to firm up what word to use for these statuses. Also, where to output this info in th

[2018-12-11 18:45] CodeProKid commented on #503
This was fixed, we just need to write a test to make sure it doesn't happen in the future. That will happen in #576

[2018-12-11 18:45] #503 closed

[2018-12-11 20:45] CodeProKid commented on #582
This was fixed at some point. Closing.

[2018-12-11 20:45] #582 closed

[2018-12-11 23:53] chriszarate opened #618 "Protect WP_User->user_pass from leaking"
Since type resolvers return the primitive WordPress object (e.g., `WP_User`), it opens up the possibility that a user's `user_pass` field could be indirectly exposed by WPGraphQL.

To be clear, that's not possible with WPGraphQL out-of-the-box, but a malicious plugin or theme could use `register_graphql_field` to add a field resolver to the `User` type and expose the user's hashed password.

Ideal

[2018-12-12 19:38] CodeProKid commented on #618
This should be handled in #604 adding to the milestone so we make sure it's handled. 👍

[2018-12-13 18:32] jasonbahl opened #619 "Throw exceptions in register_graphql_* methods when they're missing critical fields"
The new `register_graphql_*` methods introduced in v0.1.0 don't have strong validation on the $args that are input.

We should add better validation around the registration of Types and Fields and throw appropriate exceptions when a field is missing fields.

One common one is the `name` field. If a field or Type is registered without a name, I believe it leads to an internal_server_error, instead

[2018-12-14 14:47] MoOx opened #620 "`dateGmt` for comments doesn't contains "T" (ISO)"
It would be nice to have consistent date format

<img width="1043" alt="screenshot 2018-12-14 at 15 43 05" src="https://user-images.githubusercontent.com/157534/50009495-6eee2900-ffb7-11e8-9542-d9bb27d65228.png">

It seems the behaviour modified for post is not applied for comments

https://github.com/wp-graphql/wp-graphql/blob/a663393cfb25544a30b1b99400079b63c6aaf753/tests/wpunit/PostObjectQuerie

[2018-12-15 02:47] mrbarletta commented on #214
I am leaving this note here as it took me a while to figure out how to mutate custom post type with (obviously) custom fields.
Its a mix of using  `graphql_post_object_mutation_update_additional_data`  and `graphql_input_fields`.
There are comments that gave me a hint but as the library evolved the method names are not the same.

[code]

[2018-12-17 02:34] CodeProKid commented on #509
This should actually get fixed with #621

[2018-12-17 03:34] CodeProKid opened #623 "Upgrade underlying GraphQL-PHP library"
There are a few new releases to webonx's repo. https://github.com/webonyx/graphql-php/releases There's a 0.11.6 release that would be a minor update for us. The newest release has a PHP 7.1 minimum, so that's probably out of the question.

[2018-12-17 03:38] CodeProKid opened #624 "Run tests against PHP 7.3"
We need to add support for running the tests on Travis through PHP 7.3 now that it is officially released.

[2018-12-18 18:38] #576 closed

[2018-12-18 19:58] chriszarate opened #627 "Add WordPress (VIP) CodeSniffs to test suite / CI"
Implementing WordPress (and possibly VIP) code sniffs could provide a few benefits:

1. Enforced internal consistency by incorporating sniffs in test suite.
2. Familiarity / comfort for the many organizations that have adopted these sniffs.
3. Aligning with WP Core in code style
4. In the case of VIP sniffs, possibly introducing performance benefits for VIP customers (since many of their sniffs ar

[2018-12-18 22:38] #569 closed

[2018-12-19 16:00] jasonbahl commented on #624
@CodeProKid let's punt this as we need to wait for the Docker image to be available...

[2018-12-19 16:01] jasonbahl commented on #624
@CodeProKid I moved this out of 0.1.4 milestone

[2018-12-19 16:02] jasonbahl commented on #509
@CodeProKid since this is addresed by #621 and #621 does introduce a breaking change, let's put this in the next version-bump release milestone with that

[2018-12-19 19:52] #619 closed

[2018-12-28 17:00] kevindavis338 opened #630 "Cannot query field"
Hi there,

For some reason when I run the following query:
graphql?query={TableName{{id,title}}

I'm getting the following error: {"errors":[{"message":"Cannot query field \"TableName\" on type \"RootQuery\".","category":"graphql","locations":[{"line":1,"column":2}]}]}

Why am I getting the error? Could it be a bug or something that I could be missing?

Thank you,
Kevin Davis

[2018-12-28 17:02] jasonbahl commented on #630
@kevindavis338 do you have a field `TableName` in your Schema? The error suggests that that doesn't exist in your Schema, so you would need to register that field first.

Can you elaborate on what you're trying to accomplish?

[2018-12-28 17:07] kevindavis338 commented on #630
No.. In fact it should be the SchemaName (Sorry I'm still new to GraphQL),  so in reality, I'm calling the schema name with the following fields, id and title.
What I'm trying to do is test to make sure I get the right information and put the query in the widget so I can display the title, while I'm checking the id of the title.

[2018-12-28 17:17] jasonbahl commented on #630
by default, the WPGraphQL Schema exposes entry points for many of the core data types that WordPress uses, such as Post Types, Taxonomies, Comments, etc.

So you can query something like:

[code]

and in response you would get a list of "post" nodes with their ID and Title.

if you want to query custom data, like data from a Custom Database Table or something, you would need to register Types and

[2018-12-28 17:46] kevindavis338 commented on #630
Thank you..

[2018-12-28 18:03] jasonbahl commented on #630
@kevindavis338 I'm going to close this issue, but if you have more general questions, feel free to reach out in [Slack](https://wpgql-slack.herokuapp.com/) or [Spectrum](https://spectrum.chat/wpgraphql).

[2018-12-28 18:03] #630 closed

[2019-01-03 22:51] hsimah opened #632 "RootQuery 'By' uses invalid type for database ID"
Looking at `RootQuery.php` and the definition of `$post_by_args` it looks like the types are incorrect:

- a GraphQL ID should be type `ID` (ie base64 encoded string), not type `String`
- a WP database ID should be type `Int`, not type `ID`

[2019-01-04 21:01] jasonbahl opened #636 "Pass connection args down through context"
See conversation starting here: https://wp-graphql.slack.com/archives/C3NM1M291/p1546629027125100?thread_ts=1546545805.101700&cid=C3NM1M291

Fields that exist multiple levels deep within a connection can often benefit from having context of arguments that were passed to the top-level connection as they are resolved.

It would be good to pass the arguments of connections through context in a way th

[2019-01-04 22:19] #636 closed

[2019-01-04 23:31] jkhaui commented on #614
Hi @jasonbahl ,

As someone who is working extensively on a WordPress/GraphQL/React project (by extensive I mean a social network-style platform where the intention is to expose a lot of metadata), I can personally say that the count feature for post types holds a lot of value - and it doesn't need to be more than a simple integer.

Obviously, everyone's use-case is different, but for my purposes,

[2019-01-05 08:28] hsimah opened #638 "Add filter to allow users to customise typeBy query args"
### When you open an _issue_ for a feature request, please add as much detail as possible:
- [ ] A descriptive title
- [ ] A description of the problem you're trying to solve, including *why* you think this is a problem
- [ ] An overview of the suggested solution
- [ ] If the feature changes current behavior, reasons why your solution is better

I have a need to query a type by custom fields (not

[2019-01-05 08:31] hsimah commented on #638
To use:

[code]

[code]

[2019-01-05 17:32] mrbarletta commented on #214
Sure thing! let me know how!

@adamsoffer  - do you mean native ACF support or that the approach referenced in this issue ain't working with ACF plugin?

[2019-01-05 17:39] adamsoffer commented on #214
@mrbarletta yeah I mean getting ACF to work with wpgraphql plugin out of the box. I haven't attempted any of the workarounds described in this issue. Appears brittle and unsure if worth the effort, but if it's just a few lines of code to get this working until acf is supported natively I'd be interested.

[2019-01-05 17:41] mrbarletta commented on #214
@adamsoffer  its very simple once you nail the correct naming after that is just kind of copy paste for new types or fields.

The downside is that if you add more fields you have to manually update the code and yes, thats a pain and if you work with a team someone will not understand why the new field is showing up on REST but not in the graphql endpoint.

[2019-01-05 17:43] adamsoffer commented on #214
Gotcha. Thanks. Yeah, that makes it a non-starter for me personally.

[2019-01-08 19:45] kentywang opened #641 "Cursor pagination returns some duplicate data."
I noticed that cursor pagination was behaving strangely.

For instance, when I want to fetch my first four posts, I run a query like this:
[code]
And this returns my `post_1`, `post_2`, `post_3`, and `post_4`, as expected.

But when I want to fetch the next four posts, I run the same query but with the argument `after` set to the cursor on `post_4`:
[code]
I expect to get `post_5`, `post_6`, `post

[2019-01-08 20:13] jasonbahl commented on #641
@kentywang any chance the posts have the same date? Like we’re they created via CLI or something?

[2019-01-08 20:24] kentywang commented on #641
@jasonbahl Not for this case, no. I created the posts individually and they have different timestamps.

[2019-01-08 21:32] jasonbahl commented on #641
@kentywang do you have any other plugins active that might be filtering the WP_Query?

I can run these queries and pagination doesn't appear to be an issue.

See the attached GIF showing a vanilla WP install with content from `wptest.io` and the only plugins active are `WPGraphQL` and `WPGraphiQL`

I can query 5 posts and paginate using the `endCursor` and I get the next 5 posts.

![wp-graphql-pag

[2019-01-08 21:40] jasonbahl commented on #641
@kentywang I'm going to close this, but happy to re-open if you do find the current cursor implementation is indeed problematic.

[2019-01-08 21:40] #641 closed

[2019-01-08 21:40] jasonbahl commented on #638
@hsimah I'm closing this. Referencing my comment on the PR for context: https://github.com/wp-graphql/wp-graphql/pull/639#issuecomment-451993929

[2019-01-08 21:40] #638 closed

[2019-01-08 21:41] jasonbahl commented on #632
closed by #633

[2019-01-08 21:41] #632 closed

[2019-01-09 06:39] chriszarate opened #643 "In new Request class (prerelease 0.2.0), HTTP request data is not filtered"
In new Request class (prerelease 0.2.0), HTTP request data is not filtered. I forgot to pass the params to the `executeRequest` call, so it was attempting to reparse the params.

[2019-01-09 16:35] #643 closed

[2019-01-09 19:12] hsimah commented on #109
I don't think we should necessarily stop accepting the database IDs as arguments. There are a lot of plugins out there which rely on linking to posts by their ID. For example I integrate with MB Relationships and FacetWP. I personally don't like the idea of using `atob` in my client to modify an ID returned from the server to request an item.

I do think that there is scope for both input types. P

[2019-01-09 20:18] jasonbahl commented on #109
@hsimah ya, I _believe_ that if the Input type is ID that it can accept either an integer _or_ a String, so we can have the same input field accept either the database ID _or_ the Relay ID

Then let the execution handle what to do.

Like, during execution, as we handle the input we can check something like the following (pseudo code):

[code]

[2019-01-09 21:16] mikelking opened #649 "Make more composer install friendly"
Currently when installing the plugin via composer it includes a lot of other files that are probably not required for normal plugin to operation. Essentially everything under the repo path: https://github.com/wp-graphql/wp-graphql/ is included as part of the plugin installation.

Adding wp-graphql to my composer was relatively straight forward:

1. added the repo tp the VCS section:
[code]
2. Adde

[2019-01-10 05:52] jasonbahl commented on #509
fixed by #621

[2019-01-10 05:52] #509 closed

[2019-01-10 17:38] mikelking commented on #649
I have created [PR650](https://github.com/wp-graphql/wp-graphql/pull/650) for this.

[2019-01-14 13:53] ManUtopiK opened #653 "Query with multiple operations"
It is possible to query multiple operations?
I can reproduce the error in your playground:
1. Go to https://playground.wpgraphql.com/#/
2. Paste this on the query field:
[code]
3. Execute query for allPosts or onePosts.
=> errors.message: `"Must provide operation name if query contains multiple operations."`

[2019-01-14 15:31] chriszarate commented on #653
If you're asking if you can _execute_ multiple queries, no. But you combine your operations into a single query:

[code]

You can also ship multiple queries and specify which you want to run by sending an operation name. The issue here is that WPGraphQL is expecting the operation name to be provided as `operation` in the request body, but GraphiQL sends it as `operationName`. The latter appears to

[2019-01-14 16:05] chriszarate commented on #653
Follow-up: You can also _batch_ multiple queries together (something that WPGraphQL supports), but that's more of a transport feature:

https://blog.apollographql.com/batching-client-graphql-queries-a685f5bcd41b

[2019-01-14 17:45] ManUtopiK commented on #653
That's what I want to do!

WPGraphQL should use "operationName", because all graphiql client seem use it. I took a look on:
- google chrome graphiql extension
- google chrome altair extension
- insomnia app
- graphiql app
- and ever wp-graphiql !

[2019-01-14 17:55] jasonbahl commented on #653
@ManUtopiK it looks like there might be a bug with `playground.wpgraphql.com` which is causing the errors.

You _should_ be able to use GraphiQL to select which of the queries you would like to run, if they are named queries, and yours are.

When I paste in your query, GraphiQL allows me to select which query to execute, and it sends the request properly, but then responds with `Must provide opera

[2019-01-14 17:57] jasonbahl commented on #653
@ManUtopiK where are you seeing that WPGraphQL doesn't expect `operationName` from requests?

[2019-01-14 17:59] jasonbahl commented on #653
@ManUtopiK I'll look into getting both `api.wpgraphql.com` and `playground.wpgraphql.com` working, but check your own WP site with the latest WPGraphQL activated to make sure behavior is as expected there. 😄

[2019-01-14 18:17] ManUtopiK commented on #653
No, sorry, it's a mistake.

Although it's quite curious, it seems like it's normal behavior. Like I said, graphiql and altair chrome extensions do that, also insomnia and official graphiql electron app.

I did git pull and tested it on master and develop branch.

[2019-01-14 19:52] jasonbahl commented on #653
@ManUtopiK ok, I see that many of the GraphQL clients do indeed send multiple queries as the query string in the request.

This is interesting. . .I'm not quite sure _why_ they would do this instead of just sending the selected query 🤔

But clearly this is common and WPGraphQL isn't supporting it properly.

Thanks for pointing this out!

It's definitely an issue (and I understand it now 😉). We'll

[2019-01-14 19:53] jasonbahl commented on #653
FWIW, I know this did work at one point. My current hunch is that something broke when I did work for supporting Batch Requests.

Not 💯 sure what, but I think it's a good place to start by looking at what changed when Batch Request support was implemented.

[2019-01-14 20:01] ManUtopiK commented on #653
I found an issue 🎉  I was not really sure...

[2019-01-14 21:14] jasonbahl commented on #653
@ManUtopiK I tracked down the issue to the underlying GraphQL-PHP library.

The version we were on tries to parse `operation` instead of `operationName`

Updating the underlying GraphQL-PHP library to version 0.12.6 fixes this bug.

Can't believe this has been broken this long. Good catch. We've been wanting to update GraphQL-PHP for a while and this lit the 🔥 to get that done. 😄

[2019-01-15 18:32] jasonbahl opened #657 "PHP Warnings for missing 2nd arg for `after_execute_actions`"
in Request.php, the `after_execute_actions` should define the second argument to be optional to avoid php warnings:

`private function after_execute_actions( $response, $key = null ) {`

[2019-01-15 18:49] jasonbahl commented on #289
I think we can close this. I'm thinking this is probably plugin territory where someone could filter in this functionality if needed.

If someone has a compelling argument on why this should be core WPGraphQL vs. plugin, I'm open to listen, but feels like something that can/should be filtered in as needed.

[2019-01-15 22:13] #623 closed

[2019-01-15 22:13] #653 closed

[2019-01-15 22:59] cr101 commented on #289
Anyone building a front-end web app will need to use this functionality so I think it should be in core WPGraphQL as it's a WordPress core functionality (see `function wp_old_slug_redirect`)

As an example, you publish a newly created post and then half an hour later after Google had already indexed that post you change the post slug in the permalink. Now you need to automatically redirect the old

[2019-01-16 17:15] bovas85 opened #658 "Can't find acf in the query - couldn't find an answer"
I couldn't figure out from previous issues a way to enable this.

My WPGraphQL is latest on a Wordpress v4.9.9

You can visit it here https://api.nunziellasalluce.com/graphql

I can see no acf fields accessible nor I can get custom post types (in my case they are called case_studies

Is anyone able to assist?

[2019-01-16 17:17] jasonbahl commented on #658
@bovas85 I'll need more info to help here.

Did you have your ACF fields working before and they stopped working, or are you trying to access ACF Fields from WPGraphQL for the first time?

[2019-01-16 17:34] bovas85 commented on #658
I'm trying to access them for the first time using GraphQL. They work fine using regular rest api.

My plugins are acf to resti api and acf standard latest.

[2019-01-16 18:10] jasonbahl commented on #658
@bovas85 have you gone through the steps listed here: https://www.wpgraphql.com/docs/getting-started/custom-post-types-taxonomies/

That outlines how to get your Custom Post Types and Taxonomies exposed to WPGraphQL

As far as custom fields go, there's no official plugin for exposing ACF to GraphQL (yet). I'm working on it, but not sure when I'll have it ready.

In the mean-time you can read about

[2019-01-16 18:10] #658 closed

[2019-01-16 19:17] bovas85 commented on #658
Regarding the advanced custom fields, is there any hacky way to expose them even without a plugin?

[2019-01-16 23:32] jasonbahl commented on #658
@bovas85 did you see the link in the previous comment for adding custom fields and meta?

https://www.wpgraphql.com/docs/getting-started/custom-fields-meta/

[2019-01-17 09:01] bovas85 commented on #214
is there a way to show all the acf fields like in the rest api? Would someone be able to show me the code to show a 'acf' object back from graphql in pages? I have no idea of what to write in PHP

[2019-01-18 07:11] jimmyshen007 opened #659 "orderby error"
Hi, experts, I just tried orderby feature, but got errors below. is that a known bug? Thanks for your help.

**Query:**
[code]

**variables**
[code]

**Error:**
[code]

[2019-01-21 15:28] mngi-arogers commented on #624
Forgot this issue was open.

Something to keep in mind: As of this writing, PHP 7.3 requires `xdebug-2.7.0beta1` instead of `xdebug-2.6.x`, which PHP 7.1 and 7.2 require. https://bugs.xdebug.org/view.php?id=1584

[2019-01-21 16:05] jasonbahl commented on #624
@mngi-arogers all I have to say in response:

https://twitter.com/rkoutnik/status/1085633512839888896

[2019-01-22 19:38] jasonbahl commented on #20
Relevant Slack discussion here: https://wp-graphql.slack.com/archives/C3NM1M291/p1548183242930100

And thread here: https://wp-graphql.slack.com/archives/C3NM1M291/p1548184977978200

[2019-01-22 19:44] jasonbahl commented on #20
Long story short, I think Widgets have a _lot_ more discussion to be had before we can support them in a meaningful way in WPGraphQL.

[2019-01-23 03:01] jasonbahl commented on #109
related: #532 and #263

[2019-01-23 16:15] jasonbahl commented on #659
@jimmyshen007 hey, you just need to update your variables to be an array, since you're telling the query to expect a list of inputs

change to:

[code]

[2019-01-23 16:15] #659 closed

[2019-01-23 16:28] #657 closed

[2019-01-23 17:06] jasonbahl opened #663 "Working with 2-Factor Authentication"
Working with 2-factor Authentication is a bit tricky when it comes to APIs.

We (Media News Group) recently activated 2FA using Jetpack 2FA plugin, and it caused issues with our authenticated requests (using the WPGraphQL JWT Authentication plugin).

Our workaround, for now, was to disable 2FA for GraphQL Requests:

[code]

This prevents the 2FA checks from running during GraphQL Requests.

Howeve

[2019-01-24 01:00] jimmyshen007 commented on #659
Cool! Thanks Jason. works for me!

[2019-01-25 19:34] jasonbahl opened #666 "PHP Warnings in Request.php and Router.php"
There are PHP warnings in Router.php and Request.php, specifically when using Batch queries.

@joshlasdin reported that he was seeing the following while using `Apollo Client: 2.2.3` and `Apollo Link Batch HTTP: 1.0.5`

[code]

[2019-01-25 19:35] jasonbahl commented on #666
uh oh. . .this is issue 666!!!! 👿

[2019-01-25 19:48] #666 closed

[2019-01-25 20:16] jasonbahl opened #668 "get_connection_arg methods are protected and not usable in custom code"
When registering a custom connection, it's common to want to make use of args that have been defined for other existing connections.

Currently, the `get_connection_args` in the Connection definitions aren't public, so they're not easy to make use of elsewhere.

We should change their access from `protected` to `public`

See relevant conversation here: https://wp-graphql.slack.com/archives/C3NM1M2

[2019-01-25 20:43] #668 closed

[2019-01-29 18:49] jasonbahl opened #672 "Add formal register_graphql_interface API"
In version v0.1.0 we introduced a new API to register types and fields to the Schema, such as `register_graphql_field`, `register_graphql_object_type`, etc.

We didn't provide a `register_graphql_interface` API though. . .we should get this added so folks can define interfaces and use them in a formal way.

[2019-01-29 21:14] craigmcnamara opened #673 "Allow pages queries to return flat results instead of parent-child nested results."
Per the discussion here: https://wp-graphql.slack.com/archives/C3NM1M291/p1548707624179300

I'm trying to use wp-graphql to implement a sitemap and page queries default to top level pages causing me to have to traverse page relationships to get the info required to make a list of pages within a sitemap.

I'd expect an option to allow a flat result set, ex:

[code]

I'm going to start working up a

[2019-01-30 21:19] craigmcnamara commented on #673
Turns out you can get this effect by passing null to the parent where arg.

[code]

[2019-01-30 21:19] #673 closed

[2019-01-30 21:24] CodeProKid commented on #673
This seems like a hacky workaround. I feel like we should formalize this with some official arg.

[2019-01-30 23:11] jasonbahl opened #674 "Add "AvailableLocalesEnum" Type"
On the General Settings page in the WP-Admin, there is a `Site Language` select that allows users with the `manage_options` capability select the language.

The option is hydrated based on a static list of Locales that are available.

In order to provide a similar experience in WPGraphQL, we need to expose the available options as an Enum and have the `language` field in the settings be of the typ

[2019-01-30 23:34] jasonbahl opened #675 "Add "TimezoneEnum" Type"
In the General Settings, there's an option for users with the `manage_options` capability to set the Timezone for the site.

The Timezone setting is allowed to be one of a pre-defined set of values. This should be exposed to WPGraphQL as an Enum so the input can be validated against the static values.

See: https://github.com/WordPress/WordPress/blob/c204ac4bc7972c9ca1e6b354ec8fb0851e255bc5/wp-inc

[2019-01-30 23:58] jasonbahl opened #678 "Add WeekdayEnum Type"
In the WordPress General Settings there is a setting that allows users to set the Day of week.

Adding a WeekdayEnum Type will provide static validation on the input and querying of said data.

[code]

[2019-01-31 04:55] jasonbahl opened #680 "Add RSSExcerptTypeEnum Type"
On the Reading Settings page in the WP-Admin there's an option to set the type of excerpt to show in RSS Feeds (Full Text or Summary).

We should validate this on queries and mutations so an Enum makes sense.

enum {
  FULL_TEXT
  SUMMARY
}

where the underlying values stored in the Database are `1` and `0` 🤷‍♂️

[2019-01-31 18:53] CodeProKid commented on #602
So, the more I've been thinking about this, the more I think the scope of this should be limited to un-authenticated mutations only...

Many queries in rapid succession could take down a site, but so could a ton of requests to an uncached page on a WP site, or many requests to a REST endpoint, so I don't think we should be responsible for rate limiting the reading of data. I feel like that should

[2019-01-31 20:33] jasonbahl commented on #602
@CodeProKid ok, so we need a way to identify which mutations are public and which are not so that we can properly apply something like this across the board.

We can add something like `isPrivate` or `requireAuth` or something to that tune to the `register_graphql_mutation` args, and apply that to any where `isPrivate` is false or something

[2019-02-01 03:13] hsimah commented on #611
this was fixed in #634

[2019-02-01 03:13] #611 closed

[2019-02-05 20:30] jasonbahl commented on #602
@CodeProKid so, the transaction ID would be a combination of the:
- Context (current user)
- query string
- variables
- operation name

We can hash those to use as the cache key, then when a mutation begins execution we can check to see if the mutation was registered as `isPrivate` or `requireAuth` or whatever, and if that's true we ignore the cache rule to allow the request to continue execution.

[2019-02-07 13:05] agyimr commented on #594
I am also struggling to get over this. I wanted to use hasNextPage and hasPreviousPage to allow the user to press the buttons "Next" and "Previous". But currently if I set "last" or "first" the other one (in the opposite direction I am paginating) resolves to false and the user can not go back.

Any suggested workarounds until this gets officially supported? :)

Keep up the good work!

[2019-02-07 15:38] CodeProKid opened #684 "Model Layer: Posts"
Need to move the work @jasonbahl did on modeling Posts over to the new Model abstract implemented in #683

[2019-02-07 15:40] CodeProKid opened #685 "Write tests for new model layer"
Need to write a few tests for the new Model abstraction. Things I'd like to test:
- Filters & hooks fire as expected, and the correct context is passed through
- Getting & setting data to the fields array works correctly
- Fields get wrapped with callback correctly
- Visibility gets added as expected

[2019-02-07 18:43] #575 closed

[2019-02-11 22:56] CodeProKid opened #687 "Abstract out visibility fields to get attached to all modeled objects."
Related to #375 we implemented the concept of Object visibility with the model layer, we just need to centralize the `isPrivate` `isRestricted` and `isPublic` fields so we don't have to keep adding them to all the Types.

[2019-02-18 17:53] jasonbahl commented on #428
After thinking about this a bit more, I think Post Types that support templates should get a `template` field which returns a `PageTemplateUnion` and each registered page template get's it's own Type.

Then we can query something like:

[code]

See conversation here: https://wp-graphql.slack.com/archives/C3NM1M291/p1550506403167100?thread_ts=1550481491.162000&cid=C3NM1M291

[2019-02-18 19:14] izzygld commented on #428
How would we `register_graphql_field` just for that specific page-template and not show up on other pages.

something like:

[code]

[2019-02-19 18:06] chriszarate opened #689 "Every post object endpoint can resolve posts in any post type"
In WPGraphQL latest (though I believe this has been the case for a long time), you can successfully query for a post in any post type using any post type endpoint.

[code]

This is because `DataSource#resolve_post_object` does not check for post type.

Here's a test that I would expect to pass but currently fails:
https://github.com/Quartz/wp-graphql/commit/a7b71f40882dc7a7078bb6b3c9072efdeb5f6fb5

[2019-02-19 19:01] jasonbahl commented on #689
@chriszarate I'm going to mark this as a duplicate of the #684

There's been a lot of work done already by @CodeProKid to centralize access to objects in the Graph.

For the time being, I would _probably_ suggest filtering resolvers directly via something like:

`graphql_before_resolve_field` or `graphql_resolve_field` filters:

https://github.com/wp-graphql/wp-graphql/blob/develop/src/Utils/Instr

[2019-02-19 19:04] jasonbahl commented on #689
@chriszarate closing this. If you feel like there's anything the Model Layer doesn't address, let's discuss more in #684

You can see the progress of that feature here: https://github.com/wp-graphql/wp-graphql/tree/feature/model-layer

Specifically here: https://github.com/wp-graphql/wp-graphql/blob/feature/model-layer/src/Model/Post.php

[2019-02-19 19:04] #689 closed

[2019-02-20 16:35] mwidmann opened #691 "Querying custom posttypes by WP id isn't able to resolve post when graphql_single_name is uppercase (like in documentation)"
I used the documentation on this link https://docs.wpgraphql.com/getting-started/custom-post-types, used Apa instead of Document, but the idea is the same.

I have the following custom post_type defined in my functions.php:

[code]

The generated Schema exposes an `Apa` type and the same queries as on the `post` post type.

The following queries produce correct output:

[code]

returns

[code]

Th

[2019-02-20 16:37] jasonbahl commented on #691
@mwidmann interesting. This sounds like a bug for sure. I'll try and confirm and work on a fix, or happy to accept PRs if you beat me to it 😄

[2019-02-20 19:07] #691 closed

[2019-02-22 13:35] CodeProKid opened #697 "Model Layer: PostType"
Create a model layer for PostType objects

[2019-02-22 13:36] CodeProKid opened #698 "Model Layer: Taxonomy"
Create a model layer for Taxonomy objects

[2019-02-22 13:39] CodeProKid opened #699 "Model Cleanup Round 2"
Few things I've been thinking of to make the models even cleaner:

- Pass the incoming raw data straight to the `$data` property of the class that's defined in the abstract
- Create the model "Name" dynamically in the abstract by the name of the child class (this may have to happen in the child class)
- Instead of using a filter for declaring `is_private` (and having to check the model name inside

[2019-02-23 07:19] snnsnn opened #702 "[Feature Request] skip and orderBy arguments for pagination"
Hi, thank you for this great plugin.

Please can you add `skip` and `orderBy` arguments for pagination since query results can intersect and one may want to sort and skip certain number of items to prevent data duplication.

Lets say I have two queries, and for the second query I would like to get last ten items after skipping five because first query already spits them on page.

[2019-02-23 08:12] snnsnn commented on #702
After reading and re-reading relay pagination implementation, I see offset is intentionally left out. So, can anyone help me how to achieve skipping items without all the intricacies.

[2019-02-23 14:15] jasonbahl commented on #702
When you ask for data, use the `pageInfo` field to get the `endCursor` then use that value as the `after` value in your next query.

Tracking the cursor is the same amount of effort as tracking a skip value, and using that value for the `after` arg is the same effort as using the skip value for a skip arg.

There’s documentation on pagination here:

[2019-02-23 14:15] #702 closed

[2019-02-25 20:27] jasonbahl commented on #624
closed by #703

[2019-02-25 20:27] #624 closed

[2019-02-26 02:02] jasonbahl opened #704 "Add general `wp_ajax_graphql` support"
Let's discuss if it makes sense to provide a `wp_ajax_graphql` entry. Seems like there might be benefits in allowing folks to use GraphQL via AJAX vs. making remote HTTP requests.

Let's discuss. . .

[2019-02-26 15:02] epeli opened #707 "graphql_request_data filter is executed twice for GET requests"
Using the latest develop (947e07058befdeec2977062eeaddfc1e17d2b6b3) branch when graphql query is sent as a GET request the `graphql_request_data` is executed twice because `$parsed_body_params` is empty and `$parsed_query_params` is not

https://github.com/wp-graphql/wp-graphql/blob/947e07058befdeec2977062eeaddfc1e17d2b6b3/src/Server/WPHelper.php#L43-L46

This causes the proposed [lock mode implem

[2019-02-26 18:31] #707 closed

[2019-02-26 18:34] jasonbahl commented on #674
Closing as I think this is _potentially_ a leak of private data

[2019-02-26 18:34] #674 closed

[2019-02-26 18:41] #649 closed

[2019-02-26 19:34] szagi3891 commented on #423
And it's great. Implementing a websocket server with mobx is an easy task.

So you add it to the standard "core WPGraphQL Schema" ? :)

[2019-02-26 22:26] rpavantica opened #712 "playground.wpgraphql.com not showing directives"
![screen shot 2019-02-26 at 3 47 45 pm](https://user-images.githubusercontent.com/45439458/53450958-37522300-39e3-11e9-809a-d9885d86c753.png)

[2019-02-26 22:49] jasonbahl commented on #712
@rpavantica hey! You can actually open issues on that repo here: https://github.com/wp-graphql/playground.wpgraphql.com/

 Looks like the example in the screenshot is from before the v0.1.0 release of the plugin where connection names where changed. This one _should_ be `RootQueryToPostConnectionWhereArgs` now.

Would you want to open a pull request to that repo to fix?

[2019-02-26 22:49] #712 closed

[2019-02-27 12:38] betweenbrain commented on #602
Out of curiosity, would this require some sort of admin UI to enable/disable and to configure the rates? I could see the need, in some cases, to turn this off or maybe even enable during a DOS attack.

[2019-03-05 17:11] kmcaloon opened #713 "Authorization with JWT Auth Plugin"
Still confused over how exactly authorized requests are supposed to work.

Currently I am using the JWT Authentication plugin for WP REST API and am successfully authenticating and making authorized requests via REST. However, not sure that this token is supposed to work with WP GraphQL. I even tried setting the `GRAPHQL_JWT_AUTH_SECRET_KEY` as the same  value for `JWT_AUTH_SECRET_KEY`, but that d

[2019-03-11 07:14] saarnilauri opened #717 "graphql_map_input_fields_to_wp_query filter causes "Internal server error" if $post_type argument is used."
When I use  `graphql_map_input_fields_to_wp_query` filter to do a meta query, I get internal server error, if I use `$post_type` argument. If this argument is removed the filter works without any problem.

[code]

I don't have a proposal how to fix this issue.

[2019-03-11 08:15] epeli commented on #717
Your filter argument amount doesn't seem not match with the arguments you have actually listed. You have $accepted_args of 6 but you have listed 7 arguments.

See https://developer.wordpress.org/reference/functions/add_filter/

[2019-03-11 10:59] saarnilauri commented on #717
Thank you. Silly mistake.

[2019-03-11 10:59] #717 closed

[2019-03-11 13:31] jespervnielsen opened #718 "filters on postobject may not work as expected. global post object is not setup."
https://github.com/wp-graphql/wp-graphql/blob/develop/src/Type/Object/PostObject.php#L267

```apply_filters( 'the_excerpt', $excerpt );```
this is in a way correct.
But since the global post object isnt't setup, then there may be scenarios, where it will be the wrong post.

a way to solve this, could be to use
[code]

The same issue is relevant for "the_content" and "the_title"

[2019-03-11 13:33] epeli commented on #718
I believe this will be fixed by

https://github.com/wp-graphql/wp-graphql/pull/714

Care to try manually merging it and checking if it fixes it for you?

[2019-03-11 14:07] jespervnielsen commented on #718
@epeli i can confirm that #714 solves this.

i did a checkout of 714, and the issues is solved.

And i makes sense to fill the global post object, on a field level, as the PR does.

[2019-03-11 14:25] epeli commented on #718
Thanks. I hope we can get it merged soon.

In the mean time if you don't want to run forked version you should be able to do:

[code]

[2019-03-11 14:59] jasonbahl commented on #718
@jespervnielsen @epeli reviewing the PR now. Hoping to merge today. 😄

[2019-03-12 07:30] epeli commented on #718
Merged 💪

[2019-03-13 15:13] jasonbahl commented on #713
@kmcaloon hey, if you're using the REST API JWT plugin, you probably want to de-activate the WPGraphQL JWT Auth plugin.

Having both active will cause some issues for sure as they will both be looking for the token in the header and not know what to do.

Try de-activating WPGraphQL JWT Auth and use the tokens from the REST API and see if that makes a difference?

[2019-03-13 15:23] jasonbahl commented on #718
closed by #714

[2019-03-13 15:23] #718 closed

[2019-03-15 13:01] epeli commented on #287
@towfiqi Old closed issue but I've worked on making meta query based pagination work correctly here https://github.com/wp-graphql/wp-graphql/pull/721

[2019-03-15 13:11] esamattis opened #723 "Feature request: Get total post counts in post connections"
When creating paginated lists we need to display the total amount the current query will return during the pagination.

So something equivalent to the `X-WP-Total` header in the REST API would be needed.

Maybe it could be added to the `WPPageInfo` object?

[code]

I'm open for implementation ideas and I can submit a PR for it.

[2019-03-15 13:31] jasonbahl commented on #723
So this is one thing that was left out intentionally as it can be expensive for servers to calculate and return and I don’t think the consumer should necessarily “own” that.

What I’ve told folks before is to just filter it in, then I realized that there’s not enough context in the connection filters to filter this in right now. 🤦‍♂️

Part of the work I’ve done in the DataLoader PR I opened yester

[2019-03-15 13:36] jasonbahl commented on #723
If we did expose it, I think pageInfo makes sense, and I think we’d want to do a look ahead, by making use of the 4th argument passed to the connection resolver `$info`

We can use that to inspect the selected fields on the connection and determine if we need to ask the query to calculate the rows or not.

I’m on my phone, so I don’t recall exactly, but it’s something like `$info->getSelectedField

[2019-03-15 13:45] epeli commented on #723
Right. Lets hold off until the DataLoader PR lands.

I was also thinking about checking for `getSelectedFields()`. I'm familiar with it from creating the polylang extension. If the count is only calculated when the users ask for it don't see a performance reason to not include it. It could even warn in its field description that it adds an additional sql query to the request.

[2019-03-15 15:06] towfiqi commented on #287
Many Thanks :100: :+1:

[2019-03-15 16:17] jasonbahl commented on #287
@epeli thanks for following up here. 😄

[2019-03-18 21:45] #675 closed

[2019-03-20 15:01] jasonbahl opened #726 "get_registered_nav_menu_locations throws php warnings"
The function `get_registered_nav_menu_locations` in DataSource.php throws php warnings if no menu locations have been registered.

Before running `array_keys`, this should ensure it's a populated array.

[2019-03-20 15:18] #726 closed

[2019-03-20 16:57] jasonbahl commented on #627
@renatonascalves Hey, do you have an interest in reviving this effort?

I think we should get something implemented here 😄

[2019-03-20 17:04] renatonascalves commented on #627
@jasonbahl Yes! I'll put something together for consideration. :)

[2019-03-20 17:06] jasonbahl commented on #627
@renatonascalves Awesome! Looking forward to it. 😄

[2019-03-20 20:15] jasonbahl opened #728 "Add `{post_type}StatusEnum` to replace `PostStatusEnum`"
Currently we have a `PostStatusEnum` which applies to all `PostObjectTypes`

Stati tend to be unique per Post Type though, for example the "shipping" Status for orders in WooCommerce is unique to orders and not something that makes sense in an Enum for Posts or Pages.

We should introduce `{PostType}StatusEnum` so we would have `PageStatusEnum`, `PostStatusEnum`, etc

That way each Type has more g

[2019-03-21 11:33] epeli opened #729 "Post order returned from cursors is not stable"
When paginating data using Apollo I randomly get same items from different cursor pages

![image](https://user-images.githubusercontent.com/225712/54748196-a2090f80-4bd9-11e9-9348-a9085fa7c366.png)

I cannot isolate this to a test because this happens randomly. I first noticed this while implementing meta value based ordering in #721 but today I noticed it happening without meta values too so I'm

[2019-03-21 11:47] epeli commented on #729
Ah, now I understand why the current implementation is broken.

In the cursor implementation the `AND` operators must match with the `GROUP BY` clauses and there's is no `post_date` based ordering in the `GROUP BY`.

The current implementation defaults to filtering by `post_date` but WordPress does not do it so there's a miss match. My new implementation just doesn't happen to add `post_date` AND

[2019-03-21 12:08] epeli commented on #729
Made sure that #721 now never compares by dates (unless explicitly asked).

[2019-03-21 14:04] jasonbahl commented on #729
I need to read up on this, but dates in WP are weird too because any number of posts can have the same date, down to the second. WP doesn’t force unique dates at any level, so funkiness can ensue when the cursor post date is identical to another posts date.

May or may not be relevant. I need to read though what you’ve worked on still. I’ll be at a computer in a bit over an hour.

[2019-03-21 14:48] epeli commented on #729
Hah, now I know why this bug appears in my current project. I have bunch of data imported automatically to a post type and many of them have the same date timestamp. So MySQL ends up comparing the same date strings and result of that seems to be bit random.

[2019-03-21 15:05] epeli commented on #729
No wait. There's actually is date in the original `GROUP BY`... I need to investigate more.

[2019-03-21 15:38] epeli commented on #729
I think I got to bottom of this https://github.com/wp-graphql/wp-graphql/pull/730

[2019-03-22 14:48] szvest commented on #321
wp-graphql is _**enough**_ to achieve expected results...

**First step** : Expose the Woocommerce `product` custom post type (use WordPress filter hook)

[code]

**Second step** : Resolve WooCommerce meta fields (example of `_sku` using a WordPress action hook). You can resolve as many meta fields as you want.

[code]

[2019-03-22 15:44] jasonbahl commented on #321
@szvest ya, for folks who want to hook and and create the Schema themselves you're correct!

There's work being done by @kidunot89 to provide a WPGraphQL + WooCommerce plugin which has the Schema and (Types, Queries, Mutations and Resolvers) for all the data types in WooCommerce already scaffolded, so you could just activate that plugin and be ready to use all your WooCommerce data with GraphQL.

[2019-03-22 22:47] jkhaui commented on #321
I made this last year: https://github.com/jkhaui/woocommerce-graphql

I haven't tried it since WP 5.0.0, and I haven't been following this repo for a couple of months, but it should still work fine. Feel free to submit a PR

[2019-03-25 09:04] mwidmann opened #732 "Sticky Posts are repeated on every page"
When you have one ore more sticky posts they are repeated on every page in the pagination.

Reproduction is simple:

- have more posts than your `first` setting in the query
- set one (or more) posts to stick to the homepage
- query the posts by having after set to the endCursor of the first (or any subsequent) page

In this example post `18339` is set to sticky.

Query 1:

[code]

Result:
[code]

[2019-03-25 09:27] mwidmann commented on #732
So the usual WordPress behavior is that if the `$page` in the Query is larger than one, the sticky posts are not enumerated and added at the top of the posts list. There's also a `ignore_sticky_posts` query param.

The easier way to implement this seems to add `ignore_sticky_posts` as soon as either the argument `after` or `before` is not null in the query. I think it could lead to strange/wrong r

[2019-03-25 14:37] jasonbahl opened #734 "Users should only be "public" if they have a published post"
The WP REST API and core WordPress treat users as public only if they have a published post associated with them.

For example, if you create a user with no published posts, they will not have an author archive page. And if you hit the `/wp-json/wp/v2/posts` endpoint, users with no published posts will not be part of the results.

Authenticated requests with capabilities of `list_users`, however,

[2019-03-25 15:43] jasonbahl opened #735 "Media Items shouldn't be considered public by default"
This one needs more discussion, but the core WP REST API doesn't output media items in the `/media` endpoint unless they have a `post_parent` set, and that `post_parent` is considered public.

I don't fully agree with this, because there are many cases where images are publically available, even with no `post_parent` set. This has burned us many times in our Native iOS/Android apps that consume fr

[2019-03-25 21:17] jasonbahl opened #738 "Unapproved comments should not be publicly queryable"
When querying comments, only "approved" comments should be queryable by requests where the current user does not have the "moderate_comments" capability.

A query such as the following should only return approved comments:

[code]

[2019-03-25 22:24] jasonbahl opened #740 "createComment mutation authorization checks"
The `createComment` mutation should respect some additional authorization checks.

Example Mutation:

[code]
----

In Discussion settings, the site can configure that "Users must be registered and logged in to comment"

![image012](https://user-images.githubusercontent.com/1260765/54958068-2b8e4980-4f1a-11e9-8f3a-cbb11e6564e8.jpg)

WPGraphQL currently doesn't respect that rule.

----

Additionally

[2019-03-26 15:39] jasonbahl commented on #214
Hey everyone, I know I've said this before, but I'm getting really close to an initial release of WPGraphQL for Advanced Custom Fields!

The codebase is making use of some new features in the core WPGraphQL plugin that are coming in v0.3.0, which is slated for release next week.

Once that's released, I will finalize a few things in the initial version of the WPGraphQL ACF Plugin and get that out

[2019-03-26 15:41] adamsoffer commented on #214
Exciting! Thanks for the update @jasonbahl

[2019-03-26 15:42] bovas85 commented on #214
Really cool, you got one license right here

[2019-03-26 16:18] jasonbahl opened #741 "Document upgrade guide for v0.3.0"
v0.3.0 is arguably the most substantial release to date. We need to document the upgrade path.

[2019-03-26 16:26] jasonbahl opened #742 "fix registerUser mutation"
fix `registerUser` mutation

[2019-03-27 19:43] renatonascalves commented on #734
Just a suggestion that it could be useful to have an easy way to filter that. On the WP REST API, you are kind of alone there.

[2019-03-27 19:46] jasonbahl commented on #734
@renatonascalves ya, this will all be filterable for sure.

The goal for all of the model layer rules is to have sensible "secure" defaults, but still be allow site owners to granularly customize to fit their needs.

[2019-03-27 20:13] renatonascalves commented on #735
Would it be complicated to have both options available? A hook somewhere...

[2019-03-27 20:16] jasonbahl commented on #735
@renatonascalves can you expand what you mean a bit?

[2019-03-27 20:24] renatonascalves commented on #735
Having the option to pull images from graphQL with this "restriction" and have an option to pull without the `post_parent`, like in a shortcode.

[2019-03-27 20:26] jasonbahl commented on #735
Maybe. Like you mean if the GraphQL request is happening internally in PHP instead of as an HTTP request it could be treated differently? 🤔

[2019-03-27 20:30] jasonbahl commented on #735
I think it ultimately boils down to WordPress being more consistent as a whole, not just WPGraphQL making some arbitrary decision here.

[2019-03-27 20:40] jasonbahl commented on #735
If an image _should_ be private, shortcodes _should_ respect that as well. It's a wider problem than any specific API

[2019-03-28 00:06] renatonascalves commented on #735
Agree! It's just that those things tend to take years to fix upstream.

[2019-03-28 01:01] jasonbahl commented on #735
But _even_ in how WPGraphQL treats it, I don't think it should allow image access to be public in shortcodes and private in an API request. Access to an image should be consistent in PHP or JS.

[2019-03-29 17:14] #732 closed

[2019-03-29 21:55] #742 closed

[2019-03-29 21:55] jasonbahl commented on #738
closed by #746

[2019-03-29 21:55] #738 closed

[2019-03-29 21:56] jasonbahl commented on #734
closed by #736

[2019-03-29 21:56] #734 closed

[2019-03-30 17:25] jasonbahl opened #752 "Add Tooling for consuming GraphQL queries in PHP"
Right now, there aren't heaps of options for consuming GraphQL queries and doing something with the GraphQL data from within PHP.

@benallfree suggested possibly making use of the Laravel Collection class to be able to do something like:

[code]

This is sweet!

I'm not sure if I want to jump straight into just implementing this Collection class right away (although it does look 🔥), but I _at leas

[2019-03-30 17:33] benallfree commented on #752
A little more background on my motivation for suggesting this.

I was busily writing an ORM for WP CPTs, and eventually I realized that I could define all my models as GraphQL types and fields.

One important hurdle is model relationships, especially distant relationships like hasManyThrough, or even more distant. I can use `graphql()` to query those relationships inside a resolver, which is a goo

[2019-03-31 12:16] benallfree commented on #752
Here is an actual example:

[code]
One caveat to using `graphql()` inside resolvers: be very careful about introducing infinite recursion.

[2019-03-31 12:34] jasonbahl commented on #752
Ya. I wonder if there’s a way we could detect it and prevent it or throw some very explicit error or something. 🤔

[2019-03-31 14:39] benallfree commented on #752
Probably would make sense that resolvers aren't re-entrant.

[code]

[2019-03-31 14:44] benallfree commented on #752
https://github.com/graphql/graphql-spec/issues/91#issuecomment-254895093

Not sure if this is more of a graphql-php issue, but it's worth noting.

[2019-04-01 03:09] CodeProKid opened #753 "Model Layer: Should not be able to query "future" posts without proper caps"
Need to account for querying for scheduled posts. Need to figure out the cap check logic for it and private vs restricted for it.

[2019-04-01 15:55] joseffb-mla opened #754 "How to create a field that is actually its own document tree (related custom post to current post)."
Hi. I have two custom post types Apples and Buckets where Buckets tracks groups of Apples in it's comment field via Apple's ID.

How would I extend the plugin in PHP to basically lookup related apple post and toss those documents (along with their custom taxonomies) into a field variables.

I was looking at the register_graphql_field but I'm not sure if it supports entire document objects.

I'd ba

[2019-04-01 17:48] CodeProKid opened #756 "Model Layer: Avatar"
Create a model layer for Avatar objects

[2019-04-01 17:48] jasonbahl commented on #756
👤

[2019-04-01 17:49] CodeProKid opened #757 "Model Layer: CommentAuthor"
Create a model layer for CommentAuthor objects

[2019-04-01 17:50] CodeProKid opened #758 "Model Layer: Edit Lock"
Create a model layer for EditLock objects

[2019-04-01 17:51] CodeProKid opened #759 "Model Layer: MediaDetails"
Create a model layer for MediaDetails objects

[2019-04-01 17:52] jasonbahl commented on #759
Interesting. Do you feel that this meta requires a model separate from the Media Item?

I guess I've always kind of thought of object meta as an extension of the object and would fall under the same Model as the object itself 🤔

[2019-04-01 17:52] CodeProKid opened #760 "Model Layer: MediaItemMeta"
Create a model layer for MediaItemMeta objects

[2019-04-01 17:53] jasonbahl commented on #759
That said, we don't have a great way to handle defining access control for deeply nested properties within meta 🤔

[2019-04-01 17:53] CodeProKid opened #761 "Model Layer: MediaSize"
Create a model layer for MediaSize objects

[2019-04-01 17:59] CodeProKid opened #762 "Model Layer: PostTypeLabelDetails"
Create a model layer for PostTypeLabelDetails objects

[2019-04-01 18:19] CodeProKid opened #763 "Model Layer: UserRole"
Create a model layer for UserRole object

[2019-04-01 18:45] jasonbahl opened #764 "MediaItem should return a union of Types based on Mime Type"
Currently, we expose a MediaItem type, and it's shape is very much based on Media Items being images.

Media Items can be images, videos, PDFs, .txt, and heaps of other things.

I think we may want to revisit using Interfaces / Unions to better specify the Type of Media a MediaItem is.

Not 100% sure what this _should_ look like, but I believe it's something we should think about.

Possibly someth

[2019-04-01 18:46] CodeProKid commented on #762
we chatted about this, and decided this would be handled on a higher level.

[2019-04-01 18:46] #762 closed

[2019-04-01 18:47] CodeProKid commented on #761
we chatted about this, and decided this would be handled on a higher level.

[2019-04-01 18:47] #761 closed

[2019-04-01 18:48] CodeProKid commented on #760
we chatted about this, and decided this would be handled on a higher level.

[2019-04-01 18:48] #760 closed

[2019-04-01 18:48] CodeProKid commented on #759
we chatted about this, and decided this would be handled on a higher level.

[2019-04-01 18:48] #759 closed

[2019-04-01 18:49] CodeProKid commented on #758
we chatted about this, and decided this would be handled on a higher level.

[2019-04-01 18:49] #758 closed

[2019-04-01 20:44] jasonbahl commented on #754
@joseffb-mla So, you'd want to register a connection between Apples and Buckets.

This will be _much_ easier to do after the upcoming v0.3.0 release dropping later this week.

I'll be writing a guide on some things, including the new ConnectionResolvers, so keep an eye on that.

If you still have questions after that, please ping me again and I'll see if I can help you further.

Thanks,

Jason

[2019-04-01 20:46] joseffb-mla commented on #754
Hi Jason, I was just looking at the way you set up comments in the code and came to same conclusion :) I'll wait for the update as this does seem a bit complicated :) Let me know if you need any testing as I am aiming on getting a working model out to team by end of week and wouldn't mind experimenting with you for QA.

[2019-04-01 20:47] jasonbahl commented on #754
@joseffb-mla checkout the "model-layer" branch then. . .it's what the next release is going to be based on.

The ConnectionResolvers I think are MUCH easier to work on.

[2019-04-01 20:48] joseffb-mla commented on #754
OK will do.

[2019-04-01 20:51] jasonbahl commented on #754
Just note that there are some breaking changes with that version. I'll be documenting them and an upgrade guide to publish with the release, but if you're already extending the plugin, some things could break on you when you update.

Keep an eye out for the upgrade guide 😄

[2019-04-01 20:54] joseffb-mla commented on #754
Look at the branch now. Is there any alpha docs for the new feature? if not I will wait for the release. ( I've just started with your plugin and it's better time spent to wait for your docs then to go fishing. )

By the way nice work so far. I've gotten the "apples" listing running on react with no probs so far.

[2019-04-01 20:55] jasonbahl commented on #754
No docs quite yet. Probably spending a good chunk of the day tomorrow working on them.

[2019-04-01 20:55] jasonbahl commented on #754
Code is commented probably better than the current version though 😄

[2019-04-01 20:56] jasonbahl commented on #754
Oops. Didn't mean to close 🤦‍♂️

[2019-04-01 20:56] joseffb-mla commented on #754
Cool, I'll go and work on more front-end stuff that's still pending until then I guess :)

I've downloaded the code and will be reading it in depth tomorrow 👍

[2019-04-02 16:32] joseffb-mla commented on #754
ok so I've updated my composer to use the "model-layer" branch.

I've added register_graphql_connection to init.
`register_graphql_connection( self::get_graphQL_bucket_connection_config( 'bucket' ));`

added a function to do the actual call back stuff.
[code]

but doesn't seem to work. What am I missing?

[2019-04-02 16:49] jasonbahl commented on #754
@joseffb-mla I'm working on the upgrade guide today. I'll try and share with you a bit later and see if that helps.

😄

[2019-04-02 16:50] joseffb-mla commented on #754
Sounds awesome. Thanks!

[2019-04-03 13:33] jasonbahl commented on #763
closed by #766

[2019-04-03 13:33] #763 closed

[2019-04-03 13:34] jasonbahl commented on #757
closed by #769

[2019-04-03 13:34] #757 closed

[2019-04-03 13:34] jasonbahl commented on #756
closed by #768

[2019-04-03 13:34] #756 closed

[2019-04-03 13:38] jasonbahl commented on #735
So, just a quick update here. WordPress core considers all uploaded media items public out of the box.

If you upload a media item, it has a publicly accessible URL by default. I've verified with uploading a ZIP file, JPG, PDF and even an .html file.

They all get a permalink with no prefix, like a page permalink structure.

For the time being, WPGraphQL will remain exposing all media items as pub

[2019-04-03 13:54] jasonbahl commented on #753
Closed by #765

[2019-04-03 13:54] #753 closed

[2019-04-03 13:54] jasonbahl commented on #698
closed by #755

[2019-04-03 13:54] #698 closed

[2019-04-03 13:55] jasonbahl commented on #603
closed by #688

[2019-04-03 13:55] #603 closed

[2019-04-03 13:55] jasonbahl commented on #609
closed by #688

[2019-04-03 13:55] #609 closed

[2019-04-03 13:55] jasonbahl commented on #605
closed by #694

[2019-04-03 13:55] #605 closed

[2019-04-03 13:55] jasonbahl commented on #697
closed by #701

[2019-04-03 13:55] #697 closed

[2019-04-03 13:56] jasonbahl commented on #607
closed by #700

[2019-04-03 13:56] #607 closed

[2019-04-03 13:56] jasonbahl commented on #606
closed by #696

[2019-04-03 13:56] #606 closed

[2019-04-03 14:00] #486 closed

[2019-04-03 14:01] jasonbahl commented on #610
closed by #686

[2019-04-03 14:01] #610 closed

[2019-04-03 14:01] jasonbahl commented on #684
closed by #689

[2019-04-03 14:01] #684 closed

[2019-04-03 14:02] jasonbahl commented on #280
Closed by #683 (and like 100 other stories)

[2019-04-03 14:02] #280 closed

[2019-04-03 14:02] jasonbahl commented on #618
closed by #683

[2019-04-03 14:02] #618 closed

[2019-04-03 14:02] jasonbahl commented on #604
closed by #683

[2019-04-03 14:02] #604 closed

[2019-04-03 14:17] jasonbahl commented on #245
Closed by #280 and it's associated stories

[2019-04-03 14:17] #245 closed

[2019-04-03 14:19] jasonbahl commented on #112
Closing per #590

[2019-04-03 14:20] jasonbahl commented on #113
I believe the work done by @epeli should make this an accomplishable task now 😄

Can probably get this on the roadmap for the next release 🤔

[2019-04-03 14:22] jasonbahl commented on #326
closed by #695

[2019-04-03 14:22] #326 closed

[2019-04-03 14:37] jasonbahl commented on #589
This was resolved by #660

[2019-04-03 14:37] #589 closed

[2019-04-03 14:38] jasonbahl commented on #587
Closed by #722

[2019-04-03 14:38] #587 closed

[2019-04-03 14:38] jasonbahl commented on #557
Closed by #591

[2019-04-03 14:38] #557 closed

[2019-04-03 14:40] jasonbahl commented on #518
@kidunot89 I'm closing this as it appears like it was resolved based on that last note. We can re-open if it's still an issue though.

[2019-04-03 14:40] #518 closed

[2019-04-03 14:41] jasonbahl commented on #729
Closed by #744

@epeli if you come across further issues, let's open a new issue and reference this one if necessary

[2019-04-03 14:41] #729 closed

[2019-04-03 16:44] jasonbahl commented on #723
Ok, so we are now in a much better spot to support this feature, either actually in the core plugin (still have some reservations on exposing it by default), or via an extension.

The connections are now properly filterable, so we can _actually_ get info from the underlying query and pass through to PageInfo now.

You can see an example in the code comments here:

https://github.com/wp-graphql/wp-

[2019-04-03 17:07] epeli commented on #723
Cool! I'll probably have to tackle this in coming months if nobody else beats me to it.

[2019-04-03 18:18] CodeProKid opened #773 "Terms in a non-public taxonomy should be considered private"
Part of the model layer, if a term is in a taxonomy with `public => false` set, the term should be private unless you have the `$taxonomy->cap->edit_terms` cap.

[2019-04-03 18:32] jasonbahl commented on #773
Let's table this for now. It doesn't look like the REST API does anything to address private taxonomies, and all core does (from what I can tell) is hide the UI altogether for ALL users.

So, to me, private for taxonomy is nullified by `show_in_graphql => true`

[2019-04-03 18:36] CodeProKid commented on #773
I'll kick it for now, but I do think it's valid. Like if you want to add some terms to a post for internal classification/organization. You might want to expose it in GQL, but not have it be public. It seems like the `public` flag would be what you want to use in the taxonomy registry to make this happen everywhere.

[2019-04-03 18:38] CodeProKid opened #774 "Users who haven't published any posts should be considered private instead of restricted"
In the model layer, we need to make users private that don't have any published posts. I think this is being done elsewhere, but if someone executes a node query for a single user that hasn't published any posts, it should be private instead of restricted, unless they have the `list_users` cap.

[2019-04-03 20:08] jasonbahl commented on #773
ya, so you can have the term `show_in_graphql` and `private` at the same time.

That would allow for WPGraphQL queries and mutations to read/write to it, but no UI to exist.

¯\_(ツ)_/¯

[2019-04-04 13:36] #740 closed

[2019-04-04 13:36] #699 closed

[2019-04-04 13:48] #375 closed

[2019-04-04 13:48] #687 closed

[2019-04-04 15:02] mishingo commented on #214
+1 here for a license

[2019-04-04 19:10] CodeProKid opened #778 "Menus not attached to a menu-location should be private"
Menus that aren't attached to a menu-location should be private in the Menu model.

[2019-04-04 19:13] CodeProKid opened #779 "Cleanup in Comment model"
Need to clean up a few things in the comment model:
- Need a strict `===` check here -> https://github.com/wp-graphql/wp-graphql/blob/feature/model-layer/src/Model/Comment.php#L79
- Need to remove `isPublic` and `isPrivate` fields here -> https://github.com/wp-graphql/wp-graphql/blob/feature/model-layer/src/Model/Comment.php#L62-L63 since they aren't supported anymore.

[2019-04-04 21:59] jasonbahl commented on #754
@joseffb-mla hey! Here's a doc on the new connections. You can check out the "model-layer" branch for these docs to be accurate, or wait until we formally release v0.3.0. . .it's not looking like it will change from that branch _too_ much. . .still trying to release sometime today, but trying to get more documentation prepared for it.

Let me know if you still have questions after reading these co

[2019-04-04 22:56] joseffb-mla commented on #754
Sweet. I’ll look at the, tonight. I can creat you some advanced example
code based on what I’m doing once I get it working if you'd like. Let me
know.

On Thu, Apr 4, 2019 at 5:59 PM Jason Bahl <notifications@github.com> wrote:

[2019-04-05 15:04] jasonbahl commented on #754
@joseffb-mla wow, I just noticed I didn't even share the link 🤦‍♂️

http://docs.wpgraphql.com/extending/connections

[2019-04-05 17:12] jasonbahl opened #782 "Add Interfaces for common Field libraries to use"
In talking with @Shelob9 and working on WPGraphQL for ACF, I think it would be great for WPGraphQL to provide interfaces for common Field Types that plugins (and even the core WPGraphQL) can make use of.

We proof of concept-ed a super rough idea for how something like Caldera Forms could expose Forms to GraphQL, and query fields via `list_of => CalderaFormUnion`

See: https://github.com/CalderaWP

[2019-04-05 19:12] jasonbahl commented on #121
@kidunot89 is a Codeception pro and could probably provide some good insight on how we could better organize our tests, make use of Codeception helper functions, etc.

@kidunot89 please drop some knowledge on us so we can clean up some Tests 😄

[2019-04-05 20:07] renatonascalves commented on #121
Maybe see what's being duplicated at the moment.

[2019-04-05 21:45] kidunot89 commented on #121
I'm definitely not a pro, I have found myself digging into the Codeception for WordPress suite looking for ways to make tests cleaner and easier to write, and in doing so I've come up with a few ways to do just that.

Lets start by breaking down a typically unit test. Say for instance, we were testing the `Comment` object type, and we've already generated our test file so we can start .

First we'

[2019-04-08 07:14] mwidmann opened #784 "The link to the upgrade guide in the release notes for 0.3.0 is wrong"
I have no if the release notes can be updated, but the link to the upgrade guide in the release notes points to https://www.wpgraphql.com/2019/04/03/upgrading-to-v0-3-0/ which leads to a 404, while it should point to https://www.wpgraphql.com/2019/04/05/upgrading-to-v0-3-0/

[2019-04-08 08:34] paulisloud opened #785 "0.3.0 bug: "wp_" Hard coded as table prefix, breaks sites on upgrade"
Quick fix, in src/Data/Config.php, I'd suggest:

[code]

[2019-04-08 08:43] mwidmann opened #786 "Sticky Posts are not being handled anymore in 0.3.0"
At first I thought, that the addition of

https://github.com/wp-graphql/wp-graphql/blob/86a7d9f0a63bac9ed8f42a1b178bcdbe5162a28f/src/Data/Connection/PostObjectConnectionResolver.php#L117

brought up this error, but it seems to be way deeper than this. It appears that since 0.3.0 fetching the posts related to a query occurs in two steps: first the IDs of the posts are gathered, then the posts for t

[2019-04-08 08:55] epeli commented on #785
Sorry by bad. Sent a fix here https://github.com/wp-graphql/wp-graphql/pull/787

[2019-04-08 09:28] paulisloud opened #788 "0.3.0 bug: Queries on 'posts' with category value return internal server error"
This is fine:
[code]

This returns a query result with an error:

[code]

A sample result:

[code]

[2019-04-08 09:37] epeli commented on #788
Can you add `define( 'GRAPHQL_DEBUG', true );` to your `wp-config.php` to get a better error message?

[2019-04-08 10:16] paulisloud commented on #788
Sure:

[code]

[2019-04-08 11:15] homerjam commented on #224
@jasonbahl Hi! One suggestion for Packagist would be the [update hook](https://packagist.org/about#how-to-update-packages) this would allow us to automatically obtain the latest versions on push (right now 0.3.0 is missing. Thanks!

[2019-04-08 12:40] jasonbahl commented on #788
Sweet. Thanks! The debug message helps. I know what to fix now.

[2019-04-08 12:53] joseffb-mla commented on #754
Np. I was tied up all weekend. Unfortunately I'm getting a web page error
on the doc page.

On Fri, Apr 5, 2019 at 11:04 AM Jason Bahl <notifications@github.com> wrote:

[2019-04-08 15:38] Joseffb commented on #754
Hey @jasonbahl.

Got it working, but I needed to create my own resolver class to allow for Parent_post to be null and to include a post__in.

I tried doing it via the resolver->setQueryArg('in', $array) and  resolver->setQueryArg('parent', 0) but they were both overridden further down the line with defaults.

[2019-04-08 18:04] jasonbahl commented on #785
@paulisloud @epeli thanks! reviewing 👀

[2019-04-08 18:04] #785 closed

[2019-04-08 19:20] jasonbahl commented on #788
@paulisloud I'm not replicating this. Can you share some example data so I can try and get to the same point?

Perhaps we can figure out what the case is causing this and make sure we get a test in place to prevent it from happening again.

When I look at the code that resolves this conneciton, I'm not seeing anything obvious that would be causing this issue.

Going on a limb, but is there any cha

[2019-04-08 20:23] jasonbahl commented on #754
@joseffb-mla the `setQueryArg` gets executed right before the args are used by WP_Query, so they shouldn't be getting overridden at all.

Can you share your code that you used so I can take a look?

[2019-04-08 20:24] Joseffb commented on #754
Sure thing will email it to you later today.

Sent from my iPhone

[2019-04-08 20:26] jasonbahl commented on #754
Just post in here instead of email. Will help anyone else looking to work on custom connections. . .unless I suppose there's something sensitive about the code.

[2019-04-08 20:27] joseffb-mla commented on #754
Will do. Nah, just messy lol.

On Mon, Apr 8, 2019 at 4:26 PM Jason Bahl <notifications@github.com> wrote:

[2019-04-08 20:39] jasonbahl commented on #224
@homerjam I thought I had this wired up. Let me check 🤔

[2019-04-08 20:41] #774 closed

[2019-04-08 21:00] jasonbahl commented on #785
I merged this, then realized it still had a bug. Merged #790 as a follow up, then released v0.3.01 as this bug was causing some bad issues to folks dashboards.

Thanks for the quick report @paulisloud  and the quick response @epeli!

[2019-04-08 21:46] jasonbahl commented on #786
@mwidmann ah, you know what, I think we set `ignore_sticky_posts` to true by default as part of the `model-layer` branch, before you had your PR in.

So now we have it here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/PostObjectConnectionResolver.php#L117

And here: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/PostObjectConnectionResolver.

[2019-04-08 21:49] jasonbahl commented on #786
@mwidmann so, as far as how GraphQL loads data, it actually does a very similar thing to WP_Query.

When you execute a WP_Query, it makes one initial query for just the IDs, then it looks to see if those IDs are in the cache or not. If they are cached, it pulls the object from the cache. If they're not, it does another SQL request to get the full object.

WPGraphQL is doing the same thing, just sp

[2019-04-08 21:50] jasonbahl commented on #786
I think if you can confirm removing the instance that sets it to true restores the behaviour you would expect, you can open a PR for that and we can get it merged.

[2019-04-08 21:52] jasonbahl commented on #784
Updated the link. Thanks for pointing that out. I linked to the draft URL but published 2 days later 🤦‍♂️

[2019-04-08 21:52] #784 closed

[2019-04-08 21:56] jasonbahl opened #794 "PingBack and Trackback Support"
Currently when querying for comments, there is a mix of Comments and Pingbacks (and Trackbacks, I believe) returned. This shouldn't happen.

Comments, PingBacks and Trackbacks should have their own entry points. Something like:

[code]

This would entail adjusting the connection queries that fetch comments, introducing new Pingback and Trackback Types, and introducing connections to said Types.

[2019-04-08 21:57] jasonbahl commented on #794
See conversation here: https://wp-graphql.slack.com/archives/C3NM1M291/p1554737220531700

[2019-04-09 09:40] paulisloud commented on #788
Hi @jasonbahl, just pulled 0.3.01 and the issue is fixed ¯\_(ツ)_/¯

Thanks for the quick attention to this, whatever you did!

[2019-04-09 11:58] paulisloud commented on #788
Looking over TermObjectLoader::loadKeys, the `get_term_by` looks up based on `term_taxonomy_id`, which seems to me based on the values being passed in that it should be `term_id`. This is causing mismatches in results. I.e. posts responding to queries with categories they don't have. The line in question:
[code]

[2019-04-09 16:12] jasonbahl commented on #754
@joseffb-mla when using `setQueryArgs`, you want to use the args as `WP_Query` would read them

So, instead of:

[code]

Try:

[code]

And see if that works. Shouldn't need to copy the Resolver class at all.

[2019-04-09 16:13] jasonbahl commented on #754
sorry if my documentation is lacking here. I need to provide some more examples, etc.

[2019-04-09 16:23] joseffb-mla commented on #754
OK that makes more sense. I was using the short version you use in the actual graphql query.

This works now as expected (and let me delete one whole file :) )

I can draft up a quick how to for the scenario that I was working on (where you use the comment table to track related post — pretty common) if you would like.

Regards, Joseff
______________________________
Joseff Betancourt
Sr. Website D

[2019-04-09 16:36] jasonbahl commented on #754
ya, the more knowledge that's out there for others doing similar things, the better.

[2019-04-09 22:51] drewbaker opened #795 "How to add meta data the right way"
OK, so we are in the middle of building a big WordPress Nuxt framework. We are using WordPress a headless CMS. So obviously we need to make use of custom meta fields a lot.

I've read all the issues and docs on getting meta out of a WP-GQL query, and it seems there is a big ACF plugin coming (very needed), but in the meantime it seems just having a way to get back all meta would be a good work aro

[2019-04-09 22:54] jasonbahl commented on #795
ACF is getting close. I can demo for you when we chat tomorrow 😀

[2019-04-09 23:23] drewbaker commented on #795
Looking forward to it Jason!

For anyone else in the future, I was trying to get this working today. This would make it fast to register lots of meta fields that were strings.

[code]

It doesn't work yet, I think because the meta_key needs to be camelCase, not underscored like what is the WordPress convention. Also, it seemed to give sever errors, I suspect because `$post_types` is more than just

[2019-04-10 20:37] drewbaker opened #796 "Add src-set to attachments"
WordPress is great at generating the `src-set` for responsive images. It would be great if we could query an attachment for `srcSet` and get back the string that WordPress generates. It's tedious to build that on the frontend, and would require a large GQL, and also for the frontend to know what image sizes were available on the server.

This is the function that WordPress has, where it takes an a

[2019-04-10 20:47] jasonbahl commented on #796
@drewbaker thanks for opening this issue!

How do you envision this working and what do you feel the expected output should be?

So, it looks like there are a few variations of inputs for that function, such as `size` and `image_meta`

I think we can support the `size` as an argument on the field in GraphQL, but not 100% sure I understand what the last arg `$image_meta` is doing. Do you have examp

[2019-04-10 20:50] jasonbahl commented on #796
It looks like that function outputs a list of URLs.

So a query like:

[code]

Could return

[code]

Is that the shape you would expect? or something else?

[2019-04-10 20:54] jasonbahl commented on #796
I can also see querying like so:

[code]

and getting (large as the first item)

[code]

[2019-04-10 21:19] drewbaker commented on #796
I was thinking it would work like the first example, I don't think you need to request a specific size for `src-set`:

[code]

And the output you have. I'm not sure it needs to be an array, it seems like you'd only use it as a string to make an `<img srcset="comma separated string here"/>` but I guess it can't hurt to have it come back as an array.

I'm not sure what that meta arg is for to be hon

[2019-04-12 17:11] jasonbahl opened #797 "get_type should check `isset()` instead of `null !==`"
If a Type is not in the registry and someone checks `TypeRegistry::get_type()` this method returns a warning because it doesn't check if it's set.

Should change to:

[code]

[2019-04-12 17:29] #797 closed

[2019-04-12 17:32] jasonbahl opened #799 "Post Types should be configured to "show_in_graphql" even outside GQL requests"
Currently we setup post_types to "show_in_graphql" only within the context of GraphQL Requests, but that knowledge is beneficial to non-graphql requests as well.

We just need to change this:

https://github.com/wp-graphql/wp-graphql/blob/b1caf665375a09ae9620abd282b0f47eb527a407/wp-graphql.php#L271

[code]

to this:

[code]

[2019-04-12 17:43] jasonbahl commented on #796
@drewbaker so, In looking at WP Core, I only see `wp_get_attachment_image_srcset` executed once, by the twenty-sixteen theme:

https://github.com/WordPress/WordPress/search?l=PHP&q=wp_get_attachment_image_srcset

Is there another function that's similar but more widely used? 🤔

[2019-04-12 17:55] drewbaker commented on #796
Did you check this out?
https://core.trac.wordpress.org/browser/tags/5.1.1/src/wp-includes/media.php#L897

That `wp_get_attachment_image()` is used a lot in sites, and it calls `wp_calculate_image_srcset()` and `wp_calculate_image_sizes()`.

[2019-04-12 17:57] jasonbahl commented on #796
ah ha! `wp_calculate_image_srcset` is used more. Thanks! Checking this out a bit more to figure out the best approach in the GraphQL Schema.

[2019-04-12 19:32] #799 closed

[2019-04-15 18:18] benallfree opened #801 "Enhancement: Add graphql_register_fields action"
Currently, only a `graphql_register_types` action exists for registering both types and fields. This makes sense for most use cases, but a separate `graphql_register_fields` action would help for use cases where types and fields need to be registered separately. (For example, when a circular dependency exists such as `<Type1>.foo` returns `<Type2>` and `<Type2>.bar` returns `<Type1>`).

This can a

[2019-04-15 18:20] benallfree opened #802 "Bug/Enhancement: Report references to missing types in debug mode"
Currently, `['list_of'=><missing type>]` will not present an error even in debug mode. Referencing a missing type leads to undefined behavior such as schema types with empty field sets.

[2019-04-15 18:28] jasonbahl opened #803 "{$postType}By entry points are broken!"
This PR breaks the `{postType}By` entry points, because at `init` it tries to figure out what post types should show in graphql, which means any post types set to show_in_graphql at a later priority are not included.

We should hook the following to a very late priority

[code]

[2019-04-15 18:50] #803 closed

[2019-04-16 16:20] CodeProKid commented on #779
I think another model needs some similar cleanup. I have to look to remind myself

[2019-04-16 16:33] #741 closed

[2019-04-16 16:37] CodeProKid commented on #608
I don't have a clear vision for this yet, we probably need to chat about this some more.

[2019-04-16 18:59] JosephCarrington opened #805 "v0.3.x breaks menus"
On versions 0.3 and above, this query returns either an empty result set or a fatal error
[code]
while on version v0.2.3, the same query returns expected results.
This was tested on a vanilla WP install with only wp-graphql and wp-graphiql

Thanks!

[2019-04-16 19:02] jasonbahl commented on #805
@JosephCarrington Thanks! I'll take a look shortly and make sure to get some tests in place to prevent another future regression.

[2019-04-16 19:26] jasonbahl commented on #805
@JosephCarrington I opened a PR here to address this: https://github.com/wp-graphql/wp-graphql/pull/806

Thanks again for submitting the issue!

[2019-04-16 19:40] #805 closed

[2019-04-16 19:45] jasonbahl commented on #805
@JosephCarrington Want to give the latest `develop` a shot and see if that's working for you now? 😄

[2019-04-16 20:02] JosephCarrington commented on #805
I have done so. It fixes the issue mostly. However I had to re-assign the menu to the location to get it to work. Also, I assigned the test menu to the footer, then unassigned it. At that point, running the following query:
[code]
returned the test menu even though it as no longer assigned. I then assigned a new test menu, and running the above query returned two menus:
[code]

But perhaps this is

[2019-04-16 20:03] JosephCarrington commented on #805
I am thinking that unassigning a menu from a location does not change whatever it is that wp-graphql is using to determine which menus go where

[2019-04-16 20:04] jasonbahl commented on #805
@JosephCarrington 🤔 Perhaps a caching issue at play here?

[2019-04-16 20:05] jasonbahl commented on #805
I imagine it's a cache issue based on the behavior you're describing. Do you have an persistent object caching in place?

[2019-04-16 20:06] jasonbahl commented on #805
But, there still _may_ be another issue we need to investigate with WPGraphQL 🤔

[2019-04-16 20:10] JosephCarrington commented on #805
I am on Kinsta. I have cleared it's cache from both the WP admin and the Kinsta admin, but still get the two menus. If it is in fact a caching issue then it is outside of my control presently. I see in the src that you are running: `$resolver   = new MenuConnectionResolver( $source, $args, $context, $info, 'nav_menu' );` I oinder if there is something similar I can do in regular old PHP to see if

[2019-04-16 20:14] jasonbahl commented on #805
so, it runs a WP_Term_Query and the args are determined here:
https://github.com/wp-graphql/wp-graphql/blob/2c75ece5791b4a48e2b6c3a4a3761c78a3ceba37/src/Data/Connection/MenuConnectionResolver.php#L17-L43

so something like:

[code]

[2019-04-16 20:23] joseffb-mla opened #807 "CreateComment Mutation does not update comment_approved status when provided."
Query:
[code]

Expectation:
Add the comment to post 1241 with content of "19" author of "CollectionBuilder" comment type of "artifact" and comment approved value of "1"

Result:
Add the comment to post 1241 with content of "19" author of "CollectionBuilder" comment type of "artifact" and comment approved value of "0"

I ran this authenticated as admin and unauthenticated, results same for each.
I

[2019-04-16 20:24] JosephCarrington commented on #805
Interestingly enough, that query does in fact return two menus:
[code]

[2019-04-16 20:25] jasonbahl commented on #805
@JosephCarrington interesting 🤔

Do you have multiple menus assigned somehow. Wonder if there's a core bug we just discovered too 🤔

[2019-04-16 20:36] JosephCarrington commented on #805
Well no matter what we `include`, this code returns every menu:
[code]
I am wondering if this is either a Kinsta specific issue, or if maybe the `terms` are not the best way to determine the current state of truth for menus

[2019-04-16 20:38] jasonbahl commented on #805
Seems like an underlying data issue from what I can tell. Looks like you have both `test` and `test2` assigned to the same location. 🤔

[2019-04-16 20:39] JosephCarrington commented on #805
I think it might be one of those 'if WP cannot find anything matching this query, it returns everything'

[2019-04-16 20:40] jasonbahl commented on #805
could be 🤔

[2019-04-16 20:42] JosephCarrington commented on #805
May I invite you as an admin to my testing sandbox so that you can see that there are not two menus set to the same location?

[2019-04-16 20:43] jasonbahl commented on #805
@JosephCarrington sure. are you in slack? we can coordinate creds in there

[2019-04-16 20:45] JosephCarrington commented on #805
I am `on` Slack, but not in any kind of wp-graphql Slack. my email is jcarrington@meowwolf.com though, if that helps

[2019-04-16 20:46] jasonbahl commented on #805
@JosephCarrington you can join the WPGraphQL slack here, if interested: https://wpgql-slack.herokuapp.com/

But I'll email you.

[2019-04-17 21:53] drewbaker commented on #590
@chriszarate How'd you go with this? Would be slick to use persistent query's with nuxt-apollo on our sites.

[2019-04-17 22:14] jasonbahl commented on #590
@drewbaker I haven’t personally tested, but there’s this repo:

[2019-04-18 08:57] ciprianimike opened #809 "Cannot query field update_date on type Post"
Updating wp-graphql from 0.2.x to 0.3.01 some queries that worked before now return
`{message: "Cannot query field "update_date" on type "Post".", category: "graphql", locations: Array(1)}`

the query is defined as:
[code]

then it is requested as:
[code]

It would seem that the update_date field is set in the query by the apollo client, and not at the application level.

[2019-04-18 13:23] jasonbahl commented on #809
@ciprianmike, `update_date` Isn’t a field that’s been provided by WPGraphQL in any version. My guess is it was filtered into your Schema by custom code and something needs to happen to update how that field was added to your Schema.

Can you provide info on how that field was added to the Schema on the server?

[2019-04-18 15:23] Emiliano-Bucci opened #810 "v0.3.x menuItems connectedObject issue"
With version 0.3.x it isn't possible to query for `connectedObjects` (at least for `categories` object) within `menuItems` anymore.

[code]

With v0.2.3:

![image](https://user-images.githubusercontent.com/36669369/56372043-86a41b00-61fe-11e9-9cc2-4f10b1692b8c.png)

With v0.3.x:

![image](https://user-images.githubusercontent.com/36669369/56372011-7ab85900-61fe-11e9-8fc8-8737cb6a4aae.png)

[2019-04-18 18:57] #517 closed

[2019-04-19 12:58] skaltenegger commented on #795
@jasonbahl I'm currently building a react (next.js) project with GraphQL and would love to include my existing wordpress api (that also exposes ACF fields) via wp-graphql... are there any news on this?
I just installed https://github.com/wp-graphql/wp-graphql-acf but it does not seem to expose ACF's custom fields in the queries...
Thanks a lot,
Stefan

[2019-04-19 17:06] jasonbahl commented on #795
@skaltenegger your timing is great. We've just launched here: https://www.wpgraphql.com/acf/

I'll update that repo to reflect details on how to get the new version of the plugin.

Looking forward to what ya'll create with it!

[2019-04-19 18:27] jasonbahl commented on #214
Howdy folks! It's finally here!

![Screen Shot 2019-04-19 at 10 53 19 AM](https://user-images.githubusercontent.com/1260765/56437931-73488c80-629e-11e9-8302-301b63a4c1ad.png)

Looking forward to what ya'll create with this!

Learn more here: [https://wpgraphql.com/acf](https://wpgraphql.com/acf)

[2019-04-19 18:32] adamsoffer commented on #214
Wow! Incredible work congrats! Excited to dig in.

[2019-04-19 21:41] bovas85 commented on #214
Got one, will refactor one site next week

[2019-04-19 21:42] jasonbahl commented on #214
Awesome! Appreciate the support. If you run into anything weird, please let me know. 😀

[2019-04-19 22:08] JosephCarrington opened #811 "v0.3.x menu where clause not being respected"
No matter what args you provide to the menus(where: {}) clause, it returns all the menus. I think this is because the `$args` variable is not being fed into the parse_query_args() function at: https://github.com/wp-graphql/wp-graphql/blob/develop/src/Data/Connection/MenuConnectionResolver.php, so it's always null

[2019-04-19 22:18] jasonbahl commented on #811
@JosephCarrington thanks for submitting this issue. I've opened a PR to address it. #812

Thanks!

[2019-04-19 22:36] #811 closed

[2019-04-20 06:23] benallfree opened #813 "Bug: {$type}Id not working"
Seems there has been a regression in `Type/Object/PostObject.php:140`. The default resolver from `graphql-php`'s `Executor::defaultFieldResolver` will search for `$source->{$fieldName}`, which of course does not exist.

This fixes it:

[code]

[2019-04-20 14:53] jasonbahl opened #815 "Static $allowed_post_types and $allowed_taxonomies causing funky issues"
The static vars:

`WPGraphQL::$allowed_post_types` and `WPGraphQL::$allowed_taxonomies` are causing some funky issues, specifically in unit tests.

Swapping out to use `WPGraphQL::get_allowed_post_types()` and `WPGraphQL::get_allowed_taxonomies()` fixes the funkiness.

[2019-04-22 13:45] #754 closed

[2019-04-22 14:46] skaltenegger commented on #795
Hi @jasonbahl,

That's great news indeed, thanks for sharing!
Is there any possibility to get a free trial version of the plugin so that we can check out if it works well for our ACF field structure before we would of course buy a license?

Thanks and all the best,
Stefan

[2019-04-23 18:41] jasonbahl opened #818 "Cursor pagination not working with custom ordering"
When paginating with custom orderby paramaters on posts queries, the results don't come back as expected.

More details to come. . .but shortly, but wanted to get an issue filed.

[2019-04-24 13:29] szvest opened #819 "v0.3.x - Resolver on type User returning 'false' instead of meta key value"
It seems that there is a problem with resolving custom user meta fields with version 0.3.

I made sure to update my action `graphql_register_types` resolvers by replacing the legacy `\WP_User` with `\WPGraphQL\Model\User` but it seems that the User object cannot get resolved with `$user->ID` unless it is hardcoded.

Below is a reproduction of the issue (gif)...

https://drive.google.com/file/d/1W5

[2019-04-24 13:31] saarnilauri opened #820 "Query schema for orderby inside where is not intuitive"
Currently the orderby is set like this:
[code]
To me this is not intuitive as orderby is not really part of where clause. To me it would make more sense to set it as follows:
[code]
I know this will break all queries using orderby so, might be a big breaking change for many developers.

Please, let me know your thoughts.

[2019-04-24 13:33] CodeProKid commented on #819
@szvest try using `$user->userId` since `$user->ID` is the global ID, not the DB int ID now.

[2019-04-24 13:34] jasonbahl commented on #820
@saarnilauri I would agree.

I plan to revamp connection args altogether in the somewhat near future.

Still needs some discussion, but the connection args are generally pretty ugly, in my opinion. . .

Initial implementation tried too hard to just mirror WP_Query capabilities, without thinking through how to improve the experience.

[2019-04-24 13:41] szvest commented on #819
Excellent! Works like a charm now. Thanks @CodeProKid.

[2019-04-24 13:41] szvest commented on #819
Excellent! Works like a charm now. Thanks @CodeProKid.

[2019-04-24 13:41] #819 closed

[2019-04-24 13:41] jasonbahl commented on #819
Thanks @CodeProKid! closing this issue.

[2019-04-24 13:41] jasonbahl commented on #819
ah @szvest beat me to it 😄

[2019-04-24 13:46] jasonbahl commented on #820
Some other things that bug me are that we have where args such as `tagIn` and `categoryIn` are hard coded into the connection args, even if the post type doesn't have categories and tags. . .and custom Taxonomies don't show.

It's a good time to revisit the connection args altogether

[2019-04-24 18:53] manzoorwanijk opened #822 "The post date field does not conform to RFC3339"
The `date` field returned is in the raw MySQL format (`"date": "2019-03-31 17:56:06"`) whereas, it should conform to RFC3339 (`"date": "2019-03-31T17:56:06"`)

[2019-04-25 03:38] seagyn opened #823 "Custom taxonomies not returning correct data"
When making a query to a custom taxonomy, I am getting inconsistent results. 1 taxonomy will return terms from another and sometimes it errors with: `Method WPGraphQL\\Data\\Loader\\TermObjectLoader::loadKeys is expected to return an array with keys but got: null`

## Some example queries:

This returns terms from another custom tax
[code]

This errors:
[code]

This is how I registered the tax (th

[2019-04-25 04:21] jasonbahl commented on #788
@paulisloud can you confirm this is fixed now with PR #824?

I'll write a test for it tomorrow to prevent regressions if you can confirm.

[2019-04-25 05:33] seagyn opened #825 "Object Id returning null"
When performing a query on a custom post type, the {$post_type}Id of the node returns null. Normal posts work.

This returns the correct response:
[code]

This returns `Cannot return null for non-nullable field Car.carId.`:
[code]

Running v0.3.2.

[2019-04-25 07:43] paulisloud commented on #788
Roger, we're golden.

[2019-04-25 08:45] paulisloud opened #826 "register_graphql_field type change?"
Guessing this is just something I've missed in the docs, but have dug around quite a bit.

These registered fields were working just prior to 0.3.x upgrade (latest dev branch):

[code]

Now these sorts of fields either return empty strings `""` for `title` and `null` for `url`, as would be the case for such a query:

[code]

The addition of an ID field causes a server error, as in this query:

[co

[2019-04-25 09:49] paulisloud commented on #825
@seagyn running in to the same thing. Are you returning a WPGraphQL type from this query by chance? Similar to:

[code]

or

[code]
In my app, I've been able to narrow this issue down to those sorts of queries, curious if it's the same on yours. [Here is more detail](https://github.com/wp-graphql/wp-graphql/issues/826).

[2019-04-25 15:06] paulisloud opened #827 "Error when creating comments on latest dev branch"
When trying to leave a comment using code that worked on 0.2.x, using the latest of 0.3.x, I get:

`
Error: GraphQL error: Variable "$input" got invalid value {"clientMutationId":"CreateComment","content":"Test","author":"Paul","authorEmail":"my@email.com","postId":"1234=","authorIp":"1.2.3.4"}; Field "postId" is not defined by type CreateCommentInput.
`

Has the API for comments changed?

[2019-04-25 15:09] jasonbahl commented on #827
@paulisloud the `postId` input changed to `commentedOn` I believe, because it can be more than just posts.

I believe I touched on this in the release notes 🤔, but if not, my apologies. That was a monster release, and clearly some regressions I didn't know about snuck through too.

Let me know if `commentedOn` works.

[2019-04-25 15:15] paulisloud commented on #827
Didn't see it in the blog post or the README, but may have missed it elsewhere.

Did a quick test on `commentedOn` and `commentOn` (it appears to be `commentOn` [here](https://github.com/wp-graphql/wp-graphql/blob/2c75ece5791b4a48e2b6c3a4a3761c78a3ceba37/src/Mutation/CommentCreate.php#L28)).

Submitting with `commentOn` does in fact submit the comment, but returns an error similar error to what I

[2019-04-25 15:17] jasonbahl commented on #827
🤔

Ok. I'll take a look. Clearly we need to step up our integration test game. . .way too many regressions went unnoticed in this release. 😢

[2019-04-25 15:21] paulisloud commented on #827
Fantastic, thanks!

[2019-04-25 15:25] jasonbahl commented on #827
@paulisloud it was easy to gloss over, but it was in the Release notes here: https://github.com/wp-graphql/wp-graphql/releases/tag/v0.3.0

Under "Breaking Changes"

I'm looking into the ID thing though. See what we can find out.

[2019-04-25 15:28] paulisloud commented on #827
🤦‍♂️

[2019-04-25 21:31] jasonbahl commented on #825
@seagyn @paulisloud can ya'll check with the latest develop branch? I merged a PR that I believe resolved this.

[2019-04-25 21:32] jasonbahl commented on #825
If still having issues, it _might_ come down to the Model Layer, and whether the entity is being restricted or not.

If your Custom Post Type or Custom Taxonomy is registered with specific capabilities, those capabilities are now being respected, which may be causing issues if you are querying for data that _should_ not be publicly available.

[2019-04-25 22:14] #823 closed

[2019-04-25 23:22] drewbaker commented on #820
I would second that `orderby` has issues. It doesn't work at all when doing a meta query for example.

We use a custom meta field called `developer_id` to fetch specific pages (this is locked, so the client can never change it like they could with the slug).

A common use of this is to get all the child pages of the home page, to build out a grid of featured work. It impossible to get the order to

[2019-04-26 08:00] paulisloud commented on #825
Still having this issue. Here is the schema for this post-type export, taken from CPT UI's export tool. I believe everything is as "public" as need be:

[code]

Here is the query I ran (adding `id` to `relatedPosts` is when the error is thrown):

[code]

And here is the logic from `functions.php` for that field:

[code]

When running that query with `id` under `relatedPosts`, I get this error:

[c

[2019-04-26 13:25] jasonbahl commented on #825
@paulisloud ok, I see what's up, and probably need to document this better. . .

Since introducing the Model Layer, instead of returning raw `WP_Post` objects in your custom resolvers, you'll need to return an instance of a Model. This will ensure the objects go through the capability checks centrally and make sure we're not leaking private data.

So, instead of returning a list of `WP_Post`, you

[2019-04-26 13:27] jasonbahl commented on #825
I think we can consider this resolved with the info provided above. I'm going to close this, but if you find it's not actually resolved, feel free to open it back up with additional details, or create a new issue referencing this one. Thanks!

[2019-04-26 13:28] #815 closed

[2019-04-26 13:28] #813 closed

[2019-04-26 13:31] jasonbahl commented on #795
@drewbaker Hey! I'm going to close this issue. The "right" way is to use the `register_graphql_field` API to add fields to your Schema. I think a lot of how you expose your meta to the Schema will be dependent on the needs of your application.

We can discuss more details about the WPGraphQL for ACF plugin over here: https://github.com/wp-graphql/wp-graphql-acf 😄

[2019-04-26 13:34] jasonbahl commented on #809
@ciprianimike hey, wanted to check in to see if you got this resolved? I think that field is custom to your application and likely needs to be updated in your custom code.

My only guess is that your custom resolver was expecting a `\WP_Post` and in v0.3.0 we introduced a formal "Model" layer, so your resolvers would now be passed a `\WPGraphQL\Model\Post` instead.

You can read a bit more about t

[2019-04-26 13:35] jasonbahl commented on #809
I'm going to close this as I believe the issue most likely is related to your custom code and can be fixed by tweaking your custom resolver, but if you find you're still having issues, paste in the custom resolvers that are having issues and I'll see what I can do to help get you updated and compatible with v0.3.2+.

Thanks!

[2019-04-26 13:35] #809 closed

[2019-04-26 13:38] manzoorwanijk opened #829 "There is no "order" argument for any resource"
There is the `orderby` for Posts, Categories, Comments etc. in `whereArgs` but no `order` argument which could be `DESC` or `ASC` like in WP REST API. Is there any reason for that? If not, I would love to create a PR :)

[2019-04-26 13:52] jasonbahl commented on #829
@manzoorwanijk we're pretty inconsistent here and I want to revisit sooner than later. Happy to collaborate with you to get this worked on if you have the time and interest to tackle it!

Right now the `order` args live within `where`, which I agree was a poor decision. My naiive-Schema-designing-self at the time just made the `where` arguments essentially a near 1-to-1 map of WP_Query args.

So,

[2019-04-26 13:59] paulisloud commented on #825
Beautiful, thanks @jasonbahl! Figured this one was on my end.

I make a lot of calls for custom / meta fields as well. In a similar resolver context, Has the proper way to lookup those changed? I.e.:

[code]

[2019-04-26 14:00] paulisloud commented on #826
Closed. See #825.

[2019-04-26 14:00] #826 closed

[2019-04-26 14:00] jasonbahl commented on #825
@paulisloud this one hasn't. I believe we cache the meta up front when asking for the post, so when you `get_post_meta` it should be pulling from the warmed cache instead of making additional DB requests

[2019-04-26 14:00] #825 closed

[2019-04-26 14:01] jasonbahl commented on #825
ah, I tried to click close apparently at the same time you did 😂

[2019-04-26 14:07] jasonbahl commented on #827
@paulisloud can you provide the exact mutation(s) / query(s) you were using to get to this error?

Trying to replicate. I _am_ seeing some funkiness, but _not_ the same as what you reported. Want to see if I can replicate your issue.

[2019-04-26 14:13] jasonbahl commented on #827
@paulisloud I think this may come down to the fact that comments can be created by non-authenticated users, but if they're not approved yet they can't be fetched by a non-authenticated user. 🤔

So, I'm guessing you submit a comment, and ask for it in response to the mutation, but since the default status is `comment_approved: false` the Model Layer prevents the data from being returned to the user

[2019-04-26 14:15] paulisloud commented on #827
Sure, here is the mutation:

[code]

And for completeness, the (beginning of the) Mutation component:

[code]

[2019-04-26 14:16] jasonbahl commented on #827
@paulisloud ok thanks, this should help 😄

[2019-04-26 14:19] paulisloud commented on #827
Interesting ID on ownership. Right now (FYI), I'm passing the IP through via the client, which isn't the best obviously, so would love to have the system generate the data for me. Built that in on <0.2.4, so not sure if it's changed.

Regarding responding with the comment from the mutation, yes please! Though, do you really need to check for ownership? A mutation knows that it is a mutation, i.e.

[2019-04-26 14:25] jasonbahl commented on #827
ya, I actually don't think the IP should be a mutable value. . .probably should take that out of the input and let WP create it behind the scenes 🤔

@paulisloud ya, realistically the user that created the comment should own it, but not all comment creators are authenticated users. You can post comments without logging in.

The rule indeed should be that the person that posted the content should ha

[2019-04-26 15:37] paulisloud commented on #827
One thing to consider, not sure if this changes the considerations with the Model Layer or not, is that the user who submitted the comment really, from a UX standpoint (IMO), only needs to see the comment they submitted in the initial response. If they come back to the page, they should not have the expectation of seeing the comment if it has not been approved yet.

So to me its just :
* I submit

[2019-04-26 16:09] drewbaker commented on #795
Yeah using the ACF plugin is how we are going to solve this.

[2019-04-26 16:09] #795 closed

[2019-04-26 16:09] jasonbahl commented on #827
@paulisloud ya, I was just thinking about this. I wonder if it's just the client's responsibility to maintain that state then? 🤔

Like, if you're using Apollo, you could just use the values from the form submission to write to the client cache. 🤔

[2019-04-26 16:24] paulisloud commented on #827
Was thinking the same thing, however the mutation should return _something_. I am using Apollo, and it's no problem to just display the comment values myself, but just don't want an error coming back from the mutation :)

[2019-04-26 16:28] jasonbahl commented on #827
Ya...I'm still not getting the error even with the mutation you provided. 🤔

[2019-04-26 16:29] paulisloud commented on #827
Hmm, ok will do more digging on my end.

[2019-04-26 16:29] jasonbahl commented on #827
@paulisloud would you be free to hop on a Hangout so I can see your screen and get to the bottom of this? Curious if we can pinpoint the issue.

[2019-04-26 16:31] paulisloud commented on #827
Sure, let me just pull up the relevant code

[2019-04-26 16:35] jasonbahl commented on #827
Sent you a Hangout invite to your email. . .trying to ping you on Spectrum but seems like it might be down? 🤷‍♂

[2019-04-26 17:52] ciprianimike commented on #809
@jasonbahl I found it was an Apollo client issue, not a wp-graphql one. Thanks for you support

[2019-04-26 17:52] jasonbahl commented on #809
Awesome! Glad you got it figured out.

[2019-04-26 18:01] furenku opened #830 "Custom Settings Groups and Fields not showing up in Schema"
After registering and saving some custom Settings WP registered with the default API, I am being unable to view any changes in the Schema after adding following code. I wonder if i'm missing something, or if the feature is not working yet.

I tried using both **develop** and **master**

Any ideas what could be wrong?

[code]

[2019-04-26 18:04] jasonbahl commented on #830
The admin_init hook means you only want the setting to be available in the admin, and GraphQL requests aren’t tied to the admin. So your code is never executing in a context GraphQL is aware of.

Try hooking to init maybe instead of admin init? At least for the 'register_setting()` portion

[2019-04-26 18:46] jasonbahl commented on #801
So, I think the issue you want is to be able to register an object type without explicitly registering fields that belong to it.

Right now, if you `register_graphql_field`, that's only acted on when the Type is being instantiated.

The `graphql_{$type_name}_fields` filter is this "action" (filters/actions are the same, filters just expect an output).

The problem I believe you're running into is

[2019-04-26 19:01] jasonbahl commented on #801
For example, you can do a circular type like so:

[code]

And query it like so:

![Screen Shot 2019-04-26 at 12 53 47 PM](https://user-images.githubusercontent.com/1260765/56830359-5faf9f80-6823-11e9-94ba-6e1263e0dfde.png)

[2019-04-26 19:19] furenku commented on #830
Thanks a lot for pointing out this error.

I attach finished code in case anybody winds up here.

[code]

[2019-04-26 19:19] #830 closed

[2019-04-26 19:21] jasonbahl commented on #830
@furenku glad it worked, and thanks for sharing your final code!!